Make example Blueprints/[Sellsy Workflow] Creation of 3 tasks automatically if an opportunity is in a particular stage.blueprint.json
{
    "name": "[Sellsy Workflow] Creation of 3 tasks automatically if an opportunity is in a particular stage",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 102027,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -870,
                    "y": -84
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Webhook Sellsy change stage pipeline"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{1.notif}}"
            },
            "metadata": {
                "designer": {
                    "x": -570,
                    "y": -84
                },
                "restore": {
                    "type": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "sellsy:universal",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 6240
            },
            "mapper": {
                "url": "/0",
                "body": "io_mode=json&do_in={\"method\":\"Opportunities.getOne\",\"params\":{\"id\":\"{{2.relatedid}}\"}}",
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/x-www-form-urlencoded"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": -270,
                    "y": -84,
                    "name": "Opp correspondante ?"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "sellsy"
                            },
                            "label": "Compte Sellsy Academy"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:sellsy",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "sellsy:createTask",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 6240
            },
            "filter": {
                "name": "Etape de l'opportunité",
                "conditions": [
                    [
                        {
                            "a": "{{3.body.response.stepid}}",
                            "b": "525277",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "task": {
                    "end": "{{addDays(3.body.response.updatedDate; 2)}}",
                    "label": "3013641",
                    "start": "{{addDays(3.body.response.updatedDate; 2)}}",
                    "alerts": [
                        "prevHour"
                    ],
                    "staffs": [
                        {
                            "id": "{{3.body.response.staffs[1].id}}",
                            "canEdit": false
                        }
                    ],
                    "isPrivate": false,
                    "relatedid": "{{3.body.response.id}}",
                    "description": "Tache 1",
                    "relatedtype": "opportunity"
                },
                "type": "task"
            },
            "metadata": {
                "designer": {
                    "x": 30,
                    "y": -84
                },
                "restore": {
                    "expect": {
                        "task": {
                            "nested": {
                                "label": {
                                    "mode": "chose",
                                    "label": "Rappel"
                                },
                                "alerts": {
                                    "mode": "chose"
                                },
                                "staffs": {
                                    "mode": "chose",
                                    "items": [
                                        {
                                            "id": {
                                                "mode": "edit"
                                            },
                                            "canEdit": {
                                                "mode": "chose"
                                            }
                                        }
                                    ]
                                },
                                "isPrivate": {
                                    "mode": "chose"
                                },
                                "relatedid": {
                                    "mode": "edit"
                                },
                                "relatedtype": {
                                    "label": "Opportunity"
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "sellsy"
                            },
                            "label": "Compte Sellsy Academy"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:sellsy",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "type",
                        "type": "hidden"
                    },
                    {
                        "name": "task",
                        "spec": [
                            {
                                "name": "label",
                                "type": "select",
                                "label": "Label",
                                "required": true
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Description",
                                "required": true
                            },
                            {
                                "name": "start",
                                "type": "date",
                                "label": "Start Date",
                                "required": true
                            },
                            {
                                "name": "end",
                                "type": "date",
                                "label": "End Date",
                                "required": true
                            },
                            {
                                "name": "isPrivate",
                                "type": "boolean",
                                "label": "Private Task",
                                "required": true
                            },
                            {
                                "name": "staffs",
                                "spec": [
                                    {
                                        "mode": "edit",
                                        "name": "id",
                                        "spec": {
                                            "type": "uinteger"
                                        },
                                        "type": "select",
                                        "label": "Staff ID",
                                        "required": true
                                    },
                                    {
                                        "name": "canEdit",
                                        "type": "boolean",
                                        "label": "Can Edit",
                                        "required": true
                                    }
                                ],
                                "type": "array",
                                "label": "Staffs"
                            },
                            {
                                "name": "alerts",
                                "type": "select",
                                "label": "Alerts",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "instant",
                                        "prevHour",
                                        "prevDay",
                                        "prevWeek",
                                        "prevMonth"
                                    ]
                                }
                            },
                            {
                                "name": "relatedtype",
                                "type": "select",
                                "label": "Related Entity",
                                "validate": {
                                    "enum": [
                                        "third",
                                        "people",
                                        "opportunity"
                                    ]
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "relatedid",
                                "type": "select",
                                "label": "Opportunity ID",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Task"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "sellsy:createTask",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 6240
            },
            "mapper": {
                "task": {
                    "end": "{{addDays(3.body.response.updatedDate; 4)}}",
                    "label": "3013641",
                    "start": "{{addDays(3.body.response.updatedDate; 4)}}",
                    "alerts": [
                        "prevHour"
                    ],
                    "staffs": [
                        {
                            "id": "{{3.body.response.staffs[].id}}",
                            "canEdit": false
                        }
                    ],
                    "isPrivate": false,
                    "relatedid": "{{3.body.response.id}}",
                    "description": "Tache 2",
                    "relatedtype": "opportunity"
                },
                "type": "task"
            },
            "metadata": {
                "designer": {
                    "x": 330,
                    "y": -84
                },
                "restore": {
                    "expect": {
                        "task": {
                            "nested": {
                                "label": {
                                    "mode": "chose",
                                    "label": "Rappel"
                                },
                                "alerts": {
                                    "mode": "chose"
                                },
                                "staffs": {
                                    "mode": "chose",
                                    "items": [
                                        {
                                            "id": {
                                                "mode": "edit"
                                            },
                                            "canEdit": {
                                                "mode": "chose"
                                            }
                                        }
                                    ]
                                },
                                "isPrivate": {
                                    "mode": "chose"
                                },
                                "relatedid": {
                                    "mode": "edit"
                                },
                                "relatedtype": {
                                    "label": "Opportunity"
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "sellsy"
                            },
                            "label": "Compte Sellsy Academy"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:sellsy",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "type",
                        "type": "hidden"
                    },
                    {
                        "name": "task",
                        "spec": [
                            {
                                "name": "label",
                                "type": "select",
                                "label": "Label",
                                "required": true
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Description",
                                "required": true
                            },
                            {
                                "name": "start",
                                "type": "date",
                                "label": "Start Date",
                                "required": true
                            },
                            {
                                "name": "end",
                                "type": "date",
                                "label": "End Date",
                                "required": true
                            },
                            {
                                "name": "isPrivate",
                                "type": "boolean",
                                "label": "Private Task",
                                "required": true
                            },
                            {
                                "name": "staffs",
                                "spec": [
                                    {
                                        "mode": "edit",
                                        "name": "id",
                                        "spec": {
                                            "type": "uinteger"
                                        },
                                        "type": "select",
                                        "label": "Staff ID",
                                        "required": true
                                    },
                                    {
                                        "name": "canEdit",
                                        "type": "boolean",
                                        "label": "Can Edit",
                                        "required": true
                                    }
                                ],
                                "type": "array",
                                "label": "Staffs"
                            },
                            {
                                "name": "alerts",
                                "type": "select",
                                "label": "Alerts",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "instant",
                                        "prevHour",
                                        "prevDay",
                                        "prevWeek",
                                        "prevMonth"
                                    ]
                                }
                            },
                            {
                                "name": "relatedtype",
                                "type": "select",
                                "label": "Related Entity",
                                "validate": {
                                    "enum": [
                                        "third",
                                        "people",
                                        "opportunity"
                                    ]
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "relatedid",
                                "type": "select",
                                "label": "Opportunity ID",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Task"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "sellsy:createTask",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 6240
            },
            "mapper": {
                "task": {
                    "end": "{{addDays(3.body.response.updatedDate; 6)}}",
                    "label": "3013641",
                    "start": "{{addDays(3.body.response.updatedDate; 6)}}",
                    "alerts": [
                        "prevHour"
                    ],
                    "staffs": [
                        {
                            "id": "{{3.body.response.staffs[].id}}",
                            "canEdit": false
                        }
                    ],
                    "isPrivate": false,
                    "relatedid": "{{3.body.response.id}}",
                    "description": "Tache 3",
                    "relatedtype": "opportunity"
                },
                "type": "task"
            },
            "metadata": {
                "designer": {
                    "x": 630,
                    "y": -84
                },
                "restore": {
                    "expect": {
                        "task": {
                            "nested": {
                                "label": {
                                    "mode": "chose",
                                    "label": "Rappel"
                                },
                                "alerts": {
                                    "mode": "chose"
                                },
                                "staffs": {
                                    "mode": "chose",
                                    "items": [
                                        {
                                            "id": {
                                                "mode": "edit"
                                            },
                                            "canEdit": {
                                                "mode": "chose"
                                            }
                                        }
                                    ]
                                },
                                "isPrivate": {
                                    "mode": "chose"
                                },
                                "relatedid": {
                                    "mode": "edit"
                                },
                                "relatedtype": {
                                    "label": "Opportunity"
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "sellsy"
                            },
                            "label": "Compte Sellsy Academy"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:sellsy",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "type",
                        "type": "hidden"
                    },
                    {
                        "name": "task",
                        "spec": [
                            {
                                "name": "label",
                                "type": "select",
                                "label": "Label",
                                "required": true
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Description",
                                "required": true
                            },
                            {
                                "name": "start",
                                "type": "date",
                                "label": "Start Date",
                                "required": true
                            },
                            {
                                "name": "end",
                                "type": "date",
                                "label": "End Date",
                                "required": true
                            },
                            {
                                "name": "isPrivate",
                                "type": "boolean",
                                "label": "Private Task",
                                "required": true
                            },
                            {
                                "name": "staffs",
                                "spec": [
                                    {
                                        "mode": "edit",
                                        "name": "id",
                                        "spec": {
                                            "type": "uinteger"
                                        },
                                        "type": "select",
                                        "label": "Staff ID",
                                        "required": true
                                    },
                                    {
                                        "name": "canEdit",
                                        "type": "boolean",
                                        "label": "Can Edit",
                                        "required": true
                                    }
                                ],
                                "type": "array",
                                "label": "Staffs"
                            },
                            {
                                "name": "alerts",
                                "type": "select",
                                "label": "Alerts",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "instant",
                                        "prevHour",
                                        "prevDay",
                                        "prevWeek",
                                        "prevMonth"
                                    ]
                                }
                            },
                            {
                                "name": "relatedtype",
                                "type": "select",
                                "label": "Related Entity",
                                "validate": {
                                    "enum": [
                                        "third",
                                        "people",
                                        "opportunity"
                                    ]
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "relatedid",
                                "type": "select",
                                "label": "Opportunity ID",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Task"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}