Make example Blueprints/Add new Shopify orders to Salesforce as leads and send Slack notifications.blueprint.json
{
    "name": "Add new Shopify orders to Salesforce as leads and send Slack notifications",
    "flow": [
        {
            "id": 1,
            "module": "shopify:WatchOrders",
            "version": 2,
            "parameters": {
                "limit": 2,
                "fields": [],
                "financial_status": "paid"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "financial_status": {
                        "label": "paid"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "status",
                        "type": "select",
                        "label": "Status",
                        "validate": {
                            "enum": [
                                "open",
                                "closed",
                                "cancelled",
                                "any"
                            ]
                        }
                    },
                    {
                        "name": "financial_status",
                        "type": "select",
                        "label": "Financial status",
                        "validate": {
                            "enum": [
                                "authorized",
                                "pending",
                                "paid",
                                "partially_paid",
                                "refunded",
                                "partially_refunded",
                                "voided",
                                "unpaid",
                                "any"
                            ]
                        }
                    },
                    {
                        "name": "fulfillment_status",
                        "type": "select",
                        "label": "Fulfillment status",
                        "validate": {
                            "enum": [
                                "shipped",
                                "partial",
                                "unshipped",
                                "unfulfilled",
                                "any"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Fields",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "app_id",
                                "billing_address",
                                "browser_ip",
                                "buyer_accepts_marketing",
                                "cancel_reason",
                                "cancelled_at",
                                "cart_token",
                                "checkout_id",
                                "checkout_token",
                                "closed_at",
                                "confirmed",
                                "contact_email",
                                "created_at",
                                "currency",
                                "current_total_duties_set",
                                "customer",
                                "customer_locale",
                                "device_id",
                                "discount_applications",
                                "discount_codes",
                                "email",
                                "financial_status",
                                "fulfillment_status",
                                "fulfillments",
                                "gateway",
                                "id",
                                "landing_site",
                                "landing_site_ref",
                                "line_items",
                                "location_id",
                                "name",
                                "note",
                                "note_attributes",
                                "number",
                                "order_number",
                                "order_status_url",
                                "original_total_duties_set",
                                "payment_gateway_names",
                                "phone",
                                "presentment_currency",
                                "processed_at",
                                "processing_method",
                                "reference",
                                "referring_site",
                                "refunds",
                                "shipping_address",
                                "shipping_lines",
                                "source_identifier",
                                "source_name",
                                "source_url",
                                "subtotal_price",
                                "subtotal_price_set",
                                "tags",
                                "tax_lines",
                                "taxes_included",
                                "test",
                                "token",
                                "total_discounts",
                                "total_discounts_set",
                                "total_line_items_price",
                                "total_line_items_price_set",
                                "total_price",
                                "total_price_set",
                                "total_price_usd",
                                "total_shipping_price_set",
                                "total_tax",
                                "total_tax_set",
                                "total_tip_received",
                                "total_weight",
                                "updated_at",
                                "user_id"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "salesforce:ActionSearchObject",
            "version": 2,
            "parameters": {
                "continueWhenNoRes": true
            },
            "mapper": {
                "query": "{{1.email}}",
                "sObject": "Lead",
                "maxResults": "1",
                "searchType": "simple"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "sObject": {
                        "label": "Lead"
                    },
                    "searchType": {
                        "label": "Simple"
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module returns no results",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "searchType",
                        "type": "select",
                        "label": "Search type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "simple",
                                "sosl"
                            ]
                        }
                    },
                    {
                        "name": "maxResults",
                        "type": "uinteger",
                        "label": "Maximal count of records",
                        "required": true
                    },
                    {
                        "name": "sObject",
                        "type": "select",
                        "label": "Type",
                        "required": true
                    },
                    {
                        "name": "query",
                        "type": "text",
                        "label": "Query",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "address",
                        "spec": [
                            {
                                "name": "street",
                                "type": "text",
                                "label": "Street"
                            },
                            {
                                "name": "country",
                                "type": "text",
                                "label": "Country"
                            },
                            {
                                "name": "countryCode",
                                "type": "text",
                                "label": "Country code"
                            },
                            {
                                "name": "latitude",
                                "type": "number",
                                "label": "Latitude"
                            },
                            {
                                "name": "longitude",
                                "type": "number",
                                "label": "Longitude"
                            },
                            {
                                "name": "postalCode",
                                "type": "text",
                                "label": "Postal code"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "stateCode",
                                "type": "text",
                                "label": "State code"
                            }
                        ],
                        "type": "collection",
                        "label": "Address"
                    },
                    {
                        "name": "annualRevenue",
                        "type": "number",
                        "label": "Annual Revenue"
                    },
                    {
                        "name": "city",
                        "type": "text",
                        "label": "City"
                    },
                    {
                        "name": "cleanStatus",
                        "type": "text",
                        "label": "Clean Status"
                    },
                    {
                        "name": "company",
                        "type": "text",
                        "label": "Company"
                    },
                    {
                        "name": "companyDunsNumber",
                        "type": "text",
                        "label": "Company D-U-N-S Number"
                    },
                    {
                        "name": "isConverted",
                        "type": "boolean",
                        "label": "Converted"
                    },
                    {
                        "name": "convertedAccountId",
                        "type": "text",
                        "label": "Converted Account ID"
                    },
                    {
                        "name": "convertedContactId",
                        "type": "text",
                        "label": "Converted Contact ID"
                    },
                    {
                        "name": "convertedDate",
                        "type": "date",
                        "label": "Converted Date"
                    },
                    {
                        "name": "convertedOpportunityId",
                        "type": "text",
                        "label": "Converted Opportunity ID"
                    },
                    {
                        "name": "country",
                        "type": "text",
                        "label": "Country"
                    },
                    {
                        "name": "createdById",
                        "type": "text",
                        "label": "Created By ID"
                    },
                    {
                        "name": "createdDate",
                        "type": "date",
                        "label": "Created Date"
                    },
                    {
                        "name": "devintegromat__CurrentGenerators__c",
                        "type": "text",
                        "label": "Current Generator(s)"
                    },
                    {
                        "name": "dandbCompanyId",
                        "type": "text",
                        "label": "D&B Company ID"
                    },
                    {
                        "name": "jigsaw",
                        "type": "text",
                        "label": "Data.com Key"
                    },
                    {
                        "name": "isDeleted",
                        "type": "boolean",
                        "label": "Deleted"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email"
                    },
                    {
                        "name": "emailBouncedDate",
                        "type": "date",
                        "label": "Email Bounced Date"
                    },
                    {
                        "name": "emailBouncedReason",
                        "type": "text",
                        "label": "Email Bounced Reason"
                    },
                    {
                        "name": "numberOfEmployees",
                        "type": "number",
                        "label": "Employees"
                    },
                    {
                        "name": "fax",
                        "type": "text",
                        "label": "Fax"
                    },
                    {
                        "name": "firstName",
                        "type": "text",
                        "label": "First Name"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Full Name"
                    },
                    {
                        "name": "industry",
                        "type": "text",
                        "label": "Industry"
                    },
                    {
                        "name": "jigsawContactId",
                        "type": "text",
                        "label": "Jigsaw Contact ID"
                    },
                    {
                        "name": "lastActivityDate",
                        "type": "date",
                        "label": "Last Activity"
                    },
                    {
                        "name": "lastModifiedById",
                        "type": "text",
                        "label": "Last Modified By ID"
                    },
                    {
                        "name": "lastModifiedDate",
                        "type": "date",
                        "label": "Last Modified Date"
                    },
                    {
                        "name": "lastName",
                        "type": "text",
                        "label": "Last Name"
                    },
                    {
                        "name": "lastReferencedDate",
                        "type": "date",
                        "label": "Last Referenced Date"
                    },
                    {
                        "name": "lastViewedDate",
                        "type": "date",
                        "label": "Last Viewed Date"
                    },
                    {
                        "name": "latitude",
                        "type": "number",
                        "label": "Latitude"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Lead ID"
                    },
                    {
                        "name": "leadSource",
                        "type": "text",
                        "label": "Lead Source"
                    },
                    {
                        "name": "longitude",
                        "type": "number",
                        "label": "Longitude"
                    },
                    {
                        "name": "masterRecordId",
                        "type": "text",
                        "label": "Master Record ID"
                    },
                    {
                        "name": "mobilePhone",
                        "type": "text",
                        "label": "Mobile Phone"
                    },
                    {
                        "name": "devintegromat__NumberofLocations__c",
                        "type": "number",
                        "label": "Number of Locations"
                    },
                    {
                        "name": "ownerId",
                        "type": "text",
                        "label": "Owner ID"
                    },
                    {
                        "name": "phone",
                        "type": "text",
                        "label": "Phone"
                    },
                    {
                        "name": "photoUrl",
                        "type": "url",
                        "label": "Photo URL"
                    },
                    {
                        "name": "devintegromat__Primary__c",
                        "type": "text",
                        "label": "Primary"
                    },
                    {
                        "name": "devintegromat__ProductInterest__c",
                        "type": "text",
                        "label": "Product Interest"
                    },
                    {
                        "name": "rating",
                        "type": "text",
                        "label": "Rating"
                    },
                    {
                        "name": "salutation",
                        "type": "text",
                        "label": "Salutation"
                    },
                    {
                        "name": "devintegromat__SICCode__c",
                        "type": "text",
                        "label": "SIC Code"
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State/Province"
                    },
                    {
                        "name": "status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "street",
                        "type": "text",
                        "label": "Street"
                    },
                    {
                        "name": "systemModstamp",
                        "type": "date",
                        "label": "System Modstamp"
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "isUnreadByOwner",
                        "type": "boolean",
                        "label": "Unread By Owner"
                    },
                    {
                        "name": "website",
                        "type": "url",
                        "label": "Website"
                    },
                    {
                        "name": "postalCode",
                        "type": "text",
                        "label": "Zip/Postal Code"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "salesforce:ActionCreateObject",
            "version": 2,
            "parameters": {
                "sObject": "Lead"
            },
            "filter": {
                "name": "Contact does not exist",
                "conditions": [
                    [
                        {
                            "a": "{{2.id}}",
                            "b": "",
                            "o": "notexist"
                        }
                    ]
                ]
            },
            "mapper": {
                "fax": "",
                "city": "{{1.customer.default_address.city}}",
                "email": "{{1.email}}",
                "phone": "",
                "state": "{{1.customer.default_address.province}}",
                "title": "",
                "jigsaw": "",
                "rating": "",
                "status": "",
                "street": "{{1.customer.default_address.address1}}\n{{1.customer.default_address.address2}}",
                "company": "n/a",
                "country": "{{1.customer.default_address.country}}",
                "ownerId": "",
                "website": "",
                "industry": "",
                "lastName": "{{1.customer.last_name}}",
                "latitude": "",
                "firstName": "{{1.customer.first_name}}",
                "longitude": "",
                "leadSource": "",
                "postalCode": "{{1.customer.default_address.zip}}",
                "salutation": "",
                "cleanStatus": "",
                "description": "",
                "mobilePhone": "{{1.customer.default_address.phone}}",
                "annualRevenue": "",
                "dandbCompanyId": "",
                "companyDunsNumber": "",
                "numberOfEmployees": "",
                "devintegromat__Primary__c": "",
                "devintegromat__SICCode__c": "",
                "devintegromat__ProductInterest__c": "",
                "devintegromat__CurrentGenerators__c": "",
                "devintegromat__NumberofLocations__c": ""
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "rating": {
                        "mode": "edit"
                    },
                    "status": {
                        "mode": "edit"
                    },
                    "ownerId": {
                        "mode": "edit"
                    },
                    "sObject": {
                        "mode": "chose",
                        "label": "Lead"
                    },
                    "industry": {
                        "mode": "edit"
                    },
                    "leadSource": {
                        "mode": "edit"
                    },
                    "salutation": {
                        "mode": "edit"
                    },
                    "cleanStatus": {
                        "mode": "edit"
                    },
                    "isConverted": {
                        "mode": "chose"
                    },
                    "dandbCompanyId": {
                        "mode": "edit"
                    },
                    "isUnreadByOwner": {
                        "mode": "chose"
                    },
                    "devintegromat__Primary__c": {
                        "mode": "edit"
                    },
                    "devintegromat__ProductInterest__c": {
                        "mode": "edit"
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "sObject",
                        "type": "select",
                        "label": "Type",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "annualRevenue",
                        "type": "number",
                        "label": "Annual Revenue (AnnualRevenue)",
                        "metadata": {
                            "type": "currency"
                        }
                    },
                    {
                        "name": "city",
                        "type": "text",
                        "label": "City (City)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "cleanStatus",
                        "type": "select",
                        "label": "Clean Status (CleanStatus)",
                        "metadata": {
                            "type": "picklist"
                        }
                    },
                    {
                        "name": "company",
                        "type": "text",
                        "label": "Company (Company)",
                        "metadata": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "companyDunsNumber",
                        "type": "text",
                        "label": "Company D-U-N-S Number (CompanyDunsNumber)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "isConverted",
                        "type": "boolean",
                        "label": "Converted (IsConverted)",
                        "metadata": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "country",
                        "type": "text",
                        "label": "Country (Country)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "devintegromat__CurrentGenerators__c",
                        "type": "text",
                        "label": "Current Generator(s) (devintegromat__CurrentGenerators__c)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "dandbCompanyId",
                        "type": "select",
                        "label": "D&B Company (DandbCompanyId)",
                        "metadata": {
                            "type": "reference"
                        }
                    },
                    {
                        "name": "jigsaw",
                        "type": "text",
                        "label": "Data.com Key (Jigsaw)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description (Description)",
                        "metadata": {
                            "type": "textarea"
                        },
                        "multiline": true
                    },
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email (Email)",
                        "metadata": {
                            "type": "email"
                        }
                    },
                    {
                        "name": "numberOfEmployees",
                        "type": "number",
                        "label": "Employees (NumberOfEmployees)",
                        "metadata": {
                            "type": "int"
                        }
                    },
                    {
                        "name": "fax",
                        "type": "text",
                        "label": "Fax (Fax)",
                        "metadata": {
                            "type": "phone"
                        }
                    },
                    {
                        "name": "firstName",
                        "type": "text",
                        "label": "First Name (FirstName)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "industry",
                        "type": "select",
                        "label": "Industry (Industry)",
                        "metadata": {
                            "type": "picklist"
                        }
                    },
                    {
                        "name": "lastName",
                        "type": "text",
                        "label": "Last Name (LastName)",
                        "metadata": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "latitude",
                        "type": "number",
                        "label": "Latitude (Latitude)",
                        "metadata": {
                            "type": "double"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "leadSource",
                        "type": "select",
                        "label": "Lead Source (LeadSource)",
                        "metadata": {
                            "type": "picklist"
                        }
                    },
                    {
                        "name": "longitude",
                        "type": "number",
                        "label": "Longitude (Longitude)",
                        "metadata": {
                            "type": "double"
                        }
                    },
                    {
                        "name": "mobilePhone",
                        "type": "text",
                        "label": "Mobile Phone (MobilePhone)",
                        "metadata": {
                            "type": "phone"
                        }
                    },
                    {
                        "name": "devintegromat__NumberofLocations__c",
                        "type": "number",
                        "label": "Number of Locations (devintegromat__NumberofLocations__c)",
                        "metadata": {
                            "type": "double"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "ownerId",
                        "type": "select",
                        "label": "Owner (OwnerId)",
                        "metadata": {
                            "type": "reference"
                        }
                    },
                    {
                        "name": "phone",
                        "type": "text",
                        "label": "Phone (Phone)",
                        "metadata": {
                            "type": "phone"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "devintegromat__Primary__c",
                        "type": "select",
                        "label": "Primary (devintegromat__Primary__c)",
                        "metadata": {
                            "type": "picklist"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "devintegromat__ProductInterest__c",
                        "type": "select",
                        "label": "Product Interest (devintegromat__ProductInterest__c)",
                        "metadata": {
                            "type": "picklist"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "rating",
                        "type": "select",
                        "label": "Rating (Rating)",
                        "metadata": {
                            "type": "picklist"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "salutation",
                        "type": "select",
                        "label": "Salutation (Salutation)",
                        "metadata": {
                            "type": "picklist"
                        }
                    },
                    {
                        "name": "devintegromat__SICCode__c",
                        "type": "text",
                        "label": "SIC Code (devintegromat__SICCode__c)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State/Province (State)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "status",
                        "type": "select",
                        "label": "Status (Status)",
                        "metadata": {
                            "type": "picklist"
                        }
                    },
                    {
                        "name": "street",
                        "type": "text",
                        "label": "Street (Street)",
                        "metadata": {
                            "type": "textarea"
                        },
                        "multiline": true
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title (Title)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "isUnreadByOwner",
                        "type": "boolean",
                        "label": "Unread By Owner (IsUnreadByOwner)",
                        "metadata": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "website",
                        "type": "url",
                        "label": "Website (Website)",
                        "metadata": {
                            "type": "url"
                        }
                    },
                    {
                        "name": "postalCode",
                        "type": "text",
                        "label": "Zip/Postal Code (PostalCode)",
                        "metadata": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "slack:CreateMessage",
            "version": 4,
            "parameters": {},
            "mapper": {
                "text": "New contact in Salesforce:\n{{1.customer.first_name}} {{1.customer.last_name}}\n{{4.id}}",
                "parse": false,
                "mrkdwn": true,
                "channelWType": "list"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parse": {
                        "mode": "chose"
                    },
                    "mrkdwn": {
                        "mode": "chose"
                    },
                    "link_names": {
                        "mode": "chose"
                    },
                    "channelWType": {
                        "label": "Select from the list"
                    },
                    "unfurl_links": {
                        "mode": "chose"
                    },
                    "unfurl_media": {
                        "mode": "chose"
                    },
                    "reply_broadcast": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "channelWType",
                        "type": "select",
                        "label": "Enter a channel ID or name",
                        "required": true,
                        "validate": {
                            "enum": [
                                "manualy",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "multiline": true
                    },
                    {
                        "name": "blocks",
                        "type": "text",
                        "label": "Blocks",
                        "multiline": true
                    },
                    {
                        "name": "thread_ts",
                        "type": "text",
                        "label": "Thread message ID (time stamp)"
                    },
                    {
                        "name": "reply_broadcast",
                        "type": "boolean",
                        "label": "Reply broadcast"
                    },
                    {
                        "name": "link_names",
                        "type": "boolean",
                        "label": "Link names"
                    },
                    {
                        "name": "parse",
                        "type": "boolean",
                        "label": "Parse message text"
                    },
                    {
                        "name": "mrkdwn",
                        "type": "boolean",
                        "label": "Use markdown"
                    },
                    {
                        "name": "unfurl_links",
                        "type": "boolean",
                        "label": "Unfurl primarily text-based content"
                    },
                    {
                        "name": "unfurl_media",
                        "type": "boolean",
                        "label": "Unfurl media content"
                    },
                    {
                        "name": "icon_emoji",
                        "type": "text",
                        "label": "Icon emoji"
                    },
                    {
                        "name": "icon_url",
                        "type": "url",
                        "label": "Icon url"
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "channelType",
                        "type": "select",
                        "label": "Channel type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "public",
                                "private",
                                "im",
                                "mpim"
                            ]
                        }
                    },
                    {
                        "name": "channel",
                        "type": "select",
                        "label": "User",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}