Make example Blueprints/Add rows in Microsoft 365 Excel worksheet for new event people in Swapcard.blueprint.json
{
    "name": "Add rows in Microsoft 365 Excel worksheet for new event people in Swapcard",
    "flow": [
        {
            "id": 2,
            "module": "swapcard:TriggerWatchEventPeople",
            "version": 1,
            "parameters": {},
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "eventId",
                        "type": "select",
                        "label": "Event ID",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{2.phoneNumbers}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "array": {
                        "mode": "edit"
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "rowSeparator": "\n"
            },
            "mapper": {
                "value": "Type: {{3.type}}; Number: {{3.formattedNumber}}."
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "messages": [
                        {
                            "category": "source",
                            "severity": "error",
                            "message": "Source node is not set."
                        }
                    ]
                },
                "restore": {
                    "rowSeparator": {
                        "label": "New row"
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text",
                        "multiline": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{2.tags}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "array": {
                        "mode": "edit"
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "rowSeparator": ""
            },
            "mapper": {
                "value": "{{5.value}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "messages": [
                        {
                            "category": "source",
                            "severity": "error",
                            "message": "Source node is not set."
                        }
                    ]
                },
                "restore": {
                    "rowSeparator": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text",
                        "multiline": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "microsoft-excel:addAWorksheetRow",
            "version": 2,
            "parameters": {},
            "mapper": {
                "row": {
                    "0": "{{2.firstName}}",
                    "1": "{{2.lastName}}",
                    "2": "{{2.email}}",
                    "3": "{{2.organization}}",
                    "4": "{{2.jobTitle}}",
                    "5": "{{2.photoUrl}}",
                    "6": "{{2.biography}}",
                    "7": "{{2.type}}",
                    "8": "{{6.text}}",
                    "9": "{{2.address.city}}",
                    "10": "{{2.address.country}}",
                    "11": "{{2.address.place}}",
                    "12": "{{2.address.state}}",
                    "13": "{{2.address.street}}",
                    "14": "{{2.address.zipCode}}",
                    "15": "{{2.address.type}}",
                    "16": "{{4.text}}",
                    "17": "{{2.isVisible}}",
                    "18": "{{formatDate(2.createdAt; \"DD.MM.YYYY\")}}",
                    "19": "{{2.websiteUrl}}",
                    "20": "{{2.engagementScore}}",
                    "21": "{{2.source}}"
                },
                "valueType": "values"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "valueType": {
                        "mode": "chose",
                        "label": "Values"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "workbook",
                        "type": "file",
                        "label": "Workbook",
                        "required": true
                    },
                    {
                        "name": "worksheet",
                        "type": "select",
                        "label": "Worksheet",
                        "required": true
                    },
                    {
                        "name": "valueType",
                        "type": "select",
                        "label": "Type of Values Being Entered",
                        "required": true,
                        "validate": {
                            "enum": [
                                "formulas",
                                "formulasLocal",
                                "values"
                            ]
                        }
                    },
                    {
                        "name": "row",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "(A): First name"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "(B): Last name"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "(C): Email"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "(D): Organization"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "(E): Job title"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "(F): Photo URL"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "(G): Biography"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "(H): Type"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "(I): Tags"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "(J): City"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K): Country"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L): Place"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M): State"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N): Street"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O): ZIP code"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P): Address type"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q): Phone number"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R): Is Visible"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S): Created at"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T): Website URL"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U): Engagement score"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V): Source"
                            }
                        ],
                        "type": "collection",
                        "label": "Row"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Row ID"
                    },
                    {
                        "name": "row",
                        "spec": [
                            {
                                "name": "a",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(A): First name"
                            },
                            {
                                "name": "b",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(B): Last name"
                            },
                            {
                                "name": "c",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(C): Email"
                            },
                            {
                                "name": "d",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(D): Organization"
                            },
                            {
                                "name": "e",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(E): Job title"
                            },
                            {
                                "name": "f",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(F): Photo URL"
                            },
                            {
                                "name": "g",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(G): Biography"
                            },
                            {
                                "name": "h",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(H): Type"
                            },
                            {
                                "name": "i",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(I): Tags"
                            },
                            {
                                "name": "j",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(J): City"
                            },
                            {
                                "name": "k",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(K): Country"
                            },
                            {
                                "name": "l",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(L): Place"
                            },
                            {
                                "name": "m",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(M): State"
                            },
                            {
                                "name": "n",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(N): Street"
                            },
                            {
                                "name": "o",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(O): ZIP code"
                            },
                            {
                                "name": "p",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(P): Address type"
                            },
                            {
                                "name": "q",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(Q): Phone number"
                            },
                            {
                                "name": "r",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(R): Is Visible"
                            },
                            {
                                "name": "s",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(S): Created at"
                            },
                            {
                                "name": "t",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(T): Website URL"
                            },
                            {
                                "name": "u",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(U): Engagement score"
                            },
                            {
                                "name": "v",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(V): Source"
                            }
                        ],
                        "type": "collection",
                        "label": "Row"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}