Make example Blueprints/App Store Review Aggregator Using BrowserAct with Auto-Notification.blueprint.json
{
    "name": "App Store Review Aggregator Using BrowserAct with Auto-Notification",
    "flow": [
        {
            "id": 9,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "browser-act:test",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "type": "template",
                                "timeout": "3600",
                                "templateId": "59873695199545488",
                                "inputParameters": {
                                    "Product_App_Link": "{{var.input.Play_Store_Link}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 300,
                                    "y": 0,
                                    "name": "BrowserAct_GooglePlay"
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "mode": "chose",
                                            "label": "Template Marketplace"
                                        },
                                        "templateId": {
                                            "mode": "chose",
                                            "label": "Aggregate Google Play Store Reviews (No Sign in)",
                                            "nested": [
                                                {
                                                    "name": "inputParameters",
                                                    "spec": [
                                                        {
                                                            "help": "If left blank, the default value defined in BrowserAct will be used.",
                                                            "name": "Product_App_Link",
                                                            "type": "text",
                                                            "label": "Product_App_Link",
                                                            "required": false,
                                                            "validate": {}
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Input Parameters",
                                                    "required": false
                                                }
                                            ]
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:browser-act",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Search Workflows From",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "template",
                                                "workflow"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout"
                                    },
                                    {
                                        "name": "templateId",
                                        "type": "select",
                                        "label": "Workflow",
                                        "required": true
                                    },
                                    {
                                        "name": "inputParameters",
                                        "spec": [
                                            {
                                                "name": "Product_App_Link",
                                                "type": "text",
                                                "validate": {}
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Input Parameters"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "json:ParseJSON",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "json": "{{6.output.string}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "type": {
                                            "label": "My data structure"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "json",
                                        "type": "text",
                                        "label": "JSON string",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "help": "",
                                        "name": "Rate",
                                        "type": "number",
                                        "label": "Rate",
                                        "default": null,
                                        "required": false
                                    },
                                    {
                                        "help": "",
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Name",
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    },
                                    {
                                        "help": "",
                                        "name": "Review",
                                        "type": "text",
                                        "label": "Review",
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    },
                                    {
                                        "help": "",
                                        "name": "Date",
                                        "type": "text",
                                        "label": "Date",
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    }
                                ]
                            }
                        },
                        {
                            "id": 15,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "array": "{{8.item}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 21,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {},
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{15.Name}}",
                                    "1": "{{15.Date}}",
                                    "2": "{{15.Review}}"
                                },
                                "sheetId": "PlayStore",
                                "spreadsheetId": "/1f8djL68fro8IKVFkupg9h3IksEnwZL4jpqXTEse6Q4M",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "PlayStore"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "product review"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "A"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "B"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "C"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "D"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "E"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "F"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "G"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "H"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "I"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "J"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "K"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "L"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "M"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "N"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "O"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "P"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "Q"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "R"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "S"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "T"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "U"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "V"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "W"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "X"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "Y"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "Z"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (browseract9@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "A"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "B"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "C"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "D"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "E"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "F"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "G"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "H"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "I"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "J"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "K"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "L"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "M"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "N"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "O"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "P"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "Q"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "R"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "S"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "T"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "U"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "V"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "W"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "X"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "Y"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "Z"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 26,
                            "module": "util:FunctionSleep",
                            "version": 1,
                            "parameters": {},
                            "mapper": {},
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "duration",
                                        "type": "uinteger",
                                        "label": "Delay",
                                        "required": true,
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 24,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "text": "{{var.input.App_Name}} Rating and Reviews on PlayStore :\n\n\n{{15.Name}}:\n\n{{15.Review}}\n\n\n\n {{15.Date}}",
                                "chatId": "@makeinfo",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "My Telegram Bot connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "browser-act:test",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "type": "template",
                                "timeout": "3600",
                                "templateId": "59860356572530320",
                                "inputParameters": {
                                    "Apple_AppStore_AllReview_URL": "{{var.input.App_Store_Link}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 300,
                                    "y": 300,
                                    "name": "BrowserAct_AppStore"
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "mode": "chose",
                                            "label": "Template Marketplace"
                                        },
                                        "templateId": {
                                            "mode": "chose",
                                            "label": "Aggregate Apple APP Store Reviews (No Sign in)",
                                            "nested": [
                                                {
                                                    "name": "inputParameters",
                                                    "spec": [
                                                        {
                                                            "help": "If left blank, the default value defined in BrowserAct will be used.",
                                                            "name": "Apple_AppStore_AllReview_URL",
                                                            "type": "text",
                                                            "label": "Apple_AppStore_AllReview_URL",
                                                            "required": false,
                                                            "validate": {}
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Input Parameters",
                                                    "required": false
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "browser-act"
                                            },
                                            "label": "My BrowserAct connection (lada.huang2017@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:browser-act",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Search Workflows From",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "template",
                                                "workflow"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout"
                                    },
                                    {
                                        "name": "templateId",
                                        "type": "select",
                                        "label": "Workflow",
                                        "required": true
                                    },
                                    {
                                        "name": "inputParameters",
                                        "spec": [
                                            {
                                                "name": "Apple_AppStore_AllReview_URL",
                                                "type": "text",
                                                "validate": {}
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Input Parameters"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "json:ParseJSON",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "json": "{{5.output.string}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "type": {
                                            "label": "My data structure"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "json",
                                        "type": "text",
                                        "label": "JSON string",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "help": "",
                                        "name": "Rate",
                                        "type": "number",
                                        "label": "Rate",
                                        "default": null,
                                        "required": false
                                    },
                                    {
                                        "help": "",
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Name",
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    },
                                    {
                                        "help": "",
                                        "name": "Review",
                                        "type": "text",
                                        "label": "Review",
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    },
                                    {
                                        "help": "",
                                        "name": "Date",
                                        "type": "text",
                                        "label": "Date",
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    }
                                ]
                            }
                        },
                        {
                            "id": 17,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "array": "{{`12`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 22,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {},
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{12.Name}}",
                                    "1": "{{12.Date}}",
                                    "2": "{{12.Review}}"
                                },
                                "sheetId": "Appstore",
                                "spreadsheetId": "/1f8djL68fro8IKVFkupg9h3IksEnwZL4jpqXTEse6Q4M",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Appstore"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "product review"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "A"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "B"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "C"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "D"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "E"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "F"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "G"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "H"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "I"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "J"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "K"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "L"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "M"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "N"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "O"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "P"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "Q"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "R"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "S"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "T"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "U"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "V"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "W"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "X"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "Y"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "Z"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (browseract9@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "A"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "B"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "C"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "D"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "E"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "F"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "G"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "H"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "I"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "J"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "K"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "L"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "M"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "N"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "O"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "P"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "Q"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "R"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "S"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "T"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "U"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "V"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "W"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "X"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "Y"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "Z"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 27,
                            "module": "util:FunctionSleep",
                            "version": 1,
                            "parameters": {},
                            "mapper": {},
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "duration",
                                        "type": "uinteger",
                                        "label": "Delay",
                                        "required": true,
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 25,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "text": "{{var.input.App_Name}} Rating and Reviews  on AppStore :\n\n\n{{12.Name}}:\n\n{{12.Review}}\n\n\n\n {{12.Date}}",
                                "chatId": "@makeinfo",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "My Telegram Bot connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    },
    "io": {
        "input_spec": [
            {
                "help": "Apple App store Link",
                "name": "App_Store_Link",
                "type": "text",
                "label": "",
                "default": "https://apps.apple.com/us/app/wuthering-waves/id6475033368?see-all=reviews",
                "required": true,
                "multiline": false
            },
            {
                "help": "Google Play Store Link",
                "name": "Play_Store_Link",
                "type": "text",
                "label": "",
                "default": "https://play.google.com/store/apps/details?id=com.kurogame.wutheringwaves.global&pcampaignid=merch_published_cluster_promotion_battlestar_featured_games",
                "required": true,
                "multiline": false
            },
            {
                "help": "App Name",
                "name": "App_Name",
                "type": "text",
                "label": "",
                "default": "Wuthering Waves",
                "required": false,
                "multiline": false
            }
        ],
        "output_spec": []
    }
}