Make example Blueprints/Brief details of the Loyverse receipt by sms using Mitto SMS.blueprint.json
{
    "name": "Brief details of the Loyverse receipt by sms using Mitto SMS",
    "flow": [
        {
            "id": 17,
            "module": "loyverse:watchReceipts",
            "version": 1,
            "parameters": {
                "event": "created_at"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 493,
                    "y": 6
                },
                "restore": {
                    "event": {
                        "label": "Create"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "event",
                        "type": "select",
                        "label": "Event type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "created_at",
                                "cancelled_at"
                            ]
                        }
                    },
                    {
                        "name": "store_id",
                        "type": "select",
                        "label": "Store ID"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "loyverse:getCustomer",
            "version": 1,
            "parameters": {},
            "mapper": {
                "id": "{{17.customer_id}}"
            },
            "metadata": {
                "designer": {
                    "x": 808,
                    "y": 6
                },
                "restore": {
                    "id": {
                        "mode": "edit"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "id",
                        "spec": {
                            "type": "uuid"
                        },
                        "type": "select",
                        "label": "Customer ID",
                        "required": true
                    }
                ]
            },
            "onerror": [
                {
                    "id": 15,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "metadata": {
                        "designer": {
                            "x": 1020,
                            "y": 292
                        }
                    }
                }
            ]
        },
        {
            "id": 16,
            "module": "loyverse:getStore",
            "version": 1,
            "parameters": {},
            "mapper": {
                "store_id": "{{17.store_id}}"
            },
            "metadata": {
                "designer": {
                    "x": 1106,
                    "y": 13
                },
                "restore": {
                    "store_id": {
                        "mode": "edit"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "store_id",
                        "type": "select",
                        "label": "Store ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 16,
                "rowSeparator": ""
            },
            "mapper": {
                "value": "\"{{16.name}}\"{{newline}}Receipt #:{{space}}{{17.receipt_number}}{{newline}}Date:{{space}}{{formatDate(17.receipt_date; \"YYYY-MM-DD hh:mm A\")}}{{newline}}{{if(17.order; \"Order:\" + space + 17.order + newline)}}Total money:{{space}}{{17.total_money}}{{newline}}{{if(17.points_earned; \"Points earned:\" + space + 17.points_earned + newline)}}{{if(17.points_deducted; \"Points deducted:\" + space + 17.points_deducted + newline)}}{{if(17.points_balance; \"Points balance:\" + space + 17.points_balance)}}"
            },
            "metadata": {
                "designer": {
                    "x": 1420,
                    "y": 14
                },
                "restore": {
                    "feeder": {
                        "label": "Loyverse - Get a Store [16]"
                    },
                    "rowSeparator": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text",
                        "multiline": true
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "mitto-sms:sendSMS",
            "version": 1,
            "parameters": {},
            "mapper": {
                "to": "{{7.phone_number}}",
                "from": "SMSInfo",
                "text": "{{9.text}}"
            },
            "metadata": {
                "designer": {
                    "x": 1723,
                    "y": 11
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From",
                        "required": true
                    },
                    {
                        "name": "to",
                        "type": "text",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    }
                ]
            },
            "onerror": [
                {
                    "id": 11,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "metadata": {
                        "designer": {
                            "x": 1936,
                            "y": 257
                        }
                    }
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}