Make example Blueprints/BrowserAct Enables Intuitive News Sentiment Classification via Auto-Monitoring.blueprint.json
{
    "name": "BrowserAct Enables Intuitive News Sentiment Classification via Auto-Monitoring",
    "flow": [
        {
            "id": 1,
            "module": "telegram:WatchUpdates",
            "version": 1,
            "parameters": {},
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -916,
                    "y": -27,
                    "name": "Telegram Trigger"
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:telegramapi",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "ai-tools:Ask",
            "version": 2,
            "parameters": {
                "model": "gemini-2.5-flash"
            },
            "mapper": {
                "input": "Analyze the incoming message ({{1.message.text}}):\n\nIf it's a regular conversational message:\n\nSend the 'chatting' to Answer\n\nIf the client is sending keywords or sending words that can used as keyword or wanted to earch about somthing:\n\nCheck the keywords.\n\nIf the keywords are valid (\"rational\") and information can be found using them:\n\nSend the 'Start' To Answer.\n\nOtherwise (if the keywords are not valid or no information can be found):\n\nSend the 'DontStart' to Answer."
            },
            "metadata": {
                "designer": {
                    "x": -660,
                    "y": -34,
                    "name": "Interact With User"
                },
                "restore": {
                    "parameters": {
                        "model": {
                            "mode": "chose",
                            "label": "gemini-2.5-flash"
                        },
                        "makeConnectionId": {
                            "data": {
                                "scoped": "true",
                                "connection": "gemini-ai-q9zyjp"
                            },
                            "label": "My Gemini AI connection",
                            "nested": [
                                {
                                    "name": "model",
                                    "type": "select",
                                    "label": "Model",
                                    "options": {
                                        "store": "rpc://ai-tools/2/RpcGetModels?connectionId={{makeConnectionId}}&teamId=1169971"
                                    },
                                    "mappable": true,
                                    "required": true,
                                    "forceReload": true
                                }
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "makeConnectionId",
                        "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "input",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -415,
                    "y": -31
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 30,
                            "module": "ai-tools:Ask",
                            "version": 2,
                            "parameters": {
                                "model": "gpt-5"
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.answer}}",
                                            "b": "chatting",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "input": "Analyze the incoming message ({{1.message.text}}):\n\nIf it's a regular conversational message:\n\nChat with the client. Send response to client text directly into Answer"
                            },
                            "metadata": {
                                "designer": {
                                    "x": -415,
                                    "y": 237,
                                    "name": "Interact With User"
                                },
                                "restore": {
                                    "parameters": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "gpt-5"
                                        },
                                        "makeConnectionId": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            },
                                            "label": "My OpenAI connection",
                                            "nested": [
                                                {
                                                    "name": "model",
                                                    "type": "select",
                                                    "label": "Model",
                                                    "options": {
                                                        "store": "rpc://ai-tools/2/RpcGetModels?connectionId={{makeConnectionId}}&teamId=1169971"
                                                    },
                                                    "mappable": true,
                                                    "required": true
                                                }
                                            ]
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "makeConnectionId",
                                        "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "input",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 31,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "text": "{{30.answer}}",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": -123,
                                    "y": 234,
                                    "name": "Interact With User"
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "My Telegram Bot connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 32,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.answer}}",
                                            "b": "DontStart",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "Can you provide More Information ?",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": -147,
                                    "y": -290,
                                    "name": "Interact With User"
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "My Telegram Bot connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 18,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.answer}}",
                                            "b": "Start",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "Got It Let Me Search for You! Be Right Back.",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": -134,
                                    "y": -41,
                                    "name": "Send Starting Alert"
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "My Telegram Bot connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "ai-tools:Ask",
                            "version": 2,
                            "parameters": {
                                "model": "gpt-5"
                            },
                            "mapper": {
                                "input": "from : {{1.message.text}} \n\nExtract the keywords.\n\nIf the client did not provide SingleWord keywords individually (e.g. vague description of an issue): You must create/generate the most relevant keywords from their message.(only add 2)\n\nthe output should be Json like this :\n{\r\n  \"Keyword\": [\r\n    {\r\n      \"keyword\": \"...\"\r\n    },\r\n    {\r\n      \"keyword\": \"...\"\r\n    }\r\n  ]\r\n}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 98,
                                    "y": -30
                                },
                                "restore": {
                                    "parameters": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "gpt-5"
                                        },
                                        "makeConnectionId": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            },
                                            "label": "My OpenAI connection",
                                            "nested": [
                                                {
                                                    "name": "model",
                                                    "type": "select",
                                                    "label": "Model",
                                                    "options": {
                                                        "store": "rpc://ai-tools/2/RpcGetModels?connectionId={{makeConnectionId}}&teamId=1169971"
                                                    },
                                                    "mappable": true,
                                                    "required": true
                                                }
                                            ]
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "makeConnectionId",
                                        "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "input",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 35,
                                    "module": "telegram:SendReplyMessage",
                                    "version": 1,
                                    "parameters": {
                                        "__IMTCONN__": 5987298
                                    },
                                    "mapper": {
                                        "text": "Sorry, I'm having a problem getting/generating Keywords activity .",
                                        "chatId": "{{1.message.chat.id}}",
                                        "parseMode": "",
                                        "replyMarkup": "",
                                        "messageThreadId": "",
                                        "replyToMessageId": "",
                                        "replyMarkupAssembleType": "reply_markup_enter"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 301,
                                            "y": 334,
                                            "name": "Handle AI Error"
                                        },
                                        "restore": {
                                            "expect": {
                                                "parseMode": {
                                                    "label": "Empty"
                                                },
                                                "disableNotification": {
                                                    "mode": "chose"
                                                },
                                                "replyMarkupAssembleType": {
                                                    "label": "Enter the Reply Markup"
                                                }
                                            },
                                            "parameters": {
                                                "__IMTCONN__": {
                                                    "data": {
                                                        "scoped": "true",
                                                        "connection": "telegram"
                                                    },
                                                    "label": "My Telegram Bot connection"
                                                }
                                            }
                                        },
                                        "parameters": [
                                            {
                                                "name": "__IMTCONN__",
                                                "type": "account:telegram",
                                                "label": "Connection",
                                                "required": true
                                            }
                                        ],
                                        "expect": [
                                            {
                                                "name": "chatId",
                                                "type": "text",
                                                "label": "Chat ID",
                                                "required": true
                                            },
                                            {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text",
                                                "required": true
                                            },
                                            {
                                                "name": "messageThreadId",
                                                "type": "number",
                                                "label": "Message Thread ID"
                                            },
                                            {
                                                "name": "parseMode",
                                                "type": "select",
                                                "label": "Parse Mode",
                                                "validate": {
                                                    "enum": [
                                                        "Markdown",
                                                        "HTML"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "disableNotification",
                                                "type": "boolean",
                                                "label": "Disable Notifications"
                                            },
                                            {
                                                "name": "disableWebPagePreview",
                                                "type": "boolean",
                                                "label": "Disable Link Previews"
                                            },
                                            {
                                                "name": "replyToMessageId",
                                                "type": "number",
                                                "label": "Original Message ID"
                                            },
                                            {
                                                "name": "replyMarkupAssembleType",
                                                "type": "select",
                                                "label": "Enter/Assemble the Reply Markup Field",
                                                "validate": {
                                                    "enum": [
                                                        "reply_markup_enter",
                                                        "reply_markup_assemble"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "replyMarkup",
                                                "type": "text",
                                                "label": "Reply Markup"
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            "id": 7,
                            "module": "json:ParseJSON",
                            "version": 1,
                            "parameters": {
                                "type": 214885
                            },
                            "mapper": {
                                "json": "{{6.answer}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 325,
                                    "y": -28,
                                    "name": "Parsing Keywords"
                                },
                                "restore": {
                                    "parameters": {
                                        "type": {
                                            "label": "My data structure"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "json",
                                        "type": "text",
                                        "label": "JSON string",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "help": "",
                                        "name": "Keyword",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "help": "",
                                                    "name": "keyword",
                                                    "type": "text",
                                                    "label": null,
                                                    "default": null,
                                                    "required": false,
                                                    "multiline": false
                                                }
                                            ],
                                            "type": "collection",
                                            "required": false
                                        },
                                        "type": "array",
                                        "label": "Keyword",
                                        "required": false
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 557,
                                    "y": -19
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 9,
                                            "module": "browser-act:test",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "type": "template",
                                                "timeout": "9000",
                                                "templateId": "60034217821798288",
                                                "inputParameters": {
                                                    "Keyword": "{{7.Keyword[].keyword}}",
                                                    "Reddit_Link": "https://www.reddit.com"
                                                }
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 791,
                                                    "y": -173,
                                                    "name": "BrowserAct_Reddit"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "type": {
                                                            "mode": "chose",
                                                            "label": "Template Marketplace"
                                                        },
                                                        "templateId": {
                                                            "mode": "chose",
                                                            "label": "Real-Time Brand Mention Sentiment Analysis For negative Story (Reddit_News)",
                                                            "nested": [
                                                                {
                                                                    "name": "inputParameters",
                                                                    "spec": [
                                                                        {
                                                                            "help": "If left blank, the default value defined in BrowserAct will be used.",
                                                                            "name": "Reddit_Link",
                                                                            "type": "text",
                                                                            "label": "Reddit_Link",
                                                                            "required": false,
                                                                            "validate": {}
                                                                        },
                                                                        {
                                                                            "help": "If left blank, the default value defined in BrowserAct will be used.",
                                                                            "name": "Keyword",
                                                                            "type": "text",
                                                                            "label": "Keyword",
                                                                            "required": false,
                                                                            "validate": {}
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Input Parameters",
                                                                    "required": false
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "browser-act"
                                                            },
                                                            "label": "My BrowserAct connection (lada.huang2017@gmail.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:browser-act",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Search Workflows From",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "template",
                                                                "workflow"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "timeout",
                                                        "type": "uinteger",
                                                        "label": "Timeout"
                                                    },
                                                    {
                                                        "name": "templateId",
                                                        "type": "select",
                                                        "label": "Workflow",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "inputParameters",
                                                        "spec": [
                                                            {
                                                                "name": "Reddit_Link",
                                                                "type": "text",
                                                                "validate": {}
                                                            },
                                                            {
                                                                "name": "Keyword",
                                                                "type": "text",
                                                                "validate": {}
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Input Parameters"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 12,
                                            "module": "json:ParseJSON",
                                            "version": 1,
                                            "parameters": {
                                                "type": 214892
                                            },
                                            "mapper": {
                                                "json": "{{9.output.string}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1049,
                                                    "y": -177
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "type": {
                                                            "label": "My data structure"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "type",
                                                        "type": "udt",
                                                        "label": "Data structure"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "json",
                                                        "type": "text",
                                                        "label": "JSON string",
                                                        "required": true
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "help": "",
                                                        "name": "summary",
                                                        "type": "text",
                                                        "label": "Summary",
                                                        "default": null,
                                                        "required": false,
                                                        "multiline": false
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 34,
                                                    "module": "telegram:SendReplyMessage",
                                                    "version": 1,
                                                    "parameters": {
                                                        "__IMTCONN__": 5987298
                                                    },
                                                    "mapper": {
                                                        "text": "Sorry, I'm having a problem getting data from the browser activity (specifically, Google News).",
                                                        "chatId": "{{18.chat.id}}",
                                                        "parseMode": "",
                                                        "replyMarkup": "",
                                                        "messageThreadId": "",
                                                        "replyToMessageId": "",
                                                        "replyMarkupAssembleType": "reply_markup_enter"
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 1235,
                                                            "y": -490,
                                                            "name": "Handle Agent Error"
                                                        },
                                                        "restore": {
                                                            "expect": {
                                                                "parseMode": {
                                                                    "label": "Empty"
                                                                },
                                                                "disableNotification": {
                                                                    "mode": "chose"
                                                                },
                                                                "replyMarkupAssembleType": {
                                                                    "label": "Enter the Reply Markup"
                                                                }
                                                            },
                                                            "parameters": {
                                                                "__IMTCONN__": {
                                                                    "data": {
                                                                        "scoped": "true",
                                                                        "connection": "telegram"
                                                                    },
                                                                    "label": "My Telegram Bot connection"
                                                                }
                                                            }
                                                        },
                                                        "parameters": [
                                                            {
                                                                "name": "__IMTCONN__",
                                                                "type": "account:telegram",
                                                                "label": "Connection",
                                                                "required": true
                                                            }
                                                        ],
                                                        "expect": [
                                                            {
                                                                "name": "chatId",
                                                                "type": "text",
                                                                "label": "Chat ID",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "text",
                                                                "type": "text",
                                                                "label": "Text",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "messageThreadId",
                                                                "type": "number",
                                                                "label": "Message Thread ID"
                                                            },
                                                            {
                                                                "name": "parseMode",
                                                                "type": "select",
                                                                "label": "Parse Mode",
                                                                "validate": {
                                                                    "enum": [
                                                                        "Markdown",
                                                                        "HTML"
                                                                    ]
                                                                }
                                                            },
                                                            {
                                                                "name": "disableNotification",
                                                                "type": "boolean",
                                                                "label": "Disable Notifications"
                                                            },
                                                            {
                                                                "name": "disableWebPagePreview",
                                                                "type": "boolean",
                                                                "label": "Disable Link Previews"
                                                            },
                                                            {
                                                                "name": "replyToMessageId",
                                                                "type": "number",
                                                                "label": "Original Message ID"
                                                            },
                                                            {
                                                                "name": "replyMarkupAssembleType",
                                                                "type": "select",
                                                                "label": "Enter/Assemble the Reply Markup Field",
                                                                "validate": {
                                                                    "enum": [
                                                                        "reply_markup_enter",
                                                                        "reply_markup_assemble"
                                                                    ]
                                                                }
                                                            },
                                                            {
                                                                "name": "replyMarkup",
                                                                "type": "text",
                                                                "label": "Reply Markup"
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": 14,
                                            "module": "ai-tools:Ask",
                                            "version": 2,
                                            "parameters": {
                                                "model": "gpt-5"
                                            },
                                            "mapper": {
                                                "input": "1.  Analyze the content of `{{12.summary}}`.\r\n2.  Look for any distinct and intersting or important positive or negative news items or stories.\r\n\r\n\r\nIf positive or negative news is found:\r\n\r\nSend a JSON object to the output. The `News` array should contain an object for *each* news item you find, formatted like this:\r\n\r\n\r\n{\r\n  \"News\": [\r\n    {\r\n      \"News\": \"[The content of the first news item]\",\r\n      \"Status\": \"Positive\"\r\n    },\r\n    {\r\n      \"News\": \"[The content of the second news item]\",\r\n      \"Status\": \"Negative\"\r\n    }\r\n  ]\r\n}\r\n\r\n\r\n\r\nif no interesting or relevant news is available or there is no data to cover:\r\n\r\nSend this specific JSON object to the output:\r\n\r\n\r\n{\r\n  \"News\": [\r\n    {\r\n      \"News\": \"No news\",\r\n      \"Status\": \"No news\"\r\n    }\r\n  ]\r\n}\r\n"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1304,
                                                    "y": -191,
                                                    "name": "Analyzing Reddit data"
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "model": {
                                                            "mode": "chose",
                                                            "label": "gpt-5"
                                                        },
                                                        "makeConnectionId": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "openai-gpt-3"
                                                            },
                                                            "label": "My OpenAI connection",
                                                            "nested": [
                                                                {
                                                                    "name": "model",
                                                                    "type": "select",
                                                                    "label": "Model",
                                                                    "options": {
                                                                        "store": "rpc://ai-tools/2/RpcGetModels?connectionId={{makeConnectionId}}&teamId=1169971"
                                                                    },
                                                                    "mappable": true,
                                                                    "required": true
                                                                }
                                                            ]
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "makeConnectionId",
                                                        "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
                                                        "label": "Connection",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "model",
                                                        "type": "select",
                                                        "label": "Model",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "input",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 20,
                                            "module": "json:ParseJSON",
                                            "version": 1,
                                            "parameters": {
                                                "type": 214920
                                            },
                                            "mapper": {
                                                "json": "{{14.answer}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1549,
                                                    "y": -168
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "type": {
                                                            "label": "My data structure"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "type",
                                                        "type": "udt",
                                                        "label": "Data structure"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "json",
                                                        "type": "text",
                                                        "label": "JSON string",
                                                        "required": true
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "help": "",
                                                        "name": "News",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "help": "",
                                                                    "name": "News",
                                                                    "type": "text",
                                                                    "label": null,
                                                                    "default": null,
                                                                    "required": false,
                                                                    "multiline": false
                                                                },
                                                                {
                                                                    "help": "",
                                                                    "name": "Status",
                                                                    "type": "text",
                                                                    "label": null,
                                                                    "default": null,
                                                                    "required": false,
                                                                    "multiline": false
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "required": false
                                                        },
                                                        "type": "array",
                                                        "label": "News",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 37,
                                                    "module": "telegram:SendReplyMessage",
                                                    "version": 1,
                                                    "parameters": {
                                                        "__IMTCONN__": 5987298
                                                    },
                                                    "mapper": {
                                                        "text": "Sorry, I'm having a problem Refining and Analyzing teh data (reddit Branch).",
                                                        "chatId": "{{18.chat.id}}",
                                                        "parseMode": "",
                                                        "replyMarkup": "",
                                                        "messageThreadId": "",
                                                        "replyToMessageId": "",
                                                        "replyMarkupAssembleType": "reply_markup_enter"
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 1697,
                                                            "y": -474,
                                                            "name": "Handle AI Error"
                                                        },
                                                        "restore": {
                                                            "expect": {
                                                                "parseMode": {
                                                                    "label": "Empty"
                                                                },
                                                                "disableNotification": {
                                                                    "mode": "chose"
                                                                },
                                                                "replyMarkupAssembleType": {
                                                                    "label": "Enter the Reply Markup"
                                                                }
                                                            },
                                                            "parameters": {
                                                                "__IMTCONN__": {
                                                                    "data": {
                                                                        "scoped": "true",
                                                                        "connection": "telegram"
                                                                    },
                                                                    "label": "My Telegram Bot connection"
                                                                }
                                                            }
                                                        },
                                                        "parameters": [
                                                            {
                                                                "name": "__IMTCONN__",
                                                                "type": "account:telegram",
                                                                "label": "Connection",
                                                                "required": true
                                                            }
                                                        ],
                                                        "expect": [
                                                            {
                                                                "name": "chatId",
                                                                "type": "text",
                                                                "label": "Chat ID",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "text",
                                                                "type": "text",
                                                                "label": "Text",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "messageThreadId",
                                                                "type": "number",
                                                                "label": "Message Thread ID"
                                                            },
                                                            {
                                                                "name": "parseMode",
                                                                "type": "select",
                                                                "label": "Parse Mode",
                                                                "validate": {
                                                                    "enum": [
                                                                        "Markdown",
                                                                        "HTML"
                                                                    ]
                                                                }
                                                            },
                                                            {
                                                                "name": "disableNotification",
                                                                "type": "boolean",
                                                                "label": "Disable Notifications"
                                                            },
                                                            {
                                                                "name": "disableWebPagePreview",
                                                                "type": "boolean",
                                                                "label": "Disable Link Previews"
                                                            },
                                                            {
                                                                "name": "replyToMessageId",
                                                                "type": "number",
                                                                "label": "Original Message ID"
                                                            },
                                                            {
                                                                "name": "replyMarkupAssembleType",
                                                                "type": "select",
                                                                "label": "Enter/Assemble the Reply Markup Field",
                                                                "validate": {
                                                                    "enum": [
                                                                        "reply_markup_enter",
                                                                        "reply_markup_assemble"
                                                                    ]
                                                                }
                                                            },
                                                            {
                                                                "name": "replyMarkup",
                                                                "type": "text",
                                                                "label": "Reply Markup"
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": 22,
                                            "module": "builtin:BasicFeeder",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{20.News[].News}}",
                                                            "b": "No news",
                                                            "o": "text:notequal"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "{{20.News[].Status}}",
                                                            "b": "No news",
                                                            "o": "text:notequal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "array": "{{20.News}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1794,
                                                    "y": -166
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "array": {
                                                            "mode": "edit"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "array",
                                                        "spec": [],
                                                        "type": "array",
                                                        "label": "Array"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 24,
                                            "module": "builtin:BasicRouter",
                                            "version": 1,
                                            "mapper": null,
                                            "metadata": {
                                                "designer": {
                                                    "x": 2023,
                                                    "y": -168
                                                }
                                            },
                                            "routes": [
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 25,
                                                            "module": "telegram:SendReplyMessage",
                                                            "version": 1,
                                                            "parameters": {},
                                                            "filter": {
                                                                "name": "",
                                                                "conditions": [
                                                                    [
                                                                        {
                                                                            "a": "{{22.Status}}",
                                                                            "b": "Positive",
                                                                            "o": "text:equal"
                                                                        }
                                                                    ]
                                                                ]
                                                            },
                                                            "mapper": {
                                                                "text": "We found some intresting Good News in Reddit \n\n{{22.News}}",
                                                                "chatId": "{{1.message.chat.id}}",
                                                                "parseMode": "",
                                                                "replyMarkup": "",
                                                                "messageThreadId": "",
                                                                "replyToMessageId": "",
                                                                "replyMarkupAssembleType": "reply_markup_enter"
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 2195,
                                                                    "y": -376,
                                                                    "name": "Bad News"
                                                                },
                                                                "restore": {
                                                                    "expect": {
                                                                        "parseMode": {
                                                                            "label": "Empty"
                                                                        },
                                                                        "disableNotification": {
                                                                            "mode": "chose"
                                                                        },
                                                                        "replyMarkupAssembleType": {
                                                                            "label": "Enter the Reply Markup"
                                                                        }
                                                                    },
                                                                    "parameters": {
                                                                        "__IMTCONN__": {
                                                                            "data": {
                                                                                "scoped": "true",
                                                                                "connection": "telegram"
                                                                            },
                                                                            "label": "My Telegram Bot connection"
                                                                        }
                                                                    }
                                                                },
                                                                "parameters": [
                                                                    {
                                                                        "name": "__IMTCONN__",
                                                                        "type": "account:telegram",
                                                                        "label": "Connection",
                                                                        "required": true
                                                                    }
                                                                ],
                                                                "expect": [
                                                                    {
                                                                        "name": "chatId",
                                                                        "type": "text",
                                                                        "label": "Chat ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "messageThreadId",
                                                                        "type": "number",
                                                                        "label": "Message Thread ID"
                                                                    },
                                                                    {
                                                                        "name": "parseMode",
                                                                        "type": "select",
                                                                        "label": "Parse Mode",
                                                                        "validate": {
                                                                            "enum": [
                                                                                "Markdown",
                                                                                "HTML"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "disableNotification",
                                                                        "type": "boolean",
                                                                        "label": "Disable Notifications"
                                                                    },
                                                                    {
                                                                        "name": "disableWebPagePreview",
                                                                        "type": "boolean",
                                                                        "label": "Disable Link Previews"
                                                                    },
                                                                    {
                                                                        "name": "replyToMessageId",
                                                                        "type": "number",
                                                                        "label": "Original Message ID"
                                                                    },
                                                                    {
                                                                        "name": "replyMarkupAssembleType",
                                                                        "type": "select",
                                                                        "label": "Enter/Assemble the Reply Markup Field",
                                                                        "validate": {
                                                                            "enum": [
                                                                                "reply_markup_enter",
                                                                                "reply_markup_assemble"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "replyMarkup",
                                                                        "type": "text",
                                                                        "label": "Reply Markup"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 26,
                                                            "module": "telegram:SendReplyMessage",
                                                            "version": 1,
                                                            "parameters": {},
                                                            "filter": {
                                                                "name": "",
                                                                "conditions": [
                                                                    [
                                                                        {
                                                                            "a": "{{22.Status}}",
                                                                            "b": "Negative",
                                                                            "o": "text:equal"
                                                                        }
                                                                    ]
                                                                ]
                                                            },
                                                            "mapper": {
                                                                "text": "Ops. We found some Bad News in Reddit \n\n{{22.News}}",
                                                                "chatId": "{{1.message.chat.id}}",
                                                                "parseMode": "",
                                                                "replyMarkup": "",
                                                                "messageThreadId": "",
                                                                "replyToMessageId": "",
                                                                "replyMarkupAssembleType": "reply_markup_enter"
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 2276,
                                                                    "y": -164,
                                                                    "name": "Good News"
                                                                },
                                                                "restore": {
                                                                    "expect": {
                                                                        "parseMode": {
                                                                            "label": "Empty"
                                                                        },
                                                                        "disableNotification": {
                                                                            "mode": "chose"
                                                                        },
                                                                        "replyMarkupAssembleType": {
                                                                            "label": "Enter the Reply Markup"
                                                                        }
                                                                    },
                                                                    "parameters": {
                                                                        "__IMTCONN__": {
                                                                            "data": {
                                                                                "scoped": "true",
                                                                                "connection": "telegram"
                                                                            },
                                                                            "label": "My Telegram Bot connection"
                                                                        }
                                                                    }
                                                                },
                                                                "parameters": [
                                                                    {
                                                                        "name": "__IMTCONN__",
                                                                        "type": "account:telegram",
                                                                        "label": "Connection",
                                                                        "required": true
                                                                    }
                                                                ],
                                                                "expect": [
                                                                    {
                                                                        "name": "chatId",
                                                                        "type": "text",
                                                                        "label": "Chat ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "messageThreadId",
                                                                        "type": "number",
                                                                        "label": "Message Thread ID"
                                                                    },
                                                                    {
                                                                        "name": "parseMode",
                                                                        "type": "select",
                                                                        "label": "Parse Mode",
                                                                        "validate": {
                                                                            "enum": [
                                                                                "Markdown",
                                                                                "HTML"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "disableNotification",
                                                                        "type": "boolean",
                                                                        "label": "Disable Notifications"
                                                                    },
                                                                    {
                                                                        "name": "disableWebPagePreview",
                                                                        "type": "boolean",
                                                                        "label": "Disable Link Previews"
                                                                    },
                                                                    {
                                                                        "name": "replyToMessageId",
                                                                        "type": "number",
                                                                        "label": "Original Message ID"
                                                                    },
                                                                    {
                                                                        "name": "replyMarkupAssembleType",
                                                                        "type": "select",
                                                                        "label": "Enter/Assemble the Reply Markup Field",
                                                                        "validate": {
                                                                            "enum": [
                                                                                "reply_markup_enter",
                                                                                "reply_markup_assemble"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "replyMarkup",
                                                                        "type": "text",
                                                                        "label": "Reply Markup"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 10,
                                            "module": "browser-act:test",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "type": "template",
                                                "timeout": "9000",
                                                "templateId": "60037566415700624",
                                                "inputParameters": {
                                                    "Keyword": "{{7.Keyword[].keyword}}",
                                                    "Google_News": "https://news.google.com"
                                                }
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 798,
                                                    "y": 53,
                                                    "name": "BrowserAct_GoogleNews"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "type": {
                                                            "mode": "chose",
                                                            "label": "Template Marketplace"
                                                        },
                                                        "templateId": {
                                                            "mode": "chose",
                                                            "label": "Real-Time Brand Mention Sentiment Analysis For negative Story (Google_News)",
                                                            "nested": [
                                                                {
                                                                    "name": "inputParameters",
                                                                    "spec": [
                                                                        {
                                                                            "help": "If left blank, the default value defined in BrowserAct will be used.",
                                                                            "name": "Google_News",
                                                                            "type": "text",
                                                                            "label": "Google_News",
                                                                            "required": false,
                                                                            "validate": {}
                                                                        },
                                                                        {
                                                                            "help": "If left blank, the default value defined in BrowserAct will be used.",
                                                                            "name": "Keyword",
                                                                            "type": "text",
                                                                            "label": "Keyword",
                                                                            "required": false,
                                                                            "validate": {}
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Input Parameters",
                                                                    "required": false
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "browser-act"
                                                            },
                                                            "label": "My BrowserAct connection (lada.huang2017@gmail.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:browser-act",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Search Workflows From",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "template",
                                                                "workflow"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "timeout",
                                                        "type": "uinteger",
                                                        "label": "Timeout"
                                                    },
                                                    {
                                                        "name": "templateId",
                                                        "type": "select",
                                                        "label": "Workflow",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "inputParameters",
                                                        "spec": [
                                                            {
                                                                "name": "Google_News",
                                                                "type": "text",
                                                                "validate": {}
                                                            },
                                                            {
                                                                "name": "Keyword",
                                                                "type": "text",
                                                                "validate": {}
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Input Parameters"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 13,
                                            "module": "json:ParseJSON",
                                            "version": 1,
                                            "parameters": {
                                                "type": 214898
                                            },
                                            "mapper": {
                                                "json": "{{10.output.string}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1055,
                                                    "y": 44
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "type": {
                                                            "label": "My data structure"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "type",
                                                        "type": "udt",
                                                        "label": "Data structure"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "json",
                                                        "type": "text",
                                                        "label": "JSON string",
                                                        "required": true
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "help": "",
                                                        "name": "summary",
                                                        "type": "text",
                                                        "label": "Summary",
                                                        "default": null,
                                                        "required": false,
                                                        "multiline": false
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 33,
                                                    "module": "telegram:SendReplyMessage",
                                                    "version": 1,
                                                    "parameters": {
                                                        "__IMTCONN__": 5987298
                                                    },
                                                    "mapper": {
                                                        "text": "Sorry, I'm having a problem getting data from the browser activity (Google News).",
                                                        "chatId": "{{18.chat.id}}",
                                                        "parseMode": "",
                                                        "replyMarkup": "",
                                                        "messageThreadId": "",
                                                        "replyToMessageId": "",
                                                        "replyMarkupAssembleType": "reply_markup_enter"
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 1219,
                                                            "y": 362,
                                                            "name": "Handle Agent Error"
                                                        },
                                                        "restore": {
                                                            "expect": {
                                                                "parseMode": {
                                                                    "label": "Empty"
                                                                },
                                                                "disableNotification": {
                                                                    "mode": "chose"
                                                                },
                                                                "replyMarkupAssembleType": {
                                                                    "label": "Enter the Reply Markup"
                                                                }
                                                            },
                                                            "parameters": {
                                                                "__IMTCONN__": {
                                                                    "data": {
                                                                        "scoped": "true",
                                                                        "connection": "telegram"
                                                                    },
                                                                    "label": "My Telegram Bot connection"
                                                                }
                                                            }
                                                        },
                                                        "parameters": [
                                                            {
                                                                "name": "__IMTCONN__",
                                                                "type": "account:telegram",
                                                                "label": "Connection",
                                                                "required": true
                                                            }
                                                        ],
                                                        "expect": [
                                                            {
                                                                "name": "chatId",
                                                                "type": "text",
                                                                "label": "Chat ID",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "text",
                                                                "type": "text",
                                                                "label": "Text",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "messageThreadId",
                                                                "type": "number",
                                                                "label": "Message Thread ID"
                                                            },
                                                            {
                                                                "name": "parseMode",
                                                                "type": "select",
                                                                "label": "Parse Mode",
                                                                "validate": {
                                                                    "enum": [
                                                                        "Markdown",
                                                                        "HTML"
                                                                    ]
                                                                }
                                                            },
                                                            {
                                                                "name": "disableNotification",
                                                                "type": "boolean",
                                                                "label": "Disable Notifications"
                                                            },
                                                            {
                                                                "name": "disableWebPagePreview",
                                                                "type": "boolean",
                                                                "label": "Disable Link Previews"
                                                            },
                                                            {
                                                                "name": "replyToMessageId",
                                                                "type": "number",
                                                                "label": "Original Message ID"
                                                            },
                                                            {
                                                                "name": "replyMarkupAssembleType",
                                                                "type": "select",
                                                                "label": "Enter/Assemble the Reply Markup Field",
                                                                "validate": {
                                                                    "enum": [
                                                                        "reply_markup_enter",
                                                                        "reply_markup_assemble"
                                                                    ]
                                                                }
                                                            },
                                                            {
                                                                "name": "replyMarkup",
                                                                "type": "text",
                                                                "label": "Reply Markup"
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": 19,
                                            "module": "ai-tools:Ask",
                                            "version": 2,
                                            "parameters": {
                                                "model": "gpt-5"
                                            },
                                            "mapper": {
                                                "input": "1.  Analyze the content of `{{13.summary}}`.\r\n2.  Look for any distinct and intersting or important positive or negative news items or stories.\r\n\r\n\r\nIf positive or negative news is found:\r\n\r\nSend a JSON object to the output. The `News` array should contain an object for *each* news item you find, formatted like this:\r\n\r\n\r\n{\r\n  \"News\": [\r\n    {\r\n      \"News\": \"[The content of the first news item]\",\r\n      \"Status\": \"Positive\"\r\n    },\r\n    {\r\n      \"News\": \"[The content of the second news item]\",\r\n      \"Status\": \"Negative\"\r\n    }\r\n  ]\r\n}\r\n\r\n\r\nIf no interesting or relevant news is available or there is no data to cover:\r\n\r\nSend this specific JSON object to the output:\r\n\r\n\r\n{\r\n  \"News\": [\r\n    {\r\n      \"News\": \"No news\",\r\n      \"Status\": \"No news\"\r\n    }\r\n  ]\r\n}\r\n"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1310,
                                                    "y": 76,
                                                    "name": "Analyzing Google New data"
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "model": {
                                                            "mode": "chose",
                                                            "label": "gpt-5"
                                                        },
                                                        "makeConnectionId": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "openai-gpt-3"
                                                            },
                                                            "label": "My OpenAI connection",
                                                            "nested": [
                                                                {
                                                                    "name": "model",
                                                                    "type": "select",
                                                                    "label": "Model",
                                                                    "options": {
                                                                        "store": "rpc://ai-tools/2/RpcGetModels?connectionId={{makeConnectionId}}&teamId=1169971"
                                                                    },
                                                                    "mappable": true,
                                                                    "required": true
                                                                }
                                                            ]
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "makeConnectionId",
                                                        "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
                                                        "label": "Connection",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "model",
                                                        "type": "select",
                                                        "label": "Model",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "input",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 21,
                                            "module": "json:ParseJSON",
                                            "version": 1,
                                            "parameters": {
                                                "type": 214921
                                            },
                                            "mapper": {
                                                "json": "{{19.answer}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1552,
                                                    "y": 70
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "type": {
                                                            "label": "My data structure"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "type",
                                                        "type": "udt",
                                                        "label": "Data structure"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "json",
                                                        "type": "text",
                                                        "label": "JSON string",
                                                        "required": true
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "help": "",
                                                        "name": "News",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "help": "",
                                                                    "name": "News",
                                                                    "type": "text",
                                                                    "label": null,
                                                                    "default": null,
                                                                    "required": false,
                                                                    "multiline": false
                                                                },
                                                                {
                                                                    "help": "",
                                                                    "name": "Status",
                                                                    "type": "text",
                                                                    "label": null,
                                                                    "default": null,
                                                                    "required": false,
                                                                    "multiline": false
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "required": false
                                                        },
                                                        "type": "array",
                                                        "label": "News",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 36,
                                                    "module": "telegram:SendReplyMessage",
                                                    "version": 1,
                                                    "parameters": {
                                                        "__IMTCONN__": 5987298
                                                    },
                                                    "mapper": {
                                                        "text": "Sorry, I'm having a problem Refining and Analyzing teh data (google news Branch).",
                                                        "chatId": "{{18.chat.id}}",
                                                        "parseMode": "",
                                                        "replyMarkup": "",
                                                        "messageThreadId": "",
                                                        "replyToMessageId": "",
                                                        "replyMarkupAssembleType": "reply_markup_enter"
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 1664,
                                                            "y": 374,
                                                            "name": "Handle AI Error"
                                                        },
                                                        "restore": {
                                                            "expect": {
                                                                "parseMode": {
                                                                    "label": "Empty"
                                                                },
                                                                "disableNotification": {
                                                                    "mode": "chose"
                                                                },
                                                                "replyMarkupAssembleType": {
                                                                    "label": "Enter the Reply Markup"
                                                                }
                                                            },
                                                            "parameters": {
                                                                "__IMTCONN__": {
                                                                    "data": {
                                                                        "scoped": "true",
                                                                        "connection": "telegram"
                                                                    },
                                                                    "label": "My Telegram Bot connection"
                                                                }
                                                            }
                                                        },
                                                        "parameters": [
                                                            {
                                                                "name": "__IMTCONN__",
                                                                "type": "account:telegram",
                                                                "label": "Connection",
                                                                "required": true
                                                            }
                                                        ],
                                                        "expect": [
                                                            {
                                                                "name": "chatId",
                                                                "type": "text",
                                                                "label": "Chat ID",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "text",
                                                                "type": "text",
                                                                "label": "Text",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "messageThreadId",
                                                                "type": "number",
                                                                "label": "Message Thread ID"
                                                            },
                                                            {
                                                                "name": "parseMode",
                                                                "type": "select",
                                                                "label": "Parse Mode",
                                                                "validate": {
                                                                    "enum": [
                                                                        "Markdown",
                                                                        "HTML"
                                                                    ]
                                                                }
                                                            },
                                                            {
                                                                "name": "disableNotification",
                                                                "type": "boolean",
                                                                "label": "Disable Notifications"
                                                            },
                                                            {
                                                                "name": "disableWebPagePreview",
                                                                "type": "boolean",
                                                                "label": "Disable Link Previews"
                                                            },
                                                            {
                                                                "name": "replyToMessageId",
                                                                "type": "number",
                                                                "label": "Original Message ID"
                                                            },
                                                            {
                                                                "name": "replyMarkupAssembleType",
                                                                "type": "select",
                                                                "label": "Enter/Assemble the Reply Markup Field",
                                                                "validate": {
                                                                    "enum": [
                                                                        "reply_markup_enter",
                                                                        "reply_markup_assemble"
                                                                    ]
                                                                }
                                                            },
                                                            {
                                                                "name": "replyMarkup",
                                                                "type": "text",
                                                                "label": "Reply Markup"
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": 23,
                                            "module": "builtin:BasicFeeder",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{21.News[].News}}",
                                                            "b": "No news",
                                                            "o": "text:notequal"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "{{21.News[].Status}}",
                                                            "b": "No news",
                                                            "o": "text:notequal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "array": "{{21.News}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1805,
                                                    "y": 62
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "array": {
                                                            "mode": "edit"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "array",
                                                        "spec": [],
                                                        "type": "array",
                                                        "label": "Array"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 27,
                                            "module": "builtin:BasicRouter",
                                            "version": 1,
                                            "mapper": null,
                                            "metadata": {
                                                "designer": {
                                                    "x": 2020,
                                                    "y": 59
                                                }
                                            },
                                            "routes": [
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 28,
                                                            "module": "telegram:SendReplyMessage",
                                                            "version": 1,
                                                            "parameters": {},
                                                            "filter": {
                                                                "name": "",
                                                                "conditions": [
                                                                    [
                                                                        {
                                                                            "a": "{{23.Status}}",
                                                                            "b": "Positive",
                                                                            "o": "text:equal"
                                                                        }
                                                                    ]
                                                                ]
                                                            },
                                                            "mapper": {
                                                                "text": "We found some intresting Good News in GoogleNews\n\n{{23.News}}",
                                                                "chatId": "{{1.message.chat.id}}",
                                                                "parseMode": "",
                                                                "replyMarkup": "",
                                                                "messageThreadId": "",
                                                                "replyToMessageId": "",
                                                                "replyMarkupAssembleType": "reply_markup_enter"
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 2268,
                                                                    "y": 64,
                                                                    "name": "Good News"
                                                                },
                                                                "restore": {
                                                                    "expect": {
                                                                        "parseMode": {
                                                                            "label": "Empty"
                                                                        },
                                                                        "disableNotification": {
                                                                            "mode": "chose"
                                                                        },
                                                                        "replyMarkupAssembleType": {
                                                                            "label": "Enter the Reply Markup"
                                                                        }
                                                                    },
                                                                    "parameters": {
                                                                        "__IMTCONN__": {
                                                                            "data": {
                                                                                "scoped": "true",
                                                                                "connection": "telegram"
                                                                            },
                                                                            "label": "My Telegram Bot connection"
                                                                        }
                                                                    }
                                                                },
                                                                "parameters": [
                                                                    {
                                                                        "name": "__IMTCONN__",
                                                                        "type": "account:telegram",
                                                                        "label": "Connection",
                                                                        "required": true
                                                                    }
                                                                ],
                                                                "expect": [
                                                                    {
                                                                        "name": "chatId",
                                                                        "type": "text",
                                                                        "label": "Chat ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "messageThreadId",
                                                                        "type": "number",
                                                                        "label": "Message Thread ID"
                                                                    },
                                                                    {
                                                                        "name": "parseMode",
                                                                        "type": "select",
                                                                        "label": "Parse Mode",
                                                                        "validate": {
                                                                            "enum": [
                                                                                "Markdown",
                                                                                "HTML"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "disableNotification",
                                                                        "type": "boolean",
                                                                        "label": "Disable Notifications"
                                                                    },
                                                                    {
                                                                        "name": "disableWebPagePreview",
                                                                        "type": "boolean",
                                                                        "label": "Disable Link Previews"
                                                                    },
                                                                    {
                                                                        "name": "replyToMessageId",
                                                                        "type": "number",
                                                                        "label": "Original Message ID"
                                                                    },
                                                                    {
                                                                        "name": "replyMarkupAssembleType",
                                                                        "type": "select",
                                                                        "label": "Enter/Assemble the Reply Markup Field",
                                                                        "validate": {
                                                                            "enum": [
                                                                                "reply_markup_enter",
                                                                                "reply_markup_assemble"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "replyMarkup",
                                                                        "type": "text",
                                                                        "label": "Reply Markup"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 29,
                                                            "module": "telegram:SendReplyMessage",
                                                            "version": 1,
                                                            "parameters": {},
                                                            "filter": {
                                                                "name": "",
                                                                "conditions": [
                                                                    [
                                                                        {
                                                                            "a": "{{23.Status}}",
                                                                            "b": "Negative",
                                                                            "o": "text:equal"
                                                                        }
                                                                    ]
                                                                ]
                                                            },
                                                            "mapper": {
                                                                "text": "Ops. We found some Bad News in GoogleNews\n\n{{23.News}}",
                                                                "chatId": "{{1.message.chat.id}}",
                                                                "parseMode": "",
                                                                "replyMarkup": "",
                                                                "messageThreadId": "",
                                                                "replyToMessageId": "",
                                                                "replyMarkupAssembleType": "reply_markup_enter"
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 2192,
                                                                    "y": 301,
                                                                    "name": "Bad News"
                                                                },
                                                                "restore": {
                                                                    "expect": {
                                                                        "parseMode": {
                                                                            "label": "Empty"
                                                                        },
                                                                        "disableNotification": {
                                                                            "mode": "chose"
                                                                        },
                                                                        "replyMarkupAssembleType": {
                                                                            "label": "Enter the Reply Markup"
                                                                        }
                                                                    },
                                                                    "parameters": {
                                                                        "__IMTCONN__": {
                                                                            "data": {
                                                                                "scoped": "true",
                                                                                "connection": "telegram"
                                                                            },
                                                                            "label": "My Telegram Bot connection"
                                                                        }
                                                                    }
                                                                },
                                                                "parameters": [
                                                                    {
                                                                        "name": "__IMTCONN__",
                                                                        "type": "account:telegram",
                                                                        "label": "Connection",
                                                                        "required": true
                                                                    }
                                                                ],
                                                                "expect": [
                                                                    {
                                                                        "name": "chatId",
                                                                        "type": "text",
                                                                        "label": "Chat ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "messageThreadId",
                                                                        "type": "number",
                                                                        "label": "Message Thread ID"
                                                                    },
                                                                    {
                                                                        "name": "parseMode",
                                                                        "type": "select",
                                                                        "label": "Parse Mode",
                                                                        "validate": {
                                                                            "enum": [
                                                                                "Markdown",
                                                                                "HTML"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "disableNotification",
                                                                        "type": "boolean",
                                                                        "label": "Disable Notifications"
                                                                    },
                                                                    {
                                                                        "name": "disableWebPagePreview",
                                                                        "type": "boolean",
                                                                        "label": "Disable Link Previews"
                                                                    },
                                                                    {
                                                                        "name": "replyToMessageId",
                                                                        "type": "number",
                                                                        "label": "Original Message ID"
                                                                    },
                                                                    {
                                                                        "name": "replyMarkupAssembleType",
                                                                        "type": "select",
                                                                        "label": "Enter/Assemble the Reply Markup Field",
                                                                        "validate": {
                                                                            "enum": [
                                                                                "reply_markup_enter",
                                                                                "reply_markup_assemble"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "replyMarkup",
                                                                        "type": "text",
                                                                        "label": "Reply Markup"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}