Make example Blueprints/Create projects in RWS Language Cloud from new Trello cards.blueprint.json
{
    "name": "Create projects in RWS Language Cloud from new Trello cards",
    "flow": [
        {
            "id": 3,
            "module": "trello:watchCards",
            "version": 4,
            "parameters": {
                "node": "list",
                "limit": 1000
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "node": {
                        "label": "Cards on specific List"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "node",
                        "type": "select",
                        "label": "Watched object",
                        "required": true,
                        "validate": {
                            "enum": [
                                "all",
                                "board",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true,
                        "validate": {
                            "max": 1000
                        }
                    },
                    {
                        "name": "board_id",
                        "type": "select",
                        "label": "Board",
                        "required": true
                    },
                    {
                        "name": "list_id",
                        "type": "select",
                        "label": "List",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "trello:getACard",
            "version": 4,
            "parameters": {},
            "mapper": {
                "card_id": "{{3.data.card.id}}",
                "board_id": "{{3.data.board.id}}",
                "select_or_manual": "manual"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "select_or_manual": {
                        "label": "Enter manually"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "board_id",
                        "type": "text",
                        "label": "Board ID"
                    },
                    {
                        "name": "select_or_manual",
                        "type": "select",
                        "label": "Enter card ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "manual",
                                "select"
                            ]
                        }
                    },
                    {
                        "name": "card_id",
                        "type": "text",
                        "label": "Card ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{12.attachments}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "array": {
                        "mode": "edit"
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 30,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": "true"
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "{{13.url}}",
                "gzip": true,
                "method": "get",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "OAuth oauth_consumer_key=\"XXX\", oauth_token=\"YYY\""
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": []
                    },
                    "method": {
                        "mode": "chose",
                        "label": "GET"
                    },
                    "headers": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "bodyType": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers",
                        "labels": {
                            "add": "Add a header",
                            "edit": "Edit a header"
                        }
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String",
                        "labels": {
                            "add": "Add parameter",
                            "edit": "Edit parameter"
                        }
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate",
                        "multiline": true
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "rws-language-cloud:filesUploadFile",
            "version": 1,
            "parameters": {},
            "mapper": {
                "file_data": "{{30.data}}",
                "file_name": "{{13.fileName}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "projectOptionsId",
                        "type": "select",
                        "label": "Project Options ID",
                        "required": true
                    },
                    {
                        "mean": "name",
                        "name": "file_name",
                        "type": "text",
                        "label": "Name",
                        "required": true
                    },
                    {
                        "mean": "data",
                        "name": "file_data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 27,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "targets",
                "scope": "roundtrip",
                "value": "{{add(emptyarray; \"de-DE\"; \"ja-JP\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "Languages"
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "targets",
                        "type": "any",
                        "label": "targets"
                    }
                ]
            }
        },
        {
            "id": 28,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 13
            },
            "mapper": {
                "FileId": "{{4.FileId}}",
                "targets": "{{27.targets}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "feeder": {
                        "label": "Iterator [13]"
                    },
                    "mapper": {
                        "label": [
                            null,
                            null
                        ]
                    },
                    "target": {
                        "label": "Custom"
                    }
                },
                "advanced": true
            },
            "flags": {
                "groupBy": "{{12.id}}"
            }
        },
        {
            "id": 18,
            "module": "rws-language-cloud:projectsCreate",
            "version": 1,
            "parameters": {},
            "mapper": {
                "Name": "{{3.data.card.name}}",
                "Files": "{{28.array}}",
                "SrcLang": "en-US"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                },
                "restore": {
                    "Files": {
                        "mode": "edit"
                    },
                    "Metadata": {
                        "mode": "chose",
                        "items": []
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "Name",
                        "type": "text",
                        "required": true
                    },
                    {
                        "mode": "edit",
                        "name": "projectOptionsId",
                        "type": "select",
                        "label": "Project Options ID",
                        "required": true
                    },
                    {
                        "name": "SrcLang",
                        "type": "text",
                        "label": "Source Language",
                        "required": true
                    },
                    {
                        "name": "Files",
                        "spec": [
                            {
                                "name": "fileID",
                                "type": "text",
                                "label": "File ID"
                            },
                            {
                                "name": "targets",
                                "type": "array",
                                "label": "Target Language Codes"
                            }
                        ],
                        "type": "array",
                        "required": true
                    },
                    {
                        "name": "Description",
                        "type": "text"
                    },
                    {
                        "name": "DueDate",
                        "type": "date",
                        "label": "Due Date"
                    },
                    {
                        "name": "ProjectGroupId",
                        "type": "text",
                        "label": "Project Group ID"
                    },
                    {
                        "name": "Metadata",
                        "spec": [
                            {
                                "name": "Id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "Value",
                                "type": "text"
                            }
                        ],
                        "type": "array"
                    },
                    {
                        "name": "ScopeOptionId",
                        "type": "text",
                        "label": "Format"
                    },
                    {
                        "name": "TmSequenceId",
                        "type": "text",
                        "label": "TM Sequence ID"
                    },
                    {
                        "name": "Vendors",
                        "type": "text",
                        "label": "Vendor ID"
                    }
                ]
            }
        },
        {
            "id": 21,
            "module": "trello:editACard",
            "version": 4,
            "parameters": {},
            "mapper": {
                "card_id": "{{3.data.card.id}}",
                "moveCard": "boardAndList",
                "description": "{{18.ProjectId}}",
                "manual_or_select": "manual"
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0
                },
                "restore": {
                    "closed": {
                        "mode": "chose"
                    },
                    "moveCard": {
                        "label": "To a board and list"
                    },
                    "position": {
                        "mode": "chose",
                        "label": ""
                    },
                    "labels_id": {
                        "mode": "chose",
                        "items": []
                    },
                    "members_id": {
                        "mode": "chose",
                        "items": []
                    },
                    "subscribed": {
                        "mode": "chose"
                    },
                    "dueComplete": {
                        "mode": "chose"
                    },
                    "manual_or_select": {
                        "label": "Enter manually"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "manual_or_select",
                        "type": "select",
                        "label": "Enter Card ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "manual",
                                "select"
                            ]
                        }
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "New name"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "New description",
                        "validate": {
                            "max": 16384
                        }
                    },
                    {
                        "name": "moveCard",
                        "type": "select",
                        "label": "Move a card",
                        "validate": {
                            "enum": [
                                "boardOnly",
                                "boardAndList"
                            ]
                        }
                    },
                    {
                        "name": "labels_id",
                        "spec": {
                            "type": "text",
                            "label": "Label ID"
                        },
                        "type": "array",
                        "label": "Labels"
                    },
                    {
                        "name": "position",
                        "type": "select",
                        "label": "Position",
                        "validate": {
                            "enum": [
                                "top",
                                "bottom"
                            ]
                        }
                    },
                    {
                        "name": "due_date",
                        "time": false,
                        "type": "date",
                        "label": "Due date"
                    },
                    {
                        "name": "dueComplete",
                        "type": "boolean",
                        "label": "Due complete"
                    },
                    {
                        "name": "members_id",
                        "spec": {
                            "type": "text",
                            "label": "Member ID"
                        },
                        "type": "array",
                        "label": "Members"
                    },
                    {
                        "name": "idAttachmentCover",
                        "type": "text",
                        "label": "Attachment cover ID"
                    },
                    {
                        "name": "subscribed",
                        "type": "boolean",
                        "label": "Subscribe"
                    },
                    {
                        "name": "closed",
                        "type": "boolean",
                        "label": "Archive"
                    },
                    {
                        "name": "card_id",
                        "type": "text",
                        "label": "Card ID",
                        "required": true
                    },
                    {
                        "mode": "edit",
                        "name": "idBoard",
                        "type": "select",
                        "label": "Board ID"
                    },
                    {
                        "name": "idList",
                        "type": "select",
                        "label": "List ID"
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 11,
                    "text": "",
                    "filter": true
                }
            ]
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}