Make example Blueprints/Create Word and PDF documents with Plumsail from Jotform data.blueprint.json
{
    "name": "Create Word and PDF documents with Plumsail from Jotform data",
    "flow": [
        {
            "id": 1,
            "module": "jotform:watchForSubmissions",
            "version": 1,
            "parameters": {},
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:jotform",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "formID",
                        "type": "number",
                        "label": "Form ID"
                    },
                    {
                        "name": "submissionID",
                        "type": "number",
                        "label": "Submission ID"
                    },
                    {
                        "name": "webhookURL",
                        "type": "text",
                        "label": "Webhook URL"
                    },
                    {
                        "name": "ip",
                        "type": "text",
                        "label": "IP"
                    },
                    {
                        "name": "fromTitle",
                        "type": "text",
                        "label": "Form title"
                    },
                    {
                        "name": "pretty",
                        "type": "text",
                        "label": "Pretty"
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "Username"
                    },
                    {
                        "name": "rawRequest",
                        "type": "text",
                        "label": "RAW request"
                    },
                    {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                    },
                    {
                        "name": "request",
                        "spec": [
                            {
                                "name": "slug",
                                "type": "text",
                                "label": "Slug"
                            },
                            {
                                "name": "event_id",
                                "type": "text",
                                "label": "Event ID"
                            },
                            {
                                "name": "path",
                                "type": "text",
                                "label": "Path"
                            },
                            {
                                "name": "q3_name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "q4_surname",
                                "type": "text",
                                "label": "Surname"
                            }
                        ],
                        "type": "collection",
                        "label": "Request"
                    },
                    {
                        "name": "formTitle",
                        "type": "text",
                        "label": "Form Title"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "onedrive:downloadAFile",
            "version": 2,
            "parameters": {},
            "mapper": {
                "file": "01MKUCCFHBZGO33TGDURDZJRXGDHX7G4LZ",
                "enter": "id",
                "choose": "list",
                "format": false,
                "select": "my",
                "select1": "no"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "file": {
                            "path": [
                                "template.docx"
                            ]
                        },
                        "enter": {
                            "label": "File ID"
                        },
                        "choose": {
                            "label": "Select from the list"
                        },
                        "select": {
                            "label": "My Drive"
                        },
                        "select1": {
                            "label": "No"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "azure"
                            },
                            "label": "OneDrive (evgevs@plumsaildev.onmicrosoft.com) (Evgeniy Evseychik)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:azure",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "enter",
                        "type": "select",
                        "label": "Enter (File ID & File Path)",
                        "required": true,
                        "validate": {
                            "enum": [
                                "id",
                                "path"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "boolean",
                        "label": "Convert to PDF",
                        "required": true
                    },
                    {
                        "name": "choose",
                        "type": "select",
                        "label": "Enter a File ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Choose your OneDrive location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "my",
                                "site",
                                "group"
                            ]
                        }
                    },
                    {
                        "name": "select1",
                        "type": "select",
                        "label": "Enable to Enter a Drive ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "yes",
                                "no"
                            ]
                        }
                    },
                    {
                        "name": "file",
                        "type": "file",
                        "label": "File",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "plumsail-documents:applyDocxTemplate",
            "version": 2,
            "parameters": {},
            "mapper": {
                "data": "{\n  \"name\": \"{{1.request.q3_name}}\",\n  \"surname\": \"{{1.request.q4_surname}}\"\n}",
                "engine": "classic",
                "locale": "en-US",
                "filedata": "{{2.data}}",
                "filename": "{{2.filename}}",
                "timezone": "UTC",
                "outputType": "DOCX"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "engine": {
                            "mode": "chose",
                            "label": "Classic"
                        },
                        "locale": {
                            "mode": "chose",
                            "label": "en-US"
                        },
                        "timezone": {
                            "mode": "chose",
                            "label": "UTC"
                        },
                        "outputType": {
                            "mode": "chose",
                            "label": "DOCX"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "plumsail-documents"
                            },
                            "label": "Plumsail Documents (e.evseychik@plumsail.com) (Services)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:plumsail-documents",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "filename",
                        "type": "filename",
                        "label": "Name",
                        "required": true,
                        "extension": [
                            "docx"
                        ]
                    },
                    {
                        "name": "filedata",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "text",
                        "label": "Template data",
                        "required": true
                    },
                    {
                        "name": "outputType",
                        "type": "select",
                        "label": "Output Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "DOCX",
                                "PDF"
                            ]
                        }
                    },
                    {
                        "name": "locale",
                        "type": "select",
                        "label": "Locale"
                    },
                    {
                        "name": "timezone",
                        "type": "select",
                        "label": "Timezone"
                    },
                    {
                        "name": "engine",
                        "type": "select",
                        "label": "Template engine",
                        "validate": {
                            "enum": [
                                "modern",
                                "classic"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "plumsail-documents:convertDocxToPdf",
            "version": 2,
            "parameters": {},
            "mapper": {
                "filedata": "{{3.filedata}}",
                "filename": "{{3.filename}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "plumsail-documents"
                            },
                            "label": "Plumsail Documents (e.evseychik@plumsail.com) (Services)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:plumsail-documents",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "filename",
                        "type": "filename",
                        "label": "Name",
                        "required": true,
                        "extension": [
                            "docx"
                        ]
                    },
                    {
                        "name": "filedata",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "onedrive:uploadAFile",
            "version": 2,
            "parameters": {},
            "mapper": {
                "data": "{{3.filedata}}",
                "enter": "id",
                "folder": "/",
                "select": "my",
                "select1": "no",
                "filename": "{{3.filename}}",
                "conflictBehavior": "replace"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "enter": {
                            "label": "Folder Location ID"
                        },
                        "folder": {
                            "mode": "chose",
                            "path": [
                                "/"
                            ]
                        },
                        "select": {
                            "label": "My Drive"
                        },
                        "select1": {
                            "label": "No"
                        },
                        "conflictBehavior": {
                            "label": "Replace the existing file"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "azure"
                            },
                            "label": "OneDrive (evgevs@plumsaildev.onmicrosoft.com) (Evgeniy Evseychik)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:azure",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "enter",
                        "type": "select",
                        "label": "Enter (Folder Location ID & Path)",
                        "required": true,
                        "validate": {
                            "enum": [
                                "id",
                                "path"
                            ]
                        }
                    },
                    {
                        "name": "filename",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "conflictBehavior",
                        "type": "select",
                        "label": "If the File with the Same Name Exists",
                        "required": true,
                        "validate": {
                            "enum": [
                                "replace",
                                "rename",
                                "fail"
                            ]
                        }
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Choose your OneDrive location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "my",
                                "site",
                                "group"
                            ]
                        }
                    },
                    {
                        "name": "select1",
                        "type": "select",
                        "label": "Enable to Enter a Drive ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "yes",
                                "no"
                            ]
                        }
                    },
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "onedrive:uploadAFile",
            "version": 2,
            "parameters": {},
            "mapper": {
                "data": "{{5.filedata}}",
                "enter": "id",
                "folder": "/",
                "select": "my",
                "select1": "no",
                "filename": "{{5.filename}}",
                "conflictBehavior": "replace"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "enter": {
                            "label": "Folder Location ID"
                        },
                        "folder": {
                            "mode": "chose",
                            "path": [
                                "/"
                            ]
                        },
                        "select": {
                            "label": "My Drive"
                        },
                        "select1": {
                            "label": "No"
                        },
                        "conflictBehavior": {
                            "label": "Replace the existing file"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "azure"
                            },
                            "label": "OneDrive (evgevs@plumsaildev.onmicrosoft.com) (Evgeniy Evseychik)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:azure",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "enter",
                        "type": "select",
                        "label": "Enter (Folder Location ID & Path)",
                        "required": true,
                        "validate": {
                            "enum": [
                                "id",
                                "path"
                            ]
                        }
                    },
                    {
                        "name": "filename",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "conflictBehavior",
                        "type": "select",
                        "label": "If the File with the Same Name Exists",
                        "required": true,
                        "validate": {
                            "enum": [
                                "replace",
                                "rename",
                                "fail"
                            ]
                        }
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Choose your OneDrive location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "my",
                                "site",
                                "group"
                            ]
                        }
                    },
                    {
                        "name": "select1",
                        "type": "select",
                        "label": "Enable to Enter a Drive ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "yes",
                                "no"
                            ]
                        }
                    },
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}