Make example Blueprints/Create QuickBooks estimates in FreshBooks.blueprint.json
{
    "name": "Create QuickBooks estimates in FreshBooks",
    "flow": [
        {
            "id": 13,
            "module": "quickbooks:SearchForEstimates",
            "version": 2,
            "parameters": {},
            "mapper": {
                "type": "field",
                "limit": "1000",
                "filter": [
                    [
                        {
                            "a": "MetaData.LastUpdatedTime",
                            "b": "{{formatDate(addDays(now; -1); \"YYYY-MM-DD\")}} 00:00:00",
                            "o": "datetime:gt"
                        },
                        {
                            "a": "MetaData.LastUpdatedTime",
                            "b": "{{formatDate(addDays(now; -1); \"YYYY-MM-DD\")}} 23:59:59",
                            "o": "datetime:lt"
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "type": {
                        "mode": "chose",
                        "label": "field"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Search by",
                        "required": true,
                        "validate": {
                            "enum": [
                                "field",
                                "query"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "grouped": true,
                        "options": {
                            "logic": "and",
                            "store": [
                                {
                                    "label": "Customer ID",
                                    "value": "CustomerRef"
                                },
                                {
                                    "label": "Doc number",
                                    "value": "DocNumber"
                                },
                                {
                                    "label": "Transaction date",
                                    "value": "TxnDate"
                                },
                                {
                                    "label": "Total amount",
                                    "value": "TotalAmt"
                                },
                                {
                                    "label": "Due date",
                                    "value": "DueDate"
                                },
                                {
                                    "label": "Create time",
                                    "value": "MetaData.CreateTime"
                                },
                                {
                                    "label": "Last updated time",
                                    "value": "MetaData.LastUpdatedTime"
                                }
                            ],
                            "operators": [
                                {
                                    "label": "Text",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "short": "=",
                                            "value": "text:equals"
                                        },
                                        {
                                            "label": "Not equals",
                                            "short": "!=",
                                            "value": "text:notEquals"
                                        },
                                        {
                                            "label": "Starts with",
                                            "short": "text:startsWith",
                                            "value": "text:startsWith"
                                        },
                                        {
                                            "label": "Ends with",
                                            "short": "text:endsWith",
                                            "value": "text:endsWith"
                                        },
                                        {
                                            "label": "Contains",
                                            "short": "text:contains",
                                            "value": "text:contains"
                                        }
                                    ]
                                },
                                {
                                    "label": "Number",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "short": "=",
                                            "value": "number:eq"
                                        },
                                        {
                                            "label": "Less then",
                                            "short": "<",
                                            "value": "number:lt"
                                        },
                                        {
                                            "label": "Greater then",
                                            "short": ">",
                                            "value": "number:gt"
                                        },
                                        {
                                            "label": "Greater then or equal",
                                            "short": ">=",
                                            "value": "number:gte"
                                        },
                                        {
                                            "label": "Less then or equal",
                                            "short": "<=",
                                            "value": "number:lte"
                                        },
                                        {
                                            "label": "Not equal",
                                            "short": "!=",
                                            "value": "number:ne"
                                        }
                                    ]
                                },
                                {
                                    "label": "Only date",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "short": "=",
                                            "value": "date:eq"
                                        },
                                        {
                                            "label": "Older then",
                                            "short": "<",
                                            "value": "date:lt"
                                        },
                                        {
                                            "label": "Newer then",
                                            "short": ">",
                                            "value": "date:gt"
                                        },
                                        {
                                            "label": "Not equal",
                                            "short": "!=",
                                            "value": "date:ne"
                                        }
                                    ]
                                },
                                {
                                    "label": "Date and time",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "short": "=",
                                            "value": "datetime:eq"
                                        },
                                        {
                                            "label": "Older then",
                                            "short": "<",
                                            "value": "datetime:lt"
                                        },
                                        {
                                            "label": "Newer then",
                                            "short": ">",
                                            "value": "datetime:gt"
                                        },
                                        {
                                            "label": "Not equal",
                                            "short": "!=",
                                            "value": "datetime:ne"
                                        }
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "ExpirationDate",
                        "type": "date",
                        "label": "Expiration date"
                    },
                    {
                        "name": "AcceptedBy",
                        "type": "text",
                        "label": "Accepted by"
                    },
                    {
                        "name": "AcceptedDate",
                        "type": "date",
                        "label": "Accepted date"
                    },
                    {
                        "name": "Id",
                        "type": "text",
                        "label": "Estimate ID"
                    },
                    {
                        "name": "SyncToken",
                        "type": "text",
                        "label": "Sync token"
                    },
                    {
                        "name": "MetaData",
                        "spec": [
                            {
                                "name": "CreateTime",
                                "type": "date",
                                "label": "Create time"
                            },
                            {
                                "name": "LastUpdatedTime",
                                "type": "date",
                                "label": "Last updated time"
                            }
                        ],
                        "type": "collection",
                        "label": "Meta data"
                    },
                    {
                        "name": "CustomField",
                        "spec": {
                            "spec": [
                                {
                                    "name": "DefinitionId",
                                    "type": "text",
                                    "label": "Definition id"
                                },
                                {
                                    "name": "Type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "StringValue",
                                    "type": "text",
                                    "label": "String value"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Custom field"
                    },
                    {
                        "name": "DocNumber",
                        "type": "text",
                        "label": "Doc number"
                    },
                    {
                        "name": "TxnDate",
                        "type": "text",
                        "label": "Transaction date"
                    },
                    {
                        "name": "CurrencyRef",
                        "spec": [
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Currency"
                    },
                    {
                        "name": "PrivateNote",
                        "type": "text",
                        "label": "Private note"
                    },
                    {
                        "name": "TxnStatus",
                        "type": "text",
                        "label": "Transaction status"
                    },
                    {
                        "name": "Line",
                        "spec": {
                            "spec": [
                                {
                                    "name": "Id",
                                    "type": "text",
                                    "label": "Id"
                                },
                                {
                                    "name": "LineNum",
                                    "type": "number",
                                    "label": "Line num"
                                },
                                {
                                    "name": "Description",
                                    "type": "text",
                                    "label": "Description"
                                },
                                {
                                    "name": "Amount",
                                    "type": "number",
                                    "label": "Amount"
                                },
                                {
                                    "name": "DetailType",
                                    "type": "text",
                                    "label": "Detail type"
                                },
                                {
                                    "name": "SalesItemLineDetail",
                                    "spec": [
                                        {
                                            "name": "ItemRef",
                                            "spec": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                },
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Item"
                                        },
                                        {
                                            "name": "UnitPrice",
                                            "type": "number",
                                            "label": "Unit price"
                                        },
                                        {
                                            "name": "Qty",
                                            "type": "number",
                                            "label": "Quantity"
                                        },
                                        {
                                            "name": "TaxCodeRef",
                                            "spec": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Tax code"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Sales item line detail"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Line"
                    },
                    {
                        "name": "CustomerRef",
                        "spec": [
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Customer"
                    },
                    {
                        "name": "CustomerMemo",
                        "spec": [
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "collection",
                        "label": "Customer memo"
                    },
                    {
                        "name": "ShipMethodRef",
                        "spec": [
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Ship method"
                    },
                    {
                        "name": "ShipDate",
                        "type": "date",
                        "label": "Ship date"
                    },
                    {
                        "name": "TotalAmt",
                        "type": "number",
                        "label": "Total amount"
                    },
                    {
                        "name": "PrintStatus",
                        "type": "text",
                        "label": "Print status"
                    },
                    {
                        "name": "EmailStatus",
                        "type": "text",
                        "label": "Email status"
                    },
                    {
                        "name": "BillEmail",
                        "spec": [
                            {
                                "name": "Address",
                                "type": "text",
                                "label": "Address"
                            }
                        ],
                        "type": "collection",
                        "label": "Bill email"
                    },
                    {
                        "name": "ApplyTaxAfterDiscount",
                        "type": "boolean",
                        "label": "Apply tax after discount",
                        "advanced": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "quickbooks:GetEstimate",
            "version": 2,
            "parameters": {},
            "filter": {
                "name": "estimates found",
                "conditions": [
                    [
                        {
                            "a": "{{13.`__IMTLENGTH__`}}",
                            "b": "0",
                            "o": "number:greater"
                        }
                    ]
                ]
            },
            "mapper": {
                "id": "{{13.Id}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "number",
                        "label": "Estimate ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "ExpirationDate",
                        "type": "date",
                        "label": "Expiration date"
                    },
                    {
                        "name": "AcceptedBy",
                        "type": "text",
                        "label": "Accepted by"
                    },
                    {
                        "name": "AcceptedDate",
                        "type": "date",
                        "label": "Accepted date"
                    },
                    {
                        "name": "Id",
                        "type": "text",
                        "label": "Estimate ID"
                    },
                    {
                        "name": "SyncToken",
                        "type": "text",
                        "label": "Sync token"
                    },
                    {
                        "name": "MetaData",
                        "spec": [
                            {
                                "name": "CreateTime",
                                "type": "date",
                                "label": "Create time"
                            },
                            {
                                "name": "LastUpdatedTime",
                                "type": "date",
                                "label": "Last updated time"
                            }
                        ],
                        "type": "collection",
                        "label": "Meta data"
                    },
                    {
                        "name": "CustomField",
                        "spec": {
                            "spec": [
                                {
                                    "name": "DefinitionId",
                                    "type": "text",
                                    "label": "Definition id"
                                },
                                {
                                    "name": "Type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "StringValue",
                                    "type": "text",
                                    "label": "String value"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Custom field"
                    },
                    {
                        "name": "DocNumber",
                        "type": "text",
                        "label": "Doc number"
                    },
                    {
                        "name": "TxnDate",
                        "type": "text",
                        "label": "Transaction date"
                    },
                    {
                        "name": "CurrencyRef",
                        "spec": [
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Currency"
                    },
                    {
                        "name": "PrivateNote",
                        "type": "text",
                        "label": "Private note"
                    },
                    {
                        "name": "TxnStatus",
                        "type": "text",
                        "label": "Transaction status"
                    },
                    {
                        "name": "Line",
                        "spec": {
                            "spec": [
                                {
                                    "name": "Id",
                                    "type": "text",
                                    "label": "Id"
                                },
                                {
                                    "name": "LineNum",
                                    "type": "number",
                                    "label": "Line num"
                                },
                                {
                                    "name": "Description",
                                    "type": "text",
                                    "label": "Description"
                                },
                                {
                                    "name": "Amount",
                                    "type": "number",
                                    "label": "Amount"
                                },
                                {
                                    "name": "DetailType",
                                    "type": "text",
                                    "label": "Detail type"
                                },
                                {
                                    "name": "SalesItemLineDetail",
                                    "spec": [
                                        {
                                            "name": "ItemRef",
                                            "spec": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                },
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Item"
                                        },
                                        {
                                            "name": "UnitPrice",
                                            "type": "number",
                                            "label": "Unit price"
                                        },
                                        {
                                            "name": "Qty",
                                            "type": "number",
                                            "label": "Quantity"
                                        },
                                        {
                                            "name": "TaxCodeRef",
                                            "spec": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Tax code"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Sales item line detail"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Line"
                    },
                    {
                        "name": "CustomerRef",
                        "spec": [
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Customer"
                    },
                    {
                        "name": "CustomerMemo",
                        "spec": [
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "collection",
                        "label": "Customer memo"
                    },
                    {
                        "name": "ShipMethodRef",
                        "spec": [
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Ship method"
                    },
                    {
                        "name": "ShipDate",
                        "type": "date",
                        "label": "Ship date"
                    },
                    {
                        "name": "TotalAmt",
                        "type": "number",
                        "label": "Total amount"
                    },
                    {
                        "name": "PrintStatus",
                        "type": "text",
                        "label": "Print status"
                    },
                    {
                        "name": "EmailStatus",
                        "type": "text",
                        "label": "Email status"
                    },
                    {
                        "name": "BillEmail",
                        "spec": [
                            {
                                "name": "Address",
                                "type": "text",
                                "label": "Address"
                            }
                        ],
                        "type": "collection",
                        "label": "Bill email"
                    },
                    {
                        "name": "ApplyTaxAfterDiscount",
                        "type": "boolean",
                        "label": "Apply tax after discount",
                        "advanced": true
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "quickbooks:SearchForCustomers",
            "version": 2,
            "parameters": {},
            "mapper": {
                "type": "field",
                "limit": "1",
                "filter": [
                    [
                        {
                            "a": "PrimaryEmailAddr",
                            "b": "{{2.BillEmail.Address}}",
                            "o": "text:equals"
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                },
                "restore": {
                    "type": {
                        "mode": "chose",
                        "label": "field"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Search by",
                        "required": true,
                        "validate": {
                            "enum": [
                                "field",
                                "query"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "grouped": true,
                        "options": {
                            "logic": "and",
                            "store": [
                                {
                                    "label": "Family name",
                                    "value": "FamilyName"
                                },
                                {
                                    "label": "Display name",
                                    "value": "DisplayName"
                                },
                                {
                                    "label": "Company name",
                                    "value": "CompanyName"
                                },
                                {
                                    "label": "Given name",
                                    "value": "GivenName"
                                },
                                {
                                    "label": "Fully qualified name",
                                    "value": "FullyQualifiedName"
                                },
                                {
                                    "label": "Email address",
                                    "value": "PrimaryEmailAddr"
                                },
                                {
                                    "label": "Create time",
                                    "value": "MetaData.CreateTime"
                                },
                                {
                                    "label": "Last updated time",
                                    "value": "MetaData.LastUpdatedTime"
                                }
                            ],
                            "operators": [
                                {
                                    "label": "Text",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "short": "=",
                                            "value": "text:equals"
                                        },
                                        {
                                            "label": "Not equals",
                                            "short": "!=",
                                            "value": "text:notEquals"
                                        },
                                        {
                                            "label": "Starts with",
                                            "short": "text:startsWith",
                                            "value": "text:startsWith"
                                        },
                                        {
                                            "label": "Ends with",
                                            "short": "text:endsWith",
                                            "value": "text:endsWith"
                                        },
                                        {
                                            "label": "Contains",
                                            "short": "text:contains",
                                            "value": "text:contains"
                                        }
                                    ]
                                },
                                {
                                    "label": "Number",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "short": "=",
                                            "value": "number:eq"
                                        },
                                        {
                                            "label": "Less then",
                                            "short": "<",
                                            "value": "number:lt"
                                        },
                                        {
                                            "label": "Greater then",
                                            "short": ">",
                                            "value": "number:gt"
                                        },
                                        {
                                            "label": "Greater then or equal",
                                            "short": ">=",
                                            "value": "number:gte"
                                        },
                                        {
                                            "label": "Less then or equal",
                                            "short": "<=",
                                            "value": "number:lte"
                                        },
                                        {
                                            "label": "Not equal",
                                            "short": "!=",
                                            "value": "number:ne"
                                        }
                                    ]
                                },
                                {
                                    "label": "Only date",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "short": "=",
                                            "value": "date:eq"
                                        },
                                        {
                                            "label": "Older then",
                                            "short": "<",
                                            "value": "date:lt"
                                        },
                                        {
                                            "label": "Newer then",
                                            "short": ">",
                                            "value": "date:gt"
                                        },
                                        {
                                            "label": "Not equal",
                                            "short": "!=",
                                            "value": "date:ne"
                                        }
                                    ]
                                },
                                {
                                    "label": "Date and time",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "short": "=",
                                            "value": "datetime:eq"
                                        },
                                        {
                                            "label": "Older then",
                                            "short": "<",
                                            "value": "datetime:lt"
                                        },
                                        {
                                            "label": "Newer then",
                                            "short": ">",
                                            "value": "datetime:gt"
                                        },
                                        {
                                            "label": "Not equal",
                                            "short": "!=",
                                            "value": "datetime:ne"
                                        }
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "Id",
                        "type": "number",
                        "label": "Customer  ID"
                    },
                    {
                        "name": "PrimaryEmailAddr",
                        "spec": [
                            {
                                "name": "Address",
                                "type": "text",
                                "label": "Address"
                            }
                        ],
                        "type": "collection",
                        "label": "Primary email"
                    },
                    {
                        "name": "DisplayName",
                        "type": "text",
                        "label": "Display name"
                    },
                    {
                        "name": "CurrencyRef",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "collection",
                        "label": "Currency"
                    },
                    {
                        "name": "DefaultTaxCodeRef",
                        "spec": [
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "collection",
                        "label": "Default tax code"
                    },
                    {
                        "name": "PreferredDeliveryMethod",
                        "type": "text",
                        "label": "Preferred delivery method"
                    },
                    {
                        "name": "GivenName",
                        "type": "text",
                        "label": "Given name"
                    },
                    {
                        "name": "FullyQualifiedName",
                        "type": "text",
                        "label": "Fully qualified name"
                    },
                    {
                        "name": "BillWithParent",
                        "type": "boolean",
                        "label": "Bill with parent"
                    },
                    {
                        "name": "Title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "Job",
                        "type": "boolean",
                        "label": "Job"
                    },
                    {
                        "name": "BalanceWithJobs",
                        "type": "number",
                        "label": "Balance with jobs"
                    },
                    {
                        "name": "PrimaryPhone",
                        "spec": [
                            {
                                "name": "FreeFormNumber",
                                "type": "text",
                                "label": "Free form number"
                            }
                        ],
                        "type": "collection",
                        "label": "Primary phone"
                    },
                    {
                        "name": "Taxable",
                        "type": "boolean",
                        "label": "Taxable"
                    },
                    {
                        "name": "MetaData",
                        "spec": [
                            {
                                "name": "CreateTime",
                                "type": "text",
                                "label": "Create time"
                            },
                            {
                                "name": "LastUpdatedTime",
                                "type": "text",
                                "label": "Last updated time"
                            }
                        ],
                        "type": "collection",
                        "label": "Meta data"
                    },
                    {
                        "name": "BillAddr",
                        "spec": [
                            {
                                "name": "City",
                                "type": "text",
                                "label": "City"
                            },
                            {
                                "name": "Country",
                                "type": "text",
                                "label": "Country"
                            },
                            {
                                "name": "Line1",
                                "type": "text",
                                "label": "Line1"
                            },
                            {
                                "name": "Line2",
                                "type": "text",
                                "label": "Line2"
                            },
                            {
                                "name": "PostalCode",
                                "type": "text",
                                "label": "Postal code"
                            },
                            {
                                "name": "CountrySubDivisionCode",
                                "type": "text",
                                "label": "Country sub division code"
                            },
                            {
                                "name": "Id",
                                "type": "text",
                                "label": "Id"
                            }
                        ],
                        "type": "collection",
                        "label": "Bill addr"
                    },
                    {
                        "name": "MiddleName",
                        "type": "text",
                        "label": "Middle name"
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes"
                    },
                    {
                        "name": "Active",
                        "type": "boolean",
                        "label": "Active"
                    },
                    {
                        "name": "Balance",
                        "type": "number",
                        "label": "Balance"
                    },
                    {
                        "name": "SyncToken",
                        "type": "text",
                        "label": "Sync token"
                    },
                    {
                        "name": "Suffix",
                        "type": "text",
                        "label": "Suffix"
                    },
                    {
                        "name": "CompanyName",
                        "type": "text",
                        "label": "Company name"
                    },
                    {
                        "name": "FamilyName",
                        "type": "text",
                        "label": "Family name"
                    },
                    {
                        "name": "PrintOnCheckName",
                        "type": "text",
                        "label": "Print on check name"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{2.Line}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                },
                "restore": {
                    "array": {
                        "mode": "edit"
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 4,
                "target": "10.lines"
            },
            "filter": {
                "name": "item name exists",
                "conditions": [
                    [
                        {
                            "a": "{{4.SalesItemLineDetail.ItemRef.name}}",
                            "b": "",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "qty": "{{4.SalesItemLineDetail.Qty}}",
                "name": "{{4.SalesItemLineDetail.ItemRef.name}}",
                "type": "",
                "taxName1": "",
                "taxName2": "",
                "unit_cost": {
                    "code": "",
                    "amount": "{{4.SalesItemLineDetail.UnitPrice}}"
                },
                "taxAmount1": "",
                "taxAmount2": "",
                "description": "{{4.Description}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150
                },
                "restore": {
                    "feeder": {
                        "label": "Iterator [4]"
                    },
                    "target": {
                        "label": "Lines"
                    },
                    "__IMTTARGET__": {
                        "nested": {
                            "type": {
                                "mode": "chose",
                                "label": ""
                            }
                        }
                    }
                },
                "expect": [
                    {
                        "name": "unit_cost",
                        "spec": [
                            {
                                "name": "amount",
                                "type": "text",
                                "label": "Amount"
                            },
                            {
                                "name": "code",
                                "type": "text",
                                "label": "Code"
                            }
                        ],
                        "type": "collection",
                        "label": "Unit Cost"
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Type",
                        "validate": {
                            "enum": [
                                0
                            ]
                        }
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "taxName1",
                        "type": "text",
                        "label": "Tax Name 1"
                    },
                    {
                        "name": "taxAmount1",
                        "type": "number",
                        "label": "Tax Amount 1"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "qty",
                        "type": "number",
                        "label": "Quantity"
                    },
                    {
                        "name": "taxName2",
                        "type": "text",
                        "label": "Tax Name 2"
                    },
                    {
                        "name": "taxAmount2",
                        "type": "number",
                        "label": "Tax Amount 2"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "freshbooks:searchContact",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "email": "{{2.BillEmail.Address}}",
                                "limit": "1"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0
                                },
                                "restore": {
                                    "includes": {
                                        "mode": "chose"
                                    },
                                    "vis_state": {
                                        "mode": "chose",
                                        "label": ""
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "accountId",
                                        "type": "select",
                                        "label": "Account ID",
                                        "required": true
                                    },
                                    {
                                        "name": "email",
                                        "type": "email",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "email_like",
                                        "type": "text",
                                        "label": "Email like"
                                    },
                                    {
                                        "name": "fname",
                                        "type": "text",
                                        "label": "First Name"
                                    },
                                    {
                                        "name": "lname",
                                        "type": "text",
                                        "label": "Last Name"
                                    },
                                    {
                                        "name": "updated_min",
                                        "type": "date",
                                        "label": "Updated from"
                                    },
                                    {
                                        "name": "updated_max",
                                        "type": "date",
                                        "label": "Updated before"
                                    },
                                    {
                                        "name": "userid",
                                        "type": "text",
                                        "label": "Client ID"
                                    },
                                    {
                                        "name": "vis_state",
                                        "type": "select",
                                        "label": "Status",
                                        "validate": {
                                            "enum": [
                                                1,
                                                0
                                            ]
                                        }
                                    },
                                    {
                                        "name": "includes",
                                        "type": "select",
                                        "label": "Includes",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "outstanding_balance",
                                                "credit_balance",
                                                "draft_balance",
                                                "overdue_balance",
                                                "grand_total_balance",
                                                "last_activity",
                                                "late_reminders",
                                                "late_fee"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "freshbooks:createClient",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "client does not exists",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{7.id}}",
                                            "b": "",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "email": "{{12.PrimaryEmailAddr.Address}}",
                                "fname": "{{12.GivenName}}",
                                "lname": "{{12.FamilyName}}",
                                "p_city": "{{12.BillAddr.City}}",
                                "p_code": "{{12.BillAddr.PostalCode}}",
                                "p_street": "{{12.BillAddr.Line1}}",
                                "bus_phone": "{{12.PrimaryPhone.FreeFormNumber}}",
                                "p_country": "{{12.BillAddr.Country}}",
                                "p_street2": "{{12.BillAddr.Line2}}",
                                "p_province": "{{12.BillAddr.CountrySubDivisionCode}}",
                                "organization": "{{12.CompanyName}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 0
                                },
                                "restore": {
                                    "vis_state": {
                                        "mode": "chose",
                                        "label": ""
                                    },
                                    "pref_email": {
                                        "mode": "chose"
                                    },
                                    "pref_gmail": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "accountId",
                                        "type": "select",
                                        "label": "Account ID",
                                        "required": true
                                    },
                                    {
                                        "name": "fname",
                                        "type": "text",
                                        "label": "First name"
                                    },
                                    {
                                        "name": "lname",
                                        "type": "text",
                                        "label": "Last name"
                                    },
                                    {
                                        "name": "pref_email",
                                        "type": "boolean",
                                        "label": "Pref Email"
                                    },
                                    {
                                        "name": "mob_phone",
                                        "type": "text",
                                        "label": "Mob Phone"
                                    },
                                    {
                                        "name": "home_phone",
                                        "type": "text",
                                        "label": "Home Phone"
                                    },
                                    {
                                        "name": "email",
                                        "type": "text",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "pref_gmail",
                                        "type": "boolean",
                                        "label": "Pref Gmail"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "Username"
                                    },
                                    {
                                        "name": "fax",
                                        "type": "text",
                                        "label": "Fax"
                                    },
                                    {
                                        "name": "organization",
                                        "type": "text",
                                        "label": "Organization"
                                    },
                                    {
                                        "name": "company_industry",
                                        "type": "text",
                                        "label": "Company Industry"
                                    },
                                    {
                                        "name": "vat_name",
                                        "type": "text",
                                        "label": "Vat Name"
                                    },
                                    {
                                        "name": "vat_number",
                                        "type": "text",
                                        "label": "Vat Number"
                                    },
                                    {
                                        "name": "note",
                                        "type": "text",
                                        "label": "Note"
                                    },
                                    {
                                        "name": "bus_phone",
                                        "type": "text",
                                        "label": "Busness Phone"
                                    },
                                    {
                                        "name": "language",
                                        "type": "text",
                                        "label": "Language"
                                    },
                                    {
                                        "name": "vis_state",
                                        "type": "select",
                                        "label": "Status",
                                        "validate": {
                                            "enum": [
                                                1,
                                                0
                                            ]
                                        }
                                    },
                                    {
                                        "name": "s_street",
                                        "type": "text",
                                        "label": "Shipping Street"
                                    },
                                    {
                                        "name": "s_street2",
                                        "type": "text",
                                        "label": "Shipping Street 2"
                                    },
                                    {
                                        "name": "s_city",
                                        "type": "text",
                                        "label": "Shipping City"
                                    },
                                    {
                                        "name": "s_code",
                                        "type": "text",
                                        "label": "Shipping Code"
                                    },
                                    {
                                        "name": "s_province",
                                        "type": "text",
                                        "label": "Shipping Province"
                                    },
                                    {
                                        "name": "s_country",
                                        "type": "text",
                                        "label": "Shipping Country"
                                    },
                                    {
                                        "name": "p_street",
                                        "type": "text",
                                        "label": "Billing Street"
                                    },
                                    {
                                        "name": "p_street2",
                                        "type": "text",
                                        "label": "Billing Street 2"
                                    },
                                    {
                                        "name": "p_province",
                                        "type": "text",
                                        "label": "Billing Province"
                                    },
                                    {
                                        "name": "p_city",
                                        "type": "text",
                                        "label": "Billing City"
                                    },
                                    {
                                        "name": "p_code",
                                        "type": "text",
                                        "label": "Billing Code"
                                    },
                                    {
                                        "name": "p_country",
                                        "type": "text",
                                        "label": "Billing Country"
                                    },
                                    {
                                        "name": "currency_code",
                                        "type": "text",
                                        "label": "Currency Code"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "freshbooks:searchContact",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "email": "{{2.BillEmail.Address}}",
                                "limit": "1"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 300
                                },
                                "restore": {
                                    "includes": {
                                        "mode": "chose"
                                    },
                                    "vis_state": {
                                        "mode": "chose",
                                        "label": ""
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "accountId",
                                        "type": "select",
                                        "label": "Account ID",
                                        "required": true
                                    },
                                    {
                                        "name": "email",
                                        "type": "email",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "email_like",
                                        "type": "text",
                                        "label": "Email like"
                                    },
                                    {
                                        "name": "fname",
                                        "type": "text",
                                        "label": "First Name"
                                    },
                                    {
                                        "name": "lname",
                                        "type": "text",
                                        "label": "Last Name"
                                    },
                                    {
                                        "name": "updated_min",
                                        "type": "date",
                                        "label": "Updated from"
                                    },
                                    {
                                        "name": "updated_max",
                                        "type": "date",
                                        "label": "Updated before"
                                    },
                                    {
                                        "name": "userid",
                                        "type": "text",
                                        "label": "Client ID"
                                    },
                                    {
                                        "name": "vis_state",
                                        "type": "select",
                                        "label": "Status",
                                        "validate": {
                                            "enum": [
                                                1,
                                                0
                                            ]
                                        }
                                    },
                                    {
                                        "name": "includes",
                                        "type": "select",
                                        "label": "Includes",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "outstanding_balance",
                                                "credit_balance",
                                                "draft_balance",
                                                "overdue_balance",
                                                "grand_total_balance",
                                                "last_activity",
                                                "late_reminders",
                                                "late_fee"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "freshbooks:createEstimate",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "lines": "{{5.array}}",
                                "notes": "{{2.CustomerMemo.value}}",
                                "vis_state": 0,
                                "customerid": "{{9.id}}",
                                "create_date": "{{now}}",
                                "estimate_number": "{{2.Id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 300
                                },
                                "restore": {
                                    "lines": {
                                        "mode": "edit"
                                    },
                                    "vis_state": {
                                        "mode": "chose",
                                        "label": "Active"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "accountId",
                                        "type": "select",
                                        "label": "Account ID",
                                        "required": true
                                    },
                                    {
                                        "name": "estimate_number",
                                        "type": "text",
                                        "label": "Estimate number"
                                    },
                                    {
                                        "name": "customerid",
                                        "type": "number",
                                        "label": "Customer ID",
                                        "required": true
                                    },
                                    {
                                        "name": "create_date",
                                        "type": "date",
                                        "label": "Create date",
                                        "required": true
                                    },
                                    {
                                        "name": "discount_value",
                                        "type": "text",
                                        "label": "Discount value"
                                    },
                                    {
                                        "name": "po_number",
                                        "type": "text",
                                        "label": "PO number"
                                    },
                                    {
                                        "name": "currency_code",
                                        "type": "text",
                                        "label": "Currency code"
                                    },
                                    {
                                        "name": "language",
                                        "type": "text",
                                        "label": "Language"
                                    },
                                    {
                                        "name": "terms",
                                        "type": "text",
                                        "label": "Terms"
                                    },
                                    {
                                        "name": "notes",
                                        "type": "text",
                                        "label": "Notes"
                                    },
                                    {
                                        "name": "address",
                                        "type": "text",
                                        "label": "Address"
                                    },
                                    {
                                        "name": "vis_state",
                                        "type": "select",
                                        "label": "State",
                                        "validate": {
                                            "enum": [
                                                0,
                                                1
                                            ]
                                        }
                                    },
                                    {
                                        "name": "street",
                                        "type": "text",
                                        "label": "Street"
                                    },
                                    {
                                        "name": "street2",
                                        "type": "text",
                                        "label": "Street2"
                                    },
                                    {
                                        "name": "city",
                                        "type": "text",
                                        "label": "City"
                                    },
                                    {
                                        "name": "province",
                                        "type": "text",
                                        "label": "Province"
                                    },
                                    {
                                        "name": "code",
                                        "type": "text",
                                        "label": "Code"
                                    },
                                    {
                                        "name": "country",
                                        "type": "text",
                                        "label": "Country"
                                    },
                                    {
                                        "name": "organization",
                                        "type": "text",
                                        "label": "Organization"
                                    },
                                    {
                                        "name": "fname",
                                        "type": "text",
                                        "label": "First name"
                                    },
                                    {
                                        "name": "lname",
                                        "type": "text",
                                        "label": "Last name"
                                    },
                                    {
                                        "name": "vat_name",
                                        "type": "text",
                                        "label": "VAT name"
                                    },
                                    {
                                        "name": "vat_number",
                                        "type": "text",
                                        "label": "VAT number"
                                    },
                                    {
                                        "name": "lines",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Type",
                                                "options": [
                                                    {
                                                        "label": "Normal",
                                                        "value": 0
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "description",
                                                "type": "text",
                                                "label": "Description"
                                            },
                                            {
                                                "name": "taxName1",
                                                "type": "text",
                                                "label": "Tax Name 1"
                                            },
                                            {
                                                "name": "taxAmount1",
                                                "type": "number",
                                                "label": "Tax Amount 1"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "qty",
                                                "type": "number",
                                                "label": "Quantity"
                                            },
                                            {
                                                "name": "taxName2",
                                                "type": "text",
                                                "label": "Tax Name 2"
                                            },
                                            {
                                                "name": "taxAmount2",
                                                "type": "number",
                                                "label": "Tax Amount 2"
                                            },
                                            {
                                                "name": "unit_cost",
                                                "spec": [
                                                    {
                                                        "name": "amount",
                                                        "type": "text",
                                                        "label": "Amount"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "text",
                                                        "label": "Code"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Unit Cost"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Lines"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}