Make example Blueprints/Create new customers or update existing ones in Sage from new accounts in Salesforce.blueprint.json
{
    "name": "Create new customers or update existing ones in Sage from new accounts in Salesforce",
    "flow": [
        {
            "id": 2,
            "module": "salesforce:watchRecords",
            "version": 3,
            "parameters": {
                "limit": 100,
                "select": "create",
                "sObject": "Account"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:salesforce",
                        "label": "Connection"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Watch Records",
                        "required": true,
                        "validate": {
                            "enum": [
                                "create",
                                "update"
                            ]
                        }
                    },
                    {
                        "name": "sObject",
                        "type": "select",
                        "label": "Type",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "Id",
                        "type": "text",
                        "label": "Account ID"
                    },
                    {
                        "name": "IsDeleted",
                        "type": "boolean",
                        "label": "Deleted"
                    },
                    {
                        "name": "MasterRecordId",
                        "type": "text",
                        "label": "Master Record ID"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Account Name"
                    },
                    {
                        "name": "Type",
                        "type": "text",
                        "label": "Account Type"
                    },
                    {
                        "name": "ParentId",
                        "type": "text",
                        "label": "Parent Account ID"
                    },
                    {
                        "name": "BillingStreet",
                        "type": "text",
                        "label": "Billing Street"
                    },
                    {
                        "name": "BillingCity",
                        "type": "text",
                        "label": "Billing City"
                    },
                    {
                        "name": "BillingState",
                        "type": "text",
                        "label": "Billing State/Province"
                    },
                    {
                        "name": "BillingPostalCode",
                        "type": "text",
                        "label": "Billing Zip/Postal Code"
                    },
                    {
                        "name": "BillingCountry",
                        "type": "text",
                        "label": "Billing Country"
                    },
                    {
                        "name": "BillingLatitude",
                        "type": "number",
                        "label": "Billing Latitude"
                    },
                    {
                        "name": "BillingLongitude",
                        "type": "number",
                        "label": "Billing Longitude"
                    },
                    {
                        "name": "BillingGeocodeAccuracy",
                        "type": "text",
                        "label": "Billing Geocode Accuracy"
                    },
                    {
                        "name": "BillingAddress",
                        "spec": [
                            {
                                "name": "street",
                                "type": "text",
                                "label": "Street"
                            },
                            {
                                "name": "country",
                                "type": "text",
                                "label": "Country"
                            },
                            {
                                "name": "countryCode",
                                "type": "text",
                                "label": "Country code"
                            },
                            {
                                "name": "latitude",
                                "type": "number",
                                "label": "Latitude"
                            },
                            {
                                "name": "longitude",
                                "type": "number",
                                "label": "Longitude"
                            },
                            {
                                "name": "postalCode",
                                "type": "text",
                                "label": "Postal code"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "stateCode",
                                "type": "text",
                                "label": "State code"
                            }
                        ],
                        "type": "collection",
                        "label": "Billing Address"
                    },
                    {
                        "name": "ShippingStreet",
                        "type": "text",
                        "label": "Shipping Street"
                    },
                    {
                        "name": "ShippingCity",
                        "type": "text",
                        "label": "Shipping City"
                    },
                    {
                        "name": "ShippingState",
                        "type": "text",
                        "label": "Shipping State/Province"
                    },
                    {
                        "name": "ShippingPostalCode",
                        "type": "text",
                        "label": "Shipping Zip/Postal Code"
                    },
                    {
                        "name": "ShippingCountry",
                        "type": "text",
                        "label": "Shipping Country"
                    },
                    {
                        "name": "ShippingLatitude",
                        "type": "number",
                        "label": "Shipping Latitude"
                    },
                    {
                        "name": "ShippingLongitude",
                        "type": "number",
                        "label": "Shipping Longitude"
                    },
                    {
                        "name": "ShippingGeocodeAccuracy",
                        "type": "text",
                        "label": "Shipping Geocode Accuracy"
                    },
                    {
                        "name": "ShippingAddress",
                        "spec": [
                            {
                                "name": "street",
                                "type": "text",
                                "label": "Street"
                            },
                            {
                                "name": "country",
                                "type": "text",
                                "label": "Country"
                            },
                            {
                                "name": "countryCode",
                                "type": "text",
                                "label": "Country code"
                            },
                            {
                                "name": "latitude",
                                "type": "number",
                                "label": "Latitude"
                            },
                            {
                                "name": "longitude",
                                "type": "number",
                                "label": "Longitude"
                            },
                            {
                                "name": "postalCode",
                                "type": "text",
                                "label": "Postal code"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "stateCode",
                                "type": "text",
                                "label": "State code"
                            }
                        ],
                        "type": "collection",
                        "label": "Shipping Address"
                    },
                    {
                        "name": "Phone",
                        "type": "text",
                        "label": "Account Phone"
                    },
                    {
                        "name": "Fax",
                        "type": "text",
                        "label": "Account Fax"
                    },
                    {
                        "name": "AccountNumber",
                        "type": "text",
                        "label": "Account Number"
                    },
                    {
                        "name": "Website",
                        "type": "url",
                        "label": "Website"
                    },
                    {
                        "name": "PhotoUrl",
                        "type": "url",
                        "label": "Photo URL"
                    },
                    {
                        "name": "Sic",
                        "type": "text",
                        "label": "SIC Code"
                    },
                    {
                        "name": "Industry",
                        "type": "text",
                        "label": "Industry"
                    },
                    {
                        "name": "AnnualRevenue",
                        "type": "number",
                        "label": "Annual Revenue"
                    },
                    {
                        "name": "NumberOfEmployees",
                        "type": "number",
                        "label": "Employees"
                    },
                    {
                        "name": "Ownership",
                        "type": "text",
                        "label": "Ownership"
                    },
                    {
                        "name": "TickerSymbol",
                        "type": "text",
                        "label": "Ticker Symbol"
                    },
                    {
                        "name": "Description",
                        "type": "text",
                        "label": "Account Description"
                    },
                    {
                        "name": "Rating",
                        "type": "text",
                        "label": "Account Rating"
                    },
                    {
                        "name": "Site",
                        "type": "text",
                        "label": "Account Site"
                    },
                    {
                        "name": "OwnerId",
                        "type": "text",
                        "label": "Owner ID"
                    },
                    {
                        "name": "CreatedDate",
                        "type": "date",
                        "label": "Created Date"
                    },
                    {
                        "name": "CreatedById",
                        "type": "text",
                        "label": "Created By ID"
                    },
                    {
                        "name": "LastModifiedDate",
                        "type": "date",
                        "label": "Last Modified Date"
                    },
                    {
                        "name": "LastModifiedById",
                        "type": "text",
                        "label": "Last Modified By ID"
                    },
                    {
                        "name": "SystemModstamp",
                        "type": "date",
                        "label": "System Modstamp"
                    },
                    {
                        "name": "LastActivityDate",
                        "type": "date",
                        "label": "Last Activity"
                    },
                    {
                        "name": "LastViewedDate",
                        "type": "date",
                        "label": "Last Viewed Date"
                    },
                    {
                        "name": "LastReferencedDate",
                        "type": "date",
                        "label": "Last Referenced Date"
                    },
                    {
                        "name": "Jigsaw",
                        "type": "text",
                        "label": "Data.com Key"
                    },
                    {
                        "name": "JigsawCompanyId",
                        "type": "text",
                        "label": "Jigsaw Company ID"
                    },
                    {
                        "name": "CleanStatus",
                        "type": "text",
                        "label": "Clean Status"
                    },
                    {
                        "name": "AccountSource",
                        "type": "text",
                        "label": "Account Source"
                    },
                    {
                        "name": "DunsNumber",
                        "type": "text",
                        "label": "D-U-N-S Number"
                    },
                    {
                        "name": "Tradestyle",
                        "type": "text",
                        "label": "Tradestyle"
                    },
                    {
                        "name": "NaicsCode",
                        "type": "text",
                        "label": "NAICS Code"
                    },
                    {
                        "name": "NaicsDesc",
                        "type": "text",
                        "label": "NAICS Description"
                    },
                    {
                        "name": "YearStarted",
                        "type": "text",
                        "label": "Year Started"
                    },
                    {
                        "name": "SicDesc",
                        "type": "text",
                        "label": "SIC Description"
                    },
                    {
                        "name": "DandbCompanyId",
                        "type": "text",
                        "label": "D&B Company ID"
                    },
                    {
                        "name": "devintegromat__CustomerPriority__c",
                        "type": "text",
                        "label": "Customer Priority"
                    },
                    {
                        "name": "devintegromat__SLA__c",
                        "type": "text",
                        "label": "SLA"
                    },
                    {
                        "name": "devintegromat__Active__c",
                        "type": "text",
                        "label": "Active"
                    },
                    {
                        "name": "devintegromat__NumberofLocations__c",
                        "type": "number",
                        "label": "Number of Locations"
                    },
                    {
                        "name": "devintegromat__UpsellOpportunity__c",
                        "type": "text",
                        "label": "Upsell Opportunity"
                    },
                    {
                        "name": "devintegromat__SLASerialNumber__c",
                        "type": "text",
                        "label": "SLA Serial Number"
                    },
                    {
                        "name": "devintegromat__SLAExpirationDate__c",
                        "type": "date",
                        "label": "SLA Expiration Date"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "salesforce:listRecordsInAnObject",
            "version": 3,
            "parameters": {},
            "mapper": {
                "limit": "100",
                "filter": [
                    [
                        {
                            "a": "AccountId",
                            "b": "{{2.Id}}",
                            "o": "|text|="
                        }
                    ]
                ],
                "sObject": "Contact",
                "searchType": "simple"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "sObject": {
                            "label": "Contact"
                        },
                        "searchType": {
                            "label": "Filter"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "salesforce"
                            },
                            "label": "My Salesforce connection (development@integromat.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:salesforce",
                        "label": "Connection"
                    }
                ],
                "expect": [
                    {
                        "name": "searchType",
                        "type": "select",
                        "label": "Search By",
                        "required": true,
                        "validate": {
                            "enum": [
                                "simple",
                                "soql"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "sObject",
                        "type": "select",
                        "label": "Type",
                        "required": true
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": [
                                {
                                    "label": "Contact ID",
                                    "value": "Id"
                                },
                                {
                                    "label": "Deleted",
                                    "value": "IsDeleted"
                                },
                                {
                                    "label": "Master Record ID",
                                    "value": "MasterRecordId"
                                },
                                {
                                    "label": "Account ID",
                                    "value": "AccountId"
                                },
                                {
                                    "label": "Last Name",
                                    "value": "LastName"
                                },
                                {
                                    "label": "First Name",
                                    "value": "FirstName"
                                },
                                {
                                    "label": "Salutation",
                                    "value": "Salutation"
                                },
                                {
                                    "label": "Full Name",
                                    "value": "Name"
                                },
                                {
                                    "label": "Other Street",
                                    "value": "OtherStreet"
                                },
                                {
                                    "label": "Other City",
                                    "value": "OtherCity"
                                },
                                {
                                    "label": "Other State/Province",
                                    "value": "OtherState"
                                },
                                {
                                    "label": "Other Zip/Postal Code",
                                    "value": "OtherPostalCode"
                                },
                                {
                                    "label": "Other Country",
                                    "value": "OtherCountry"
                                },
                                {
                                    "label": "Other Latitude",
                                    "value": "OtherLatitude"
                                },
                                {
                                    "label": "Other Longitude",
                                    "value": "OtherLongitude"
                                },
                                {
                                    "label": "Other Geocode Accuracy",
                                    "value": "OtherGeocodeAccuracy"
                                },
                                {
                                    "label": "Other Address",
                                    "value": "OtherAddress"
                                },
                                {
                                    "label": "Mailing Street",
                                    "value": "MailingStreet"
                                },
                                {
                                    "label": "Mailing City",
                                    "value": "MailingCity"
                                },
                                {
                                    "label": "Mailing State/Province",
                                    "value": "MailingState"
                                },
                                {
                                    "label": "Mailing Zip/Postal Code",
                                    "value": "MailingPostalCode"
                                },
                                {
                                    "label": "Mailing Country",
                                    "value": "MailingCountry"
                                },
                                {
                                    "label": "Mailing Latitude",
                                    "value": "MailingLatitude"
                                },
                                {
                                    "label": "Mailing Longitude",
                                    "value": "MailingLongitude"
                                },
                                {
                                    "label": "Mailing Geocode Accuracy",
                                    "value": "MailingGeocodeAccuracy"
                                },
                                {
                                    "label": "Mailing Address",
                                    "value": "MailingAddress"
                                },
                                {
                                    "label": "Business Phone",
                                    "value": "Phone"
                                },
                                {
                                    "label": "Business Fax",
                                    "value": "Fax"
                                },
                                {
                                    "label": "Mobile Phone",
                                    "value": "MobilePhone"
                                },
                                {
                                    "label": "Home Phone",
                                    "value": "HomePhone"
                                },
                                {
                                    "label": "Other Phone",
                                    "value": "OtherPhone"
                                },
                                {
                                    "label": "Asst. Phone",
                                    "value": "AssistantPhone"
                                },
                                {
                                    "label": "Reports To ID",
                                    "value": "ReportsToId"
                                },
                                {
                                    "label": "Email",
                                    "value": "Email"
                                },
                                {
                                    "label": "Title",
                                    "value": "Title"
                                },
                                {
                                    "label": "Department",
                                    "value": "Department"
                                },
                                {
                                    "label": "Assistant's Name",
                                    "value": "AssistantName"
                                },
                                {
                                    "label": "Lead Source",
                                    "value": "LeadSource"
                                },
                                {
                                    "label": "Birthdate",
                                    "value": "Birthdate"
                                },
                                {
                                    "label": "Contact Description",
                                    "value": "Description"
                                },
                                {
                                    "label": "Owner ID",
                                    "value": "OwnerId"
                                },
                                {
                                    "label": "Created Date",
                                    "value": "CreatedDate"
                                },
                                {
                                    "label": "Created By ID",
                                    "value": "CreatedById"
                                },
                                {
                                    "label": "Last Modified Date",
                                    "value": "LastModifiedDate"
                                },
                                {
                                    "label": "Last Modified By ID",
                                    "value": "LastModifiedById"
                                },
                                {
                                    "label": "System Modstamp",
                                    "value": "SystemModstamp"
                                },
                                {
                                    "label": "Last Activity",
                                    "value": "LastActivityDate"
                                },
                                {
                                    "label": "Last Stay-in-Touch Request Date",
                                    "value": "LastCURequestDate"
                                },
                                {
                                    "label": "Last Stay-in-Touch Save Date",
                                    "value": "LastCUUpdateDate"
                                },
                                {
                                    "label": "Last Viewed Date",
                                    "value": "LastViewedDate"
                                },
                                {
                                    "label": "Last Referenced Date",
                                    "value": "LastReferencedDate"
                                },
                                {
                                    "label": "Email Bounced Reason",
                                    "value": "EmailBouncedReason"
                                },
                                {
                                    "label": "Email Bounced Date",
                                    "value": "EmailBouncedDate"
                                },
                                {
                                    "label": "Is Email Bounced",
                                    "value": "IsEmailBounced"
                                },
                                {
                                    "label": "Photo URL",
                                    "value": "PhotoUrl"
                                },
                                {
                                    "label": "Data.com Key",
                                    "value": "Jigsaw"
                                },
                                {
                                    "label": "Jigsaw Contact ID",
                                    "value": "JigsawContactId"
                                },
                                {
                                    "label": "Clean Status",
                                    "value": "CleanStatus"
                                },
                                {
                                    "label": "Individual ID",
                                    "value": "IndividualId"
                                },
                                {
                                    "label": "Level",
                                    "value": "devintegromat__Level__c"
                                },
                                {
                                    "label": "Languages",
                                    "value": "devintegromat__Languages__c"
                                },
                                {
                                    "label": "Interests",
                                    "value": "devintegromat__Interests__c"
                                },
                                {
                                    "label": "servicenowid",
                                    "value": "devintegromat__ServiceNowID__c"
                                }
                            ],
                            "operators": [
                                {
                                    "label": "Text",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "|text|="
                                        },
                                        {
                                            "label": "Not equal",
                                            "value": "|text|!="
                                        },
                                        {
                                            "label": "Starts with",
                                            "value": "|text|startsWith"
                                        },
                                        {
                                            "label": "Ends with",
                                            "value": "|text|endsWith"
                                        },
                                        {
                                            "label": "Contains",
                                            "value": "|text|contain"
                                        }
                                    ]
                                },
                                {
                                    "label": "Number/Date",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "|number|="
                                        },
                                        {
                                            "label": "Not equal",
                                            "value": "|number|!="
                                        },
                                        {
                                            "label": "Greater than",
                                            "value": "|number|>"
                                        },
                                        {
                                            "label": "Greater than and equals",
                                            "value": "|number|>="
                                        },
                                        {
                                            "label": "Less than",
                                            "value": "|number|<"
                                        },
                                        {
                                            "label": "Less than and equals",
                                            "value": "|number|<="
                                        }
                                    ]
                                },
                                {
                                    "label": "Boolean",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "|boolean|="
                                        },
                                        {
                                            "label": "Not equal",
                                            "value": "|boolean|!="
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "Id",
                        "type": "text",
                        "label": "Contact ID"
                    },
                    {
                        "name": "IsDeleted",
                        "type": "boolean",
                        "label": "Deleted"
                    },
                    {
                        "name": "MasterRecordId",
                        "type": "text",
                        "label": "Master Record ID"
                    },
                    {
                        "name": "AccountId",
                        "type": "text",
                        "label": "Account ID"
                    },
                    {
                        "name": "LastName",
                        "type": "text",
                        "label": "Last Name"
                    },
                    {
                        "name": "FirstName",
                        "type": "text",
                        "label": "First Name"
                    },
                    {
                        "name": "Salutation",
                        "type": "text",
                        "label": "Salutation"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Full Name"
                    },
                    {
                        "name": "OtherStreet",
                        "type": "text",
                        "label": "Other Street"
                    },
                    {
                        "name": "OtherCity",
                        "type": "text",
                        "label": "Other City"
                    },
                    {
                        "name": "OtherState",
                        "type": "text",
                        "label": "Other State/Province"
                    },
                    {
                        "name": "OtherPostalCode",
                        "type": "text",
                        "label": "Other Zip/Postal Code"
                    },
                    {
                        "name": "OtherCountry",
                        "type": "text",
                        "label": "Other Country"
                    },
                    {
                        "name": "OtherLatitude",
                        "type": "number",
                        "label": "Other Latitude"
                    },
                    {
                        "name": "OtherLongitude",
                        "type": "number",
                        "label": "Other Longitude"
                    },
                    {
                        "name": "OtherGeocodeAccuracy",
                        "type": "text",
                        "label": "Other Geocode Accuracy"
                    },
                    {
                        "name": "OtherAddress",
                        "spec": [
                            {
                                "name": "street",
                                "type": "text",
                                "label": "Street"
                            },
                            {
                                "name": "country",
                                "type": "text",
                                "label": "Country"
                            },
                            {
                                "name": "countryCode",
                                "type": "text",
                                "label": "Country code"
                            },
                            {
                                "name": "latitude",
                                "type": "number",
                                "label": "Latitude"
                            },
                            {
                                "name": "longitude",
                                "type": "number",
                                "label": "Longitude"
                            },
                            {
                                "name": "postalCode",
                                "type": "text",
                                "label": "Postal code"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "stateCode",
                                "type": "text",
                                "label": "State code"
                            }
                        ],
                        "type": "collection",
                        "label": "Other Address"
                    },
                    {
                        "name": "MailingStreet",
                        "type": "text",
                        "label": "Mailing Street"
                    },
                    {
                        "name": "MailingCity",
                        "type": "text",
                        "label": "Mailing City"
                    },
                    {
                        "name": "MailingState",
                        "type": "text",
                        "label": "Mailing State/Province"
                    },
                    {
                        "name": "MailingPostalCode",
                        "type": "text",
                        "label": "Mailing Zip/Postal Code"
                    },
                    {
                        "name": "MailingCountry",
                        "type": "text",
                        "label": "Mailing Country"
                    },
                    {
                        "name": "MailingLatitude",
                        "type": "number",
                        "label": "Mailing Latitude"
                    },
                    {
                        "name": "MailingLongitude",
                        "type": "number",
                        "label": "Mailing Longitude"
                    },
                    {
                        "name": "MailingGeocodeAccuracy",
                        "type": "text",
                        "label": "Mailing Geocode Accuracy"
                    },
                    {
                        "name": "MailingAddress",
                        "spec": [
                            {
                                "name": "street",
                                "type": "text",
                                "label": "Street"
                            },
                            {
                                "name": "country",
                                "type": "text",
                                "label": "Country"
                            },
                            {
                                "name": "countryCode",
                                "type": "text",
                                "label": "Country code"
                            },
                            {
                                "name": "latitude",
                                "type": "number",
                                "label": "Latitude"
                            },
                            {
                                "name": "longitude",
                                "type": "number",
                                "label": "Longitude"
                            },
                            {
                                "name": "postalCode",
                                "type": "text",
                                "label": "Postal code"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "stateCode",
                                "type": "text",
                                "label": "State code"
                            }
                        ],
                        "type": "collection",
                        "label": "Mailing Address"
                    },
                    {
                        "name": "Phone",
                        "type": "text",
                        "label": "Business Phone"
                    },
                    {
                        "name": "Fax",
                        "type": "text",
                        "label": "Business Fax"
                    },
                    {
                        "name": "MobilePhone",
                        "type": "text",
                        "label": "Mobile Phone"
                    },
                    {
                        "name": "HomePhone",
                        "type": "text",
                        "label": "Home Phone"
                    },
                    {
                        "name": "OtherPhone",
                        "type": "text",
                        "label": "Other Phone"
                    },
                    {
                        "name": "AssistantPhone",
                        "type": "text",
                        "label": "Asst. Phone"
                    },
                    {
                        "name": "ReportsToId",
                        "type": "text",
                        "label": "Reports To ID"
                    },
                    {
                        "name": "Email",
                        "type": "email",
                        "label": "Email"
                    },
                    {
                        "name": "Title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "Department",
                        "type": "text",
                        "label": "Department"
                    },
                    {
                        "name": "AssistantName",
                        "type": "text",
                        "label": "Assistant's Name"
                    },
                    {
                        "name": "LeadSource",
                        "type": "text",
                        "label": "Lead Source"
                    },
                    {
                        "name": "Birthdate",
                        "type": "date",
                        "label": "Birthdate"
                    },
                    {
                        "name": "Description",
                        "type": "text",
                        "label": "Contact Description"
                    },
                    {
                        "name": "OwnerId",
                        "type": "text",
                        "label": "Owner ID"
                    },
                    {
                        "name": "CreatedDate",
                        "type": "date",
                        "label": "Created Date"
                    },
                    {
                        "name": "CreatedById",
                        "type": "text",
                        "label": "Created By ID"
                    },
                    {
                        "name": "LastModifiedDate",
                        "type": "date",
                        "label": "Last Modified Date"
                    },
                    {
                        "name": "LastModifiedById",
                        "type": "text",
                        "label": "Last Modified By ID"
                    },
                    {
                        "name": "SystemModstamp",
                        "type": "date",
                        "label": "System Modstamp"
                    },
                    {
                        "name": "LastActivityDate",
                        "type": "date",
                        "label": "Last Activity"
                    },
                    {
                        "name": "LastCURequestDate",
                        "type": "date",
                        "label": "Last Stay-in-Touch Request Date"
                    },
                    {
                        "name": "LastCUUpdateDate",
                        "type": "date",
                        "label": "Last Stay-in-Touch Save Date"
                    },
                    {
                        "name": "LastViewedDate",
                        "type": "date",
                        "label": "Last Viewed Date"
                    },
                    {
                        "name": "LastReferencedDate",
                        "type": "date",
                        "label": "Last Referenced Date"
                    },
                    {
                        "name": "EmailBouncedReason",
                        "type": "text",
                        "label": "Email Bounced Reason"
                    },
                    {
                        "name": "EmailBouncedDate",
                        "type": "date",
                        "label": "Email Bounced Date"
                    },
                    {
                        "name": "IsEmailBounced",
                        "type": "boolean",
                        "label": "Is Email Bounced"
                    },
                    {
                        "name": "PhotoUrl",
                        "type": "url",
                        "label": "Photo URL"
                    },
                    {
                        "name": "Jigsaw",
                        "type": "text",
                        "label": "Data.com Key"
                    },
                    {
                        "name": "JigsawContactId",
                        "type": "text",
                        "label": "Jigsaw Contact ID"
                    },
                    {
                        "name": "CleanStatus",
                        "type": "text",
                        "label": "Clean Status"
                    },
                    {
                        "name": "IndividualId",
                        "type": "text",
                        "label": "Individual ID"
                    },
                    {
                        "name": "devintegromat__Level__c",
                        "type": "text",
                        "label": "Level"
                    },
                    {
                        "name": "devintegromat__Languages__c",
                        "type": "text",
                        "label": "Languages"
                    },
                    {
                        "name": "devintegromat__Interests__c",
                        "type": "text",
                        "label": "Interests"
                    },
                    {
                        "name": "devintegromat__ServiceNowID__c",
                        "type": "text",
                        "label": "servicenowid"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "sage-accounting:SearchCustomers",
            "version": 1,
            "parameters": {},
            "mapper": {
                "limit": "10",
                "search": "{{2.Name}}",
                "attributes": "all"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "business_id": {
                            "mode": "chose",
                            "label": "Development Make",
                            "nested": [
                                {
                                    "help": "Use this to limit the response to Contacts changed since a given date.",
                                    "name": "updated_or_created_since",
                                    "time": true,
                                    "type": "date",
                                    "label": "Updated or Created since"
                                },
                                {
                                    "help": "Use this to limit the response to Contacts deleted since a given date.",
                                    "name": "deleted_since",
                                    "time": true,
                                    "type": "date",
                                    "label": "Deleted since"
                                },
                                {
                                    "help": "Use this to filter out system entities, not applicable for transaction creation.",
                                    "name": "exclude_system",
                                    "type": "boolean",
                                    "label": "Exclude System"
                                },
                                {
                                    "help": "Specify the attributes that you want to expose for nested entities of the Contacts (expose all nested attributes with 'all'). These are in addition to the base attributes (name, path).",
                                    "name": "nested_attributes",
                                    "type": "text",
                                    "label": "Nested Attributes"
                                },
                                {
                                    "help": "Use this to display the balance for a contact.",
                                    "name": "show_balance",
                                    "type": "boolean",
                                    "label": "Show Balance"
                                },
                                {
                                    "help": "Use this to determine the correct tax treatment for a contact on a given date.",
                                    "name": "context_date",
                                    "time": true,
                                    "type": "date",
                                    "label": "Context Date"
                                },
                                {
                                    "help": "Use this to filter by the contact name, company name or reference.",
                                    "name": "search",
                                    "type": "text",
                                    "label": "Search"
                                },
                                {
                                    "help": "Use this to filter by the contact person email address.",
                                    "name": "email",
                                    "type": "email",
                                    "label": "Email"
                                },
                                {
                                    "name": "show_unfinished_recurring_invoices_status",
                                    "type": "boolean",
                                    "label": "Show Unfinished Recurring Invoices Status"
                                },
                                {
                                    "help": "Specify the attributes that you want to expose for the Contacts (expose all attributes with 'all'). These are in addition to the base attributes (name, path).",
                                    "name": "attributes",
                                    "type": "text",
                                    "label": "Attributes",
                                    "default": "all"
                                }
                            ]
                        },
                        "show_balance": {
                            "mode": "chose"
                        },
                        "exclude_system": {
                            "mode": "chose"
                        },
                        "show_unfinished_recurring_invoices_status": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "sage-accounting"
                            },
                            "label": "My Sage Business Cloud Accounting connection (Development )"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:sage-accounting",
                        "label": "Connection"
                    }
                ],
                "expect": [
                    {
                        "name": "business_id",
                        "type": "select",
                        "label": "Current Business ID",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "updated_or_created_since",
                        "time": true,
                        "type": "date",
                        "label": "Updated or Created since"
                    },
                    {
                        "name": "deleted_since",
                        "time": true,
                        "type": "date",
                        "label": "Deleted since"
                    },
                    {
                        "name": "exclude_system",
                        "type": "boolean",
                        "label": "Exclude System"
                    },
                    {
                        "name": "nested_attributes",
                        "type": "text",
                        "label": "Nested Attributes"
                    },
                    {
                        "name": "show_balance",
                        "type": "boolean",
                        "label": "Show Balance"
                    },
                    {
                        "name": "context_date",
                        "time": true,
                        "type": "date",
                        "label": "Context Date"
                    },
                    {
                        "name": "search",
                        "type": "text",
                        "label": "Search"
                    },
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email"
                    },
                    {
                        "name": "show_unfinished_recurring_invoices_status",
                        "type": "boolean",
                        "label": "Show Unfinished Recurring Invoices Status"
                    },
                    {
                        "name": "attributes",
                        "type": "text",
                        "label": "Attributes"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "sage-accounting:ActionCreateCustomer",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "New customer",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{6.`__IMTLENGTH__`}}",
                                            "b": "0",
                                            "o": "number:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "name": "{{2.Name}}",
                                "main_address": {
                                    "city": "{{2.BillingCity}}",
                                    "postal_code": "{{2.BillingPostalCode}}",
                                    "address_line_1": "{{2.BillingStreet}}"
                                },
                                "tax_treatment": {},
                                "delivery_address": {},
                                "main_contact_person": {
                                    "name": "{{5.Name}}",
                                    "email": "{{5.Email}}",
                                    "mobile": "{{5.MobilePhone}}",
                                    "telephone": "{{2.Phone}}",
                                    "contact_person_type_ids": [
                                        "ACCOUNTS",
                                        "SALES",
                                        "PURCHASING"
                                    ]
                                },
                                "bank_account_details": {}
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "business_id": {
                                            "mode": "chose",
                                            "label": "Development Make",
                                            "nested": [
                                                {
                                                    "help": "The contact's full name or business name.",
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true
                                                },
                                                {
                                                    "help": "Unique reference for the contact.",
                                                    "name": "reference",
                                                    "type": "text",
                                                    "label": "Reference"
                                                },
                                                {
                                                    "help": "The ID of the Default Sales Ledger Account.",
                                                    "name": "default_sales_ledger_account_id",
                                                    "type": "select",
                                                    "label": "Default Sales Ledger Account ID",
                                                    "options": "rpc://sage-accounting/1/listSalesLedgerAccounts"
                                                },
                                                {
                                                    "help": "The ID of the Default Sales Tax Rate.",
                                                    "name": "default_sales_tax_rate_id",
                                                    "type": "select",
                                                    "label": "Default Sales Tax Rate ID",
                                                    "options": "rpc://sage-accounting/1/listTaxRates"
                                                },
                                                {
                                                    "help": "The ID of the Default Purchase Ledger Account.",
                                                    "name": "default_purchase_ledger_account_id",
                                                    "type": "select",
                                                    "label": "Default Purchase Ledger Account ID",
                                                    "options": "rpc://sage-accounting/1/listPurchaseLedgerAccount"
                                                },
                                                {
                                                    "help": "The VAT registration number of the contact. The format will be validated.",
                                                    "name": "tax_number",
                                                    "type": "text",
                                                    "label": "Tax Number"
                                                },
                                                {
                                                    "help": "The notes for the contact.",
                                                    "name": "notes",
                                                    "type": "text",
                                                    "label": "Notes"
                                                },
                                                {
                                                    "help": "The locale for the contact.",
                                                    "name": "locale",
                                                    "type": "text",
                                                    "label": "Locale"
                                                },
                                                {
                                                    "help": "Custom credit limit amount for the contact.",
                                                    "name": "credit_limit",
                                                    "type": "number",
                                                    "label": "Credit Limit"
                                                },
                                                {
                                                    "help": "Custom credit days for the contact.",
                                                    "name": "credit_days",
                                                    "type": "number",
                                                    "label": "Credit Days"
                                                },
                                                {
                                                    "help": "Custom terms and conditions for the contact.",
                                                    "name": "credit_terms_and_conditions",
                                                    "type": "text",
                                                    "label": "Credit Terms And Conditions"
                                                },
                                                {
                                                    "help": "The ID of the Product Sales Price Type.",
                                                    "name": "product_sales_price_type_id",
                                                    "type": "select",
                                                    "label": "Product Sales Price Type ID",
                                                    "options": "rpc://sage-accounting/1/listProductSalesPriceTypes"
                                                },
                                                {
                                                    "help": "Used when importing contacts from external sources.",
                                                    "name": "source_guid",
                                                    "type": "text",
                                                    "label": "Source GUID"
                                                },
                                                {
                                                    "help": "The ID of the Currency.",
                                                    "name": "currency_id",
                                                    "type": "select",
                                                    "label": "Currency ID",
                                                    "options": "rpc://sage-accounting/1/listCurrencies"
                                                },
                                                {
                                                    "help": "Auxiliary reference. Used for German \"Kreditorennummer\" and \"Debitorennummer\".",
                                                    "name": "aux_reference",
                                                    "type": "text",
                                                    "label": "Aux Reference"
                                                },
                                                {
                                                    "help": "Defines if contact tax treatment is domestic reverse charge Customers & Suppliers.",
                                                    "name": "tax_calculation",
                                                    "type": "text",
                                                    "label": "Tax Calculation"
                                                },
                                                {
                                                    "help": "Identifies a contact should be blocked due to destination VAT.",
                                                    "name": "destination_vat_blocking",
                                                    "type": "boolean",
                                                    "label": "Destination VAT Blocking"
                                                },
                                                {
                                                    "name": "main_address",
                                                    "spec": [
                                                        {
                                                            "help": "The first line of the address.",
                                                            "name": "address_line_1",
                                                            "type": "text",
                                                            "label": "Address Line 1"
                                                        },
                                                        {
                                                            "help": "The second line of the address.",
                                                            "name": "address_line_2",
                                                            "type": "text",
                                                            "label": "Address Line 2"
                                                        },
                                                        {
                                                            "help": "The address town/city.",
                                                            "name": "city",
                                                            "type": "text",
                                                            "label": "City"
                                                        },
                                                        {
                                                            "help": "The address postal code/ZIP code.",
                                                            "name": "postal_code",
                                                            "type": "text",
                                                            "label": "Postal Code"
                                                        },
                                                        {
                                                            "help": "The ID of the Country.",
                                                            "name": "country_id",
                                                            "type": "select",
                                                            "label": "Country ID",
                                                            "options": "rpc://sage-accounting/1/listCountries"
                                                        },
                                                        {
                                                            "help": "The ID of the Bank Account.",
                                                            "name": "bank_account_id",
                                                            "type": "select",
                                                            "label": "Bank Account ID",
                                                            "options": "rpc://sage-accounting/1/listBankAccounts"
                                                        },
                                                        {
                                                            "help": "The ID of the Contact.",
                                                            "name": "contact_id",
                                                            "type": "select",
                                                            "label": "Contact ID",
                                                            "options": "rpc://sage-accounting/1/listContacts"
                                                        },
                                                        {
                                                            "help": "The ID of the Address Type.",
                                                            "name": "address_type_id",
                                                            "type": "select",
                                                            "label": "Address Type ID",
                                                            "options": "rpc://sage-accounting/1/listAdressTypes"
                                                        },
                                                        {
                                                            "help": "The custom name of the address.",
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "help": "The address state/province/region.",
                                                            "name": "region",
                                                            "type": "text",
                                                            "label": "Region"
                                                        },
                                                        {
                                                            "help": "The ID of the Country Group.",
                                                            "name": "country_group_id",
                                                            "type": "select",
                                                            "label": "Country Group ID",
                                                            "options": "rpc://sage-accounting/1/listCountryGroups"
                                                        },
                                                        {
                                                            "help": "Specifies the address as the contact's main address. Only a single address can exist for a contact in Start so this is always true when returned by the API but cannot be seen in the UI.",
                                                            "name": "is_main_address",
                                                            "type": "boolean",
                                                            "label": "Is Main Address"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Main Address"
                                                },
                                                {
                                                    "name": "delivery_address",
                                                    "spec": [
                                                        {
                                                            "help": "The first line of the address.",
                                                            "name": "address_line_1",
                                                            "type": "text",
                                                            "label": "Address Line 1"
                                                        },
                                                        {
                                                            "help": "The second line of the address.",
                                                            "name": "address_line_2",
                                                            "type": "text",
                                                            "label": "Address Line 2"
                                                        },
                                                        {
                                                            "help": "The address town/city.",
                                                            "name": "city",
                                                            "type": "text",
                                                            "label": "City"
                                                        },
                                                        {
                                                            "help": "The address postal code/ZIP code.",
                                                            "name": "postal_code",
                                                            "type": "text",
                                                            "label": "Postal Code"
                                                        },
                                                        {
                                                            "help": "The ID of the Country.",
                                                            "name": "country_id",
                                                            "type": "select",
                                                            "label": "Country ID",
                                                            "options": "rpc://sage-accounting/1/listCountries"
                                                        },
                                                        {
                                                            "help": "The ID of the Bank Account.",
                                                            "name": "bank_account_id",
                                                            "type": "select",
                                                            "label": "Bank Account ID",
                                                            "options": "rpc://sage-accounting/1/listBankAccounts"
                                                        },
                                                        {
                                                            "help": "The ID of the Contact.",
                                                            "name": "contact_id",
                                                            "type": "select",
                                                            "label": "Contact ID",
                                                            "options": "rpc://sage-accounting/1/listContacts"
                                                        },
                                                        {
                                                            "help": "The ID of the Address Type.",
                                                            "name": "address_type_id",
                                                            "type": "select",
                                                            "label": "Address Type ID",
                                                            "options": "rpc://sage-accounting/1/listAdressTypes"
                                                        },
                                                        {
                                                            "help": "The custom name of the address.",
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "help": "The address state/province/region.",
                                                            "name": "region",
                                                            "type": "text",
                                                            "label": "Region"
                                                        },
                                                        {
                                                            "help": "The ID of the Country Group.",
                                                            "name": "country_group_id",
                                                            "type": "select",
                                                            "label": "Country Group ID",
                                                            "options": "rpc://sage-accounting/1/listCountryGroups"
                                                        },
                                                        {
                                                            "help": "Specifies the address as the contact's main address. Only a single address can exist for a contact in Start so this is always true when returned by the API but cannot be seen in the UI.",
                                                            "name": "is_main_address",
                                                            "type": "boolean",
                                                            "label": "Is Main Address"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Delivery Address"
                                                },
                                                {
                                                    "name": "main_contact_person",
                                                    "spec": [
                                                        {
                                                            "help": "The IDs of the Contact Person Types.",
                                                            "name": "contact_person_type_ids",
                                                            "type": "select",
                                                            "label": "Contact Person Type IDs",
                                                            "options": "rpc://sage-accounting/1/listContactPersonTypes",
                                                            "multiple": true
                                                        },
                                                        {
                                                            "help": "The name of the contact person.",
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "help": "The job title of the contact person.",
                                                            "name": "job_title",
                                                            "type": "text",
                                                            "label": "Job Title"
                                                        },
                                                        {
                                                            "help": "The telephone number of the contact person.",
                                                            "name": "telephone",
                                                            "type": "text",
                                                            "label": "Telephone"
                                                        },
                                                        {
                                                            "help": "The mobile number of the contact person.",
                                                            "name": "mobile",
                                                            "type": "text",
                                                            "label": "Mobile"
                                                        },
                                                        {
                                                            "help": "The email address of the contact person.",
                                                            "name": "email",
                                                            "type": "email",
                                                            "label": "Email"
                                                        },
                                                        {
                                                            "help": "The fax number of the contact person.",
                                                            "name": "fax",
                                                            "type": "text",
                                                            "label": "Fax"
                                                        },
                                                        {
                                                            "help": "Indicates whether this is the main contact person. Per contact, only one main contact can be selected.",
                                                            "name": "is_main_contact",
                                                            "type": "boolean",
                                                            "label": "Is Main Contact"
                                                        },
                                                        {
                                                            "help": "The ID of the Address.",
                                                            "name": "address_id",
                                                            "type": "select",
                                                            "label": "Address ID",
                                                            "options": "rpc://sage-accounting/1/listAddresses"
                                                        },
                                                        {
                                                            "help": "Indicates whether this contact person is a preferred contact.",
                                                            "name": "is_preferred_contact",
                                                            "type": "boolean",
                                                            "label": "Is Preferred Contact"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Main Contact Person"
                                                },
                                                {
                                                    "name": "bank_account_details",
                                                    "spec": [
                                                        {
                                                            "help": "The account name.",
                                                            "name": "account_name",
                                                            "type": "text",
                                                            "label": "Account Name"
                                                        },
                                                        {
                                                            "help": "The account number.",
                                                            "name": "account_number",
                                                            "type": "text",
                                                            "label": "Account Number"
                                                        },
                                                        {
                                                            "help": "The sort code.",
                                                            "name": "sort_code",
                                                            "type": "text",
                                                            "label": "Sort Code"
                                                        },
                                                        {
                                                            "help": "The BIC",
                                                            "name": "bic",
                                                            "type": "text",
                                                            "label": "BIC"
                                                        },
                                                        {
                                                            "help": "The IBAN",
                                                            "name": "iban",
                                                            "type": "text",
                                                            "label": "IBAN"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Bank Account Details"
                                                },
                                                {
                                                    "name": "tax_treatment",
                                                    "spec": [
                                                        {
                                                            "help": "Indicates a contact where home country tax rules should be applied.",
                                                            "name": "home_tax",
                                                            "type": "boolean",
                                                            "label": "Home Tax"
                                                        },
                                                        {
                                                            "help": "Indicates a contact where EC tax rules should be applied.",
                                                            "name": "eu_tax_registered",
                                                            "type": "boolean",
                                                            "label": "EU Tax Registered"
                                                        },
                                                        {
                                                            "help": "Indicates an EU contact without a tax number - home tax rules should be applied.",
                                                            "name": "eu_not_tax_registered",
                                                            "type": "boolean",
                                                            "label": "EU Not Tax Registered"
                                                        },
                                                        {
                                                            "help": "Indicates a contact where rest of world tax rules should be applied.",
                                                            "name": "rest_of_world_tax",
                                                            "type": "boolean",
                                                            "label": "Rest Of World Tax"
                                                        },
                                                        "rpc://sage-accounting/1/loadCustomerTaxTreatmentFields"
                                                    ],
                                                    "type": "collection",
                                                    "label": "Tax Treatment"
                                                }
                                            ]
                                        },
                                        "currency_id": {
                                            "mode": "chose"
                                        },
                                        "main_address": {
                                            "nested": {
                                                "contact_id": {
                                                    "mode": "chose"
                                                },
                                                "country_id": {
                                                    "mode": "edit"
                                                },
                                                "address_type_id": {
                                                    "mode": "chose"
                                                },
                                                "bank_account_id": {
                                                    "mode": "chose"
                                                },
                                                "is_main_address": {
                                                    "mode": "chose"
                                                },
                                                "country_group_id": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "tax_treatment": {
                                            "nested": {
                                                "home_tax": {
                                                    "mode": "chose"
                                                },
                                                "is_importer": {
                                                    "mode": "chose"
                                                },
                                                "eu_tax_registered": {
                                                    "mode": "chose"
                                                },
                                                "rest_of_world_tax": {
                                                    "mode": "chose"
                                                },
                                                "eu_not_tax_registered": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "delivery_address": {
                                            "nested": {
                                                "contact_id": {
                                                    "mode": "chose"
                                                },
                                                "country_id": {
                                                    "mode": "chose"
                                                },
                                                "address_type_id": {
                                                    "mode": "chose"
                                                },
                                                "bank_account_id": {
                                                    "mode": "chose"
                                                },
                                                "is_main_address": {
                                                    "mode": "chose"
                                                },
                                                "country_group_id": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "main_contact_person": {
                                            "nested": {
                                                "address_id": {
                                                    "mode": "chose"
                                                },
                                                "is_main_contact": {
                                                    "mode": "chose"
                                                },
                                                "is_preferred_contact": {
                                                    "mode": "chose"
                                                },
                                                "contact_person_type_ids": {
                                                    "mode": "chose",
                                                    "label": [
                                                        "Accounts",
                                                        "Sales",
                                                        "Purchasing"
                                                    ]
                                                }
                                            }
                                        },
                                        "destination_vat_blocking": {
                                            "mode": "chose"
                                        },
                                        "default_sales_tax_rate_id": {
                                            "mode": "chose"
                                        },
                                        "product_sales_price_type_id": {
                                            "mode": "chose"
                                        },
                                        "default_sales_ledger_account_id": {
                                            "mode": "chose"
                                        },
                                        "default_purchase_ledger_account_id": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "sage-accounting"
                                            },
                                            "label": "My Sage Business Cloud Accounting connection (Development )"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:sage-accounting",
                                        "label": "Connection"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "business_id",
                                        "type": "select",
                                        "label": "Current Business ID",
                                        "required": true
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name",
                                        "required": true
                                    },
                                    {
                                        "name": "reference",
                                        "type": "text",
                                        "label": "Reference"
                                    },
                                    {
                                        "name": "default_sales_ledger_account_id",
                                        "type": "select",
                                        "label": "Default Sales Ledger Account ID"
                                    },
                                    {
                                        "name": "default_sales_tax_rate_id",
                                        "type": "select",
                                        "label": "Default Sales Tax Rate ID"
                                    },
                                    {
                                        "name": "default_purchase_ledger_account_id",
                                        "type": "select",
                                        "label": "Default Purchase Ledger Account ID"
                                    },
                                    {
                                        "name": "tax_number",
                                        "type": "text",
                                        "label": "Tax Number"
                                    },
                                    {
                                        "name": "notes",
                                        "type": "text",
                                        "label": "Notes"
                                    },
                                    {
                                        "name": "locale",
                                        "type": "text",
                                        "label": "Locale"
                                    },
                                    {
                                        "name": "credit_limit",
                                        "type": "number",
                                        "label": "Credit Limit"
                                    },
                                    {
                                        "name": "credit_days",
                                        "type": "number",
                                        "label": "Credit Days"
                                    },
                                    {
                                        "name": "credit_terms_and_conditions",
                                        "type": "text",
                                        "label": "Credit Terms And Conditions"
                                    },
                                    {
                                        "name": "product_sales_price_type_id",
                                        "type": "select",
                                        "label": "Product Sales Price Type ID"
                                    },
                                    {
                                        "name": "source_guid",
                                        "type": "text",
                                        "label": "Source GUID"
                                    },
                                    {
                                        "name": "currency_id",
                                        "type": "select",
                                        "label": "Currency ID"
                                    },
                                    {
                                        "name": "aux_reference",
                                        "type": "text",
                                        "label": "Aux Reference"
                                    },
                                    {
                                        "name": "tax_calculation",
                                        "type": "text",
                                        "label": "Tax Calculation"
                                    },
                                    {
                                        "name": "destination_vat_blocking",
                                        "type": "boolean",
                                        "label": "Destination VAT Blocking"
                                    },
                                    {
                                        "name": "main_address",
                                        "spec": [
                                            {
                                                "name": "address_line_1",
                                                "type": "text",
                                                "label": "Address Line 1"
                                            },
                                            {
                                                "name": "address_line_2",
                                                "type": "text",
                                                "label": "Address Line 2"
                                            },
                                            {
                                                "name": "city",
                                                "type": "text",
                                                "label": "City"
                                            },
                                            {
                                                "name": "postal_code",
                                                "type": "text",
                                                "label": "Postal Code"
                                            },
                                            {
                                                "name": "country_id",
                                                "type": "select",
                                                "label": "Country ID"
                                            },
                                            {
                                                "name": "bank_account_id",
                                                "type": "select",
                                                "label": "Bank Account ID"
                                            },
                                            {
                                                "name": "contact_id",
                                                "type": "select",
                                                "label": "Contact ID"
                                            },
                                            {
                                                "name": "address_type_id",
                                                "type": "select",
                                                "label": "Address Type ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "region",
                                                "type": "text",
                                                "label": "Region"
                                            },
                                            {
                                                "name": "country_group_id",
                                                "type": "select",
                                                "label": "Country Group ID"
                                            },
                                            {
                                                "name": "is_main_address",
                                                "type": "boolean",
                                                "label": "Is Main Address"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Main Address"
                                    },
                                    {
                                        "name": "delivery_address",
                                        "spec": [
                                            {
                                                "name": "address_line_1",
                                                "type": "text",
                                                "label": "Address Line 1"
                                            },
                                            {
                                                "name": "address_line_2",
                                                "type": "text",
                                                "label": "Address Line 2"
                                            },
                                            {
                                                "name": "city",
                                                "type": "text",
                                                "label": "City"
                                            },
                                            {
                                                "name": "postal_code",
                                                "type": "text",
                                                "label": "Postal Code"
                                            },
                                            {
                                                "name": "country_id",
                                                "type": "select",
                                                "label": "Country ID"
                                            },
                                            {
                                                "name": "bank_account_id",
                                                "type": "select",
                                                "label": "Bank Account ID"
                                            },
                                            {
                                                "name": "contact_id",
                                                "type": "select",
                                                "label": "Contact ID"
                                            },
                                            {
                                                "name": "address_type_id",
                                                "type": "select",
                                                "label": "Address Type ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "region",
                                                "type": "text",
                                                "label": "Region"
                                            },
                                            {
                                                "name": "country_group_id",
                                                "type": "select",
                                                "label": "Country Group ID"
                                            },
                                            {
                                                "name": "is_main_address",
                                                "type": "boolean",
                                                "label": "Is Main Address"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Delivery Address"
                                    },
                                    {
                                        "name": "main_contact_person",
                                        "spec": [
                                            {
                                                "name": "contact_person_type_ids",
                                                "type": "select",
                                                "label": "Contact Person Type IDs",
                                                "multiple": true
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "job_title",
                                                "type": "text",
                                                "label": "Job Title"
                                            },
                                            {
                                                "name": "telephone",
                                                "type": "text",
                                                "label": "Telephone"
                                            },
                                            {
                                                "name": "mobile",
                                                "type": "text",
                                                "label": "Mobile"
                                            },
                                            {
                                                "name": "email",
                                                "type": "email",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fax",
                                                "type": "text",
                                                "label": "Fax"
                                            },
                                            {
                                                "name": "is_main_contact",
                                                "type": "boolean",
                                                "label": "Is Main Contact"
                                            },
                                            {
                                                "name": "address_id",
                                                "type": "select",
                                                "label": "Address ID"
                                            },
                                            {
                                                "name": "is_preferred_contact",
                                                "type": "boolean",
                                                "label": "Is Preferred Contact"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Main Contact Person"
                                    },
                                    {
                                        "name": "bank_account_details",
                                        "spec": [
                                            {
                                                "name": "account_name",
                                                "type": "text",
                                                "label": "Account Name"
                                            },
                                            {
                                                "name": "account_number",
                                                "type": "text",
                                                "label": "Account Number"
                                            },
                                            {
                                                "name": "sort_code",
                                                "type": "text",
                                                "label": "Sort Code"
                                            },
                                            {
                                                "name": "bic",
                                                "type": "text",
                                                "label": "BIC"
                                            },
                                            {
                                                "name": "iban",
                                                "type": "text",
                                                "label": "IBAN"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Bank Account Details"
                                    },
                                    {
                                        "name": "tax_treatment",
                                        "spec": [
                                            {
                                                "name": "home_tax",
                                                "type": "boolean",
                                                "label": "Home Tax"
                                            },
                                            {
                                                "name": "eu_tax_registered",
                                                "type": "boolean",
                                                "label": "EU Tax Registered"
                                            },
                                            {
                                                "name": "eu_not_tax_registered",
                                                "type": "boolean",
                                                "label": "EU Not Tax Registered"
                                            },
                                            {
                                                "name": "rest_of_world_tax",
                                                "type": "boolean",
                                                "label": "Rest Of World Tax"
                                            },
                                            {
                                                "name": "is_importer",
                                                "type": "boolean",
                                                "label": "Is Importer"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Tax Treatment"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "sage-accounting:ActionUpdateCustomer",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Existing customer",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{6.`__IMTLENGTH__`}}",
                                            "b": "0",
                                            "o": "number:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "name": "{{2.Name}}",
                                "customer_id": "{{6.id}}",
                                "main_address": {
                                    "city": "{{2.BillingCity}}",
                                    "postal_code": "{{2.BillingAddress.postalCode}}",
                                    "address_line_1": "{{2.BillingStreet}}"
                                },
                                "tax_treatment": {},
                                "delivery_address": {},
                                "main_contact_person": {
                                    "name": "{{5.Name}}",
                                    "email": "{{5.Email}}",
                                    "mobile": "{{5.MobilePhone}}",
                                    "contact_person_type_ids": [
                                        "ACCOUNTS",
                                        "SALES",
                                        "PURCHASING"
                                    ]
                                },
                                "bank_account_details": {}
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "business_id": {
                                            "mode": "chose",
                                            "label": "Development Make",
                                            "nested": [
                                                {
                                                    "mode": "edit",
                                                    "name": "customer_id",
                                                    "type": "select",
                                                    "label": "Customer ID",
                                                    "options": "rpc://sage-accounting/1/listCustomerContacts",
                                                    "required": true
                                                },
                                                {
                                                    "help": "The contact's full name or business name.",
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name"
                                                },
                                                {
                                                    "help": "Unique reference for the contact.",
                                                    "name": "reference",
                                                    "type": "text",
                                                    "label": "Reference"
                                                },
                                                {
                                                    "help": "The ID of the Default Sales Ledger Account.",
                                                    "mode": "edit",
                                                    "name": "default_sales_ledger_account_id",
                                                    "type": "select",
                                                    "label": "Default Sales Ledger Account ID",
                                                    "options": "rpc://sage-accounting/1/listSalesLedgerAccounts"
                                                },
                                                {
                                                    "help": "The ID of the Default Sales Tax Rate.",
                                                    "mode": "edit",
                                                    "name": "default_sales_tax_rate_id",
                                                    "type": "select",
                                                    "label": "Default Sales Tax Rate ID",
                                                    "options": "rpc://sage-accounting/1/listTaxRates"
                                                },
                                                {
                                                    "help": "The ID of the Default Purchase Ledger Account.",
                                                    "mode": "edit",
                                                    "name": "default_purchase_ledger_account_id",
                                                    "type": "select",
                                                    "label": "Default Purchase Ledger Account ID",
                                                    "options": "rpc://sage-accounting/1/listPurchaseLedgerAccount"
                                                },
                                                {
                                                    "help": "The VAT registration number of the contact. The format will be validated.",
                                                    "name": "tax_number",
                                                    "type": "text",
                                                    "label": "Tax Number"
                                                },
                                                {
                                                    "help": "The notes for the contact.",
                                                    "name": "notes",
                                                    "type": "text",
                                                    "label": "Notes"
                                                },
                                                {
                                                    "help": "The locale for the contact.",
                                                    "name": "locale",
                                                    "type": "text",
                                                    "label": "Locale"
                                                },
                                                {
                                                    "help": "Custom credit limit amount for the contact.",
                                                    "name": "credit_limit",
                                                    "type": "number",
                                                    "label": "Credit Limit"
                                                },
                                                {
                                                    "help": "Custom credit days for the contact.",
                                                    "name": "credit_days",
                                                    "type": "number",
                                                    "label": "Credit Days"
                                                },
                                                {
                                                    "help": "Custom terms and conditions for the contact.",
                                                    "name": "credit_terms_and_conditions",
                                                    "type": "text",
                                                    "label": "Credit Terms And Conditions"
                                                },
                                                {
                                                    "help": "The ID of the Product Sales Price Type.",
                                                    "mode": "edit",
                                                    "name": "product_sales_price_type_id",
                                                    "type": "select",
                                                    "label": "Product Sales Price Type ID",
                                                    "options": "rpc://sage-accounting/1/listProductSalesPriceTypes"
                                                },
                                                {
                                                    "help": "Used when importing contacts from external sources.",
                                                    "name": "source_guid",
                                                    "type": "text",
                                                    "label": "Source GUID"
                                                },
                                                {
                                                    "help": "The ID of the Currency.",
                                                    "mode": "edit",
                                                    "name": "currency_id",
                                                    "type": "select",
                                                    "label": "Currency ID",
                                                    "options": "rpc://sage-accounting/1/listCurrencies"
                                                },
                                                {
                                                    "help": "Auxiliary reference. Used for German \"Kreditorennummer\" and \"Debitorennummer\".",
                                                    "name": "aux_reference",
                                                    "type": "text",
                                                    "label": "Aux Reference"
                                                },
                                                {
                                                    "help": "Defines if contact tax treatment is domestic reverse charge Customers & Suppliers.",
                                                    "name": "tax_calculation",
                                                    "type": "text",
                                                    "label": "Tax Calculation"
                                                },
                                                {
                                                    "help": "Identifies a contact should be blocked due to destination VAT.",
                                                    "name": "destination_vat_blocking",
                                                    "type": "boolean",
                                                    "label": "Destination VAT Blocking"
                                                },
                                                {
                                                    "name": "main_address",
                                                    "spec": [
                                                        {
                                                            "help": "The first line of the address.",
                                                            "name": "address_line_1",
                                                            "type": "text",
                                                            "label": "Address Line 1"
                                                        },
                                                        {
                                                            "help": "The second line of the address.",
                                                            "name": "address_line_2",
                                                            "type": "text",
                                                            "label": "Address Line 2"
                                                        },
                                                        {
                                                            "help": "The address town/city.",
                                                            "name": "city",
                                                            "type": "text",
                                                            "label": "City"
                                                        },
                                                        {
                                                            "help": "The address postal code/ZIP code.",
                                                            "name": "postal_code",
                                                            "type": "text",
                                                            "label": "Postal Code"
                                                        },
                                                        {
                                                            "help": "The ID of the Country.",
                                                            "mode": "edit",
                                                            "name": "country_id",
                                                            "type": "select",
                                                            "label": "Country ID",
                                                            "options": "rpc://sage-accounting/1/listCountries"
                                                        },
                                                        {
                                                            "help": "The ID of the Bank Account.",
                                                            "mode": "edit",
                                                            "name": "bank_account_id",
                                                            "type": "select",
                                                            "label": "Bank Account ID",
                                                            "options": "rpc://sage-accounting/1/listBankAccounts"
                                                        },
                                                        {
                                                            "help": "The ID of the Contact.",
                                                            "mode": "edit",
                                                            "name": "contact_id",
                                                            "type": "select",
                                                            "label": "Contact ID",
                                                            "options": "rpc://sage-accounting/1/listContacts"
                                                        },
                                                        {
                                                            "help": "The ID of the Address Type.",
                                                            "mode": "edit",
                                                            "name": "address_type_id",
                                                            "type": "select",
                                                            "label": "Address Type ID",
                                                            "options": "rpc://sage-accounting/1/listAdressTypes"
                                                        },
                                                        {
                                                            "help": "The custom name of the address.",
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "help": "The address state/province/region.",
                                                            "name": "region",
                                                            "type": "text",
                                                            "label": "Region"
                                                        },
                                                        {
                                                            "help": "The ID of the Country Group.",
                                                            "mode": "edit",
                                                            "name": "country_group_id",
                                                            "type": "select",
                                                            "label": "Country Group ID",
                                                            "options": "rpc://sage-accounting/1/listCountryGroups"
                                                        },
                                                        {
                                                            "help": "Specifies the address as the contact's main address. Only a single address can exist for a contact in Start so this is always true when returned by the API but cannot be seen in the UI.",
                                                            "name": "is_main_address",
                                                            "type": "boolean",
                                                            "label": "Is Main Address"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Main Address"
                                                },
                                                {
                                                    "name": "delivery_address",
                                                    "spec": [
                                                        {
                                                            "help": "The first line of the address.",
                                                            "name": "address_line_1",
                                                            "type": "text",
                                                            "label": "Address Line 1"
                                                        },
                                                        {
                                                            "help": "The second line of the address.",
                                                            "name": "address_line_2",
                                                            "type": "text",
                                                            "label": "Address Line 2"
                                                        },
                                                        {
                                                            "help": "The address town/city.",
                                                            "name": "city",
                                                            "type": "text",
                                                            "label": "City"
                                                        },
                                                        {
                                                            "help": "The address postal code/ZIP code.",
                                                            "name": "postal_code",
                                                            "type": "text",
                                                            "label": "Postal Code"
                                                        },
                                                        {
                                                            "help": "The ID of the Country.",
                                                            "mode": "edit",
                                                            "name": "country_id",
                                                            "type": "select",
                                                            "label": "Country ID",
                                                            "options": "rpc://sage-accounting/1/listCountries"
                                                        },
                                                        {
                                                            "help": "The ID of the Bank Account.",
                                                            "mode": "edit",
                                                            "name": "bank_account_id",
                                                            "type": "select",
                                                            "label": "Bank Account ID",
                                                            "options": "rpc://sage-accounting/1/listBankAccounts"
                                                        },
                                                        {
                                                            "help": "The ID of the Contact.",
                                                            "mode": "edit",
                                                            "name": "contact_id",
                                                            "type": "select",
                                                            "label": "Contact ID",
                                                            "options": "rpc://sage-accounting/1/listContacts"
                                                        },
                                                        {
                                                            "help": "The ID of the Address Type.",
                                                            "mode": "edit",
                                                            "name": "address_type_id",
                                                            "type": "select",
                                                            "label": "Address Type ID",
                                                            "options": "rpc://sage-accounting/1/listAdressTypes"
                                                        },
                                                        {
                                                            "help": "The custom name of the address.",
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "help": "The address state/province/region.",
                                                            "name": "region",
                                                            "type": "text",
                                                            "label": "Region"
                                                        },
                                                        {
                                                            "help": "The ID of the Country Group.",
                                                            "mode": "edit",
                                                            "name": "country_group_id",
                                                            "type": "select",
                                                            "label": "Country Group ID",
                                                            "options": "rpc://sage-accounting/1/listCountryGroups"
                                                        },
                                                        {
                                                            "help": "Specifies the address as the contact's main address. Only a single address can exist for a contact in Start so this is always true when returned by the API but cannot be seen in the UI.",
                                                            "name": "is_main_address",
                                                            "type": "boolean",
                                                            "label": "Is Main Address"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Delivery Address"
                                                },
                                                {
                                                    "name": "main_contact_person",
                                                    "spec": [
                                                        {
                                                            "help": "The IDs of the Contact Person Types.",
                                                            "name": "contact_person_type_ids",
                                                            "type": "select",
                                                            "label": "Contact Person Type IDs",
                                                            "options": "rpc://sage-accounting/1/listContactPersonTypes",
                                                            "multiple": true
                                                        },
                                                        {
                                                            "help": "The name of the contact person.",
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "help": "The job title of the contact person.",
                                                            "name": "job_title",
                                                            "type": "text",
                                                            "label": "Job Title"
                                                        },
                                                        {
                                                            "help": "The telephone number of the contact person.",
                                                            "name": "telephone",
                                                            "type": "text",
                                                            "label": "Telephone"
                                                        },
                                                        {
                                                            "help": "The mobile number of the contact person.",
                                                            "name": "mobile",
                                                            "type": "text",
                                                            "label": "Mobile"
                                                        },
                                                        {
                                                            "help": "The email address of the contact person.",
                                                            "name": "email",
                                                            "type": "email",
                                                            "label": "Email"
                                                        },
                                                        {
                                                            "help": "The fax number of the contact person.",
                                                            "name": "fax",
                                                            "type": "text",
                                                            "label": "Fax"
                                                        },
                                                        {
                                                            "help": "Indicates whether this is the main contact person. Per contact, only one main contact can be selected.",
                                                            "name": "is_main_contact",
                                                            "type": "boolean",
                                                            "label": "Is Main Contact"
                                                        },
                                                        {
                                                            "help": "The ID of the Address.",
                                                            "mode": "edit",
                                                            "name": "address_id",
                                                            "type": "select",
                                                            "label": "Address ID",
                                                            "options": "rpc://sage-accounting/1/listAddresses"
                                                        },
                                                        {
                                                            "help": "Indicates whether this contact person is a preferred contact.",
                                                            "name": "is_preferred_contact",
                                                            "type": "boolean",
                                                            "label": "Is Preferred Contact"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Main Contact Person"
                                                },
                                                {
                                                    "name": "bank_account_details",
                                                    "spec": [
                                                        {
                                                            "help": "The account name.",
                                                            "name": "account_name",
                                                            "type": "text",
                                                            "label": "Account Name"
                                                        },
                                                        {
                                                            "help": "The account number.",
                                                            "name": "account_number",
                                                            "type": "text",
                                                            "label": "Account Number"
                                                        },
                                                        {
                                                            "help": "The sort code.",
                                                            "name": "sort_code",
                                                            "type": "text",
                                                            "label": "Sort Code"
                                                        },
                                                        {
                                                            "help": "The BIC",
                                                            "name": "bic",
                                                            "type": "text",
                                                            "label": "BIC"
                                                        },
                                                        {
                                                            "help": "The IBAN",
                                                            "name": "iban",
                                                            "type": "text",
                                                            "label": "Iban"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Bank Account Details"
                                                },
                                                {
                                                    "name": "tax_treatment",
                                                    "spec": [
                                                        {
                                                            "help": "Indicates a contact where home country tax rules should be applied.",
                                                            "name": "home_tax",
                                                            "type": "boolean",
                                                            "label": "Home Tax"
                                                        },
                                                        {
                                                            "help": "Indicates a contact where EC tax rules should be applied.",
                                                            "name": "eu_tax_registered",
                                                            "type": "boolean",
                                                            "label": "EU Tax Registered"
                                                        },
                                                        {
                                                            "help": "Indicates an EU contact without a tax number - home tax rules should be applied.",
                                                            "name": "eu_not_tax_registered",
                                                            "type": "boolean",
                                                            "label": "EU Not Tax Registered"
                                                        },
                                                        {
                                                            "help": "Indicates a contact where rest of world tax rules should be applied.",
                                                            "name": "rest_of_world_tax",
                                                            "type": "boolean",
                                                            "label": "Rest Of World Tax"
                                                        },
                                                        "rpc://sage-accounting/1/loadCustomerTaxTreatmentFields"
                                                    ],
                                                    "type": "collection",
                                                    "label": "Tax Treatment"
                                                }
                                            ]
                                        },
                                        "currency_id": {
                                            "mode": "edit"
                                        },
                                        "customer_id": {
                                            "mode": "edit"
                                        },
                                        "main_address": {
                                            "nested": {
                                                "contact_id": {
                                                    "mode": "edit"
                                                },
                                                "country_id": {
                                                    "mode": "edit"
                                                },
                                                "address_type_id": {
                                                    "mode": "edit"
                                                },
                                                "bank_account_id": {
                                                    "mode": "edit"
                                                },
                                                "is_main_address": {
                                                    "mode": "chose"
                                                },
                                                "country_group_id": {
                                                    "mode": "edit"
                                                }
                                            }
                                        },
                                        "tax_treatment": {
                                            "nested": {
                                                "home_tax": {
                                                    "mode": "chose"
                                                },
                                                "is_importer": {
                                                    "mode": "chose"
                                                },
                                                "eu_tax_registered": {
                                                    "mode": "chose"
                                                },
                                                "rest_of_world_tax": {
                                                    "mode": "chose"
                                                },
                                                "eu_not_tax_registered": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "delivery_address": {
                                            "nested": {
                                                "contact_id": {
                                                    "mode": "edit"
                                                },
                                                "country_id": {
                                                    "mode": "edit"
                                                },
                                                "address_type_id": {
                                                    "mode": "edit"
                                                },
                                                "bank_account_id": {
                                                    "mode": "edit"
                                                },
                                                "is_main_address": {
                                                    "mode": "chose"
                                                },
                                                "country_group_id": {
                                                    "mode": "edit"
                                                }
                                            }
                                        },
                                        "main_contact_person": {
                                            "nested": {
                                                "address_id": {
                                                    "mode": "edit"
                                                },
                                                "is_main_contact": {
                                                    "mode": "chose"
                                                },
                                                "is_preferred_contact": {
                                                    "mode": "chose"
                                                },
                                                "contact_person_type_ids": {
                                                    "mode": "chose",
                                                    "label": [
                                                        "Accounts",
                                                        "Sales",
                                                        "Purchasing"
                                                    ]
                                                }
                                            }
                                        },
                                        "destination_vat_blocking": {
                                            "mode": "chose"
                                        },
                                        "default_sales_tax_rate_id": {
                                            "mode": "edit"
                                        },
                                        "product_sales_price_type_id": {
                                            "mode": "edit"
                                        },
                                        "default_sales_ledger_account_id": {
                                            "mode": "edit"
                                        },
                                        "default_purchase_ledger_account_id": {
                                            "mode": "edit"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "sage-accounting"
                                            },
                                            "label": "My Sage Business Cloud Accounting connection (Development )"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:sage-accounting",
                                        "label": "Connection"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "business_id",
                                        "type": "select",
                                        "label": "Current Business ID",
                                        "required": true
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "customer_id",
                                        "type": "select",
                                        "label": "Customer ID",
                                        "required": true
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "reference",
                                        "type": "text",
                                        "label": "Reference"
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "default_sales_ledger_account_id",
                                        "type": "select",
                                        "label": "Default Sales Ledger Account ID"
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "default_sales_tax_rate_id",
                                        "type": "select",
                                        "label": "Default Sales Tax Rate ID"
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "default_purchase_ledger_account_id",
                                        "type": "select",
                                        "label": "Default Purchase Ledger Account ID"
                                    },
                                    {
                                        "name": "tax_number",
                                        "type": "text",
                                        "label": "Tax Number"
                                    },
                                    {
                                        "name": "notes",
                                        "type": "text",
                                        "label": "Notes"
                                    },
                                    {
                                        "name": "locale",
                                        "type": "text",
                                        "label": "Locale"
                                    },
                                    {
                                        "name": "credit_limit",
                                        "type": "number",
                                        "label": "Credit Limit"
                                    },
                                    {
                                        "name": "credit_days",
                                        "type": "number",
                                        "label": "Credit Days"
                                    },
                                    {
                                        "name": "credit_terms_and_conditions",
                                        "type": "text",
                                        "label": "Credit Terms And Conditions"
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "product_sales_price_type_id",
                                        "type": "select",
                                        "label": "Product Sales Price Type ID"
                                    },
                                    {
                                        "name": "source_guid",
                                        "type": "text",
                                        "label": "Source GUID"
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "currency_id",
                                        "type": "select",
                                        "label": "Currency ID"
                                    },
                                    {
                                        "name": "aux_reference",
                                        "type": "text",
                                        "label": "Aux Reference"
                                    },
                                    {
                                        "name": "tax_calculation",
                                        "type": "text",
                                        "label": "Tax Calculation"
                                    },
                                    {
                                        "name": "destination_vat_blocking",
                                        "type": "boolean",
                                        "label": "Destination VAT Blocking"
                                    },
                                    {
                                        "name": "main_address",
                                        "spec": [
                                            {
                                                "name": "address_line_1",
                                                "type": "text",
                                                "label": "Address Line 1"
                                            },
                                            {
                                                "name": "address_line_2",
                                                "type": "text",
                                                "label": "Address Line 2"
                                            },
                                            {
                                                "name": "city",
                                                "type": "text",
                                                "label": "City"
                                            },
                                            {
                                                "name": "postal_code",
                                                "type": "text",
                                                "label": "Postal Code"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "country_id",
                                                "type": "select",
                                                "label": "Country ID"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "bank_account_id",
                                                "type": "select",
                                                "label": "Bank Account ID"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "contact_id",
                                                "type": "select",
                                                "label": "Contact ID"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "address_type_id",
                                                "type": "select",
                                                "label": "Address Type ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "region",
                                                "type": "text",
                                                "label": "Region"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "country_group_id",
                                                "type": "select",
                                                "label": "Country Group ID"
                                            },
                                            {
                                                "name": "is_main_address",
                                                "type": "boolean",
                                                "label": "Is Main Address"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Main Address"
                                    },
                                    {
                                        "name": "delivery_address",
                                        "spec": [
                                            {
                                                "name": "address_line_1",
                                                "type": "text",
                                                "label": "Address Line 1"
                                            },
                                            {
                                                "name": "address_line_2",
                                                "type": "text",
                                                "label": "Address Line 2"
                                            },
                                            {
                                                "name": "city",
                                                "type": "text",
                                                "label": "City"
                                            },
                                            {
                                                "name": "postal_code",
                                                "type": "text",
                                                "label": "Postal Code"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "country_id",
                                                "type": "select",
                                                "label": "Country ID"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "bank_account_id",
                                                "type": "select",
                                                "label": "Bank Account ID"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "contact_id",
                                                "type": "select",
                                                "label": "Contact ID"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "address_type_id",
                                                "type": "select",
                                                "label": "Address Type ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "region",
                                                "type": "text",
                                                "label": "Region"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "country_group_id",
                                                "type": "select",
                                                "label": "Country Group ID"
                                            },
                                            {
                                                "name": "is_main_address",
                                                "type": "boolean",
                                                "label": "Is Main Address"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Delivery Address"
                                    },
                                    {
                                        "name": "main_contact_person",
                                        "spec": [
                                            {
                                                "name": "contact_person_type_ids",
                                                "type": "select",
                                                "label": "Contact Person Type IDs",
                                                "multiple": true
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "job_title",
                                                "type": "text",
                                                "label": "Job Title"
                                            },
                                            {
                                                "name": "telephone",
                                                "type": "text",
                                                "label": "Telephone"
                                            },
                                            {
                                                "name": "mobile",
                                                "type": "text",
                                                "label": "Mobile"
                                            },
                                            {
                                                "name": "email",
                                                "type": "email",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fax",
                                                "type": "text",
                                                "label": "Fax"
                                            },
                                            {
                                                "name": "is_main_contact",
                                                "type": "boolean",
                                                "label": "Is Main Contact"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "address_id",
                                                "type": "select",
                                                "label": "Address ID"
                                            },
                                            {
                                                "name": "is_preferred_contact",
                                                "type": "boolean",
                                                "label": "Is Preferred Contact"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Main Contact Person"
                                    },
                                    {
                                        "name": "bank_account_details",
                                        "spec": [
                                            {
                                                "name": "account_name",
                                                "type": "text",
                                                "label": "Account Name"
                                            },
                                            {
                                                "name": "account_number",
                                                "type": "text",
                                                "label": "Account Number"
                                            },
                                            {
                                                "name": "sort_code",
                                                "type": "text",
                                                "label": "Sort Code"
                                            },
                                            {
                                                "name": "bic",
                                                "type": "text",
                                                "label": "BIC"
                                            },
                                            {
                                                "name": "iban",
                                                "type": "text",
                                                "label": "Iban"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Bank Account Details"
                                    },
                                    {
                                        "name": "tax_treatment",
                                        "spec": [
                                            {
                                                "name": "home_tax",
                                                "type": "boolean",
                                                "label": "Home Tax"
                                            },
                                            {
                                                "name": "eu_tax_registered",
                                                "type": "boolean",
                                                "label": "EU Tax Registered"
                                            },
                                            {
                                                "name": "eu_not_tax_registered",
                                                "type": "boolean",
                                                "label": "EU Not Tax Registered"
                                            },
                                            {
                                                "name": "rest_of_world_tax",
                                                "type": "boolean",
                                                "label": "Rest Of World Tax"
                                            },
                                            {
                                                "name": "is_importer",
                                                "type": "boolean",
                                                "label": "Is Importer"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Tax Treatment"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}