Make example Blueprints/Create new Trello lists from Emercury lists and add subscribers from Emercury to Trello as cards.blueprint.json
{
    "name": "Create new Trello lists from Emercury lists and add subscribers from Emercury to Trello as cards",
    "flow": [
        {
            "id": 7,
            "module": "emercury:getAudience",
            "version": 1,
            "parameters": {},
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{7.audiences[].audience}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "array": {
                        "mode": "edit"
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "emercury:getSubscribers",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{9.name[]}}",
                            "b": "test",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "audienceid": "{{9.id[]}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "audienceid",
                        "type": "text",
                        "label": "Audience ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "trello:createAList",
            "version": 4,
            "parameters": {},
            "mapper": {
                "name": "{{9.name[]}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "pos": {
                        "mode": "chose",
                        "label": ""
                    },
                    "select_or_manual_listID": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "board_id",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true
                    },
                    {
                        "name": "pos",
                        "type": "select",
                        "label": "Position",
                        "validate": {
                            "enum": [
                                "top",
                                "bottom"
                            ]
                        }
                    },
                    {
                        "name": "select_or_manual_listID",
                        "type": "select",
                        "label": "Copy list",
                        "validate": {
                            "enum": [
                                "manually",
                                "select"
                            ]
                        }
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 17,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{11.subscribers[].subscriber}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "array": {
                        "mode": "edit"
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "trello:createCard",
            "version": 4,
            "parameters": {},
            "mapper": {
                "name": "{{17.email[]}}",
                "list_id": "{{14.id}}",
                "dueComplete": false,
                "list_id_select_or_manual": "manual"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "position": {
                        "mode": "chose",
                        "label": ""
                    },
                    "labels_id": {
                        "mode": "chose",
                        "items": []
                    },
                    "members_id": {
                        "mode": "chose",
                        "items": []
                    },
                    "dueComplete": {
                        "mode": "chose"
                    },
                    "select_or_manual_cardID": {
                        "label": ""
                    },
                    "list_id_select_or_manual": {
                        "label": "Enter manually"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "list_id_select_or_manual",
                        "type": "select",
                        "label": "Enter a List ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "manual",
                                "select"
                            ]
                        }
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description",
                        "validate": {
                            "max": 16384
                        }
                    },
                    {
                        "name": "position",
                        "type": "select",
                        "label": "Position",
                        "validate": {
                            "enum": [
                                "top",
                                "bottom"
                            ]
                        }
                    },
                    {
                        "name": "due_date",
                        "time": false,
                        "type": "date",
                        "label": "Due date"
                    },
                    {
                        "name": "dueComplete",
                        "type": "boolean",
                        "label": "Due complete",
                        "required": true
                    },
                    {
                        "name": "urlSource",
                        "type": "url",
                        "label": "File URL"
                    },
                    {
                        "mean": "name",
                        "name": "filename",
                        "type": "filename",
                        "label": "File name"
                    },
                    {
                        "mean": "data",
                        "name": "filedata",
                        "type": "buffer",
                        "label": "File data"
                    },
                    {
                        "name": "select_or_manual_cardID",
                        "type": "select",
                        "label": "Copy card",
                        "validate": {
                            "enum": [
                                "manually",
                                "select"
                            ]
                        }
                    },
                    {
                        "name": "list_id",
                        "type": "text",
                        "label": "List ID",
                        "required": true
                    },
                    {
                        "name": "labels_id",
                        "spec": {
                            "type": "text",
                            "label": "Label ID"
                        },
                        "type": "array",
                        "label": "Labels"
                    },
                    {
                        "name": "members_id",
                        "spec": {
                            "type": "text",
                            "label": "Member ID"
                        },
                        "type": "array",
                        "label": "Members"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}