Make example Blueprints/Enrich lead's company data, create leads in Salesforce and send Slack notifications.blueprint (1).json
{
    "name": "Enrich lead's company data, create leads in Salesforce and send Slack notifications",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook"
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "clearbit:findCompanyByDomainName",
            "version": 1,
            "parameters": {},
            "mapper": {
                "domain": "{{get(split(1.`Company Email`; \"@\"); 2)}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "clearbit"
                            },
                            "label": "My Clearbit connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:clearbit",
                        "label": "Connection"
                    }
                ],
                "expect": [
                    {
                        "name": "domain",
                        "type": "text",
                        "label": "Domain",
                        "required": true
                    },
                    {
                        "name": "company_name",
                        "type": "text",
                        "label": "Company Name"
                    },
                    {
                        "name": "linkedin",
                        "type": "text",
                        "label": "Linkedin"
                    },
                    {
                        "name": "twitter",
                        "type": "text",
                        "label": "Twitter"
                    },
                    {
                        "name": "facebook",
                        "type": "text",
                        "label": "Facebook"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "salesforce:createAResponsibleRecord",
            "version": 3,
            "parameters": {},
            "mapper": {
                "fields": {
                    "city": "{{2.geo.city}}",
                    "email": "{{1.`Company Email`}}",
                    "state": "{{2.geo.state}}",
                    "rating": "Hot",
                    "street": "{{2.geo.streetName}}",
                    "company": "{{2.name}}",
                    "country": "{{2.geo.country}}",
                    "website": "http://www.make.com",
                    "industry": "{{2.category.industry}}",
                    "lastName": "{{1.`Last Name`}}",
                    "firstName": "{{1.`First Name`}}",
                    "postalCode": "{{2.geo.postalCode}}",
                    "description": "{{2.description}}",
                    "mobilePhone": "{{1.`Contact Number`}}",
                    "annualRevenue": "{{2.metrics.annualRevenue}}",
                    "custom_fields": {},
                    "numberOfEmployees": "{{2.metrics.employees}}"
                },
                "sObject": "Lead"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "fields": {
                            "nested": {
                                "rating": {
                                    "mode": "chose",
                                    "label": "Hot"
                                },
                                "status": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "industry": {
                                    "mode": "edit"
                                },
                                "autoAssign": {
                                    "mode": "chose"
                                },
                                "leadSource": {
                                    "mode": "edit"
                                },
                                "salutation": {
                                    "mode": "edit"
                                },
                                "cleanStatus": {
                                    "mode": "edit"
                                },
                                "isConverted": {
                                    "mode": "chose"
                                },
                                "individualId": {
                                    "mode": "edit"
                                },
                                "custom_fields": {
                                    "nested": {
                                        "devintegromat__Primary__c": {
                                            "mode": "edit"
                                        },
                                        "devintegromat__ProductInterest__c": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "dandbCompanyId": {
                                    "mode": "edit"
                                },
                                "geocodeAccuracy": {
                                    "mode": "edit"
                                },
                                "isUnreadByOwner": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "sObject": {
                            "label": "Lead"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "salesforce"
                            },
                            "label": "My Salesforce connection (development@integromat.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:salesforce",
                        "label": "Connection"
                    }
                ],
                "expect": [
                    {
                        "name": "sObject",
                        "type": "select",
                        "label": "Type",
                        "required": true
                    },
                    {
                        "name": "fields",
                        "spec": [
                            {
                                "name": "lastName",
                                "type": "text",
                                "label": "Last Name (LastName)",
                                "metadata": {
                                    "type": "string"
                                },
                                "required": true
                            },
                            {
                                "name": "firstName",
                                "type": "text",
                                "label": "First Name (FirstName)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "salutation",
                                "type": "select",
                                "label": "Salutation (Salutation)",
                                "metadata": {
                                    "type": "picklist"
                                }
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title (Title)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "company",
                                "type": "text",
                                "label": "Company (Company)",
                                "metadata": {
                                    "type": "string"
                                },
                                "required": true
                            },
                            {
                                "name": "street",
                                "type": "text",
                                "label": "Street (Street)",
                                "metadata": {
                                    "type": "textarea"
                                }
                            },
                            {
                                "name": "city",
                                "type": "text",
                                "label": "City (City)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State/Province (State)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "postalCode",
                                "type": "text",
                                "label": "Zip/Postal Code (PostalCode)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "country",
                                "type": "text",
                                "label": "Country (Country)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "latitude",
                                "type": "number",
                                "label": "Latitude (Latitude)",
                                "metadata": {
                                    "type": "double"
                                }
                            },
                            {
                                "name": "longitude",
                                "type": "number",
                                "label": "Longitude (Longitude)",
                                "metadata": {
                                    "type": "double"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "geocodeAccuracy",
                                "type": "select",
                                "label": "Geocode Accuracy (GeocodeAccuracy)",
                                "metadata": {
                                    "type": "picklist"
                                }
                            },
                            {
                                "name": "phone",
                                "type": "text",
                                "label": "Phone (Phone)",
                                "metadata": {
                                    "type": "phone"
                                }
                            },
                            {
                                "name": "mobilePhone",
                                "type": "text",
                                "label": "Mobile Phone (MobilePhone)",
                                "metadata": {
                                    "type": "phone"
                                }
                            },
                            {
                                "name": "fax",
                                "type": "text",
                                "label": "Fax (Fax)",
                                "metadata": {
                                    "type": "phone"
                                }
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email (Email)",
                                "metadata": {
                                    "type": "email"
                                }
                            },
                            {
                                "name": "website",
                                "type": "url",
                                "label": "Website (Website)",
                                "metadata": {
                                    "type": "url"
                                }
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Description (Description)",
                                "metadata": {
                                    "type": "textarea"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "leadSource",
                                "type": "select",
                                "label": "Lead Source (LeadSource)",
                                "metadata": {
                                    "type": "picklist"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "status",
                                "type": "select",
                                "label": "Status (Status)",
                                "metadata": {
                                    "type": "picklist"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "industry",
                                "type": "select",
                                "label": "Industry (Industry)",
                                "metadata": {
                                    "type": "picklist"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "rating",
                                "type": "select",
                                "label": "Rating (Rating)",
                                "metadata": {
                                    "type": "picklist"
                                }
                            },
                            {
                                "name": "annualRevenue",
                                "type": "number",
                                "label": "Annual Revenue (AnnualRevenue)",
                                "metadata": {
                                    "type": "currency"
                                }
                            },
                            {
                                "name": "numberOfEmployees",
                                "type": "number",
                                "label": "Employees (NumberOfEmployees)",
                                "metadata": {
                                    "type": "int"
                                }
                            },
                            {
                                "name": "ownerId",
                                "type": "text",
                                "label": "Owner ID (OwnerId)",
                                "metadata": {
                                    "type": "reference"
                                }
                            },
                            {
                                "name": "isConverted",
                                "type": "boolean",
                                "label": "Converted (IsConverted)",
                                "metadata": {
                                    "type": "boolean"
                                }
                            },
                            {
                                "name": "isUnreadByOwner",
                                "type": "boolean",
                                "label": "Unread By Owner (IsUnreadByOwner)",
                                "metadata": {
                                    "type": "boolean"
                                }
                            },
                            {
                                "name": "jigsaw",
                                "type": "text",
                                "label": "Data.com Key (Jigsaw)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "cleanStatus",
                                "type": "select",
                                "label": "Clean Status (CleanStatus)",
                                "metadata": {
                                    "type": "picklist"
                                }
                            },
                            {
                                "name": "companyDunsNumber",
                                "type": "text",
                                "label": "Company D-U-N-S Number (CompanyDunsNumber)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "dandbCompanyId",
                                "type": "select",
                                "label": "D&B Company ID (DandbCompanyId)",
                                "metadata": {
                                    "type": "reference"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "individualId",
                                "type": "select",
                                "label": "Individual ID (IndividualId)",
                                "metadata": {
                                    "type": "reference"
                                }
                            },
                            {
                                "name": "custom_fields",
                                "spec": [
                                    {
                                        "name": "devintegromat__SICCode__c",
                                        "type": "text",
                                        "label": "SIC Code (devintegromat__SICCode__c)",
                                        "metadata": {
                                            "type": "string"
                                        }
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "devintegromat__ProductInterest__c",
                                        "type": "select",
                                        "label": "Product Interest (devintegromat__ProductInterest__c)",
                                        "metadata": {
                                            "type": "picklist"
                                        }
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "devintegromat__Primary__c",
                                        "type": "select",
                                        "label": "Primary (devintegromat__Primary__c)",
                                        "metadata": {
                                            "type": "picklist"
                                        }
                                    },
                                    {
                                        "name": "devintegromat__CurrentGenerators__c",
                                        "type": "text",
                                        "label": "Current Generator(s) (devintegromat__CurrentGenerators__c)",
                                        "metadata": {
                                            "type": "string"
                                        }
                                    },
                                    {
                                        "name": "devintegromat__NumberofLocations__c",
                                        "type": "number",
                                        "label": "Number of Locations (devintegromat__NumberofLocations__c)",
                                        "metadata": {
                                            "type": "double"
                                        }
                                    },
                                    {
                                        "name": "devintegromat__Monday_Item__c",
                                        "type": "text",
                                        "label": "Monday Item (devintegromat__Monday_Item__c)",
                                        "metadata": {
                                            "type": "string"
                                        }
                                    },
                                    {
                                        "name": "devintegromat__Lead_Source__c",
                                        "type": "text",
                                        "label": "Lead Source (devintegromat__Lead_Source__c)",
                                        "metadata": {
                                            "type": "string"
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Custom Fields"
                            },
                            {
                                "name": "autoAssign",
                                "type": "boolean",
                                "label": "Salesforce Auto Assign"
                            }
                        ],
                        "type": "collection",
                        "label": "Fields"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "slack:CreateMessage",
            "version": 4,
            "parameters": {},
            "mapper": {
                "text": "Hey there you have a new hot <https://d24000000otuheaq-dev-ed.my.salesforce.com/{{4.id}}|Lead!>",
                "parse": false,
                "mrkdwn": true,
                "channel": "D02CGJZ7GF7",
                "channelType": "im",
                "channelWType": "list"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "parse": {
                            "mode": "chose"
                        },
                        "mrkdwn": {
                            "mode": "chose"
                        },
                        "channel": {
                            "mode": "chose",
                            "label": "lwgovender7"
                        },
                        "link_names": {
                            "mode": "chose"
                        },
                        "channelType": {
                            "label": "IM channel"
                        },
                        "channelWType": {
                            "label": "Select from the list"
                        },
                        "unfurl_links": {
                            "mode": "chose"
                        },
                        "unfurl_media": {
                            "mode": "chose"
                        },
                        "reply_broadcast": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "slack3"
                            },
                            "label": "My Slack (bot) connection (integromat)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:slack2,slack3",
                        "label": "Connection"
                    }
                ],
                "expect": [
                    {
                        "name": "channelWType",
                        "type": "select",
                        "label": "Enter a channel ID or name",
                        "required": true,
                        "validate": {
                            "enum": [
                                "manualy",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    },
                    {
                        "name": "blocks",
                        "type": "text",
                        "label": "Blocks"
                    },
                    {
                        "name": "thread_ts",
                        "type": "text",
                        "label": "Thread message ID (time stamp)"
                    },
                    {
                        "name": "reply_broadcast",
                        "type": "boolean",
                        "label": "Reply broadcast"
                    },
                    {
                        "name": "link_names",
                        "type": "boolean",
                        "label": "Link names"
                    },
                    {
                        "name": "parse",
                        "type": "boolean",
                        "label": "Parse message text"
                    },
                    {
                        "name": "mrkdwn",
                        "type": "boolean",
                        "label": "Use markdown"
                    },
                    {
                        "name": "unfurl_links",
                        "type": "boolean",
                        "label": "Unfurl primarily text-based content"
                    },
                    {
                        "name": "unfurl_media",
                        "type": "boolean",
                        "label": "Unfurl media content"
                    },
                    {
                        "name": "icon_emoji",
                        "type": "text",
                        "label": "Icon emoji"
                    },
                    {
                        "name": "icon_url",
                        "type": "url",
                        "label": "Icon url"
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "channelType",
                        "type": "select",
                        "label": "Channel type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "public",
                                "private",
                                "im",
                                "mpim"
                            ]
                        }
                    },
                    {
                        "name": "channel",
                        "type": "select",
                        "label": "User",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}