Make example Blueprints/Extract completed documents from Zoho Sign using Koncile OCR.blueprint.json
{
    "name": "Extract completed documents from Zoho Sign using Koncile OCR",
    "flow": [
        {
            "id": 1,
            "module": "zoho-sign:DocumentCompleted",
            "version": 1,
            "parameters": {},
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:zoho-sign2",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "zoho-sign:DocumentDetails",
            "version": 1,
            "parameters": {},
            "mapper": {
                "requestId": "{{1.requests.request_id}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "zoho-sign"
                            },
                            "label": "My Zoho Sign connection (coraline@koncile.ai)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:zoho-sign",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "requestId",
                        "type": "text",
                        "label": "Document ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "zoho-sign:DownloadDocumentNew",
            "version": 1,
            "parameters": {},
            "mapper": {
                "requestId": "{{4.requests.request_id}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "zoho-sign"
                            },
                            "label": "My Zoho Sign connection (coraline@koncile.ai)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:zoho-sign",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "requestId",
                        "type": "text",
                        "label": "Document ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "koncile-advanced-ocr:PostDocument",
            "version": 1,
            "parameters": {},
            "mapper": {
                "filename": "{{1.requests.document_ids[].document_name}}",
                "file_data": "{{1.requests}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "folder_id": {
                            "label": "Empty"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "koncile-advanced-ocr"
                            },
                            "label": "Coraline Koncile App connection (true)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:koncile-advanced-ocr",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "filename",
                        "type": "filename",
                        "label": "File Name"
                    },
                    {
                        "name": "file_data",
                        "type": "buffer",
                        "label": "File"
                    },
                    {
                        "name": "folder_id",
                        "type": "select",
                        "label": "Folder"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}