Make example Blueprints/Generate a new Google Docs with 2 Claude prompts, Perplexity AI and filtered Google Sheets rows.blueprint.json
{
    "name": "Generate a new Google Docs with 2 Claude prompts, Perplexity AI and filtered Google Sheets rows",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {},
            "mapper": {
                "from": "drive",
                "sortOrder": "asc",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "sheetId": {
                            "mode": "chose"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "anthropic-claude:createAMessage",
            "version": 1,
            "parameters": {},
            "mapper": {
                "model": "claude-3-7-sonnet-20250219",
                "messages": [
                    {
                        "role": "user",
                        "content": [
                            {
                                "text": "{prompt}",
                                "type": "text"
                            }
                        ]
                    }
                ],
                "metadata": {},
                "max_tokens": "1000",
                "temperature": "1"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Claude 3.7 Sonnet"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "content": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "stop_sequences": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "anthropic-claude"
                            },
                            "label": "My Anthropic Claude connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:anthropic-claude",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "User",
                                            "value": "user",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "For models that support image content blocks (vision), see the [Anthropic model comparison table](https://docs.anthropic.com/en/docs/about-claude/models#model-comparison-table).",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Image",
                                                                        "value": "image",
                                                                        "nested": [
                                                                            {
                                                                                "name": "source",
                                                                                "spec": [
                                                                                    {
                                                                                        "help": "File name, including the extension, for example, `image.jpg`.",
                                                                                        "name": "filename",
                                                                                        "type": "filename",
                                                                                        "label": "Filename",
                                                                                        "required": true,
                                                                                        "semantic": "file:name",
                                                                                        "extension": [
                                                                                            "jpeg",
                                                                                            "jpg",
                                                                                            "png",
                                                                                            "gif",
                                                                                            "webp"
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the **HTTP: Get a file** module.",
                                                                                        "name": "data",
                                                                                        "type": "buffer",
                                                                                        "label": "Data",
                                                                                        "required": true,
                                                                                        "semantic": "file:data"
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Source",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "PDF document",
                                                                        "value": "document",
                                                                        "nested": [
                                                                            "rpc://anthropic-claude/1/notePdfDocument",
                                                                            {
                                                                                "name": "pdfFileName",
                                                                                "type": "filename",
                                                                                "label": "Filename",
                                                                                "required": true,
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "pdf"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "pdfFileData",
                                                                                "type": "buffer",
                                                                                "label": "Data",
                                                                                "required": true,
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool result",
                                                                        "value": "tool_result",
                                                                        "nested": [
                                                                            {
                                                                                "name": "tool_use_id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "content",
                                                                                "type": "text",
                                                                                "label": "Content",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant",
                                            "nested": [
                                                {
                                                    "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Content",
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tool Assistant",
                                            "value": "tool_assistant",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "You can send image content blocks starting with Claude 3 models.",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool Use",
                                                                        "value": "tool_use",
                                                                        "nested": [
                                                                            {
                                                                                "name": "id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Tool Name",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "input",
                                                                                "type": "any",
                                                                                "label": "Input",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system",
                        "type": "text",
                        "label": "System Prompt"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "user_id",
                                "type": "text",
                                "label": "User ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "stop_sequences",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1
                        }
                    },
                    {
                        "name": "top_k",
                        "type": "uinteger",
                        "label": "Top K"
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tools",
                                            "value": "tools",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Parameter Value"
                                                    },
                                                    "type": "array",
                                                    "label": "Parameter Values",
                                                    "labels": {
                                                        "add": "Add parameter value"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "perplexity-ai:createAChatCompletion",
            "version": 1,
            "parameters": {},
            "mapper": {
                "model": "sonar",
                "messages": [
                    {
                        "role": "user",
                        "content": "{prompt}"
                    }
                ],
                "web_search_options": {
                    "search_context_size": "medium"
                }
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "sonar"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "return_images": {
                            "mode": "chose"
                        },
                        "web_search_options": {
                            "nested": {
                                "search_context_size": {
                                    "mode": "chose",
                                    "label": "Medium"
                                }
                            }
                        },
                        "search_domain_filter": {
                            "mode": "chose"
                        },
                        "search_recency_filter": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "return_related_questions": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "perplexity-ai"
                            },
                            "label": "Wayne's personal acc"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:perplexity-ai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": [
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Content",
                                "required": true
                            },
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Assistant",
                                        "value": "assistant"
                                    },
                                    {
                                        "label": "System",
                                        "value": "system"
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1.999,
                            "min": 0
                        }
                    },
                    {
                        "name": "web_search_options",
                        "spec": [
                            {
                                "name": "search_context_size",
                                "type": "select",
                                "label": "Search Context Size",
                                "validate": {
                                    "enum": [
                                        "low",
                                        "medium",
                                        "high"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Web Search Options"
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_k",
                        "type": "number",
                        "label": "Top K",
                        "validate": {
                            "max": 2048,
                            "min": 0
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "min": 0
                        }
                    },
                    {
                        "name": "search_domain_filter",
                        "spec": {
                            "name": "value",
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Search Domain Filter"
                    },
                    {
                        "name": "search_recency_filter",
                        "type": "select",
                        "label": "Search Recency Filter",
                        "validate": {
                            "enum": [
                                "month",
                                "week",
                                "day",
                                "hour"
                            ]
                        }
                    },
                    {
                        "name": "return_images",
                        "type": "boolean",
                        "label": "Return Images"
                    },
                    {
                        "name": "return_related_questions",
                        "type": "boolean",
                        "label": "Return Related Questions"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "anthropic-claude:createAMessage",
            "version": 1,
            "parameters": {},
            "mapper": {
                "model": "claude-3-7-sonnet-20250219",
                "messages": [
                    {
                        "role": "user",
                        "content": [
                            {
                                "text": "{prompt}",
                                "type": "text"
                            }
                        ]
                    }
                ],
                "metadata": {},
                "max_tokens": "1000",
                "temperature": "1"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Claude 3.7 Sonnet"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "content": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "stop_sequences": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "anthropic-claude"
                            },
                            "label": "My Anthropic Claude connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:anthropic-claude",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "User",
                                            "value": "user",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "For models that support image content blocks (vision), see the [Anthropic model comparison table](https://docs.anthropic.com/en/docs/about-claude/models#model-comparison-table).",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Image",
                                                                        "value": "image",
                                                                        "nested": [
                                                                            {
                                                                                "name": "source",
                                                                                "spec": [
                                                                                    {
                                                                                        "help": "File name, including the extension, for example, `image.jpg`.",
                                                                                        "name": "filename",
                                                                                        "type": "filename",
                                                                                        "label": "Filename",
                                                                                        "required": true,
                                                                                        "semantic": "file:name",
                                                                                        "extension": [
                                                                                            "jpeg",
                                                                                            "jpg",
                                                                                            "png",
                                                                                            "gif",
                                                                                            "webp"
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the **HTTP: Get a file** module.",
                                                                                        "name": "data",
                                                                                        "type": "buffer",
                                                                                        "label": "Data",
                                                                                        "required": true,
                                                                                        "semantic": "file:data"
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Source",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "PDF document",
                                                                        "value": "document",
                                                                        "nested": [
                                                                            "rpc://anthropic-claude/1/notePdfDocument",
                                                                            {
                                                                                "name": "pdfFileName",
                                                                                "type": "filename",
                                                                                "label": "Filename",
                                                                                "required": true,
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "pdf"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "pdfFileData",
                                                                                "type": "buffer",
                                                                                "label": "Data",
                                                                                "required": true,
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool result",
                                                                        "value": "tool_result",
                                                                        "nested": [
                                                                            {
                                                                                "name": "tool_use_id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "content",
                                                                                "type": "text",
                                                                                "label": "Content",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant",
                                            "nested": [
                                                {
                                                    "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Content",
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tool Assistant",
                                            "value": "tool_assistant",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "You can send image content blocks starting with Claude 3 models.",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool Use",
                                                                        "value": "tool_use",
                                                                        "nested": [
                                                                            {
                                                                                "name": "id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Tool Name",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "input",
                                                                                "type": "any",
                                                                                "label": "Input",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system",
                        "type": "text",
                        "label": "System Prompt"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "user_id",
                                "type": "text",
                                "label": "User ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "stop_sequences",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1
                        }
                    },
                    {
                        "name": "top_k",
                        "type": "uinteger",
                        "label": "Top K"
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tools",
                                            "value": "tools",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Parameter Value"
                                                    },
                                                    "type": "array",
                                                    "label": "Parameter Values",
                                                    "labels": {
                                                        "add": "Add parameter value"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "google-docs:createADocument",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "name",
                "footer": false,
                "header": false,
                "content": "{{4.content[].text}}",
                "folderId": "/1XQUD03t52wyls-ZdQgbCMTuACXUltj65",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "stories"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (l.govender@make.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "header",
                        "type": "boolean",
                        "label": "Insert a Header",
                        "required": true
                    },
                    {
                        "name": "footer",
                        "type": "boolean",
                        "label": "Insert a Footer",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Document's Location",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}