Make example Blueprints/Get a Telegram notification for new GoToMeeting meeting.blueprint.json
{
    "name": "Get a Telegram notification for new GoToMeeting meeting",
    "flow": [
        {
            "id": 1,
            "module": "gotomeeting:watchMeetingsCreated",
            "version": 1,
            "parameters": {
                "limit": 10
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "gotomeeting:startAMeeting",
            "version": 1,
            "parameters": {},
            "mapper": {
                "meetingId": "{{1.meetingId}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "meetingId": {
                        "mode": "edit"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "meetingId",
                        "type": "select",
                        "label": "Meeting ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "short-cm:createLink",
            "version": 1,
            "parameters": {},
            "mapper": {
                "utm": {},
                "http": {
                    "redirectType": 302
                },
                "cloak": {},
                "expire": {},
                "mobile": {},
                "password": {},
                "originalURL": "{{5.hostURL}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "http": {
                        "nested": {
                            "redirectType": {
                                "mode": "chose",
                                "label": "302 Standard"
                            }
                        }
                    },
                    "tags": {
                        "mode": "chose",
                        "items": []
                    },
                    "cloak": {
                        "nested": {
                            "cloaking": {
                                "mode": "chose",
                                "label": ""
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "domain",
                        "type": "select",
                        "label": "Domain",
                        "required": true
                    },
                    {
                        "name": "originalURL",
                        "type": "url",
                        "label": "Original Long URL",
                        "required": true
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Link Title",
                        "required": true
                    },
                    {
                        "name": "path",
                        "type": "path",
                        "label": "Path"
                    },
                    {
                        "name": "tags",
                        "type": "array",
                        "label": "Tags"
                    },
                    {
                        "name": "expire",
                        "spec": [
                            {
                                "name": "expiresAt",
                                "time": true,
                                "type": "date",
                                "label": "Expires at"
                            },
                            {
                                "name": "expiredURL",
                                "type": "url",
                                "label": "Expired URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Expiration"
                    },
                    {
                        "name": "mobile",
                        "spec": [
                            {
                                "name": "iphoneURL",
                                "type": "url",
                                "label": "iphone URL"
                            },
                            {
                                "name": "androidURL",
                                "type": "url",
                                "label": "Android URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Mobile URL"
                    },
                    {
                        "name": "password",
                        "spec": [
                            {
                                "name": "password",
                                "type": "text",
                                "label": "Password"
                            }
                        ],
                        "type": "collection",
                        "label": "Password Protection"
                    },
                    {
                        "name": "utm",
                        "spec": [
                            {
                                "name": "utmSource",
                                "type": "text",
                                "label": "UTM Source"
                            },
                            {
                                "name": "utmMedium",
                                "type": "text",
                                "label": "UTM Medium"
                            },
                            {
                                "name": "utmCampaign",
                                "type": "text",
                                "label": "UTM Campaign"
                            },
                            {
                                "name": "utmTerm",
                                "type": "text",
                                "label": "UTM Term"
                            },
                            {
                                "name": "utmContent",
                                "type": "text",
                                "label": "UTM Content"
                            }
                        ],
                        "type": "collection",
                        "label": "Campaign Tracking"
                    },
                    {
                        "name": "cloak",
                        "spec": [
                            {
                                "name": "cloaking",
                                "type": "select",
                                "label": "Cloak",
                                "validate": {
                                    "enum": [
                                        1,
                                        0
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Link Cloaking"
                    },
                    {
                        "name": "http",
                        "spec": [
                            {
                                "name": "redirectType",
                                "type": "select",
                                "label": "Redirect Type",
                                "validate": {
                                    "enum": [
                                        301,
                                        302,
                                        307,
                                        308
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "HTTP Status"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "telegram:SendReplyMessage",
            "version": 1,
            "parameters": {},
            "mapper": {
                "text": "New meeting in GoToMeeting created!\n\nSubject: {{1.subject}}\nName: {{1.firstName}} {{1.lastName}}\nEmail: {{1.email}}\nType: {{1.meetingType}}\nMethod: {{1.conferenceCallInfo}}\nFrom: {{formatDate(1.startTime; \"YYYY-MM-DD HH:mm\")}}\nTo: {{formatDate(1.endTime; \"YYYY-MM-DD HH:mm\")}}\nURL: {{6.shortURL}}",
                "parseMode": "",
                "replyMarkup": "",
                "replyToMessageId": "",
                "replyMarkupAssembleType": "reply_markup_enter"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parseMode": {
                        "label": ""
                    },
                    "replyMarkupAssembleType": {
                        "label": "Enter the Reply Markup"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "chatId",
                        "type": "text",
                        "label": "Chat ID",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "parseMode",
                        "type": "select",
                        "label": "Parse Mode",
                        "validate": {
                            "enum": [
                                "Markdown",
                                "HTML"
                            ]
                        }
                    },
                    {
                        "name": "disableNotification",
                        "type": "boolean",
                        "label": "Disable Notifications"
                    },
                    {
                        "name": "disableWebPagePreview",
                        "type": "boolean",
                        "label": "Disable Link Previews"
                    },
                    {
                        "name": "replyToMessageId",
                        "type": "number",
                        "label": "Original Message ID"
                    },
                    {
                        "name": "replyMarkupAssembleType",
                        "type": "select",
                        "label": "Enter/Assemble the Reply Markup Field",
                        "validate": {
                            "enum": [
                                "reply_markup_enter",
                                "reply_markup_assemble"
                            ]
                        }
                    },
                    {
                        "name": "replyMarkup",
                        "type": "text",
                        "label": "Reply Markup"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}