Make example Blueprints/Queue Shopify orders for WhatsApp store review (Part 1 of 2).blueprint.json
{
    "name": "Queue Shopify orders for WhatsApp store review (Part 1 of 2)",
    "flow": [
        {
            "id": 4,
            "module": "shopify:watchOrders",
            "version": 3,
            "parameters": {
                "limit": 2,
                "sortKey": "updated",
                "customer": false,
                "variants": false,
                "lineItems": true,
                "metafields": false,
                "nLineItems": 10,
                "shippingLines": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:shopify,shopify4",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "sortKey",
                        "type": "select",
                        "label": "Watch by",
                        "required": true,
                        "validate": {
                            "enum": [
                                "created",
                                "updated"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Order limit",
                        "required": true,
                        "validate": {
                            "max": 250,
                            "min": 1
                        }
                    },
                    {
                        "name": "lineItems",
                        "type": "boolean",
                        "label": "Output line items",
                        "required": true
                    },
                    {
                        "name": "customer",
                        "type": "boolean",
                        "label": "Output customer details",
                        "required": true
                    },
                    {
                        "name": "shippingLines",
                        "type": "boolean",
                        "label": "Output shipping lines",
                        "required": true
                    },
                    {
                        "name": "metafields",
                        "type": "boolean",
                        "label": "Output order metafields",
                        "required": true
                    },
                    {
                        "name": "nLineItems",
                        "type": "uinteger",
                        "label": "Line items limit",
                        "required": true,
                        "validate": {
                            "max": 250,
                            "min": 1
                        }
                    },
                    {
                        "name": "variants",
                        "type": "boolean",
                        "label": "Output product variants",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "legacyResourceId",
                        "type": "text",
                        "label": "Legacy resource ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "phone",
                        "type": "text",
                        "label": "Phone"
                    },
                    {
                        "name": "poNumber",
                        "type": "text",
                        "label": "PO number"
                    },
                    {
                        "name": "displayFinancialStatus",
                        "type": "text",
                        "label": "Display financial status"
                    },
                    {
                        "name": "displayFulfillmentStatus",
                        "type": "text",
                        "label": "Display fulfillment status"
                    },
                    {
                        "name": "confirmed",
                        "type": "boolean",
                        "label": "Confirmed"
                    },
                    {
                        "name": "confirmationNumber",
                        "type": "text",
                        "label": "Confirmation number"
                    },
                    {
                        "name": "tags",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Tags"
                    },
                    {
                        "name": "statusPageUrl",
                        "type": "text",
                        "label": "Status page URL"
                    },
                    {
                        "name": "note",
                        "type": "text",
                        "label": "Note"
                    },
                    {
                        "name": "createdAt",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updatedAt",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "totalPriceSet",
                        "spec": [
                            {
                                "name": "amount",
                                "type": "text",
                                "label": "Amount"
                            },
                            {
                                "name": "currencyCode",
                                "type": "text",
                                "label": "Currency code"
                            }
                        ],
                        "type": "collection",
                        "label": "Total price set"
                    },
                    {
                        "name": "shippingAddress",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "firstName",
                                "type": "text",
                                "label": "First name"
                            },
                            {
                                "name": "lastName",
                                "type": "text",
                                "label": "Last name"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "phone",
                                "type": "text",
                                "label": "Phone"
                            },
                            {
                                "name": "company",
                                "type": "text",
                                "label": "Company"
                            },
                            {
                                "name": "address1",
                                "type": "text",
                                "label": "Address 1"
                            },
                            {
                                "name": "address2",
                                "type": "text",
                                "label": "Address 2"
                            },
                            {
                                "name": "city",
                                "type": "text",
                                "label": "City"
                            },
                            {
                                "name": "province",
                                "type": "text",
                                "label": "Province"
                            },
                            {
                                "name": "provinceCode",
                                "type": "text",
                                "label": "Province code"
                            },
                            {
                                "name": "country",
                                "type": "text",
                                "label": "Country"
                            },
                            {
                                "name": "countryCodeV2",
                                "type": "text",
                                "label": "Country code v2"
                            },
                            {
                                "name": "zip",
                                "type": "text",
                                "label": "Zip"
                            }
                        ],
                        "type": "collection",
                        "label": "Shipping address"
                    },
                    {
                        "name": "billingAddress",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "firstName",
                                "type": "text",
                                "label": "First name"
                            },
                            {
                                "name": "lastName",
                                "type": "text",
                                "label": "Last name"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "phone",
                                "type": "text",
                                "label": "Phone"
                            },
                            {
                                "name": "company",
                                "type": "text",
                                "label": "Company"
                            },
                            {
                                "name": "address1",
                                "type": "text",
                                "label": "Address 1"
                            },
                            {
                                "name": "address2",
                                "type": "text",
                                "label": "Address 2"
                            },
                            {
                                "name": "city",
                                "type": "text",
                                "label": "City"
                            },
                            {
                                "name": "province",
                                "type": "text",
                                "label": "Province"
                            },
                            {
                                "name": "provinceCode",
                                "type": "text",
                                "label": "Province code"
                            },
                            {
                                "name": "country",
                                "type": "text",
                                "label": "Country"
                            },
                            {
                                "name": "countryCodeV2",
                                "type": "text",
                                "label": "Country code v2"
                            },
                            {
                                "name": "zip",
                                "type": "text",
                                "label": "Zip"
                            }
                        ],
                        "type": "collection",
                        "label": "Billing address"
                    },
                    {
                        "name": "billingAddressMatchesShippingAddress",
                        "type": "boolean",
                        "label": "Billing address matches shipping address"
                    },
                    {
                        "name": "fullyPaid",
                        "type": "boolean",
                        "label": "Fully paid"
                    },
                    {
                        "name": "lineItems",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "sku",
                                    "type": "text",
                                    "label": "SKU"
                                },
                                {
                                    "name": "originalUnitPriceSet",
                                    "spec": [
                                        {
                                            "name": "amount",
                                            "type": "text",
                                            "label": "Amount"
                                        },
                                        {
                                            "name": "currencyCode",
                                            "type": "text",
                                            "label": "Currency code"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Original unit price"
                                },
                                {
                                    "name": "discountedUnitPriceSet",
                                    "spec": [
                                        {
                                            "name": "amount",
                                            "type": "text",
                                            "label": "Amount"
                                        },
                                        {
                                            "name": "currencyCode",
                                            "type": "text",
                                            "label": "Currency code"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Discounted unit price"
                                },
                                {
                                    "name": "discountedUnitPriceAfterAllDiscountsSet",
                                    "spec": [
                                        {
                                            "name": "amount",
                                            "type": "text",
                                            "label": "Amount"
                                        },
                                        {
                                            "name": "currencyCode",
                                            "type": "text",
                                            "label": "Currency code"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Discounted unit price after all discounts"
                                },
                                {
                                    "name": "product",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "legacyResourceId",
                                            "type": "text",
                                            "label": "Legacy resource ID"
                                        },
                                        {
                                            "name": "totalInventory",
                                            "type": "number",
                                            "label": "Total inventory"
                                        },
                                        {
                                            "name": "tracksInventory",
                                            "type": "boolean",
                                            "label": "Tracks inventory"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Product"
                                },
                                {
                                    "name": "quantity",
                                    "type": "number",
                                    "label": "Quantity"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Line items"
                    },
                    {
                        "name": "apiQuotaDetails",
                        "spec": [
                            {
                                "name": "requestedQueryCost",
                                "type": "number",
                                "label": "Requested query cost"
                            },
                            {
                                "name": "actualQueryCost",
                                "type": "number",
                                "label": "Actual query cost"
                            },
                            {
                                "name": "throttleStatus",
                                "spec": [
                                    {
                                        "name": "maximumAvailable",
                                        "type": "number",
                                        "label": "Maximum available"
                                    },
                                    {
                                        "name": "currentlyAvailable",
                                        "type": "number",
                                        "label": "Currently available"
                                    },
                                    {
                                        "name": "restoreRate",
                                        "type": "number",
                                        "label": "Restore rate"
                                    }
                                ],
                                "type": "collection",
                                "label": "Throttle status"
                            }
                        ],
                        "type": "collection",
                        "label": "API quota details"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "whatsscale:findCrmContactByPhone",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "Fulfilled order with phone",
                "conditions": [
                    [
                        {
                            "a": "{{4.displayFulfillmentStatus}}",
                            "b": "fulfilled",
                            "o": "text:equal"
                        },
                        {
                            "a": "{{4.shippingAddress.phone}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "phone": "{{4.shippingAddress.phone}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "whatsscale"
                            },
                            "label": "My WhatsScale connection (mahi@whatsscale.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:whatsscale",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "phone",
                        "type": "text",
                        "label": "Phone Number",
                        "required": true
                    }
                ]
            },
            "onerror": [
                {
                    "id": 6,
                    "module": "builtin:Resume",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "id": "",
                        "name": "",
                        "tags": [],
                        "phone": "",
                        "source": "",
                        "created_at": "",
                        "updated_at": ""
                    },
                    "metadata": {
                        "designer": {
                            "x": 600,
                            "y": 600
                        },
                        "restore": {},
                        "expect": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "phone",
                                "type": "text",
                                "label": "Phone"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "tags",
                                "spec": {
                                    "name": "value",
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Tags"
                            },
                            {
                                "name": "source",
                                "type": "text",
                                "label": "Source"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 8,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {},
                            "filter": {
                                "name": "Queue for review",
                                "conditions": []
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{4.id}}",
                                    "1": "{{4.shippingAddress.firstName}}{{4.shippingAddress.lastName}}",
                                    "2": "{{4.shippingAddress.phone}}",
                                    "3": "{{formatDate(addDays(now; 3); \"YYYY-MM-DD\")}}"
                                },
                                "sheetId": "Sheet2",
                                "spreadsheetId": "/1rAYi8FGyKvuEZhGJwShAfm_teZsFBblxBrCkCcrcje4",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 914,
                                    "y": 324
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Sheet2"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Whatsapp Campaigns"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Order ID (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Customer Name (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Customer Phone (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Send Date (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "(E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "(F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "(G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "Mahi whatsscale google connection (mahi@whatsscale.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Order ID (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Customer Name (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Customer Phone (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Send Date (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "(E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "(F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 12,
                            "module": "whatsscale:updateCrmContact",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Already sent - skip",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{5.id}}",
                                            "o": "exist"
                                        },
                                        {
                                            "a": "{{5.tags}}",
                                            "b": "store-review-sent",
                                            "o": "text:contain:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "name": "{{4.shippingAddress.firstName}}{{4.shippingAddress.lastName}}",
                                "contactId": "{{4.shippingAddress.phone}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 923,
                                    "y": 30
                                },
                                "restore": {
                                    "expect": {
                                        "contactId": {
                                            "mode": "edit"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "whatsscale"
                                            },
                                            "label": "My WhatsScale connection (mahi@whatsscale.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:whatsscale",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "contactId",
                                        "type": "select",
                                        "label": "Contact",
                                        "required": true
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "tags",
                                        "type": "text",
                                        "label": "Tags"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}