Make example Blueprints/Search Zoho Invoices and create archives in Dropbox.blueprint.json
{
    "name": "Search Zoho Invoices and create archives in Dropbox",
    "flow": [
        {
            "id": 2,
            "module": "zoho-invoice:listInvoices",
            "version": 1,
            "parameters": {},
            "mapper": {
                "limit": "10",
                "filter": [
                    [
                        {
                            "a": "invoice_number",
                            "b": "18",
                            "o": "invoice_number_startswith"
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "filter_by": {
                        "mode": "chose",
                        "label": ""
                    },
                    "sort_column": {
                        "mode": "chose",
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": [
                                {
                                    "label": "Invoice Number",
                                    "value": "invoice_number"
                                },
                                {
                                    "label": "Item Name",
                                    "value": "item_name"
                                },
                                {
                                    "label": "Item Description",
                                    "value": "item_description"
                                },
                                {
                                    "label": "Reference Number",
                                    "value": "reference_number"
                                },
                                {
                                    "label": "Customer Name",
                                    "value": "customer_name"
                                },
                                {
                                    "label": "Email",
                                    "value": "email"
                                },
                                {
                                    "label": "Total Value",
                                    "value": "total"
                                },
                                {
                                    "label": "Balance",
                                    "value": "balance"
                                },
                                {
                                    "label": "Date",
                                    "value": "date"
                                },
                                {
                                    "label": "Due Date",
                                    "value": "due_date"
                                }
                            ],
                            "operators": [
                                {
                                    "label": "Invoice Number",
                                    "options": [
                                        {
                                            "label": "Starts With",
                                            "value": "invoice_number_startswith"
                                        },
                                        {
                                            "label": "Contains",
                                            "value": "invoice_number_contains"
                                        },
                                        {
                                            "label": "Equal to",
                                            "value": "invoice_number"
                                        }
                                    ]
                                },
                                {
                                    "label": "Item Name",
                                    "options": [
                                        {
                                            "label": "Starts With",
                                            "value": "item_name_startswith"
                                        },
                                        {
                                            "label": "Contains",
                                            "value": "item_name_contains"
                                        },
                                        {
                                            "label": "Equal to",
                                            "value": "item_name"
                                        }
                                    ]
                                },
                                {
                                    "label": "Item Description",
                                    "options": [
                                        {
                                            "label": "Starts With",
                                            "value": "item_description_startswith"
                                        },
                                        {
                                            "label": "Contains",
                                            "value": "item_description_contains"
                                        },
                                        {
                                            "label": "Equal to",
                                            "value": "item_description"
                                        }
                                    ]
                                },
                                {
                                    "label": "Reference Number",
                                    "options": [
                                        {
                                            "label": "Starts With",
                                            "value": "reference_number_startswith"
                                        },
                                        {
                                            "label": "Contains",
                                            "value": "reference_number_contains"
                                        },
                                        {
                                            "label": "Equal to",
                                            "value": "reference_number"
                                        }
                                    ]
                                },
                                {
                                    "label": "Customer Name",
                                    "options": [
                                        {
                                            "label": "Starts With",
                                            "value": "customer_name_startswith"
                                        },
                                        {
                                            "label": "Contains",
                                            "value": "customer_name_contains"
                                        },
                                        {
                                            "label": "Equal to",
                                            "value": "customer_name"
                                        }
                                    ]
                                },
                                {
                                    "label": "Email",
                                    "options": [
                                        {
                                            "label": "Starts With",
                                            "value": "email_startswith"
                                        },
                                        {
                                            "label": "Contains",
                                            "value": "email_contains"
                                        },
                                        {
                                            "label": "Equal to",
                                            "value": "email"
                                        }
                                    ]
                                },
                                {
                                    "label": "Total Value",
                                    "options": [
                                        {
                                            "label": "Equal to",
                                            "value": "total"
                                        },
                                        {
                                            "label": "Less Than",
                                            "value": "total_less_than"
                                        },
                                        {
                                            "label": "Less or Equal",
                                            "value": "total_less_equals"
                                        },
                                        {
                                            "label": "Greater Than",
                                            "value": "total_greater_than"
                                        },
                                        {
                                            "label": "Greate or Equal",
                                            "value": "total_greater_equals"
                                        }
                                    ]
                                },
                                {
                                    "label": "Balance Value",
                                    "options": [
                                        {
                                            "label": "Equal to",
                                            "value": "balance"
                                        },
                                        {
                                            "label": "Less Than",
                                            "value": "balance_less_than"
                                        },
                                        {
                                            "label": "Less or Equal",
                                            "value": "balance_less_equals"
                                        },
                                        {
                                            "label": "Greater Than",
                                            "value": "balance_greater_than"
                                        },
                                        {
                                            "label": "Greate or Equal",
                                            "value": "balance_greater_equals"
                                        }
                                    ]
                                },
                                {
                                    "label": "Date",
                                    "options": [
                                        {
                                            "label": "Equal to",
                                            "value": "date"
                                        },
                                        {
                                            "label": "Start",
                                            "value": "date_start"
                                        },
                                        {
                                            "label": "End",
                                            "value": "date_end"
                                        },
                                        {
                                            "label": "Before",
                                            "value": "date_before"
                                        },
                                        {
                                            "label": "After",
                                            "value": "date_after"
                                        }
                                    ]
                                },
                                {
                                    "label": "Due Date",
                                    "options": [
                                        {
                                            "label": "Equal to",
                                            "value": "due_date"
                                        },
                                        {
                                            "label": "Start",
                                            "value": "due_date_start"
                                        },
                                        {
                                            "label": "End",
                                            "value": "due_date_end"
                                        },
                                        {
                                            "label": "Before",
                                            "value": "due_date_before"
                                        },
                                        {
                                            "label": "After",
                                            "value": "due_date_after"
                                        }
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        "name": "item_id",
                        "type": "select",
                        "label": "Select Item"
                    },
                    {
                        "name": "status",
                        "type": "select",
                        "label": "Status",
                        "validate": {
                            "enum": [
                                "sent",
                                "Draft",
                                "overdue",
                                "paid",
                                "void",
                                "unpaid",
                                "partially_paid",
                                "viewed"
                            ]
                        }
                    },
                    {
                        "name": "filter_by",
                        "type": "select",
                        "label": "Filter By",
                        "validate": {
                            "enum": [
                                "Status.All",
                                "Status.Sent",
                                "Status.Draft",
                                "Status.OverDue",
                                "Status.Paid",
                                "Status.Void",
                                "Status.Unpaid",
                                "Status.PartiallyPaid",
                                "Status.Viewed",
                                "Date.PaymentExpectedDate"
                            ]
                        }
                    },
                    {
                        "name": "sort_column",
                        "type": "select",
                        "label": "Sort Column",
                        "validate": {
                            "enum": [
                                "customer_name",
                                "invoice_number",
                                "date",
                                "due_date",
                                "total",
                                "balance",
                                "created_time"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "zoho-invoice:getInvoice",
            "version": 1,
            "parameters": {},
            "mapper": {
                "accept": "pdf",
                "invoice_id": "{{2.invoice_id}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "accept": {
                        "mode": "chose",
                        "label": "PDF"
                    },
                    "invoice_id": {
                        "mode": "edit"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "invoice_id",
                        "type": "select",
                        "label": "Invoice ID",
                        "required": true
                    },
                    {
                        "name": "accept",
                        "type": "select",
                        "label": "Print",
                        "required": true,
                        "validate": {
                            "enum": [
                                "json",
                                "pdf",
                                "html"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 2,
                "target": "8.import.inputs"
            },
            "mapper": {
                "data": "{{7.data}}",
                "filename": "{{7.invoice_number}}.pdf",
                "importType": "upload"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "feeder": {
                        "label": "Zoho Invoice - List Invoices [2]"
                    },
                    "target": {
                        "label": "Import options: Input files"
                    },
                    "__IMTTARGET__": {
                        "nested": {
                            "importType": {
                                "mode": "chose",
                                "label": "upload a file"
                            }
                        }
                    }
                },
                "expect": [
                    {
                        "name": "importType",
                        "type": "select",
                        "label": "Input file",
                        "required": true,
                        "validate": {
                            "enum": [
                                "upload",
                                "url"
                            ]
                        }
                    },
                    {
                        "mean": "data",
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "mean": "name",
                        "name": "filename",
                        "type": "filename",
                        "label": "File name",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "cloudconvert:CreateArchive",
            "version": 2,
            "parameters": {},
            "mapper": {
                "export": {
                    "downloadFile": true
                },
                "import": {
                    "inputs": "{{13.array}}"
                },
                "options": {
                    "filename": "{{formatDate(now; \"DD.MM.YYYY\")}}.zip",
                    "output_format": "zip"
                }
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "export": {
                        "nested": {
                            "downloadFile": {
                                "mode": "chose"
                            }
                        }
                    },
                    "import": {
                        "nested": {
                            "inputs": {
                                "mode": "edit"
                            }
                        }
                    },
                    "options": {
                        "nested": {
                            "opts": {
                                "mode": "chose",
                                "items": []
                            },
                            "output_format": {
                                "mode": "chose",
                                "label": "zip"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "import",
                        "spec": [
                            {
                                "name": "inputs",
                                "spec": [
                                    {
                                        "name": "importType",
                                        "type": "select",
                                        "label": "Input file",
                                        "options": [
                                            {
                                                "label": "upload a file",
                                                "value": "upload",
                                                "nested": [
                                                    {
                                                        "name": "data",
                                                        "type": "buffer",
                                                        "label": "Data",
                                                        "required": true,
                                                        "semantic": "file:data"
                                                    },
                                                    {
                                                        "name": "filename",
                                                        "type": "filename",
                                                        "label": "File name",
                                                        "required": true,
                                                        "semantic": "file:name"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "import a file from URL",
                                                "value": "url",
                                                "nested": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Headers",
                                                        "labels": {
                                                            "add": "Add a header",
                                                            "edit": "Update a header"
                                                        }
                                                    }
                                                ]
                                            }
                                        ],
                                        "required": true
                                    }
                                ],
                                "type": "array",
                                "label": "Input files",
                                "labels": {
                                    "add": "Add a file",
                                    "edit": "Update a file"
                                },
                                "required": true,
                                "validate": {
                                    "minItems": 1
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Import options",
                        "required": true
                    },
                    {
                        "name": "options",
                        "spec": [
                            {
                                "name": "output_format",
                                "type": "select",
                                "label": "Output format",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "7z",
                                        "rar",
                                        "tar",
                                        "tar.bz2",
                                        "tar.gz",
                                        "zip"
                                    ]
                                }
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name",
                                "required": true
                            },
                            {
                                "name": "opts",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name",
                                        "required": true
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    }
                                ],
                                "type": "array",
                                "label": "Conversion and engine specific options",
                                "labels": {
                                    "add": "Add an option",
                                    "edit": "Update an option"
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Archive options",
                        "required": true
                    },
                    {
                        "name": "export",
                        "spec": [
                            {
                                "name": "downloadFile",
                                "type": "boolean",
                                "label": "Download a file",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Export options",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "dropbox:uploadLargeFile",
            "version": 5,
            "parameters": {},
            "mapper": {
                "data": "{{8.data}}",
                "filename": "{{8.filename}}",
                "overwrite": false
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "overwrite": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "path",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "mean": "name",
                        "name": "filename",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "mean": "data",
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "overwrite",
                        "type": "boolean",
                        "label": "Overwrite an existing file",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}