Make example Blueprints/Sync Attio Students-Deals to Kinderpedia.blueprint.json
{
    "name": "Sync Attio Students/Deals to Kinderpedia",
    "flow": [
        {
            "id": 109,
            "module": "attio:makeAnApiCall",
            "version": 2,
            "parameters": {},
            "mapper": {
                "url": "/v2/objects/deals/records/query",
                "body": "{\n  \"filter\": {\n    \"stage\": \"Lead\"\n  }\n}",
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 1050,
                    "name": "Get Attio Student Deals"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:attio2,attio",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 110,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{109.body.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 1050,
                    "name": "Iterate Attio Student Deals"
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 113,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{110.values.associated_people}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 1050,
                    "name": "Iterate Attio Parents"
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 111,
            "module": "attio:getAPerson",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 4863730
            },
            "mapper": {
                "record_id": "{{113.target_record_id}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 1050,
                    "name": "Get Attio Parent"
                },
                "restore": {
                    "expect": {
                        "record_id": {
                            "mode": "edit"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "attio"
                            },
                            "label": "@gserban Attio CRM Connection (gserban@makeitfuture.com (MakeItFuture))"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:attio2,attio",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "record_id",
                        "type": "select",
                        "label": "Person ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 115,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "firstName",
                        "value": "{{111.values.name[].first_name}}"
                    },
                    {
                        "name": "lastName",
                        "value": "{{111.values.name[].last_name}}"
                    },
                    {
                        "name": "email",
                        "value": "{{111.values.email_addresses[].email_address}}"
                    },
                    {
                        "name": "phone",
                        "value": "{{111.values.phone_numbers[].phone_number}}"
                    },
                    {
                        "name": "address",
                        "value": "{{111.values.address[].value}}"
                    },
                    {
                        "name": "accountType",
                        "value": "{{111.values.account_type[].option.title}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 1050,
                    "name": "Set Parent Variables"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "firstName",
                        "type": "any",
                        "label": "firstName"
                    },
                    {
                        "name": "lastName",
                        "type": "any",
                        "label": "lastName"
                    },
                    {
                        "name": "email",
                        "type": "any",
                        "label": "email"
                    },
                    {
                        "name": "phone",
                        "type": "any",
                        "label": "phone"
                    },
                    {
                        "name": "address",
                        "type": "any",
                        "label": "address"
                    },
                    {
                        "name": "accountType",
                        "type": "any",
                        "label": "accountType"
                    }
                ]
            }
        },
        {
            "id": 114,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 113
            },
            "mapper": {
                "email": "{{115.email}}",
                "phone": "{{115.phone}}",
                "address": "{{115.address}}",
                "lastName": "{{115.lastName}}",
                "firstName": "{{115.firstName}}",
                "accountType": "{{115.accountType}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 1050,
                    "name": "Aggregate Parent Variables"
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterator [113]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 32,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "studentExists",
                        "value": ""
                    },
                    {
                        "name": "groupId",
                        "value": ""
                    },
                    {
                        "name": "familyId",
                        "value": ""
                    },
                    {
                        "name": "studentProperties",
                        "value": "{{toArray(110.values)}}"
                    },
                    {
                        "name": "parents",
                        "value": "{{114.array}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 1050,
                    "name": "Reset Kinderpedia Variables"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "studentExists",
                        "type": "any",
                        "label": "studentExists"
                    },
                    {
                        "name": "groupId",
                        "type": "any",
                        "label": "groupId"
                    },
                    {
                        "name": "familyId",
                        "type": "any",
                        "label": "familyId"
                    },
                    {
                        "name": "studentProperties",
                        "type": "any",
                        "label": "studentProperties"
                    },
                    {
                        "name": "parents",
                        "type": "any",
                        "label": "parents"
                    }
                ]
            }
        },
        {
            "id": 33,
            "module": "util:GetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "variables": [
                    "studentsArray"
                ]
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 1050,
                    "name": "Get Kinderpedia Students Array Variable"
                },
                "restore": {
                    "expect": {
                        "variables": {
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Variable name",
                            "required": true
                        },
                        "type": "array",
                        "label": "Variables"
                    }
                ],
                "interface": [
                    {
                        "name": "studentsArray",
                        "type": "any",
                        "label": "studentsArray"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 1050
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 92,
                            "module": "kinderpedia:getChildren",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "studentsArray Doesn't Exist",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{length(33.studentsArray)}}",
                                            "b": "0",
                                            "o": "number:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "propertiesCurrentSchool.status": "active"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 0,
                                    "name": "Get Kinderpedia Students"
                                },
                                "restore": {
                                    "expect": {
                                        "limit": {
                                            "empty": true
                                        },
                                        "includeContext[]": {
                                            "mode": "chose"
                                        },
                                        "groups.group.id[]": {
                                            "mode": "chose"
                                        },
                                        "propertiesCurrentSchool.status": {
                                            "mode": "chose",
                                            "label": "Active"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "kinderpedia"
                                            },
                                            "label": "@gserban_MakeIt_Test_6941_Second"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:kinderpedia",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "propertiesCurrentSchool.status",
                                        "type": "select",
                                        "label": "Student Account Status",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "active",
                                                "inactive"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "includeContext[]",
                                        "type": "select",
                                        "label": "Output Properties",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "main_group",
                                                "secondary_groups",
                                                "properties_current_school",
                                                "parents",
                                                "student_eavs",
                                                "family"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "groups.group.id",
                                        "type": "integer",
                                        "label": "Main or Secondary Group ID"
                                    },
                                    {
                                        "name": "groups.group.id[]",
                                        "spec": {
                                            "name": "value",
                                            "type": "integer"
                                        },
                                        "type": "array",
                                        "label": "Main or Secondary Group IDs"
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 8,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 92
                            },
                            "mapper": {
                                "id": "{{92.id}}",
                                "lastName": "{{92.lastName}}",
                                "birthdate": "{{92.birthdate}}",
                                "firstName": "{{92.firstName}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3000,
                                    "y": 0,
                                    "name": "Aggregate Kinderpedia Students"
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Kinderpedia - Search Students [92]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 9,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "studentsArray",
                                        "value": "{{8.array}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3300,
                                    "y": 0,
                                    "name": "Set Kinderpedia Students Array Variable"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        },
                                        "variables": {
                                            "items": [
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "studentsArray",
                                        "type": "any",
                                        "label": "studentsArray"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "util:GetVariables",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Search Student",
                                "conditions": []
                            },
                            "mapper": {
                                "variables": [
                                    "studentsArray"
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 300,
                                    "name": "Get Kinderpedia Students Array Variable"
                                },
                                "restore": {
                                    "expect": {
                                        "variables": {
                                            "items": [
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Variable name",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "Variables"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "studentsArray",
                                        "type": "any",
                                        "label": "studentsArray"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 85,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "kpFirstName",
                                        "value": "{{map(10.studentsArray; \"id\"; \"firstName\"; 110.values.child_first_name[].value)}}"
                                    },
                                    {
                                        "name": "kpLastName",
                                        "value": "{{map(10.studentsArray; \"id\"; \"lastName\"; 110.values.child_last_name[].value)}}"
                                    },
                                    {
                                        "name": "kpBirthday",
                                        "value": "{{map(10.studentsArray; \"id\"; \"birthdate\"; formatDate(parseDate(110.values.date_of_birth[].value; \"YYYY-MM-DD\"); \"YYYY-MM-DD\"))}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3000,
                                    "y": 300,
                                    "name": "Set Kinderpedia Split Array Variables"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        },
                                        "variables": {
                                            "items": [
                                                null,
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "kpFirstName",
                                        "type": "any",
                                        "label": "kpFirstName"
                                    },
                                    {
                                        "name": "kpLastName",
                                        "type": "any",
                                        "label": "kpLastName"
                                    },
                                    {
                                        "name": "kpBirthday",
                                        "type": "any",
                                        "label": "kpBirthday"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 86,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "array": "{{85.kpBirthday}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3300,
                                    "y": 300,
                                    "name": "Iterate Kinderpedia Split Array"
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Student Exists",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{contains(85.kpFirstName; 86.value)}}",
                                            "b": "true",
                                            "o": "boolean:equal"
                                        },
                                        {
                                            "a": "{{contains(85.kpLastName; 86.value)}}",
                                            "b": "true",
                                            "o": "boolean:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "studentExists",
                                        "value": "true"
                                    },
                                    {
                                        "name": "studentExistID",
                                        "value": "{{86.value}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3600,
                                    "y": 300,
                                    "name": "Set Kinderpedia Student Exists Variable"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        },
                                        "variables": {
                                            "items": [
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "studentExists",
                                        "type": "any",
                                        "label": "studentExists"
                                    },
                                    {
                                        "name": "studentExistID",
                                        "type": "any",
                                        "label": "studentExistID"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 93,
                            "module": "kinderpedia:getGroups",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Get Group",
                                "conditions": []
                            },
                            "mapper": {
                                "name": "{{replace(110.values.main_group[].option.title; \"\"\"\"; emptystring)}}",
                                "limit": "10",
                                "itemsPerPage": "10"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 600,
                                    "name": "Get Kinderpedia Groups"
                                },
                                "restore": {
                                    "expect": {
                                        "id[]": {
                                            "mode": "chose"
                                        },
                                        "type[]": {
                                            "mode": "chose"
                                        },
                                        "status[]": {
                                            "mode": "chose"
                                        },
                                        "order[name]": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "studyLevel[]": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "kinderpedia"
                                            },
                                            "label": "@gserban_MakeIt_Test_6941_Second"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:kinderpedia",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "id",
                                        "type": "integer",
                                        "label": "Group ID"
                                    },
                                    {
                                        "name": "id[]",
                                        "spec": {
                                            "name": "value",
                                            "type": "integer"
                                        },
                                        "type": "array",
                                        "label": "Group ID (Multiple)"
                                    },
                                    {
                                        "name": "studyLevel",
                                        "type": "integer",
                                        "label": "Study Level"
                                    },
                                    {
                                        "name": "studyLevel[]",
                                        "spec": {
                                            "name": "value",
                                            "type": "integer"
                                        },
                                        "type": "array",
                                        "label": "Study Level (Multiple)"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "status",
                                        "type": "text",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "status[]",
                                        "spec": {
                                            "name": "value",
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Status (Multiple)"
                                    },
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "type[]",
                                        "spec": {
                                            "name": "value",
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Type (Multiple)"
                                    },
                                    {
                                        "name": "order[name]",
                                        "type": "select",
                                        "label": "Order by Name",
                                        "validate": {
                                            "enum": [
                                                "asc",
                                                "desc"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "itemsPerPage",
                                        "type": "uinteger",
                                        "label": "Items Per Page"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 104,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 93
                            },
                            "mapper": {
                                "id": "{{93.id}}",
                                "name": "{{93.name}}",
                                "status": "{{93.status}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3000,
                                    "y": 600,
                                    "name": "Aggregate Kinderpedia Groups"
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Kinderpedia - List Groups [93]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 13,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Group Exists",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{map(104.array; \"id\"; \"name\"; replace(110.values.main_group[].option.title; \"\"\"\"; emptystring))}}",
                                            "b": "0",
                                            "o": "array:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "groupId",
                                        "value": "{{get(map(104.array; \"id\"; \"name\"; replace(110.values.main_group[].option.title; \"\"\"\"; emptystring)); 1)}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3300,
                                    "y": 600,
                                    "name": "Set Kinderpedia Group Id Variable"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        },
                                        "variables": {
                                            "items": [
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "groupId",
                                        "type": "any",
                                        "label": "groupId"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 94,
                            "module": "kinderpedia:getFamilies",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Get Family",
                                "conditions": []
                            },
                            "mapper": {
                                "name": "{{110.values.child_last_name[].value}}",
                                "itemsPerPage": "10",
                                "includeContext": [
                                    "family_parents"
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 900,
                                    "name": "Get Kinderpedia Families"
                                },
                                "restore": {
                                    "expect": {
                                        "limit": {
                                            "empty": true
                                        },
                                        "order[name]": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "includeContext": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "kinderpedia"
                                            },
                                            "label": "@gserban_MakeIt_Test_6941_Second"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:kinderpedia",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "includeContext",
                                        "type": "select",
                                        "label": "Output Properties",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "family_parents",
                                                "family_students"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Family Name Contains",
                                        "validate": {
                                            "min": 3
                                        }
                                    },
                                    {
                                        "name": "order[name]",
                                        "type": "select",
                                        "label": "Order",
                                        "validate": {
                                            "enum": [
                                                "asc",
                                                "desc"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "itemsPerPage",
                                        "type": "uinteger",
                                        "label": "Items Per Page"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 103,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Kinderpedia Family Exists",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{94.`__IMTLENGTH__`}}",
                                            "b": "0",
                                            "o": "number:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "array": "{{94.parents}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3000,
                                    "y": 900,
                                    "name": "Iterate Kinderpedia Families"
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 16,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Family Exists",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{map(32.parents; \"email\"; \"email\"; 103.emailInfo)}}",
                                            "b": "0",
                                            "o": "array:greater"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{map(32.parents; \"phone\"; \"phone\"; 103.phone)}}",
                                            "b": "0",
                                            "o": "array:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "familyId",
                                        "value": "{{94.id}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3300,
                                    "y": 900,
                                    "name": "Set Family Id Variable"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        },
                                        "variables": {
                                            "items": [
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "familyId",
                                        "type": "any",
                                        "label": "familyId"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 17,
                            "module": "util:GetVariables",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Add Student",
                                "conditions": []
                            },
                            "mapper": {
                                "variables": [
                                    "studentExists",
                                    "groupId",
                                    "familyId",
                                    "studentProperties",
                                    "studentExistID"
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 1650,
                                    "name": "Get Kinderpedia Variables"
                                },
                                "restore": {
                                    "expect": {
                                        "variables": {
                                            "items": [
                                                null,
                                                null,
                                                null,
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Variable name",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "Variables"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "studentExists",
                                        "type": "any",
                                        "label": "studentExists"
                                    },
                                    {
                                        "name": "groupId",
                                        "type": "any",
                                        "label": "groupId"
                                    },
                                    {
                                        "name": "familyId",
                                        "type": "any",
                                        "label": "familyId"
                                    },
                                    {
                                        "name": "studentProperties",
                                        "type": "any",
                                        "label": "studentProperties"
                                    },
                                    {
                                        "name": "studentExistID",
                                        "type": "any",
                                        "label": "studentExistID"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 95,
                            "module": "kinderpedia:addChild",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Group Exists",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{17.groupId}}",
                                            "b": "0",
                                            "o": "number:greater"
                                        },
                                        {
                                            "a": "{{17.studentExists}}",
                                            "b": "true",
                                            "o": "text:notequal:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "gender": "{{if(length(110.values.gender[].option.title > 0); lower(substring(110.values.gender[].option.title; 0; 1)); emptystring)}}",
                                "dateadd": "{{parseDate(110.values.starting_date[].value; \"YYYY-MM-DD hh:mm:ss\")}}",
                                "groupId": "{{17.groupId}}",
                                "familyId": "{{if(parseNumber(17.familyId) > 0; 17.familyId; 0)}}",
                                "lastName": "{{110.values.child_last_name[].value}}",
                                "birthdate": "{{parseDate(110.values.date_of_birth[].value; \"YYYY-MM-DD\")}}",
                                "firstName": "{{110.values.child_first_name[].value}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3000,
                                    "y": 1650,
                                    "name": "Add Kinderpedia Student"
                                },
                                "restore": {
                                    "expect": {
                                        "gender": {
                                            "mode": "edit"
                                        },
                                        "groupId": {
                                            "mode": "edit"
                                        },
                                        "familyId": {
                                            "mode": "edit"
                                        },
                                        "parentId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "kinderpedia"
                                            },
                                            "label": "@gserban_MakeIt_Test_6941_Second"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:kinderpedia",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "firstName",
                                        "type": "text",
                                        "label": "First Name",
                                        "required": true
                                    },
                                    {
                                        "name": "lastName",
                                        "type": "text",
                                        "label": "Last Name",
                                        "required": true
                                    },
                                    {
                                        "name": "gender",
                                        "type": "select",
                                        "label": "Gender",
                                        "validate": {
                                            "enum": [
                                                "m",
                                                "f"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "birthdate",
                                        "type": "date",
                                        "label": "Birthdate",
                                        "required": true
                                    },
                                    {
                                        "name": "dateadd",
                                        "type": "date",
                                        "label": "Date Added"
                                    },
                                    {
                                        "name": "parentId",
                                        "type": "select",
                                        "label": "Parent ID"
                                    },
                                    {
                                        "name": "groupId",
                                        "type": "select",
                                        "label": "Group ID",
                                        "required": true
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "familyId",
                                        "type": "select",
                                        "label": "Family ID",
                                        "required": true
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 44,
                                    "module": "util:SetVariables",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "scope": "roundtrip",
                                        "variables": [
                                            {
                                                "name": "error",
                                                "value": "{{95.error.message}}"
                                            }
                                        ]
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 3300,
                                            "y": 2100,
                                            "name": "On Error Do Something"
                                        },
                                        "restore": {
                                            "expect": {
                                                "scope": {
                                                    "label": "One cycle"
                                                },
                                                "variables": {
                                                    "items": [
                                                        null
                                                    ]
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "variables",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Variable name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "any",
                                                        "label": "Variable value"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Variables"
                                            },
                                            {
                                                "name": "scope",
                                                "type": "select",
                                                "label": "Variable lifetime",
                                                "required": true,
                                                "validate": {
                                                    "enum": [
                                                        "roundtrip",
                                                        "execution"
                                                    ]
                                                }
                                            }
                                        ],
                                        "interface": [
                                            {
                                                "name": "error",
                                                "type": "any",
                                                "label": "error"
                                            }
                                        ]
                                    }
                                },
                                {
                                    "id": 96,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": 3600,
                                            "y": 2100,
                                            "name": "Continue With Next Student"
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "id": 70,
                            "module": "kinderpedia:getCustomFields",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "limit": "10",
                                "entityType": "students",
                                "itemsPerPage": "10"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3300,
                                    "y": 1500,
                                    "name": "Get All Kinderpedia Student Custom Fields"
                                },
                                "restore": {
                                    "expect": {
                                        "entityType": {
                                            "mode": "chose",
                                            "label": "Students"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "kinderpedia"
                                            },
                                            "label": "@gserban_MakeIt_Test_6941_Second"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:kinderpedia",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "entityType",
                                        "type": "select",
                                        "label": "Entity Type",
                                        "validate": {
                                            "enum": [
                                                "parents",
                                                "students",
                                                "teachers",
                                                "staff_members"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "itemsPerPage",
                                        "type": "uinteger",
                                        "label": "Items Per Page"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 71,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 70
                            },
                            "mapper": {
                                "id": "{{70.id}}",
                                "label": "{{70.label}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3600,
                                    "y": 1500,
                                    "name": "Available Student Custom Fields Array"
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Kinderpedia - Get all Custom Fields [70]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 46,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 3900,
                                    "y": 1500
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 66,
                                            "module": "builtin:BasicFeeder",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "Add Custom Fields",
                                                "conditions": []
                                            },
                                            "mapper": {
                                                "array": "{{71.array}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 4200,
                                                    "y": 1200,
                                                    "name": "Iterate Kinderpedia Student Custom Fields"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "array": {
                                                            "mode": "edit"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "array",
                                                        "spec": [],
                                                        "type": "array",
                                                        "label": "Array"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 67,
                                            "module": "kinderpedia:addNewCustomFieldValue",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "Kinderpedia Custom Field Exists",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{get(map(17.studentProperties; \"key\"; \"key\"; lower(66.label)); 1)}}",
                                                            "b": "{{emptystring}}",
                                                            "o": "text:notequal:ci"
                                                        },
                                                        {
                                                            "a": "{{get(map(17.studentProperties; \"value[1].value\"; \"key\"; lower(66.label)); 1)}}",
                                                            "b": "{{emptystring}}",
                                                            "o": "text:notequal:ci"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "value": "{{get(map(17.studentProperties; \"value[1].value\"; \"key\"; lower(66.label)); 1)}}",
                                                "entityId": "{{95.id}}",
                                                "attributeId": "{{66.id}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 4500,
                                                    "y": 1200,
                                                    "name": "Add Kinderpedia Student Custom Field Value"
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "kinderpedia"
                                                            },
                                                            "label": "@gserban_MakeIt_Test_6941_Second"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:kinderpedia",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "attributeId",
                                                        "type": "number",
                                                        "label": "Attribute ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "entityId",
                                                        "type": "uinteger",
                                                        "label": "Entity ID"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 83,
                                                    "module": "util:SetVariables",
                                                    "version": 1,
                                                    "parameters": {},
                                                    "mapper": {
                                                        "scope": "roundtrip",
                                                        "variables": [
                                                            {
                                                                "name": "error",
                                                                "value": "{{67.error.message}}"
                                                            }
                                                        ]
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 4800,
                                                            "y": 1200,
                                                            "name": "On Error Do Something"
                                                        },
                                                        "restore": {
                                                            "expect": {
                                                                "scope": {
                                                                    "label": "One cycle"
                                                                },
                                                                "variables": {
                                                                    "items": [
                                                                        null
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "expect": [
                                                            {
                                                                "name": "variables",
                                                                "spec": [
                                                                    {
                                                                        "name": "name",
                                                                        "type": "text",
                                                                        "label": "Variable name",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "value",
                                                                        "type": "any",
                                                                        "label": "Variable value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Variables"
                                                            },
                                                            {
                                                                "name": "scope",
                                                                "type": "select",
                                                                "label": "Variable lifetime",
                                                                "required": true,
                                                                "validate": {
                                                                    "enum": [
                                                                        "roundtrip",
                                                                        "execution"
                                                                    ]
                                                                }
                                                            }
                                                        ],
                                                        "interface": [
                                                            {
                                                                "name": "error",
                                                                "type": "any",
                                                                "label": "error"
                                                            }
                                                        ]
                                                    }
                                                },
                                                {
                                                    "id": 82,
                                                    "module": "builtin:Ignore",
                                                    "version": 1,
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 5100,
                                                            "y": 1200,
                                                            "name": "Continue With Next Student"
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 105,
                                            "module": "builtin:BasicFeeder",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "Family Doesn't Exist",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{17.familyId}}",
                                                            "b": "{{emptystring}}",
                                                            "o": "text:equal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "array": "{{32.parents}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 4200,
                                                    "y": 1500,
                                                    "name": "Iterate Attio Parents"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "array": {
                                                            "mode": "edit"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "array",
                                                        "spec": [],
                                                        "type": "array",
                                                        "label": "Array"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 106,
                                            "module": "kinderpedia:addParent",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "Parent Info Exists",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{length(trim(105.email))}}",
                                                            "b": "0",
                                                            "o": "number:greater"
                                                        },
                                                        {
                                                            "a": "{{length(trim(105.firstName))}}",
                                                            "b": "0",
                                                            "o": "number:greater"
                                                        },
                                                        {
                                                            "a": "{{length(trim(105.lastName))}}",
                                                            "b": "0",
                                                            "o": "number:greater"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "phone": "{{105.phone}}",
                                                "address": "{{105.address}}",
                                                "familyId": "{{95.family.id}}",
                                                "lastName": "{{105.lastName}}",
                                                "emailInfo": "{{105.email}}",
                                                "firstName": "{{105.firstName}}",
                                                "familyPickup": true,
                                                "familyAcctype": "{{if(length(105.accountType) > 0; lower(replace(105.accountType; space; emptystring)); \"otherguardian\")}}",
                                                "familyMainAccount": "{{if(105.`__IMTINDEX__` = 1; true; false)}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 4500,
                                                    "y": 1500,
                                                    "name": "Add Kinderpedia Parent"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "familyPickup": {
                                                            "mode": "chose"
                                                        },
                                                        "familyAcctype": {
                                                            "mode": "edit"
                                                        },
                                                        "familyMainAccount": {
                                                            "mode": "edit"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "kinderpedia"
                                                            },
                                                            "label": "@gserban_MakeIt_Test_6941_Second"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:kinderpedia",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "emailInfo",
                                                        "type": "email",
                                                        "label": "Email",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "firstName",
                                                        "type": "text",
                                                        "label": "First Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "lastName",
                                                        "type": "text",
                                                        "label": "Last Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "phone",
                                                        "type": "text",
                                                        "label": "Phone"
                                                    },
                                                    {
                                                        "name": "address",
                                                        "type": "text",
                                                        "label": "Address"
                                                    },
                                                    {
                                                        "name": "familyId",
                                                        "type": "number",
                                                        "label": "Family ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "familyAcctype",
                                                        "type": "select",
                                                        "label": "Family Account Type",
                                                        "validate": {
                                                            "enum": [
                                                                "mother",
                                                                "father",
                                                                "grandfather",
                                                                "grandmother",
                                                                "tutor",
                                                                "nanny",
                                                                "student",
                                                                "stepfather",
                                                                "stepmother",
                                                                "sister",
                                                                "brother",
                                                                "uncle",
                                                                "aunt",
                                                                "otherguardian",
                                                                "consultant"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "familyMainAccount",
                                                        "type": "boolean",
                                                        "label": "Main Family Account",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "familyPickup",
                                                        "type": "boolean",
                                                        "label": "Family Pickup Permission",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 107,
                                                    "module": "util:SetVariables",
                                                    "version": 1,
                                                    "parameters": {},
                                                    "mapper": {
                                                        "scope": "roundtrip",
                                                        "variables": [
                                                            {
                                                                "name": "error",
                                                                "value": "{{106.error.message}}"
                                                            }
                                                        ]
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 4800,
                                                            "y": 1500,
                                                            "name": "On Error Do Something"
                                                        },
                                                        "restore": {
                                                            "expect": {
                                                                "scope": {
                                                                    "label": "One cycle"
                                                                },
                                                                "variables": {
                                                                    "items": [
                                                                        null
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "expect": [
                                                            {
                                                                "name": "variables",
                                                                "spec": [
                                                                    {
                                                                        "name": "name",
                                                                        "type": "text",
                                                                        "label": "Variable name",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "value",
                                                                        "type": "any",
                                                                        "label": "Variable value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Variables"
                                                            },
                                                            {
                                                                "name": "scope",
                                                                "type": "select",
                                                                "label": "Variable lifetime",
                                                                "required": true,
                                                                "validate": {
                                                                    "enum": [
                                                                        "roundtrip",
                                                                        "execution"
                                                                    ]
                                                                }
                                                            }
                                                        ],
                                                        "interface": [
                                                            {
                                                                "name": "error",
                                                                "type": "any",
                                                                "label": "error"
                                                            }
                                                        ]
                                                    }
                                                },
                                                {
                                                    "id": 108,
                                                    "module": "builtin:Ignore",
                                                    "version": 1,
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 5100,
                                                            "y": 1500,
                                                            "name": "Continue With Next Student"
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 116,
                                            "module": "attio:makeAnApiCall",
                                            "version": 2,
                                            "parameters": {},
                                            "filter": {
                                                "name": "Update OpenApply",
                                                "conditions": []
                                            },
                                            "mapper": {
                                                "url": "/v2/objects/deals/records/{{110.id.record_id}}",
                                                "body": "{\n    \"data\": {\n      \"values\": {\n        \"stage\": \"In Progress\"\n      }\n    }\n}",
                                                "method": "PUT",
                                                "headers": [
                                                    {
                                                        "key": "Content-Type",
                                                        "value": "application/json"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 4200,
                                                    "y": 1800,
                                                    "name": "Update Attio Student Deal Stage"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "qs": {
                                                            "mode": "chose"
                                                        },
                                                        "method": {
                                                            "mode": "chose",
                                                            "label": "PUT"
                                                        },
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "attio"
                                                            },
                                                            "label": "@gserban Attio CRM Connection (gserban@makeitfuture.com (MakeItFuture))"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:attio2,attio",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "GET",
                                                                "POST",
                                                                "PUT",
                                                                "PATCH",
                                                                "DELETE"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Headers"
                                                    },
                                                    {
                                                        "name": "qs",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Query String"
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}