Make example Blueprints/Update Airtable records with Phantombuster phantom output data (including CSV result file).blueprint.json
{
    "name": "Update Airtable records with Phantombuster phantom output data (including CSV result file)",
    "flow": [
        {
            "id": 1,
            "module": "phantombuster:watchAnOutput",
            "version": 1,
            "parameters": {},
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "phantom",
                        "type": "select",
                        "label": "Phantom ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "global": true,
                "pattern": "(https\\S+.csv)",
                "multiline": true,
                "sensitive": false,
                "singleline": false,
                "continueWhenNoRes": false
            },
            "mapper": {
                "text": "{{1.output}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "$1",
                        "type": "text",
                        "label": "$1"
                    },
                    {
                        "name": "i",
                        "type": "uinteger",
                        "label": "i"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "http:ActionGetFile",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "url": "{{2.`$1`}}",
                "method": "get",
                "shareCookies": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "hidden",
                        "label": "Method"
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {},
            "mapper": {
                "formula": "{Container ID} = {{1.containerId}}",
                "maxRecords": "1"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "sort": {
                        "mode": "chose",
                        "items": []
                    },
                    "view": {
                        "mode": "chose",
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field"
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "1",
                        "multiline": true
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "2",
                        "multiline": true
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "3",
                        "multiline": true
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "4",
                        "multiline": true
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "5",
                        "multiline": true
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "6",
                        "multiline": true
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "7",
                        "multiline": true
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "8",
                        "multiline": true
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "9",
                        "multiline": true
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "10",
                        "multiline": true
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes",
                        "multiline": true
                    },
                    {
                        "name": "Smartsheet cell ID",
                        "type": "text",
                        "label": "Smartsheet cell ID"
                    },
                    {
                        "name": "Attachments",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Created time",
                        "type": "date",
                        "label": "Created time"
                    },
                    {
                        "name": "Last modified time",
                        "type": "date",
                        "label": "Last modified time"
                    },
                    {
                        "name": "Product ID",
                        "type": "text",
                        "label": "Product ID"
                    },
                    {
                        "name": "Order ID",
                        "type": "text",
                        "label": "Order ID"
                    },
                    {
                        "name": "Date",
                        "time": false,
                        "type": "date",
                        "label": "Date"
                    },
                    {
                        "name": "12",
                        "type": "number",
                        "label": "12"
                    },
                    {
                        "name": "Item ID",
                        "type": "text",
                        "label": "Item ID"
                    },
                    {
                        "name": "Contact ID",
                        "type": "text",
                        "label": "Contact ID"
                    },
                    {
                        "name": "First name",
                        "type": "text",
                        "label": "First name"
                    },
                    {
                        "name": "Last name",
                        "type": "text",
                        "label": "Last name"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Phone",
                        "type": "text",
                        "label": "Phone"
                    },
                    {
                        "name": "Company",
                        "type": "text",
                        "label": "Company"
                    },
                    {
                        "name": "Address",
                        "type": "text",
                        "label": "Address"
                    },
                    {
                        "name": "City",
                        "type": "text",
                        "label": "City"
                    },
                    {
                        "name": "State",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "Postal code",
                        "type": "text",
                        "label": "Postal code"
                    },
                    {
                        "name": "Country",
                        "type": "text",
                        "label": "Country"
                    },
                    {
                        "name": "Launch/Copy/Done",
                        "type": "boolean",
                        "label": "Launch/Copy/Done"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {},
            "mapper": {
                "id": "{{4.id}}",
                "table": "Table 1",
                "record": {
                    "fldUZErYvDG34FfO6": "{{1.output}}",
                    "flddlx7IdXJ74RiQf": [
                        {
                            "url": "{{2.`$1`}}"
                        }
                    ],
                    "fldxScA1AtqOw8Mc2": "{{1.mostRecentEndedAt}}"
                },
                "typecast": false
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "table": {
                        "label": "Table 1"
                    },
                    "record": {
                        "nested": {
                            "flddlx7IdXJ74RiQf": {
                                "mode": "chose",
                                "items": [
                                    "undefined"
                                ]
                            },
                            "flduVY5bblFT1mBPy": {
                                "mode": "chose"
                            }
                        }
                    },
                    "typecast": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "flddhKuMbr2JcQ5I1",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "fldqVncKECvwDzBrr",
                                "type": "text",
                                "label": "1",
                                "multiline": true
                            },
                            {
                                "name": "fldZsoMS7BEd71PIR",
                                "type": "text",
                                "label": "2",
                                "multiline": true
                            },
                            {
                                "name": "fldOlWfj6x0bLkiuc",
                                "type": "text",
                                "label": "3",
                                "multiline": true
                            },
                            {
                                "name": "fldhCzoJxh87Nzbtm",
                                "type": "text",
                                "label": "4",
                                "multiline": true
                            },
                            {
                                "name": "fldUZErYvDG34FfO6",
                                "type": "text",
                                "label": "5",
                                "multiline": true
                            },
                            {
                                "name": "fldxScA1AtqOw8Mc2",
                                "type": "text",
                                "label": "6",
                                "multiline": true
                            },
                            {
                                "name": "fld7kGnWL5Gn5HWkH",
                                "type": "text",
                                "label": "7",
                                "multiline": true
                            },
                            {
                                "name": "fldkOwSD1JdZ4C4TV",
                                "type": "text",
                                "label": "8",
                                "multiline": true
                            },
                            {
                                "name": "fld0HDCXYEGdYUtgV",
                                "type": "text",
                                "label": "9",
                                "multiline": true
                            },
                            {
                                "name": "fldj1Jyjl7Cu2msIX",
                                "type": "text",
                                "label": "10",
                                "multiline": true
                            },
                            {
                                "name": "fldMSlnjypIurtHKU",
                                "type": "text",
                                "label": "Notes",
                                "multiline": true
                            },
                            {
                                "name": "fld4Jg5Mm5PF9WqxG",
                                "type": "text",
                                "label": "Smartsheet cell ID"
                            },
                            {
                                "name": "flddlx7IdXJ74RiQf",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "File URL",
                                        "required": true
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    }
                                ],
                                "type": "array",
                                "label": "Attachments"
                            },
                            {
                                "name": "fldOVhcML7yAthhv4",
                                "type": "text",
                                "label": "Status"
                            },
                            {
                                "name": "fldk1kIJ0mphG8pVP",
                                "type": "text",
                                "label": "Product ID"
                            },
                            {
                                "name": "fldI0HbDZEThasHou",
                                "type": "text",
                                "label": "Order ID"
                            },
                            {
                                "name": "fld4Uj68QkKsTINrn",
                                "time": false,
                                "type": "date",
                                "label": "Date"
                            },
                            {
                                "name": "fldVz1NS0XlEE9WnP",
                                "type": "number",
                                "label": "12"
                            },
                            {
                                "name": "fld4xWEH5w8eAueXJ",
                                "type": "text",
                                "label": "Item ID"
                            },
                            {
                                "name": "fldkHKnmF6mCmWBsK",
                                "type": "text",
                                "label": "Contact ID"
                            },
                            {
                                "name": "fldaWFIEI8X6rDNXq",
                                "type": "text",
                                "label": "First name"
                            },
                            {
                                "name": "fldxRrUhwBDtCCyU9",
                                "type": "text",
                                "label": "Last name"
                            },
                            {
                                "name": "fldSU9yLpFvmJc2q0",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "fldQBLcU7MqmK1PwR",
                                "type": "text",
                                "label": "Phone"
                            },
                            {
                                "name": "fldnFFEETNqOTlblL",
                                "type": "text",
                                "label": "Company"
                            },
                            {
                                "name": "fldHG9elio4WpZGNw",
                                "type": "text",
                                "label": "Address"
                            },
                            {
                                "name": "fldmiKv1A8xNzNfAq",
                                "type": "text",
                                "label": "City"
                            },
                            {
                                "name": "fldgoRPCePvxjYWPy",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "fldRR7wMAAuMIZTG8",
                                "type": "text",
                                "label": "Postal code"
                            },
                            {
                                "name": "fld5V0sPRasDjNeAe",
                                "type": "text",
                                "label": "Country"
                            },
                            {
                                "name": "flduVY5bblFT1mBPy",
                                "type": "boolean",
                                "label": "Launch/Copy/Done"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "1",
                        "multiline": true
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "2",
                        "multiline": true
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "3",
                        "multiline": true
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "4",
                        "multiline": true
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "5",
                        "multiline": true
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "6",
                        "multiline": true
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "7",
                        "multiline": true
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "8",
                        "multiline": true
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "9",
                        "multiline": true
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "10",
                        "multiline": true
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes",
                        "multiline": true
                    },
                    {
                        "name": "Smartsheet cell ID",
                        "type": "text",
                        "label": "Smartsheet cell ID"
                    },
                    {
                        "name": "Attachments",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Created time",
                        "type": "date",
                        "label": "Created time"
                    },
                    {
                        "name": "Last modified time",
                        "type": "date",
                        "label": "Last modified time"
                    },
                    {
                        "name": "Product ID",
                        "type": "text",
                        "label": "Product ID"
                    },
                    {
                        "name": "Order ID",
                        "type": "text",
                        "label": "Order ID"
                    },
                    {
                        "name": "Date",
                        "time": false,
                        "type": "date",
                        "label": "Date"
                    },
                    {
                        "name": "12",
                        "type": "number",
                        "label": "12"
                    },
                    {
                        "name": "Item ID",
                        "type": "text",
                        "label": "Item ID"
                    },
                    {
                        "name": "Contact ID",
                        "type": "text",
                        "label": "Contact ID"
                    },
                    {
                        "name": "First name",
                        "type": "text",
                        "label": "First name"
                    },
                    {
                        "name": "Last name",
                        "type": "text",
                        "label": "Last name"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Phone",
                        "type": "text",
                        "label": "Phone"
                    },
                    {
                        "name": "Company",
                        "type": "text",
                        "label": "Company"
                    },
                    {
                        "name": "Address",
                        "type": "text",
                        "label": "Address"
                    },
                    {
                        "name": "City",
                        "type": "text",
                        "label": "City"
                    },
                    {
                        "name": "State",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "Postal code",
                        "type": "text",
                        "label": "Postal code"
                    },
                    {
                        "name": "Country",
                        "type": "text",
                        "label": "Country"
                    },
                    {
                        "name": "Launch/Copy/Done",
                        "type": "boolean",
                        "label": "Launch/Copy/Done"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}