Make example Blueprints/Update the status of task in Asana after completing of its twin in Focuster.blueprint.json
{
    "name": "Update the status of task in Asana after completing of its twin in Focuster",
    "flow": [
        {
            "id": 1,
            "module": "focuster:newCompletedAction",
            "version": 1,
            "parameters": {
                "limit": 2
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -300,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "global": false,
                "pattern": "(\\d+)$",
                "multiline": false,
                "sensitive": true,
                "continueWhenNoRes": false
            },
            "filter": {
                "name": "only actions from Asana",
                "conditions": [
                    [
                        {
                            "a": "{{contains(1.tags; \"asana\")}}",
                            "b": "true",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "text": "{{1.note}}"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "$1",
                        "type": "text",
                        "label": "$1"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "asana:UpdateTask",
            "version": 2,
            "parameters": {},
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{6.`$1`}}",
                            "b": "",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "external": {},
                "task_gid": "{{6.`$1`}}",
                "completed": true,
                "selectOrMap": "map"
            },
            "metadata": {
                "designer": {
                    "x": 324,
                    "y": 2
                },
                "restore": {
                    "due": {
                        "mode": "chose",
                        "label": ""
                    },
                    "liked": {
                        "mode": "chose"
                    },
                    "assignee": {
                        "mode": "chose",
                        "label": ""
                    },
                    "completed": {
                        "mode": "chose"
                    },
                    "workspace": {
                        "mode": "chose",
                        "label": ""
                    },
                    "selectOrMap": {
                        "label": "Enter manually"
                    },
                    "resource_subtype": {
                        "mode": "chose",
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "selectOrMap",
                        "type": "select",
                        "label": "Enter a Task ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "select"
                            ]
                        }
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Task Name"
                    },
                    {
                        "name": "notes",
                        "type": "text",
                        "label": "Notes"
                    },
                    {
                        "name": "html_notes",
                        "type": "text",
                        "label": "HTML Notes"
                    },
                    {
                        "name": "assignee",
                        "type": "select",
                        "label": "Task Assignee"
                    },
                    {
                        "name": "due",
                        "type": "select",
                        "label": "Due",
                        "validate": {
                            "enum": [
                                "date",
                                "datetime"
                            ]
                        }
                    },
                    {
                        "name": "resource_subtype",
                        "type": "select",
                        "label": "Resource Subtype",
                        "validate": {
                            "enum": [
                                "approval",
                                "default_task",
                                "milestone"
                            ]
                        }
                    },
                    {
                        "name": "liked",
                        "type": "boolean",
                        "label": "Liked"
                    },
                    {
                        "name": "completed",
                        "type": "boolean",
                        "label": "Task Completed?"
                    },
                    {
                        "name": "external",
                        "spec": [
                            {
                                "name": "gid",
                                "type": "text",
                                "label": "External ID",
                                "validate": {
                                    "max": 1024
                                }
                            },
                            {
                                "name": "data",
                                "type": "text",
                                "label": "External Data"
                            }
                        ],
                        "type": "collection",
                        "label": "External"
                    },
                    {
                        "name": "task_gid",
                        "type": "text",
                        "label": "Task ID",
                        "required": true
                    },
                    {
                        "name": "workspace",
                        "type": "select",
                        "label": "Workspace ID"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}