Make example flows 1/Enrich company data with ChatGPT, create Salesforce leads, and notify via Slack.blueprint.json
{
    "name": "Enrich company data with ChatGPT, create Salesforce leads, and notify via Slack",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook"
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {},
            "mapper": {
                "model": "gpt-4-0125-preview",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "user",
                        "content": "You are a market researcher.\n\nPlease enrich the data of this company:\n'''{{get(split(1.`Company Email`; \"@\"); 2)}}'''\n\nPlease provide the following data of the company:\n1. Name\n2. LinkedIn profile URL\n3. Website\n4. Description\n5. Size\n6. Industry\n7. Employees\n8. Founded\n9. City\n10. Country\n11. Crunchbase\n12. Estimated Annual Revenue\n\nOutput this as a Json.\nDo not include ```json before the structure."
                    }
                ],
                "max_tokens": "1000",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4-0125-preview (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT Models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "Make Ent GPT4"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection"
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "System",
                                            "value": "system"
                                        },
                                        {
                                            "label": "User",
                                            "value": "user"
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Message Content"
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{6.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "salesforce:createAResponsibleRecord",
            "version": 3,
            "parameters": {},
            "mapper": {
                "fields": {
                    "city": "{{7.City}}",
                    "email": "{{1.`Company Email`}}",
                    "rating": "Hot",
                    "company": "{{7.Name}}",
                    "country": "{{7.Country}}",
                    "industry": "{{7.Industry}}",
                    "lastName": "{{1.`Last Name`}}",
                    "firstName": "{{1.`First Name`}}",
                    "description": "{{7.Description}}",
                    "mobilePhone": "{{1.`Contact Number`}}",
                    "custom_fields": {},
                    "numberOfEmployees": "{{7.Employees}}"
                },
                "sObject": "Lead"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "fields": {
                            "nested": {
                                "rating": {
                                    "mode": "chose",
                                    "label": "Hot"
                                },
                                "status": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "industry": {
                                    "mode": "edit"
                                },
                                "autoAssign": {
                                    "mode": "chose"
                                },
                                "leadSource": {
                                    "mode": "edit"
                                },
                                "salutation": {
                                    "mode": "edit"
                                },
                                "cleanStatus": {
                                    "mode": "edit"
                                },
                                "isConverted": {
                                    "mode": "chose"
                                },
                                "individualId": {
                                    "mode": "edit"
                                },
                                "custom_fields": {
                                    "nested": {
                                        "devintegromat__Primary__c": {
                                            "mode": "edit"
                                        },
                                        "devintegromat__ProductInterest__c": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "dandbCompanyId": {
                                    "mode": "edit"
                                },
                                "geocodeAccuracy": {
                                    "mode": "edit"
                                },
                                "isUnreadByOwner": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "sObject": {
                            "label": "Lead"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "salesforce"
                            },
                            "label": "My Salesforce connection (development@integromat.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:salesforce",
                        "label": "Connection"
                    }
                ],
                "expect": [
                    {
                        "name": "sObject",
                        "type": "select",
                        "label": "Type",
                        "required": true
                    },
                    {
                        "name": "fields",
                        "spec": [
                            {
                                "name": "lastName",
                                "type": "text",
                                "label": "Last Name (LastName)",
                                "metadata": {
                                    "type": "string"
                                },
                                "required": true
                            },
                            {
                                "name": "firstName",
                                "type": "text",
                                "label": "First Name (FirstName)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "salutation",
                                "type": "select",
                                "label": "Salutation (Salutation)",
                                "metadata": {
                                    "type": "picklist"
                                }
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title (Title)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "company",
                                "type": "text",
                                "label": "Company (Company)",
                                "metadata": {
                                    "type": "string"
                                },
                                "required": true
                            },
                            {
                                "name": "street",
                                "type": "text",
                                "label": "Street (Street)",
                                "metadata": {
                                    "type": "textarea"
                                }
                            },
                            {
                                "name": "city",
                                "type": "text",
                                "label": "City (City)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State/Province (State)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "postalCode",
                                "type": "text",
                                "label": "Zip/Postal Code (PostalCode)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "country",
                                "type": "text",
                                "label": "Country (Country)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "latitude",
                                "type": "number",
                                "label": "Latitude (Latitude)",
                                "metadata": {
                                    "type": "double"
                                }
                            },
                            {
                                "name": "longitude",
                                "type": "number",
                                "label": "Longitude (Longitude)",
                                "metadata": {
                                    "type": "double"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "geocodeAccuracy",
                                "type": "select",
                                "label": "Geocode Accuracy (GeocodeAccuracy)",
                                "metadata": {
                                    "type": "picklist"
                                }
                            },
                            {
                                "name": "phone",
                                "type": "text",
                                "label": "Phone (Phone)",
                                "metadata": {
                                    "type": "phone"
                                }
                            },
                            {
                                "name": "mobilePhone",
                                "type": "text",
                                "label": "Mobile Phone (MobilePhone)",
                                "metadata": {
                                    "type": "phone"
                                }
                            },
                            {
                                "name": "fax",
                                "type": "text",
                                "label": "Fax (Fax)",
                                "metadata": {
                                    "type": "phone"
                                }
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email (Email)",
                                "metadata": {
                                    "type": "email"
                                }
                            },
                            {
                                "name": "website",
                                "type": "url",
                                "label": "Website (Website)",
                                "metadata": {
                                    "type": "url"
                                }
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Description (Description)",
                                "metadata": {
                                    "type": "textarea"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "leadSource",
                                "type": "select",
                                "label": "Lead Source (LeadSource)",
                                "metadata": {
                                    "type": "picklist"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "status",
                                "type": "select",
                                "label": "Status (Status)",
                                "metadata": {
                                    "type": "picklist"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "industry",
                                "type": "select",
                                "label": "Industry (Industry)",
                                "metadata": {
                                    "type": "picklist"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "rating",
                                "type": "select",
                                "label": "Rating (Rating)",
                                "metadata": {
                                    "type": "picklist"
                                }
                            },
                            {
                                "name": "annualRevenue",
                                "type": "number",
                                "label": "Annual Revenue (AnnualRevenue)",
                                "metadata": {
                                    "type": "currency"
                                }
                            },
                            {
                                "name": "numberOfEmployees",
                                "type": "number",
                                "label": "Employees (NumberOfEmployees)",
                                "metadata": {
                                    "type": "int"
                                }
                            },
                            {
                                "name": "ownerId",
                                "type": "text",
                                "label": "Owner ID (OwnerId)",
                                "metadata": {
                                    "type": "reference"
                                }
                            },
                            {
                                "name": "isConverted",
                                "type": "boolean",
                                "label": "Converted (IsConverted)",
                                "metadata": {
                                    "type": "boolean"
                                }
                            },
                            {
                                "name": "isUnreadByOwner",
                                "type": "boolean",
                                "label": "Unread By Owner (IsUnreadByOwner)",
                                "metadata": {
                                    "type": "boolean"
                                }
                            },
                            {
                                "name": "jigsaw",
                                "type": "text",
                                "label": "Data.com Key (Jigsaw)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "cleanStatus",
                                "type": "select",
                                "label": "Clean Status (CleanStatus)",
                                "metadata": {
                                    "type": "picklist"
                                }
                            },
                            {
                                "name": "companyDunsNumber",
                                "type": "text",
                                "label": "Company D-U-N-S Number (CompanyDunsNumber)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "dandbCompanyId",
                                "type": "select",
                                "label": "D&B Company ID (DandbCompanyId)",
                                "metadata": {
                                    "type": "reference"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "individualId",
                                "type": "select",
                                "label": "Individual ID (IndividualId)",
                                "metadata": {
                                    "type": "reference"
                                }
                            },
                            {
                                "name": "custom_fields",
                                "spec": [
                                    {
                                        "name": "devintegromat__SICCode__c",
                                        "type": "text",
                                        "label": "SIC Code (devintegromat__SICCode__c)",
                                        "metadata": {
                                            "type": "string"
                                        }
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "devintegromat__ProductInterest__c",
                                        "type": "select",
                                        "label": "Product Interest (devintegromat__ProductInterest__c)",
                                        "metadata": {
                                            "type": "picklist"
                                        }
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "devintegromat__Primary__c",
                                        "type": "select",
                                        "label": "Primary (devintegromat__Primary__c)",
                                        "metadata": {
                                            "type": "picklist"
                                        }
                                    },
                                    {
                                        "name": "devintegromat__CurrentGenerators__c",
                                        "type": "text",
                                        "label": "Current Generator(s) (devintegromat__CurrentGenerators__c)",
                                        "metadata": {
                                            "type": "string"
                                        }
                                    },
                                    {
                                        "name": "devintegromat__NumberofLocations__c",
                                        "type": "number",
                                        "label": "Number of Locations (devintegromat__NumberofLocations__c)",
                                        "metadata": {
                                            "type": "double"
                                        }
                                    },
                                    {
                                        "name": "devintegromat__Monday_Item__c",
                                        "type": "text",
                                        "label": "Monday Item (devintegromat__Monday_Item__c)",
                                        "metadata": {
                                            "type": "string"
                                        }
                                    },
                                    {
                                        "name": "devintegromat__Lead_Source__c",
                                        "type": "text",
                                        "label": "Lead Source (devintegromat__Lead_Source__c)",
                                        "metadata": {
                                            "type": "string"
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Custom Fields"
                            },
                            {
                                "name": "autoAssign",
                                "type": "boolean",
                                "label": "Salesforce Auto Assign"
                            }
                        ],
                        "type": "collection",
                        "label": "Fields"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "slack:CreateMessage",
            "version": 4,
            "parameters": {},
            "mapper": {
                "text": "Hey there you have a new hot <https://d24000000otuheaq-dev-ed.my.salesforce.com/{{3.id}}|Lead!>",
                "parse": false,
                "mrkdwn": true,
                "channel": "D02CGJZ7GF7",
                "channelType": "im",
                "channelWType": "list"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "parse": {
                            "mode": "chose"
                        },
                        "mrkdwn": {
                            "mode": "chose"
                        },
                        "channel": {
                            "mode": "chose",
                            "label": "lwgovender7"
                        },
                        "link_names": {
                            "mode": "chose"
                        },
                        "channelType": {
                            "label": "IM channel"
                        },
                        "channelWType": {
                            "label": "Select from the list"
                        },
                        "unfurl_links": {
                            "mode": "chose"
                        },
                        "unfurl_media": {
                            "mode": "chose"
                        },
                        "reply_broadcast": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "slack2"
                            },
                            "label": "My Slack (user) connection (lwgovender7)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:slack2,slack3",
                        "label": "Connection"
                    }
                ],
                "expect": [
                    {
                        "name": "channelWType",
                        "type": "select",
                        "label": "Enter a channel ID or name",
                        "required": true,
                        "validate": {
                            "enum": [
                                "manualy",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    },
                    {
                        "name": "blocks",
                        "type": "text",
                        "label": "Blocks"
                    },
                    {
                        "name": "thread_ts",
                        "type": "text",
                        "label": "Thread message ID (time stamp)"
                    },
                    {
                        "name": "reply_broadcast",
                        "type": "boolean",
                        "label": "Reply broadcast"
                    },
                    {
                        "name": "link_names",
                        "type": "boolean",
                        "label": "Link names"
                    },
                    {
                        "name": "parse",
                        "type": "boolean",
                        "label": "Parse message text"
                    },
                    {
                        "name": "mrkdwn",
                        "type": "boolean",
                        "label": "Use markdown"
                    },
                    {
                        "name": "unfurl_links",
                        "type": "boolean",
                        "label": "Unfurl primarily text-based content"
                    },
                    {
                        "name": "unfurl_media",
                        "type": "boolean",
                        "label": "Unfurl media content"
                    },
                    {
                        "name": "icon_emoji",
                        "type": "text",
                        "label": "Icon emoji"
                    },
                    {
                        "name": "icon_url",
                        "type": "url",
                        "label": "Icon url"
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "channelType",
                        "type": "select",
                        "label": "Channel type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "public",
                                "private",
                                "im",
                                "mpim"
                            ]
                        }
                    },
                    {
                        "name": "channel",
                        "type": "select",
                        "label": "User",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}