Make example Blueprints/Make example flows/Create a HubSpot CRM deal (and contact if it doesn't exist) from a succeeded Stripe payment intent.blueprint.json
{
    "name": "Create a HubSpot CRM deal (and contact if it doesn't exist) from a succeeded Stripe payment intent",
    "flow": [
        {
            "id": 1,
            "module": "stripe:watchEvents",
            "version": 1,
            "parameters": {},
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "event_type",
                        "type": "text",
                        "label": "Event Type"
                    },
                    {
                        "name": "event_id",
                        "type": "text",
                        "label": "Event ID"
                    },
                    {
                        "name": "object",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Payment Intent ID"
                            },
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "amount",
                                "type": "number",
                                "label": "Amount"
                            },
                            {
                                "name": "amount_capturable",
                                "type": "number",
                                "label": "Amount Capturable"
                            },
                            {
                                "name": "amount_received",
                                "type": "number",
                                "label": "Amount Received"
                            },
                            {
                                "name": "application",
                                "type": "text",
                                "label": "Application"
                            },
                            {
                                "name": "application_fee_amount",
                                "type": "number",
                                "label": "Application Fee Amount"
                            },
                            {
                                "name": "canceled_at",
                                "type": "date",
                                "label": "Canceled At"
                            },
                            {
                                "name": "cancellation_reason",
                                "type": "text",
                                "label": "Cancellation Reason"
                            },
                            {
                                "name": "capture_method",
                                "type": "text",
                                "label": "Capture Method"
                            },
                            {
                                "name": "charges",
                                "spec": [
                                    {
                                        "name": "object",
                                        "type": "text",
                                        "label": "Object"
                                    },
                                    {
                                        "name": "data",
                                        "type": "array",
                                        "label": "Data"
                                    },
                                    {
                                        "name": "has_more",
                                        "type": "boolean",
                                        "label": "Has More"
                                    },
                                    {
                                        "name": "total_count",
                                        "type": "number",
                                        "label": "Total Count"
                                    },
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Charges"
                            },
                            {
                                "name": "client_secret",
                                "type": "text",
                                "label": "Client Secret"
                            },
                            {
                                "name": "confirmation_method",
                                "type": "text",
                                "label": "Confirmation Method"
                            },
                            {
                                "name": "created",
                                "type": "date",
                                "label": "Created"
                            },
                            {
                                "name": "currency",
                                "type": "text",
                                "label": "Currency"
                            },
                            {
                                "name": "customer",
                                "type": "text",
                                "label": "Customer"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Description"
                            },
                            {
                                "name": "invoice",
                                "type": "text",
                                "label": "Invoice"
                            },
                            {
                                "name": "last_payment_error",
                                "type": "text",
                                "label": "Last Payment Error"
                            },
                            {
                                "name": "livemode",
                                "type": "boolean",
                                "label": "Livemode"
                            },
                            {
                                "name": "metadata",
                                "type": "any",
                                "label": "Metadata"
                            },
                            {
                                "name": "next_action",
                                "type": "text",
                                "label": "Next Action"
                            },
                            {
                                "name": "on_behalf_of",
                                "type": "text",
                                "label": "On Behalf Of"
                            },
                            {
                                "name": "payment_method",
                                "type": "text",
                                "label": "Payment Method"
                            },
                            {
                                "name": "payment_method_options",
                                "type": "any",
                                "label": "Payment Method Options"
                            },
                            {
                                "name": "payment_method_types",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Payment Method Types"
                            },
                            {
                                "name": "receipt_email",
                                "type": "text",
                                "label": "Receipt Email"
                            },
                            {
                                "name": "review",
                                "type": "text",
                                "label": "Review"
                            },
                            {
                                "name": "setup_future_usage",
                                "type": "text",
                                "label": "Setup Future Usage"
                            },
                            {
                                "name": "shipping",
                                "spec": [
                                    {
                                        "name": "address",
                                        "spec": [
                                            {
                                                "name": "city",
                                                "type": "text",
                                                "label": "City"
                                            },
                                            {
                                                "name": "country",
                                                "type": "text",
                                                "label": "Country"
                                            },
                                            {
                                                "name": "line1",
                                                "type": "text",
                                                "label": "Line 1"
                                            },
                                            {
                                                "name": "line2",
                                                "type": "text",
                                                "label": "Line 2"
                                            },
                                            {
                                                "name": "postal_code",
                                                "type": "text",
                                                "label": "Postal Code"
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": "State"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Address"
                                    },
                                    {
                                        "name": "carrier",
                                        "type": "text",
                                        "label": "Carrier"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "phone",
                                        "type": "text",
                                        "label": "Phone"
                                    },
                                    {
                                        "name": "tracking_number",
                                        "type": "text",
                                        "label": "Tracking Number"
                                    }
                                ],
                                "type": "collection",
                                "label": "Shipping"
                            },
                            {
                                "name": "source",
                                "type": "text",
                                "label": "Source"
                            },
                            {
                                "name": "statement_descriptor",
                                "type": "text",
                                "label": "Statement Descriptor"
                            },
                            {
                                "name": "statement_descriptor_suffix",
                                "type": "text",
                                "label": "Statement Descriptor Suffix"
                            },
                            {
                                "name": "status",
                                "type": "text",
                                "label": "Status"
                            },
                            {
                                "name": "transfer_data",
                                "spec": [
                                    {
                                        "name": "destination",
                                        "type": "text",
                                        "label": "Destination"
                                    },
                                    {
                                        "name": "amount",
                                        "type": "text",
                                        "label": "Amount"
                                    }
                                ],
                                "type": "collection",
                                "label": "Transfer Data"
                            },
                            {
                                "name": "transfer_group",
                                "type": "text",
                                "label": "Transfer Group"
                            }
                        ],
                        "type": "collection",
                        "label": "Object"
                    },
                    {
                        "name": "raw",
                        "spec": [],
                        "type": "collection",
                        "label": "Raw Webhook Data"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "stripe:retrieveCustomer",
            "version": 1,
            "parameters": {},
            "mapper": {
                "customer": "{{1.object.customer}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "customer": {
                        "mode": "edit"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "customer",
                        "type": "select",
                        "label": "Customer ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "hubspotcrm:createUpdateContact2020",
            "version": 1,
            "parameters": {},
            "mapper": {
                "properties": {
                    "fax": "",
                    "zip": "{{2.address.postal_code}}",
                    "city": "{{2.address.city}}",
                    "email": "{{2.email}}",
                    "phone": "{{2.phone}}",
                    "state": "{{2.address.state}}",
                    "address": "{{2.address.line1}}",
                    "company": "",
                    "country": "{{2.address.country}}",
                    "website": "",
                    "industry": "",
                    "jobtitle": "",
                    "lastname": "{{get(split(2.name; space); 2)}}",
                    "firstname": "{{get(split(2.name; space); 1)}}",
                    "hs_persona": "",
                    "salutation": "",
                    "hs_language": "",
                    "mobilephone": "",
                    "numemployees": "",
                    "annualrevenue": "",
                    "twitterhandle": "",
                    "hs_lead_status": "",
                    "lifecyclestage": "",
                    "hubspot_owner_id": ""
                },
                "propertyGroups": [
                    "sales_properties",
                    "contactinformation"
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "properties": {
                        "nested": {
                            "hs_persona": {
                                "mode": "chose",
                                "label": ""
                            },
                            "hs_language": {
                                "mode": "chose",
                                "label": ""
                            },
                            "numemployees": {
                                "mode": "chose",
                                "label": ""
                            },
                            "hs_lead_status": {
                                "mode": "chose",
                                "label": ""
                            },
                            "lifecyclestage": {
                                "mode": "chose",
                                "label": ""
                            },
                            "hubspot_owner_id": {
                                "mode": "chose",
                                "label": ""
                            }
                        }
                    },
                    "propertyGroups": {
                        "label": [
                            null,
                            null
                        ]
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "propertyGroups",
                        "type": "select",
                        "label": "Property Groups",
                        "multiple": true,
                        "required": true
                    },
                    {
                        "name": "properties",
                        "spec": [
                            {
                                "name": "annualrevenue",
                                "type": "text",
                                "label": "Annual Revenue",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "city",
                                "type": "text",
                                "label": "City",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "company",
                                "type": "text",
                                "label": "Company Name",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hubspot_owner_id",
                                "type": "select",
                                "label": "Contact owner",
                                "multiple": false,
                                "validate": false,
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "country",
                                "type": "text",
                                "label": "Country/Region",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email",
                                "required": true,
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "fax",
                                "type": "text",
                                "label": "Fax Number",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "firstname",
                                "type": "text",
                                "label": "First Name",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "industry",
                                "type": "text",
                                "label": "Industry",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "jobtitle",
                                "type": "text",
                                "label": "Job Title",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "lastname",
                                "type": "text",
                                "label": "Last Name",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hs_lead_status",
                                "type": "select",
                                "label": "Lead Status",
                                "multiple": false,
                                "validate": false,
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "lifecyclestage",
                                "type": "select",
                                "label": "Lifecycle Stage",
                                "multiple": false,
                                "validate": false,
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "mobilephone",
                                "type": "text",
                                "label": "Mobile Phone Number",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "numemployees",
                                "type": "select",
                                "label": "Number of Employees",
                                "multiple": false,
                                "validate": false,
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "hs_persona",
                                "type": "select",
                                "label": "Persona",
                                "multiple": false,
                                "validate": false,
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "phone",
                                "type": "text",
                                "label": "Phone Number",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "zip",
                                "type": "text",
                                "label": "Postal Code",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hs_language",
                                "type": "select",
                                "label": "Preferred language",
                                "multiple": false,
                                "validate": false,
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "salutation",
                                "type": "text",
                                "label": "Salutation",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State/Region",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "address",
                                "type": "text",
                                "label": "Street Address",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "twitterhandle",
                                "type": "text",
                                "label": "Twitter Username",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "website",
                                "type": "text",
                                "label": "Website URL",
                                "readOnlyDefinition": true
                            }
                        ],
                        "type": "collection",
                        "label": "Properties",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "hubspotcrm:createRecord2020",
            "version": 1,
            "parameters": {},
            "mapper": {
                "objectType": "deal",
                "properties": {
                    "dealname": "{{2.name}}",
                    "dealtype": "",
                    "pipeline": "",
                    "closedate": "{{addDays(now; 14)}}",
                    "dealstage": "",
                    "createdate": "",
                    "description": "{{1.object.description}}",
                    "hs_priority": "",
                    "hs_next_step": "",
                    "hubspot_owner_id": "",
                    "closed_won_reason": "",
                    "closed_lost_reason": "",
                    "hs_forecast_probability": "",
                    "hs_deal_stage_probability": "",
                    "hs_manual_forecast_category": ""
                },
                "associations": {
                    "associatedVids": [
                        "{{3.vid}}"
                    ],
                    "associatedCompanyIds": []
                },
                "propertyGroups": [
                    "deal_activity",
                    "dealinformation"
                ]
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "objectType": {
                        "label": "Deal"
                    },
                    "associations": {
                        "nested": {
                            "associatedVids": {
                                "mode": "chose",
                                "items": [
                                    "undefined"
                                ]
                            },
                            "associatedCompanyIds": {
                                "mode": "chose",
                                "items": []
                            }
                        }
                    },
                    "propertyGroups": {
                        "label": [
                            null,
                            null
                        ]
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "objectType",
                        "type": "select",
                        "label": "Record Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "contact",
                                "company",
                                "deal"
                            ]
                        }
                    },
                    {
                        "name": "propertyGroups",
                        "type": "select",
                        "label": "Property Groups",
                        "multiple": true
                    },
                    {
                        "name": "properties",
                        "spec": [
                            {
                                "name": "closedate",
                                "type": "date",
                                "label": "Close Date",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "closed_lost_reason",
                                "type": "text",
                                "label": "Closed Lost Reason",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "closed_won_reason",
                                "type": "text",
                                "label": "Closed Won Reason",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "createdate",
                                "type": "date",
                                "label": "Create Date",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Deal Description",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "dealname",
                                "type": "text",
                                "label": "Deal Name",
                                "required": true,
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hubspot_owner_id",
                                "type": "text",
                                "label": "Deal owner",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hs_deal_stage_probability",
                                "type": "number",
                                "label": "Deal probability",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "dealstage",
                                "type": "text",
                                "label": "Deal Stage",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "dealtype",
                                "type": "text",
                                "label": "Deal Type",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hs_manual_forecast_category",
                                "type": "text",
                                "label": "Forecast category",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hs_forecast_probability",
                                "type": "number",
                                "label": "Forecast probability",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hs_next_step",
                                "type": "text",
                                "label": "Next step",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "pipeline",
                                "type": "text",
                                "label": "Pipeline",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hs_priority",
                                "type": "text",
                                "label": "Priority",
                                "readOnlyDefinition": true
                            }
                        ],
                        "type": "collection",
                        "label": "Properties",
                        "required": true
                    },
                    {
                        "name": "associations",
                        "spec": [
                            {
                                "name": "associatedVids",
                                "spec": {
                                    "type": "number"
                                },
                                "type": "array",
                                "label": "Associated Contacts"
                            },
                            {
                                "name": "associatedCompanyIds",
                                "spec": {
                                    "type": "number"
                                },
                                "type": "array",
                                "label": "Associated Companies"
                            }
                        ],
                        "type": "collection",
                        "label": "Associations",
                        "required": false
                    }
                ],
                "interface": [
                    {
                        "name": "dealId",
                        "type": "number",
                        "label": "Deal ID"
                    },
                    {
                        "name": "properties",
                        "spec": [
                            {
                                "name": "engagements_last_meeting_booked_campaign",
                                "type": "text",
                                "label": "Campaign of last booking in meetings tool"
                            },
                            {
                                "name": "closedate",
                                "type": "date",
                                "label": "Close Date"
                            },
                            {
                                "name": "closed_lost_reason",
                                "type": "text",
                                "label": "Closed Lost Reason"
                            },
                            {
                                "name": "closed_won_reason",
                                "type": "text",
                                "label": "Closed Won Reason"
                            },
                            {
                                "name": "createdate",
                                "type": "date",
                                "label": "Create Date"
                            },
                            {
                                "name": "engagements_last_meeting_booked",
                                "type": "date",
                                "label": "Date of last meeting booked in meetings tool"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Deal Description"
                            },
                            {
                                "name": "hs_object_id",
                                "type": "number",
                                "label": "Deal ID"
                            },
                            {
                                "name": "dealname",
                                "type": "text",
                                "label": "Deal Name"
                            },
                            {
                                "name": "hubspot_owner_id",
                                "type": "text",
                                "label": "Deal owner"
                            },
                            {
                                "name": "hs_deal_stage_probability",
                                "type": "number",
                                "label": "Deal probability"
                            },
                            {
                                "name": "dealstage",
                                "type": "text",
                                "label": "Deal Stage"
                            },
                            {
                                "name": "dealtype",
                                "type": "text",
                                "label": "Deal Type"
                            },
                            {
                                "name": "hs_forecast_amount",
                                "type": "number",
                                "label": "Forecast amount"
                            },
                            {
                                "name": "hs_manual_forecast_category",
                                "type": "text",
                                "label": "Forecast category"
                            },
                            {
                                "name": "hs_forecast_probability",
                                "type": "number",
                                "label": "Forecast probability"
                            },
                            {
                                "name": "hubspot_team_id",
                                "type": "text",
                                "label": "HubSpot Team"
                            },
                            {
                                "name": "notes_last_updated",
                                "type": "date",
                                "label": "Last Activity Date"
                            },
                            {
                                "name": "notes_last_contacted",
                                "type": "date",
                                "label": "Last Contacted"
                            },
                            {
                                "name": "hs_lastmodifieddate",
                                "type": "date",
                                "label": "Last Modified Date"
                            },
                            {
                                "name": "engagements_last_meeting_booked_medium",
                                "type": "text",
                                "label": "Medium of last booking in meetings tool"
                            },
                            {
                                "name": "notes_next_activity_date",
                                "type": "date",
                                "label": "Next Activity Date"
                            },
                            {
                                "name": "hs_next_step",
                                "type": "text",
                                "label": "Next step"
                            },
                            {
                                "name": "num_associated_contacts",
                                "type": "number",
                                "label": "Number of Contacts"
                            },
                            {
                                "name": "num_notes",
                                "type": "number",
                                "label": "Number of Sales Activities"
                            },
                            {
                                "name": "num_contacted_notes",
                                "type": "number",
                                "label": "Number of times contacted"
                            },
                            {
                                "name": "hubspot_owner_assigneddate",
                                "type": "date",
                                "label": "Owner Assigned Date"
                            },
                            {
                                "name": "pipeline",
                                "type": "text",
                                "label": "Pipeline"
                            },
                            {
                                "name": "hs_priority",
                                "type": "text",
                                "label": "Priority"
                            },
                            {
                                "name": "engagements_last_meeting_booked_source",
                                "type": "text",
                                "label": "Source of last booking in meetings tool"
                            },
                            {
                                "name": "hs_projected_amount",
                                "type": "number",
                                "label": "Weighted amount"
                            },
                            {
                                "name": "hs_projected_amount_in_home_currency",
                                "type": "number",
                                "label": "Weighted amount in company currency"
                            }
                        ],
                        "type": "collection",
                        "label": "Properties"
                    },
                    {
                        "name": "lastModifiedDate",
                        "type": "date",
                        "label": "Last Modified Date"
                    },
                    {
                        "name": "createDate",
                        "type": "date",
                        "label": "Creation Date"
                    },
                    {
                        "help": "Enter the associations.",
                        "name": "associations",
                        "spec": [
                            {
                                "help": "Enter the array of associated contacts.",
                                "name": "associatedVids",
                                "spec": {
                                    "type": "number"
                                },
                                "type": "array",
                                "label": "Associated Contacts",
                                "editable": true,
                                "required": false
                            },
                            {
                                "help": "Enter the array of associated companies.",
                                "name": "associatedCompanyIds",
                                "spec": {
                                    "type": "number"
                                },
                                "type": "array",
                                "label": "Associated Companies",
                                "editable": true,
                                "required": false
                            },
                            {
                                "name": "associatedDealIds",
                                "spec": {
                                    "type": "number"
                                },
                                "type": "array",
                                "label": "Associated Deals"
                            }
                        ],
                        "type": "collection",
                        "label": "Associations",
                        "required": false
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}