Make example Blueprints/Make example flows/Create a new deal in HubSpot CRM from a LinkedIn Lead Gen Forms submission and notify to Slack.blueprint.json
{
    "name": "Create a new deal in HubSpot CRM from a LinkedIn Lead Gen Forms submission and notify to Slack",
    "flow": [
        {
            "id": 11,
            "module": "linkedin-lead-gen-forms:watchFormResponse",
            "version": 1,
            "parameters": {},
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "linkedin-lead-gen-forms:GetFormResponse",
            "version": 1,
            "parameters": {},
            "mapper": {
                "id": "{{11.adFormResponseUrn}}",
                "account": "{{11.accountUrn}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "account": {
                        "mode": "edit"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "account",
                        "type": "select",
                        "label": "Ad Account URN",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Response ID or URN",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "linkedin-lead-gen-forms:GetForm",
            "version": 1,
            "parameters": {},
            "mapper": {
                "id": "{{11.formUrn}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "rpc": {
                            "url": "rpc://linkedin-lead-gen-forms@1/listForms",
                            "label": "Search",
                            "parameters": [
                                {
                                    "name": "account",
                                    "type": "select",
                                    "label": "Ad Account",
                                    "options": "rpc://linkedin-lead-gen-forms@1/AddAccounts",
                                    "required": true
                                }
                            ]
                        },
                        "name": "id",
                        "type": "text",
                        "label": "Form ID or URN",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{12.answers}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "array": {
                        "mode": "edit"
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 4,
                "rowSeparator": "\n"
            },
            "mapper": {
                "value": "{{4.name}}: {{4.answer}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "feeder": {
                        "label": "Iterator [4]"
                    },
                    "rowSeparator": {
                        "label": "New row"
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text",
                        "multiline": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 6,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "form_answers",
                "scope": "roundtrip",
                "value": "{{toCollection(12.answers; \"name\"; \"answer\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "form_answers"
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "form_answers",
                        "type": "any",
                        "label": "form_answers"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "hubspotcrm:createRecord2020",
            "version": 1,
            "parameters": {},
            "mapper": {
                "objectType": "contact",
                "properties": {
                    "fax": "",
                    "xxx": "",
                    "yyy": "",
                    "zip": "",
                    "city": "",
                    "date": "",
                    "email": "{{6.form_answers.`Email address`}}",
                    "phone": "{{6.form_answers.`Phone number`}}",
                    "state": "",
                    "degree": "",
                    "gender": "",
                    "number": "",
                    "school": "",
                    "address": "",
                    "company": "{{6.form_answers.`Company name`}}",
                    "country": "",
                    "message": "",
                    "website": "",
                    "checkbox": "",
                    "dropdown": "",
                    "industry": "",
                    "jobtitle": "",
                    "lastname": "{{6.form_answers.`Last name`}}",
                    "closedate": "",
                    "firstname": "{{6.form_answers.`First name`}}",
                    "seniority": "",
                    "checkboxes": [],
                    "hs_persona": "",
                    "salutation": "",
                    "start_date": "",
                    "work_email": "",
                    "hs_language": "",
                    "hs_timezone": "",
                    "mobilephone": "",
                    "company_size": "",
                    "job_function": "",
                    "numemployees": "",
                    "radiobuttons": "",
                    "annualrevenue": "",
                    "date_of_birth": "",
                    "twitterhandle": "",
                    "field_of_study": "",
                    "hs_buying_role": [],
                    "hs_lead_status": "",
                    "hs_legal_basis": [],
                    "lifecyclestage": "",
                    "marital_status": "",
                    "graduation_date": "",
                    "military_status": "",
                    "hubspot_owner_id": "",
                    "multiple_checkboxes": [],
                    "relationship_status": "",
                    "hs_content_membership_notes": "",
                    "hs_content_membership_status": "",
                    "hs_email_customer_quarantined_reason": "",
                    "hs_time_to_move_from_lead_to_customer": "",
                    "hs_time_to_move_from_subscriber_to_customer": "",
                    "hs_time_to_move_from_opportunity_to_customer": "",
                    "hs_time_between_contact_creation_and_deal_close": "",
                    "hs_time_between_contact_creation_and_deal_creation": "",
                    "hs_time_to_move_from_salesqualifiedlead_to_customer": "",
                    "hs_time_to_move_from_marketingqualifiedlead_to_customer": ""
                },
                "propertyGroups": [
                    "contactinformation",
                    "emailinformation"
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "objectType": {
                        "label": "Contact"
                    },
                    "properties": {
                        "nested": {
                            "checkbox": {
                                "mode": "chose",
                                "label": ""
                            },
                            "dropdown": {
                                "mode": "chose",
                                "label": "Easy /  []"
                            },
                            "checkboxes": {
                                "mode": "chose"
                            },
                            "hs_persona": {
                                "mode": "chose",
                                "label": ""
                            },
                            "hs_language": {
                                "mode": "chose",
                                "label": ""
                            },
                            "hs_timezone": {
                                "mode": "chose",
                                "label": ""
                            },
                            "numemployees": {
                                "mode": "chose",
                                "label": ""
                            },
                            "radiobuttons": {
                                "mode": "chose",
                                "label": " /  []"
                            },
                            "hs_buying_role": {
                                "mode": "chose"
                            },
                            "hs_lead_status": {
                                "mode": "chose",
                                "label": ""
                            },
                            "hs_legal_basis": {
                                "mode": "chose"
                            },
                            "lifecyclestage": {
                                "mode": "chose",
                                "label": ""
                            },
                            "hubspot_owner_id": {
                                "mode": "chose",
                                "label": ""
                            },
                            "multiple_checkboxes": {
                                "mode": "chose"
                            },
                            "hs_content_membership_status": {
                                "mode": "chose",
                                "label": ""
                            },
                            "hs_email_customer_quarantined_reason": {
                                "mode": "chose",
                                "label": ""
                            }
                        }
                    },
                    "propertyGroups": {
                        "label": [
                            null,
                            null
                        ]
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "objectType",
                        "type": "select",
                        "label": "Record Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "contact",
                                "company",
                                "deal"
                            ]
                        }
                    },
                    {
                        "name": "propertyGroups",
                        "type": "select",
                        "label": "Property Groups",
                        "multiple": true
                    },
                    {
                        "name": "properties",
                        "spec": [
                            {
                                "name": "yyy",
                                "type": "text",
                                "label": "   Jeste nas field",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "xxx",
                                "type": "text",
                                "label": " Testovaci field",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "annualrevenue",
                                "type": "text",
                                "label": "Annual Revenue",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "hs_buying_role",
                                "type": "select",
                                "label": "Buying Role",
                                "multiple": true,
                                "validate": false,
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "city",
                                "type": "text",
                                "label": "City",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "closedate",
                                "type": "date",
                                "label": "Close Date",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "company",
                                "type": "text",
                                "label": "Company Name",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "company_size",
                                "type": "text",
                                "label": "Company size",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "hubspot_owner_id",
                                "type": "select",
                                "label": "Contact owner",
                                "multiple": false,
                                "validate": false,
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "country",
                                "type": "text",
                                "label": "Country/Region",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "date_of_birth",
                                "type": "text",
                                "label": "Date of birth",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "degree",
                                "type": "text",
                                "label": "Degree",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "email",
                                "type": "text",
                                "label": "Email",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hs_email_customer_quarantined_reason",
                                "type": "select",
                                "label": "Email address quarantine reason",
                                "multiple": false,
                                "validate": false,
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "fax",
                                "type": "text",
                                "label": "Fax Number",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "field_of_study",
                                "type": "text",
                                "label": "Field of study",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "firstname",
                                "type": "text",
                                "label": "First Name",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "gender",
                                "type": "text",
                                "label": "Gender",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "graduation_date",
                                "type": "text",
                                "label": "Graduation date",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "industry",
                                "type": "text",
                                "label": "Industry",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "job_function",
                                "type": "text",
                                "label": "Job function",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "jobtitle",
                                "type": "text",
                                "label": "Job Title",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "lastname",
                                "type": "text",
                                "label": "Last Name",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hs_lead_status",
                                "type": "select",
                                "label": "Lead Status",
                                "multiple": false,
                                "validate": false,
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hs_legal_basis",
                                "type": "select",
                                "label": "Legal basis for processing contact's data",
                                "multiple": true,
                                "validate": false,
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "lifecyclestage",
                                "type": "select",
                                "label": "Lifecycle Stage",
                                "multiple": false,
                                "validate": false,
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "marital_status",
                                "type": "text",
                                "label": "Marital Status",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "hs_content_membership_notes",
                                "type": "text",
                                "label": "Membership Notes",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "message",
                                "type": "text",
                                "label": "Message",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "military_status",
                                "type": "text",
                                "label": "Military status",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "mobilephone",
                                "type": "text",
                                "label": "Mobile Phone Number",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "checkbox",
                                "type": "select",
                                "label": "My Checkbox",
                                "multiple": false,
                                "validate": false,
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "checkboxes",
                                "type": "select",
                                "label": "My Checkboxes",
                                "multiple": true,
                                "validate": false,
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "date",
                                "type": "date",
                                "label": "My Date",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "dropdown",
                                "type": "select",
                                "label": "My Dropdown",
                                "multiple": false,
                                "validate": false,
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "multiple_checkboxes",
                                "type": "select",
                                "label": "My Multiple Checkboxes",
                                "multiple": true,
                                "validate": false,
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "number",
                                "type": "number",
                                "label": "My Number",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "numemployees",
                                "type": "select",
                                "label": "Number of Employees",
                                "multiple": false,
                                "validate": false,
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "hs_persona",
                                "type": "select",
                                "label": "Persona",
                                "multiple": false,
                                "validate": false,
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "phone",
                                "type": "text",
                                "label": "Phone Number",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "zip",
                                "type": "text",
                                "label": "Postal Code",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hs_language",
                                "type": "select",
                                "label": "Preferred language",
                                "multiple": false,
                                "validate": false,
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "radiobuttons",
                                "type": "select",
                                "label": "Radiobuttons",
                                "multiple": false,
                                "validate": false,
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "relationship_status",
                                "type": "text",
                                "label": "Relationship Status",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "salutation",
                                "type": "text",
                                "label": "Salutation",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "school",
                                "type": "text",
                                "label": "School",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "seniority",
                                "type": "text",
                                "label": "Seniority",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "start_date",
                                "type": "text",
                                "label": "Start date",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State/Region",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "hs_content_membership_status",
                                "type": "select",
                                "label": "Status",
                                "multiple": false,
                                "validate": false,
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "address",
                                "type": "text",
                                "label": "Street Address",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hs_time_between_contact_creation_and_deal_close",
                                "type": "number",
                                "label": "Time between contact creation and deal close",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "hs_time_between_contact_creation_and_deal_creation",
                                "type": "number",
                                "label": "Time between contact creation and deal creation",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "hs_time_to_move_from_lead_to_customer",
                                "type": "number",
                                "label": "Time to move from lead to customer",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "hs_time_to_move_from_marketingqualifiedlead_to_customer",
                                "type": "number",
                                "label": "Time to move from marketing qualified lead to customer",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "hs_time_to_move_from_opportunity_to_customer",
                                "type": "number",
                                "label": "Time to move from opportunity to customer",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "hs_time_to_move_from_salesqualifiedlead_to_customer",
                                "type": "number",
                                "label": "Time to move from sales qualified lead to customer",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "hs_time_to_move_from_subscriber_to_customer",
                                "type": "number",
                                "label": "Time to move from subscriber to customer",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "hs_timezone",
                                "type": "select",
                                "label": "Time Zone",
                                "multiple": false,
                                "validate": false,
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "twitterhandle",
                                "type": "text",
                                "label": "Twitter Username",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "website",
                                "type": "text",
                                "label": "Website URL",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "work_email",
                                "type": "text",
                                "label": "Work email",
                                "readOnlyDefinition": false
                            }
                        ],
                        "type": "collection",
                        "label": "Properties",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "vid",
                        "type": "number",
                        "label": "Contact ID"
                    },
                    {
                        "name": "properties",
                        "spec": [
                            {
                                "name": "yyy",
                                "type": "text",
                                "label": "   Jeste nas field"
                            },
                            {
                                "name": "xxx",
                                "type": "text",
                                "label": " Testovaci field"
                            },
                            {
                                "name": "annualrevenue",
                                "type": "text",
                                "label": "Annual Revenue"
                            },
                            {
                                "name": "num_associated_deals",
                                "type": "number",
                                "label": "Associated Deals"
                            },
                            {
                                "name": "hs_lifecyclestage_customer_date",
                                "type": "date",
                                "label": "Became a Customer Date"
                            },
                            {
                                "name": "hs_lifecyclestage_lead_date",
                                "type": "date",
                                "label": "Became a Lead Date"
                            },
                            {
                                "name": "hs_lifecyclestage_marketingqualifiedlead_date",
                                "type": "date",
                                "label": "Became a Marketing Qualified Lead Date"
                            },
                            {
                                "name": "hs_lifecyclestage_salesqualifiedlead_date",
                                "type": "date",
                                "label": "Became a Sales Qualified Lead Date"
                            },
                            {
                                "name": "hs_lifecyclestage_subscriber_date",
                                "type": "date",
                                "label": "Became a Subscriber Date"
                            },
                            {
                                "name": "hs_lifecyclestage_evangelist_date",
                                "type": "date",
                                "label": "Became an Evangelist Date"
                            },
                            {
                                "name": "hs_lifecyclestage_opportunity_date",
                                "type": "date",
                                "label": "Became an Opportunity Date"
                            },
                            {
                                "name": "hs_lifecyclestage_other_date",
                                "type": "date",
                                "label": "Became an Other Lifecycle Date"
                            },
                            {
                                "name": "hs_buying_role",
                                "type": "text",
                                "label": "Buying Role"
                            },
                            {
                                "name": "engagements_last_meeting_booked_campaign",
                                "type": "text",
                                "label": "Campaign of last booking in meetings tool"
                            },
                            {
                                "name": "city",
                                "type": "text",
                                "label": "City"
                            },
                            {
                                "name": "closedate",
                                "type": "date",
                                "label": "Close Date"
                            },
                            {
                                "name": "company",
                                "type": "text",
                                "label": "Company Name"
                            },
                            {
                                "name": "company_size",
                                "type": "text",
                                "label": "Company size"
                            },
                            {
                                "name": "hs_object_id",
                                "type": "number",
                                "label": "Contact ID"
                            },
                            {
                                "name": "hubspot_owner_id",
                                "type": "text",
                                "label": "Contact owner"
                            },
                            {
                                "name": "hs_predictivescoringtier",
                                "type": "text",
                                "label": "Contact priority"
                            },
                            {
                                "name": "hs_is_unworked",
                                "type": "boolean",
                                "label": "Contact unworked"
                            },
                            {
                                "name": "country",
                                "type": "text",
                                "label": "Country/Region"
                            },
                            {
                                "name": "createdate",
                                "type": "date",
                                "label": "Create Date"
                            },
                            {
                                "name": "hs_sequences_is_enrolled",
                                "type": "boolean",
                                "label": "Currently in Sequence"
                            },
                            {
                                "name": "currentlyinworkflow",
                                "type": "text",
                                "label": "Currently in workflow"
                            },
                            {
                                "name": "date_of_birth",
                                "type": "text",
                                "label": "Date of birth"
                            },
                            {
                                "name": "engagements_last_meeting_booked",
                                "type": "date",
                                "label": "Date of last meeting booked in meetings tool"
                            },
                            {
                                "name": "days_to_close",
                                "type": "number",
                                "label": "Days To Close"
                            },
                            {
                                "name": "degree",
                                "type": "text",
                                "label": "Degree"
                            },
                            {
                                "name": "hs_content_membership_registration_domain_sent_to",
                                "type": "text",
                                "label": "Domain to which registration email was sent"
                            },
                            {
                                "name": "email",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "hs_email_quarantined_reason",
                                "type": "text",
                                "label": "Email address automated quarantine reason"
                            },
                            {
                                "name": "hs_email_customer_quarantined_reason",
                                "type": "text",
                                "label": "Email address quarantine reason"
                            },
                            {
                                "name": "hs_email_quarantined",
                                "type": "boolean",
                                "label": "Email Address Quarantined"
                            },
                            {
                                "name": "hs_content_membership_email_confirmed",
                                "type": "boolean",
                                "label": "Email Confirmed"
                            },
                            {
                                "name": "hs_email_domain",
                                "type": "text",
                                "label": "Email Domain"
                            },
                            {
                                "name": "hs_email_hard_bounce_reason_enum",
                                "type": "text",
                                "label": "Email hard bounce reason"
                            },
                            {
                                "name": "fax",
                                "type": "text",
                                "label": "Fax Number"
                            },
                            {
                                "name": "field_of_study",
                                "type": "text",
                                "label": "Field of study"
                            },
                            {
                                "name": "first_deal_created_date",
                                "type": "date",
                                "label": "First Deal Created Date"
                            },
                            {
                                "name": "hs_email_first_click_date",
                                "type": "date",
                                "label": "First marketing email click date"
                            },
                            {
                                "name": "hs_email_first_open_date",
                                "type": "date",
                                "label": "First marketing email open date"
                            },
                            {
                                "name": "hs_email_first_reply_date",
                                "type": "date",
                                "label": "First marketing email reply date"
                            },
                            {
                                "name": "hs_email_first_send_date",
                                "type": "date",
                                "label": "First marketing email send date"
                            },
                            {
                                "name": "firstname",
                                "type": "text",
                                "label": "First Name"
                            },
                            {
                                "name": "gender",
                                "type": "text",
                                "label": "Gender"
                            },
                            {
                                "name": "graduation_date",
                                "type": "text",
                                "label": "Graduation date"
                            },
                            {
                                "name": "hubspotscore",
                                "type": "number",
                                "label": "HubSpot Score"
                            },
                            {
                                "name": "hubspot_team_id",
                                "type": "text",
                                "label": "HubSpot Team"
                            },
                            {
                                "name": "industry",
                                "type": "text",
                                "label": "Industry"
                            },
                            {
                                "name": "hs_email_bad_address",
                                "type": "boolean",
                                "label": "Invalid email address"
                            },
                            {
                                "name": "job_function",
                                "type": "text",
                                "label": "Job function"
                            },
                            {
                                "name": "jobtitle",
                                "type": "text",
                                "label": "Job Title"
                            },
                            {
                                "name": "notes_last_updated",
                                "type": "date",
                                "label": "Last Activity Date"
                            },
                            {
                                "name": "notes_last_contacted",
                                "type": "date",
                                "label": "Last Contacted"
                            },
                            {
                                "name": "hs_last_sales_activity_timestamp",
                                "type": "date",
                                "label": "Last Engagement Date"
                            },
                            {
                                "name": "hs_email_last_click_date",
                                "type": "date",
                                "label": "Last marketing email click date"
                            },
                            {
                                "name": "hs_email_last_email_name",
                                "type": "text",
                                "label": "Last marketing email name"
                            },
                            {
                                "name": "hs_email_last_open_date",
                                "type": "date",
                                "label": "Last marketing email open date"
                            },
                            {
                                "name": "hs_email_last_reply_date",
                                "type": "date",
                                "label": "Last marketing email reply date"
                            },
                            {
                                "name": "hs_email_last_send_date",
                                "type": "date",
                                "label": "Last marketing email send date"
                            },
                            {
                                "name": "lastmodifieddate",
                                "type": "date",
                                "label": "Last Modified Date"
                            },
                            {
                                "name": "lastname",
                                "type": "text",
                                "label": "Last Name"
                            },
                            {
                                "name": "hs_feedback_last_nps_follow_up",
                                "type": "text",
                                "label": "Last NPS survey comment"
                            },
                            {
                                "name": "hs_feedback_last_survey_date",
                                "type": "date",
                                "label": "Last NPS survey date"
                            },
                            {
                                "name": "hs_feedback_last_nps_rating",
                                "type": "text",
                                "label": "Last NPS survey rating"
                            },
                            {
                                "name": "hs_latest_sequence_ended_date",
                                "type": "date",
                                "label": "Last sequence ended date"
                            },
                            {
                                "name": "hs_latest_sequence_enrolled",
                                "type": "number",
                                "label": "Last sequence enrolled"
                            },
                            {
                                "name": "hs_latest_sequence_enrolled_date",
                                "type": "date",
                                "label": "Last sequence enrolled date"
                            },
                            {
                                "name": "hs_predictivecontactscorebucket",
                                "type": "text",
                                "label": "Lead Rating"
                            },
                            {
                                "name": "hs_lead_status",
                                "type": "text",
                                "label": "Lead Status"
                            },
                            {
                                "name": "hs_legal_basis",
                                "type": "text",
                                "label": "Legal basis for processing contact's data"
                            },
                            {
                                "name": "lifecyclestage",
                                "type": "text",
                                "label": "Lifecycle Stage"
                            },
                            {
                                "name": "hs_predictivecontactscore_v2",
                                "type": "number",
                                "label": "Likelihood to close"
                            },
                            {
                                "name": "marital_status",
                                "type": "text",
                                "label": "Marital Status"
                            },
                            {
                                "name": "hs_marketable_status",
                                "type": "text",
                                "label": "Marketing contact status"
                            },
                            {
                                "name": "hs_marketable_reason_id",
                                "type": "text",
                                "label": "Marketing contact status source name"
                            },
                            {
                                "name": "hs_marketable_reason_type",
                                "type": "text",
                                "label": "Marketing contact status source type"
                            },
                            {
                                "name": "hs_marketable_until_renewal",
                                "type": "text",
                                "label": "Marketing contact until next update"
                            },
                            {
                                "name": "hs_emailconfirmationstatus",
                                "type": "text",
                                "label": "Marketing email confirmation status"
                            },
                            {
                                "name": "hs_email_bounce",
                                "type": "number",
                                "label": "Marketing emails bounced"
                            },
                            {
                                "name": "hs_email_click",
                                "type": "number",
                                "label": "Marketing emails clicked"
                            },
                            {
                                "name": "hs_email_delivered",
                                "type": "number",
                                "label": "Marketing emails delivered"
                            },
                            {
                                "name": "hs_email_open",
                                "type": "number",
                                "label": "Marketing emails opened"
                            },
                            {
                                "name": "hs_email_replied",
                                "type": "number",
                                "label": "Marketing emails replied"
                            },
                            {
                                "name": "engagements_last_meeting_booked_medium",
                                "type": "text",
                                "label": "Medium of last booking in meetings tool"
                            },
                            {
                                "name": "hs_content_membership_notes",
                                "type": "text",
                                "label": "Membership Notes"
                            },
                            {
                                "name": "message",
                                "type": "text",
                                "label": "Message"
                            },
                            {
                                "name": "military_status",
                                "type": "text",
                                "label": "Military status"
                            },
                            {
                                "name": "mobilephone",
                                "type": "text",
                                "label": "Mobile Phone Number"
                            },
                            {
                                "name": "checkbox",
                                "type": "text",
                                "label": "My Checkbox"
                            },
                            {
                                "name": "checkboxes",
                                "type": "text",
                                "label": "My Checkboxes"
                            },
                            {
                                "name": "date",
                                "type": "date",
                                "label": "My Date"
                            },
                            {
                                "name": "dropdown",
                                "type": "text",
                                "label": "My Dropdown"
                            },
                            {
                                "name": "multiple_checkboxes",
                                "type": "text",
                                "label": "My Multiple Checkboxes"
                            },
                            {
                                "name": "number",
                                "type": "number",
                                "label": "My Number"
                            },
                            {
                                "name": "notes_next_activity_date",
                                "type": "date",
                                "label": "Next Activity Date"
                            },
                            {
                                "name": "numemployees",
                                "type": "text",
                                "label": "Number of Employees"
                            },
                            {
                                "name": "num_notes",
                                "type": "number",
                                "label": "Number of Sales Activities"
                            },
                            {
                                "name": "hs_sequences_enrolled_count",
                                "type": "number",
                                "label": "Number of sequences enrolled"
                            },
                            {
                                "name": "num_contacted_notes",
                                "type": "number",
                                "label": "Number of times contacted"
                            },
                            {
                                "name": "hs_createdate",
                                "type": "date",
                                "label": "Object create date/time"
                            },
                            {
                                "name": "hs_email_optout_8108903",
                                "type": "text",
                                "label": "Opted out of email: Customer Service Communication"
                            },
                            {
                                "name": "hs_email_optout_14331235",
                                "type": "text",
                                "label": "Opted out of email: One to One"
                            },
                            {
                                "name": "hubspot_owner_assigneddate",
                                "type": "date",
                                "label": "Owner Assigned Date"
                            },
                            {
                                "name": "hs_persona",
                                "type": "text",
                                "label": "Persona"
                            },
                            {
                                "name": "phone",
                                "type": "text",
                                "label": "Phone Number"
                            },
                            {
                                "name": "zip",
                                "type": "text",
                                "label": "Postal Code"
                            },
                            {
                                "name": "hs_predictivecontactscore",
                                "type": "number",
                                "label": "Predictive Lead Score"
                            },
                            {
                                "name": "hs_language",
                                "type": "text",
                                "label": "Preferred language"
                            },
                            {
                                "name": "radiobuttons",
                                "type": "text",
                                "label": "Radiobuttons"
                            },
                            {
                                "name": "recent_deal_amount",
                                "type": "number",
                                "label": "Recent Deal Amount"
                            },
                            {
                                "name": "recent_deal_close_date",
                                "type": "date",
                                "label": "Recent Deal Close Date"
                            },
                            {
                                "name": "hs_sales_email_last_clicked",
                                "type": "date",
                                "label": "Recent Sales Email Clicked Date"
                            },
                            {
                                "name": "hs_sales_email_last_opened",
                                "type": "date",
                                "label": "Recent Sales Email Opened Date"
                            },
                            {
                                "name": "hs_sales_email_last_replied",
                                "type": "date",
                                "label": "Recent Sales Email Replied Date"
                            },
                            {
                                "name": "hs_content_membership_registered_at",
                                "type": "date",
                                "label": "Registered At"
                            },
                            {
                                "name": "relationship_status",
                                "type": "text",
                                "label": "Relationship Status"
                            },
                            {
                                "name": "salutation",
                                "type": "text",
                                "label": "Salutation"
                            },
                            {
                                "name": "school",
                                "type": "text",
                                "label": "School"
                            },
                            {
                                "name": "hs_email_sends_since_last_engagement",
                                "type": "number",
                                "label": "Sends Since Last Engagement"
                            },
                            {
                                "name": "seniority",
                                "type": "text",
                                "label": "Seniority"
                            },
                            {
                                "name": "engagements_last_meeting_booked_source",
                                "type": "text",
                                "label": "Source of last booking in meetings tool"
                            },
                            {
                                "name": "start_date",
                                "type": "text",
                                "label": "Start date"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State/Region"
                            },
                            {
                                "name": "hs_content_membership_status",
                                "type": "text",
                                "label": "Status"
                            },
                            {
                                "name": "address",
                                "type": "text",
                                "label": "Street Address"
                            },
                            {
                                "name": "hs_time_between_contact_creation_and_deal_close",
                                "type": "number",
                                "label": "Time between contact creation and deal close"
                            },
                            {
                                "name": "hs_time_between_contact_creation_and_deal_creation",
                                "type": "number",
                                "label": "Time between contact creation and deal creation"
                            },
                            {
                                "name": "hs_content_membership_registration_email_sent_at",
                                "type": "date",
                                "label": "Time registration email was sent"
                            },
                            {
                                "name": "hs_time_to_move_from_lead_to_customer",
                                "type": "number",
                                "label": "Time to move from lead to customer"
                            },
                            {
                                "name": "hs_time_to_move_from_marketingqualifiedlead_to_customer",
                                "type": "number",
                                "label": "Time to move from marketing qualified lead to customer"
                            },
                            {
                                "name": "hs_time_to_move_from_opportunity_to_customer",
                                "type": "number",
                                "label": "Time to move from opportunity to customer"
                            },
                            {
                                "name": "hs_time_to_move_from_salesqualifiedlead_to_customer",
                                "type": "number",
                                "label": "Time to move from sales qualified lead to customer"
                            },
                            {
                                "name": "hs_time_to_move_from_subscriber_to_customer",
                                "type": "number",
                                "label": "Time to move from subscriber to customer"
                            },
                            {
                                "name": "hs_timezone",
                                "type": "text",
                                "label": "Time Zone"
                            },
                            {
                                "name": "total_revenue",
                                "type": "number",
                                "label": "Total Revenue"
                            },
                            {
                                "name": "twitterhandle",
                                "type": "text",
                                "label": "Twitter Username"
                            },
                            {
                                "name": "hs_email_optout",
                                "type": "boolean",
                                "label": "Unsubscribed from all email"
                            },
                            {
                                "name": "website",
                                "type": "text",
                                "label": "Website URL"
                            },
                            {
                                "name": "work_email",
                                "type": "text",
                                "label": "Work email"
                            }
                        ],
                        "type": "collection",
                        "label": "Properties"
                    },
                    {
                        "name": "lastModifiedDate",
                        "type": "date",
                        "label": "Last Modified Date"
                    },
                    {
                        "name": "createDate",
                        "type": "date",
                        "label": "Creation Date"
                    },
                    {
                        "name": "associated-company",
                        "spec": [
                            {
                                "name": "company-id",
                                "type": "uinteger",
                                "label": "Company ID"
                            },
                            {
                                "name": "portal-id",
                                "type": "uinteger",
                                "label": "Portal ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Associated Company"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "hubspotcrm:createRecord2020",
            "version": 1,
            "parameters": {},
            "mapper": {
                "objectType": "deal",
                "properties": {
                    "amount": "",
                    "dealname": "LinkedIn Deal: {{6.form_answers.`First name`}} {{6.form_answers.`Last name`}}",
                    "dealtype": "",
                    "pipeline": "",
                    "closedate": "",
                    "dealstage": "",
                    "createdate": "",
                    "description": "This is a deal from LinkedIn Lead Generation Ads.\n\nQuestions and answers:\n{{5.text}}\n\nForm details:\nName: {{13.form.name}}\nHeadline: {{13.form.headline}}\nDescription: {{13.form.description}}",
                    "hs_priority": "",
                    "hs_next_step": "",
                    "pandadoc_link": "",
                    "hubspot_owner_id": "",
                    "closed_won_reason": "",
                    "closed_lost_reason": "",
                    "hs_forecast_probability": "",
                    "hs_deal_stage_probability": "",
                    "hs_manual_forecast_category": ""
                },
                "associations": {
                    "associatedVids": [
                        "{{7.vid}}"
                    ],
                    "associatedCompanyIds": []
                },
                "propertyGroups": [
                    "deal_activity",
                    "dealinformation"
                ]
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                },
                "restore": {
                    "objectType": {
                        "label": "Deal"
                    },
                    "associations": {
                        "nested": {
                            "associatedVids": {
                                "mode": "chose",
                                "items": [
                                    "undefined"
                                ]
                            },
                            "associatedCompanyIds": {
                                "mode": "chose",
                                "items": []
                            }
                        }
                    },
                    "propertyGroups": {
                        "label": [
                            null,
                            null
                        ]
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "objectType",
                        "type": "select",
                        "label": "Record Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "contact",
                                "company",
                                "deal"
                            ]
                        }
                    },
                    {
                        "name": "propertyGroups",
                        "type": "select",
                        "label": "Property Groups",
                        "multiple": true
                    },
                    {
                        "name": "properties",
                        "spec": [
                            {
                                "name": "amount",
                                "type": "number",
                                "label": "Amount",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "closedate",
                                "type": "date",
                                "label": "Close Date",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "closed_lost_reason",
                                "type": "text",
                                "label": "Closed Lost Reason",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "closed_won_reason",
                                "type": "text",
                                "label": "Closed Won Reason",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "createdate",
                                "type": "date",
                                "label": "Create Date",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Deal Description",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "dealname",
                                "type": "text",
                                "label": "Deal Name",
                                "required": true,
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hubspot_owner_id",
                                "type": "text",
                                "label": "Deal owner",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hs_deal_stage_probability",
                                "type": "number",
                                "label": "Deal probability",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "dealstage",
                                "type": "text",
                                "label": "Deal Stage",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "dealtype",
                                "type": "text",
                                "label": "Deal Type",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hs_manual_forecast_category",
                                "type": "text",
                                "label": "Forecast category",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hs_forecast_probability",
                                "type": "number",
                                "label": "Forecast probability",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hs_next_step",
                                "type": "text",
                                "label": "Next step",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "pandadoc_link",
                                "type": "text",
                                "label": "PandaDoc Link",
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "pipeline",
                                "type": "text",
                                "label": "Pipeline",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hs_priority",
                                "type": "text",
                                "label": "Priority",
                                "readOnlyDefinition": true
                            }
                        ],
                        "type": "collection",
                        "label": "Properties",
                        "required": true
                    },
                    {
                        "name": "associations",
                        "spec": [
                            {
                                "name": "associatedVids",
                                "spec": {
                                    "type": "number"
                                },
                                "type": "array",
                                "label": "Associated Contacts"
                            },
                            {
                                "name": "associatedCompanyIds",
                                "spec": {
                                    "type": "number"
                                },
                                "type": "array",
                                "label": "Associated Companies"
                            }
                        ],
                        "type": "collection",
                        "label": "Associations",
                        "required": false
                    }
                ],
                "interface": [
                    {
                        "name": "dealId",
                        "type": "number",
                        "label": "Deal ID"
                    },
                    {
                        "name": "properties",
                        "spec": [
                            {
                                "name": "amount",
                                "type": "number",
                                "label": "Amount"
                            },
                            {
                                "name": "amount_in_home_currency",
                                "type": "number",
                                "label": "Amount in company currency"
                            },
                            {
                                "name": "hs_acv",
                                "type": "number",
                                "label": "Annual contract value"
                            },
                            {
                                "name": "hs_arr",
                                "type": "number",
                                "label": "Annual recurring revenue"
                            },
                            {
                                "name": "engagements_last_meeting_booked_campaign",
                                "type": "text",
                                "label": "Campaign of last booking in meetings tool"
                            },
                            {
                                "name": "closedate",
                                "type": "date",
                                "label": "Close Date"
                            },
                            {
                                "name": "closed_lost_reason",
                                "type": "text",
                                "label": "Closed Lost Reason"
                            },
                            {
                                "name": "closed_won_reason",
                                "type": "text",
                                "label": "Closed Won Reason"
                            },
                            {
                                "name": "createdate",
                                "type": "date",
                                "label": "Create Date"
                            },
                            {
                                "name": "engagements_last_meeting_booked",
                                "type": "date",
                                "label": "Date of last meeting booked in meetings tool"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Deal Description"
                            },
                            {
                                "name": "hs_object_id",
                                "type": "number",
                                "label": "Deal ID"
                            },
                            {
                                "name": "dealname",
                                "type": "text",
                                "label": "Deal Name"
                            },
                            {
                                "name": "hubspot_owner_id",
                                "type": "text",
                                "label": "Deal owner"
                            },
                            {
                                "name": "hs_deal_stage_probability",
                                "type": "number",
                                "label": "Deal probability"
                            },
                            {
                                "name": "hs_is_deal_split",
                                "type": "boolean",
                                "label": "Deal Split Added"
                            },
                            {
                                "name": "dealstage",
                                "type": "text",
                                "label": "Deal Stage"
                            },
                            {
                                "name": "dealtype",
                                "type": "text",
                                "label": "Deal Type"
                            },
                            {
                                "name": "hs_forecast_amount",
                                "type": "number",
                                "label": "Forecast amount"
                            },
                            {
                                "name": "hs_manual_forecast_category",
                                "type": "text",
                                "label": "Forecast category"
                            },
                            {
                                "name": "hs_forecast_probability",
                                "type": "number",
                                "label": "Forecast probability"
                            },
                            {
                                "name": "hubspot_team_id",
                                "type": "text",
                                "label": "HubSpot Team"
                            },
                            {
                                "name": "notes_last_updated",
                                "type": "date",
                                "label": "Last Activity Date"
                            },
                            {
                                "name": "notes_last_contacted",
                                "type": "date",
                                "label": "Last Contacted"
                            },
                            {
                                "name": "hs_lastmodifieddate",
                                "type": "date",
                                "label": "Last Modified Date"
                            },
                            {
                                "name": "engagements_last_meeting_booked_medium",
                                "type": "text",
                                "label": "Medium of last booking in meetings tool"
                            },
                            {
                                "name": "hs_mrr",
                                "type": "number",
                                "label": "Monthly recurring revenue"
                            },
                            {
                                "name": "notes_next_activity_date",
                                "type": "date",
                                "label": "Next Activity Date"
                            },
                            {
                                "name": "hs_next_step",
                                "type": "text",
                                "label": "Next step"
                            },
                            {
                                "name": "num_associated_contacts",
                                "type": "number",
                                "label": "Number of Associated Contacts"
                            },
                            {
                                "name": "num_notes",
                                "type": "number",
                                "label": "Number of Sales Activities"
                            },
                            {
                                "name": "num_contacted_notes",
                                "type": "number",
                                "label": "Number of times contacted"
                            },
                            {
                                "name": "hubspot_owner_assigneddate",
                                "type": "date",
                                "label": "Owner Assigned Date"
                            },
                            {
                                "name": "pandadoc_link",
                                "type": "text",
                                "label": "PandaDoc Link"
                            },
                            {
                                "name": "pipeline",
                                "type": "text",
                                "label": "Pipeline"
                            },
                            {
                                "name": "hs_priority",
                                "type": "text",
                                "label": "Priority"
                            },
                            {
                                "name": "engagements_last_meeting_booked_source",
                                "type": "text",
                                "label": "Source of last booking in meetings tool"
                            },
                            {
                                "name": "hs_tcv",
                                "type": "number",
                                "label": "Total contract value"
                            },
                            {
                                "name": "hs_projected_amount",
                                "type": "number",
                                "label": "Weighted amount"
                            },
                            {
                                "name": "hs_projected_amount_in_home_currency",
                                "type": "number",
                                "label": "Weighted amount in company currency"
                            }
                        ],
                        "type": "collection",
                        "label": "Properties"
                    },
                    {
                        "name": "lastModifiedDate",
                        "type": "date",
                        "label": "Last Modified Date"
                    },
                    {
                        "name": "createDate",
                        "type": "date",
                        "label": "Creation Date"
                    },
                    {
                        "help": "Enter the associations.",
                        "name": "associations",
                        "spec": [
                            {
                                "help": "Enter the array of associated contacts.",
                                "name": "associatedVids",
                                "spec": {
                                    "type": "number"
                                },
                                "type": "array",
                                "label": "Associated Contacts",
                                "editable": true,
                                "required": false
                            },
                            {
                                "help": "Enter the array of associated companies.",
                                "name": "associatedCompanyIds",
                                "spec": {
                                    "type": "number"
                                },
                                "type": "array",
                                "label": "Associated Companies",
                                "editable": true,
                                "required": false
                            },
                            {
                                "name": "associatedDealIds",
                                "spec": {
                                    "type": "number"
                                },
                                "type": "array",
                                "label": "Associated Deals"
                            }
                        ],
                        "type": "collection",
                        "label": "Associations",
                        "required": false
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "slack:CreateMessage",
            "version": 4,
            "parameters": {},
            "mapper": {
                "text": "A new deal from LinkedIn Lead Gen Forms!\n\nQuestions and answers:\n{{5.text}}\n\nForm details:\nName: {{13.form.name}}\nHeadline: {{13.form.headline}}\nDescription: {{13.form.description}}",
                "parse": false,
                "mrkdwn": true,
                "channelWType": "list"
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0
                },
                "restore": {
                    "parse": {
                        "mode": "chose"
                    },
                    "mrkdwn": {
                        "mode": "chose"
                    },
                    "link_names": {
                        "mode": "chose"
                    },
                    "channelWType": {
                        "label": "Select from the list"
                    },
                    "unfurl_links": {
                        "mode": "chose"
                    },
                    "unfurl_media": {
                        "mode": "chose"
                    },
                    "reply_broadcast": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "channelWType",
                        "type": "select",
                        "label": "Enter a channel ID or name",
                        "required": true,
                        "validate": {
                            "enum": [
                                "manualy",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "multiline": true
                    },
                    {
                        "name": "blocks",
                        "type": "text",
                        "label": "Blocks",
                        "multiline": true
                    },
                    {
                        "name": "thread_ts",
                        "type": "text",
                        "label": "Thread message ID (time stamp)"
                    },
                    {
                        "name": "reply_broadcast",
                        "type": "boolean",
                        "label": "Reply broadcast"
                    },
                    {
                        "name": "link_names",
                        "type": "boolean",
                        "label": "Link names"
                    },
                    {
                        "name": "parse",
                        "type": "boolean",
                        "label": "Parse message text"
                    },
                    {
                        "name": "mrkdwn",
                        "type": "boolean",
                        "label": "Use markdown"
                    },
                    {
                        "name": "unfurl_links",
                        "type": "boolean",
                        "label": "Unfurl primarily text-based content"
                    },
                    {
                        "name": "unfurl_media",
                        "type": "boolean",
                        "label": "Unfurl media content"
                    },
                    {
                        "name": "icon_emoji",
                        "type": "text",
                        "label": "Icon emoji"
                    },
                    {
                        "name": "icon_url",
                        "type": "url",
                        "label": "Icon url"
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "channelType",
                        "type": "select",
                        "label": "Channel type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "public",
                                "private",
                                "im",
                                "mpim"
                            ]
                        }
                    },
                    {
                        "name": "channel",
                        "type": "select",
                        "label": "Private channel",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}