Make example Blueprints/Make example flows/Create a Salesforce lead from a new row in a Microsoft 365 Excel worksheet.blueprint.json
{
    "name": "Create a Salesforce lead from a new row in a Microsoft 365 Excel worksheet",
    "flow": [
        {
            "id": 1,
            "module": "microsoft-excel:watchWorksheetRows",
            "version": 2,
            "parameters": {
                "limit": 2
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "workbook",
                        "type": "file",
                        "label": "Workbook",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "worksheet",
                        "type": "select",
                        "label": "Worksheet",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Row ID"
                    },
                    {
                        "name": "row",
                        "spec": [
                            {
                                "name": "a",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(A): Email"
                            },
                            {
                                "name": "b",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(B): First name"
                            },
                            {
                                "name": "c",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(C): Last name"
                            },
                            {
                                "name": "d",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(D): Company"
                            },
                            {
                                "name": "e",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(E): Phone"
                            }
                        ],
                        "type": "collection",
                        "label": "Row"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "salesforce:ActionSearchObject",
            "version": 2,
            "parameters": {
                "continueWhenNoRes": true
            },
            "mapper": {
                "query": "{{1.row.a.text}}",
                "sObject": "Contact",
                "maxResults": "1",
                "searchType": "simple"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "sObject": {
                        "label": "Contact"
                    },
                    "searchType": {
                        "label": "Simple"
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module returns no results",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "searchType",
                        "type": "select",
                        "label": "Search type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "simple",
                                "sosl"
                            ]
                        }
                    },
                    {
                        "name": "maxResults",
                        "type": "uinteger",
                        "label": "Maximal count of records",
                        "required": true
                    },
                    {
                        "name": "sObject",
                        "type": "select",
                        "label": "Type",
                        "required": true
                    },
                    {
                        "name": "query",
                        "type": "text",
                        "label": "Query",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "accountId",
                        "type": "text",
                        "label": "Account ID"
                    },
                    {
                        "name": "assistantName",
                        "type": "text",
                        "label": "Assistant's Name"
                    },
                    {
                        "name": "assistantPhone",
                        "type": "text",
                        "label": "Asst. Phone"
                    },
                    {
                        "name": "birthdate",
                        "type": "date",
                        "label": "Birthdate"
                    },
                    {
                        "name": "fax",
                        "type": "text",
                        "label": "Business Fax"
                    },
                    {
                        "name": "phone",
                        "type": "text",
                        "label": "Business Phone"
                    },
                    {
                        "name": "cleanStatus",
                        "type": "text",
                        "label": "Clean Status"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Contact Description"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Contact ID"
                    },
                    {
                        "name": "createdById",
                        "type": "text",
                        "label": "Created By ID"
                    },
                    {
                        "name": "createdDate",
                        "type": "date",
                        "label": "Created Date"
                    },
                    {
                        "name": "jigsaw",
                        "type": "text",
                        "label": "Data.com Key"
                    },
                    {
                        "name": "isDeleted",
                        "type": "boolean",
                        "label": "Deleted"
                    },
                    {
                        "name": "department",
                        "type": "text",
                        "label": "Department"
                    },
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email"
                    },
                    {
                        "name": "emailBouncedDate",
                        "type": "date",
                        "label": "Email Bounced Date"
                    },
                    {
                        "name": "emailBouncedReason",
                        "type": "text",
                        "label": "Email Bounced Reason"
                    },
                    {
                        "name": "firstName",
                        "type": "text",
                        "label": "First Name"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Full Name"
                    },
                    {
                        "name": "homePhone",
                        "type": "text",
                        "label": "Home Phone"
                    },
                    {
                        "name": "devintegromat__Interests__c",
                        "type": "text",
                        "label": "Interests"
                    },
                    {
                        "name": "isEmailBounced",
                        "type": "boolean",
                        "label": "Is Email Bounced"
                    },
                    {
                        "name": "jigsawContactId",
                        "type": "text",
                        "label": "Jigsaw Contact ID"
                    },
                    {
                        "name": "devintegromat__Languages__c",
                        "type": "text",
                        "label": "Languages"
                    },
                    {
                        "name": "lastActivityDate",
                        "type": "date",
                        "label": "Last Activity"
                    },
                    {
                        "name": "lastModifiedById",
                        "type": "text",
                        "label": "Last Modified By ID"
                    },
                    {
                        "name": "lastModifiedDate",
                        "type": "date",
                        "label": "Last Modified Date"
                    },
                    {
                        "name": "lastName",
                        "type": "text",
                        "label": "Last Name"
                    },
                    {
                        "name": "lastReferencedDate",
                        "type": "date",
                        "label": "Last Referenced Date"
                    },
                    {
                        "name": "lastCURequestDate",
                        "type": "date",
                        "label": "Last Stay-in-Touch Request Date"
                    },
                    {
                        "name": "lastCUUpdateDate",
                        "type": "date",
                        "label": "Last Stay-in-Touch Save Date"
                    },
                    {
                        "name": "lastViewedDate",
                        "type": "date",
                        "label": "Last Viewed Date"
                    },
                    {
                        "name": "leadSource",
                        "type": "text",
                        "label": "Lead Source"
                    },
                    {
                        "name": "devintegromat__Level__c",
                        "type": "text",
                        "label": "Level"
                    },
                    {
                        "name": "mailingAddress",
                        "spec": [
                            {
                                "name": "street",
                                "type": "text",
                                "label": "Street"
                            },
                            {
                                "name": "country",
                                "type": "text",
                                "label": "Country"
                            },
                            {
                                "name": "countryCode",
                                "type": "text",
                                "label": "Country code"
                            },
                            {
                                "name": "latitude",
                                "type": "number",
                                "label": "Latitude"
                            },
                            {
                                "name": "longitude",
                                "type": "number",
                                "label": "Longitude"
                            },
                            {
                                "name": "postalCode",
                                "type": "text",
                                "label": "Postal code"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "stateCode",
                                "type": "text",
                                "label": "State code"
                            }
                        ],
                        "type": "collection",
                        "label": "Mailing Address"
                    },
                    {
                        "name": "mailingCity",
                        "type": "text",
                        "label": "Mailing City"
                    },
                    {
                        "name": "mailingCountry",
                        "type": "text",
                        "label": "Mailing Country"
                    },
                    {
                        "name": "mailingLatitude",
                        "type": "number",
                        "label": "Mailing Latitude"
                    },
                    {
                        "name": "mailingLongitude",
                        "type": "number",
                        "label": "Mailing Longitude"
                    },
                    {
                        "name": "mailingState",
                        "type": "text",
                        "label": "Mailing State/Province"
                    },
                    {
                        "name": "mailingStreet",
                        "type": "text",
                        "label": "Mailing Street"
                    },
                    {
                        "name": "mailingPostalCode",
                        "type": "text",
                        "label": "Mailing Zip/Postal Code"
                    },
                    {
                        "name": "masterRecordId",
                        "type": "text",
                        "label": "Master Record ID"
                    },
                    {
                        "name": "mobilePhone",
                        "type": "text",
                        "label": "Mobile Phone"
                    },
                    {
                        "name": "otherAddress",
                        "spec": [
                            {
                                "name": "street",
                                "type": "text",
                                "label": "Street"
                            },
                            {
                                "name": "country",
                                "type": "text",
                                "label": "Country"
                            },
                            {
                                "name": "countryCode",
                                "type": "text",
                                "label": "Country code"
                            },
                            {
                                "name": "latitude",
                                "type": "number",
                                "label": "Latitude"
                            },
                            {
                                "name": "longitude",
                                "type": "number",
                                "label": "Longitude"
                            },
                            {
                                "name": "postalCode",
                                "type": "text",
                                "label": "Postal code"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "stateCode",
                                "type": "text",
                                "label": "State code"
                            }
                        ],
                        "type": "collection",
                        "label": "Other Address"
                    },
                    {
                        "name": "otherCity",
                        "type": "text",
                        "label": "Other City"
                    },
                    {
                        "name": "otherCountry",
                        "type": "text",
                        "label": "Other Country"
                    },
                    {
                        "name": "otherLatitude",
                        "type": "number",
                        "label": "Other Latitude"
                    },
                    {
                        "name": "otherLongitude",
                        "type": "number",
                        "label": "Other Longitude"
                    },
                    {
                        "name": "otherPhone",
                        "type": "text",
                        "label": "Other Phone"
                    },
                    {
                        "name": "otherState",
                        "type": "text",
                        "label": "Other State/Province"
                    },
                    {
                        "name": "otherStreet",
                        "type": "text",
                        "label": "Other Street"
                    },
                    {
                        "name": "otherPostalCode",
                        "type": "text",
                        "label": "Other Zip/Postal Code"
                    },
                    {
                        "name": "ownerId",
                        "type": "text",
                        "label": "Owner ID"
                    },
                    {
                        "name": "photoUrl",
                        "type": "url",
                        "label": "Photo URL"
                    },
                    {
                        "name": "reportsToId",
                        "type": "text",
                        "label": "Reports To ID"
                    },
                    {
                        "name": "salutation",
                        "type": "text",
                        "label": "Salutation"
                    },
                    {
                        "name": "systemModstamp",
                        "type": "date",
                        "label": "System Modstamp"
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "salesforce:ActionSearchObject",
            "version": 2,
            "parameters": {
                "continueWhenNoRes": true
            },
            "filter": {
                "name": "contact does not exist",
                "conditions": [
                    [
                        {
                            "a": "{{2.id}}",
                            "b": "",
                            "o": "notexist"
                        }
                    ]
                ]
            },
            "mapper": {
                "query": "{{1.row.a.text}}",
                "sObject": "Lead",
                "maxResults": "1",
                "searchType": "simple"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "sObject": {
                        "label": "Lead"
                    },
                    "searchType": {
                        "label": "Simple"
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module returns no results",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "searchType",
                        "type": "select",
                        "label": "Search type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "simple",
                                "sosl"
                            ]
                        }
                    },
                    {
                        "name": "maxResults",
                        "type": "uinteger",
                        "label": "Maximal count of records",
                        "required": true
                    },
                    {
                        "name": "sObject",
                        "type": "select",
                        "label": "Type",
                        "required": true
                    },
                    {
                        "name": "query",
                        "type": "text",
                        "label": "Query",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "address",
                        "spec": [
                            {
                                "name": "street",
                                "type": "text",
                                "label": "Street"
                            },
                            {
                                "name": "country",
                                "type": "text",
                                "label": "Country"
                            },
                            {
                                "name": "countryCode",
                                "type": "text",
                                "label": "Country code"
                            },
                            {
                                "name": "latitude",
                                "type": "number",
                                "label": "Latitude"
                            },
                            {
                                "name": "longitude",
                                "type": "number",
                                "label": "Longitude"
                            },
                            {
                                "name": "postalCode",
                                "type": "text",
                                "label": "Postal code"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "stateCode",
                                "type": "text",
                                "label": "State code"
                            }
                        ],
                        "type": "collection",
                        "label": "Address"
                    },
                    {
                        "name": "annualRevenue",
                        "type": "number",
                        "label": "Annual Revenue"
                    },
                    {
                        "name": "city",
                        "type": "text",
                        "label": "City"
                    },
                    {
                        "name": "cleanStatus",
                        "type": "text",
                        "label": "Clean Status"
                    },
                    {
                        "name": "company",
                        "type": "text",
                        "label": "Company"
                    },
                    {
                        "name": "companyDunsNumber",
                        "type": "text",
                        "label": "Company D-U-N-S Number"
                    },
                    {
                        "name": "isConverted",
                        "type": "boolean",
                        "label": "Converted"
                    },
                    {
                        "name": "convertedAccountId",
                        "type": "text",
                        "label": "Converted Account ID"
                    },
                    {
                        "name": "convertedContactId",
                        "type": "text",
                        "label": "Converted Contact ID"
                    },
                    {
                        "name": "convertedDate",
                        "type": "date",
                        "label": "Converted Date"
                    },
                    {
                        "name": "convertedOpportunityId",
                        "type": "text",
                        "label": "Converted Opportunity ID"
                    },
                    {
                        "name": "country",
                        "type": "text",
                        "label": "Country"
                    },
                    {
                        "name": "createdById",
                        "type": "text",
                        "label": "Created By ID"
                    },
                    {
                        "name": "createdDate",
                        "type": "date",
                        "label": "Created Date"
                    },
                    {
                        "name": "devintegromat__CurrentGenerators__c",
                        "type": "text",
                        "label": "Current Generator(s)"
                    },
                    {
                        "name": "dandbCompanyId",
                        "type": "text",
                        "label": "D&B Company ID"
                    },
                    {
                        "name": "jigsaw",
                        "type": "text",
                        "label": "Data.com Key"
                    },
                    {
                        "name": "isDeleted",
                        "type": "boolean",
                        "label": "Deleted"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email"
                    },
                    {
                        "name": "emailBouncedDate",
                        "type": "date",
                        "label": "Email Bounced Date"
                    },
                    {
                        "name": "emailBouncedReason",
                        "type": "text",
                        "label": "Email Bounced Reason"
                    },
                    {
                        "name": "numberOfEmployees",
                        "type": "number",
                        "label": "Employees"
                    },
                    {
                        "name": "fax",
                        "type": "text",
                        "label": "Fax"
                    },
                    {
                        "name": "firstName",
                        "type": "text",
                        "label": "First Name"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Full Name"
                    },
                    {
                        "name": "industry",
                        "type": "text",
                        "label": "Industry"
                    },
                    {
                        "name": "jigsawContactId",
                        "type": "text",
                        "label": "Jigsaw Contact ID"
                    },
                    {
                        "name": "lastActivityDate",
                        "type": "date",
                        "label": "Last Activity"
                    },
                    {
                        "name": "lastModifiedById",
                        "type": "text",
                        "label": "Last Modified By ID"
                    },
                    {
                        "name": "lastModifiedDate",
                        "type": "date",
                        "label": "Last Modified Date"
                    },
                    {
                        "name": "lastName",
                        "type": "text",
                        "label": "Last Name"
                    },
                    {
                        "name": "lastReferencedDate",
                        "type": "date",
                        "label": "Last Referenced Date"
                    },
                    {
                        "name": "lastViewedDate",
                        "type": "date",
                        "label": "Last Viewed Date"
                    },
                    {
                        "name": "latitude",
                        "type": "number",
                        "label": "Latitude"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Lead ID"
                    },
                    {
                        "name": "leadSource",
                        "type": "text",
                        "label": "Lead Source"
                    },
                    {
                        "name": "longitude",
                        "type": "number",
                        "label": "Longitude"
                    },
                    {
                        "name": "masterRecordId",
                        "type": "text",
                        "label": "Master Record ID"
                    },
                    {
                        "name": "mobilePhone",
                        "type": "text",
                        "label": "Mobile Phone"
                    },
                    {
                        "name": "devintegromat__NumberofLocations__c",
                        "type": "number",
                        "label": "Number of Locations"
                    },
                    {
                        "name": "ownerId",
                        "type": "text",
                        "label": "Owner ID"
                    },
                    {
                        "name": "phone",
                        "type": "text",
                        "label": "Phone"
                    },
                    {
                        "name": "photoUrl",
                        "type": "url",
                        "label": "Photo URL"
                    },
                    {
                        "name": "devintegromat__Primary__c",
                        "type": "text",
                        "label": "Primary"
                    },
                    {
                        "name": "devintegromat__ProductInterest__c",
                        "type": "text",
                        "label": "Product Interest"
                    },
                    {
                        "name": "rating",
                        "type": "text",
                        "label": "Rating"
                    },
                    {
                        "name": "salutation",
                        "type": "text",
                        "label": "Salutation"
                    },
                    {
                        "name": "devintegromat__SICCode__c",
                        "type": "text",
                        "label": "SIC Code"
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State/Province"
                    },
                    {
                        "name": "status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "street",
                        "type": "text",
                        "label": "Street"
                    },
                    {
                        "name": "systemModstamp",
                        "type": "date",
                        "label": "System Modstamp"
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "isUnreadByOwner",
                        "type": "boolean",
                        "label": "Unread By Owner"
                    },
                    {
                        "name": "website",
                        "type": "url",
                        "label": "Website"
                    },
                    {
                        "name": "postalCode",
                        "type": "text",
                        "label": "Zip/Postal Code"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "salesforce:ActionCreateObject",
            "version": 2,
            "parameters": {
                "sObject": "Lead"
            },
            "filter": {
                "name": "lead does not exist",
                "conditions": [
                    [
                        {
                            "a": "{{3.id}}",
                            "b": "",
                            "o": "notexist"
                        }
                    ]
                ]
            },
            "mapper": {
                "fax": "",
                "city": "",
                "email": "{{1.row.a.value}}",
                "phone": "{{1.row.e.value}}",
                "state": "",
                "title": "",
                "jigsaw": "",
                "rating": "",
                "status": "",
                "street": "",
                "company": "{{1.row.d.value}}",
                "country": "",
                "ownerId": "",
                "website": "",
                "industry": "",
                "lastName": "{{1.row.c.value}}",
                "latitude": "",
                "firstName": "{{1.row.b.value}}",
                "longitude": "",
                "leadSource": "",
                "postalCode": "",
                "salutation": "",
                "cleanStatus": "",
                "description": "",
                "mobilePhone": "",
                "annualRevenue": "",
                "dandbCompanyId": "",
                "companyDunsNumber": "",
                "numberOfEmployees": "",
                "devintegromat__Primary__c": "",
                "devintegromat__SICCode__c": "",
                "devintegromat__ProductInterest__c": "",
                "devintegromat__CurrentGenerators__c": "",
                "devintegromat__NumberofLocations__c": ""
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "rating": {
                        "mode": "edit"
                    },
                    "status": {
                        "mode": "edit"
                    },
                    "ownerId": {
                        "mode": "edit"
                    },
                    "sObject": {
                        "mode": "chose",
                        "label": "Lead"
                    },
                    "industry": {
                        "mode": "edit"
                    },
                    "leadSource": {
                        "mode": "edit"
                    },
                    "salutation": {
                        "mode": "edit"
                    },
                    "cleanStatus": {
                        "mode": "edit"
                    },
                    "isConverted": {
                        "mode": "chose"
                    },
                    "dandbCompanyId": {
                        "mode": "edit"
                    },
                    "isUnreadByOwner": {
                        "mode": "chose"
                    },
                    "devintegromat__Primary__c": {
                        "mode": "edit"
                    },
                    "devintegromat__ProductInterest__c": {
                        "mode": "edit"
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "sObject",
                        "type": "select",
                        "label": "Type",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "annualRevenue",
                        "type": "number",
                        "label": "Annual Revenue (AnnualRevenue)",
                        "metadata": {
                            "type": "currency"
                        }
                    },
                    {
                        "name": "city",
                        "type": "text",
                        "label": "City (City)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "cleanStatus",
                        "type": "select",
                        "label": "Clean Status (CleanStatus)",
                        "metadata": {
                            "type": "picklist"
                        }
                    },
                    {
                        "name": "company",
                        "type": "text",
                        "label": "Company (Company)",
                        "metadata": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "companyDunsNumber",
                        "type": "text",
                        "label": "Company D-U-N-S Number (CompanyDunsNumber)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "isConverted",
                        "type": "boolean",
                        "label": "Converted (IsConverted)",
                        "metadata": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "country",
                        "type": "text",
                        "label": "Country (Country)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "devintegromat__CurrentGenerators__c",
                        "type": "text",
                        "label": "Current Generator(s) (devintegromat__CurrentGenerators__c)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "dandbCompanyId",
                        "type": "select",
                        "label": "D&B Company (DandbCompanyId)",
                        "metadata": {
                            "type": "reference"
                        }
                    },
                    {
                        "name": "jigsaw",
                        "type": "text",
                        "label": "Data.com Key (Jigsaw)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description (Description)",
                        "metadata": {
                            "type": "textarea"
                        },
                        "multiline": true
                    },
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email (Email)",
                        "metadata": {
                            "type": "email"
                        }
                    },
                    {
                        "name": "numberOfEmployees",
                        "type": "number",
                        "label": "Employees (NumberOfEmployees)",
                        "metadata": {
                            "type": "int"
                        }
                    },
                    {
                        "name": "fax",
                        "type": "text",
                        "label": "Fax (Fax)",
                        "metadata": {
                            "type": "phone"
                        }
                    },
                    {
                        "name": "firstName",
                        "type": "text",
                        "label": "First Name (FirstName)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "industry",
                        "type": "select",
                        "label": "Industry (Industry)",
                        "metadata": {
                            "type": "picklist"
                        }
                    },
                    {
                        "name": "lastName",
                        "type": "text",
                        "label": "Last Name (LastName)",
                        "metadata": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "latitude",
                        "type": "number",
                        "label": "Latitude (Latitude)",
                        "metadata": {
                            "type": "double"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "leadSource",
                        "type": "select",
                        "label": "Lead Source (LeadSource)",
                        "metadata": {
                            "type": "picklist"
                        }
                    },
                    {
                        "name": "longitude",
                        "type": "number",
                        "label": "Longitude (Longitude)",
                        "metadata": {
                            "type": "double"
                        }
                    },
                    {
                        "name": "mobilePhone",
                        "type": "text",
                        "label": "Mobile Phone (MobilePhone)",
                        "metadata": {
                            "type": "phone"
                        }
                    },
                    {
                        "name": "devintegromat__NumberofLocations__c",
                        "type": "number",
                        "label": "Number of Locations (devintegromat__NumberofLocations__c)",
                        "metadata": {
                            "type": "double"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "ownerId",
                        "type": "select",
                        "label": "Owner (OwnerId)",
                        "metadata": {
                            "type": "reference"
                        }
                    },
                    {
                        "name": "phone",
                        "type": "text",
                        "label": "Phone (Phone)",
                        "metadata": {
                            "type": "phone"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "devintegromat__Primary__c",
                        "type": "select",
                        "label": "Primary (devintegromat__Primary__c)",
                        "metadata": {
                            "type": "picklist"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "devintegromat__ProductInterest__c",
                        "type": "select",
                        "label": "Product Interest (devintegromat__ProductInterest__c)",
                        "metadata": {
                            "type": "picklist"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "rating",
                        "type": "select",
                        "label": "Rating (Rating)",
                        "metadata": {
                            "type": "picklist"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "salutation",
                        "type": "select",
                        "label": "Salutation (Salutation)",
                        "metadata": {
                            "type": "picklist"
                        }
                    },
                    {
                        "name": "devintegromat__SICCode__c",
                        "type": "text",
                        "label": "SIC Code (devintegromat__SICCode__c)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State/Province (State)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "status",
                        "type": "select",
                        "label": "Status (Status)",
                        "metadata": {
                            "type": "picklist"
                        }
                    },
                    {
                        "name": "street",
                        "type": "text",
                        "label": "Street (Street)",
                        "metadata": {
                            "type": "textarea"
                        },
                        "multiline": true
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title (Title)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "isUnreadByOwner",
                        "type": "boolean",
                        "label": "Unread By Owner (IsUnreadByOwner)",
                        "metadata": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "website",
                        "type": "url",
                        "label": "Website (Website)",
                        "metadata": {
                            "type": "url"
                        }
                    },
                    {
                        "name": "postalCode",
                        "type": "text",
                        "label": "Zip/Postal Code (PostalCode)",
                        "metadata": {
                            "type": "string"
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}