Make example Blueprints/Make example flows/Personalize an introduction message with ChatGPT for new Salesforce leads and store them on a Google.blueprint.json
{
    "name": "Personalize an introduction message with ChatGPT for new Salesforce leads and store them on a Google Sheet for review",
    "flow": [
        {
            "id": 1,
            "module": "salesforce:watchRecords",
            "version": 3,
            "parameters": {
                "limit": 20,
                "select": "create",
                "sObject": "Lead"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:salesforce",
                        "label": "Connection"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Watch Records",
                        "required": true,
                        "validate": {
                            "enum": [
                                "create",
                                "update"
                            ]
                        }
                    },
                    {
                        "name": "sObject",
                        "type": "select",
                        "label": "Type",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "Id",
                        "type": "text",
                        "label": "Lead ID"
                    },
                    {
                        "name": "IsDeleted",
                        "type": "boolean",
                        "label": "Deleted"
                    },
                    {
                        "name": "MasterRecordId",
                        "type": "text",
                        "label": "Master Record ID"
                    },
                    {
                        "name": "LastName",
                        "type": "text",
                        "label": "Last Name"
                    },
                    {
                        "name": "FirstName",
                        "type": "text",
                        "label": "First Name"
                    },
                    {
                        "name": "Salutation",
                        "type": "text",
                        "label": "Salutation"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Full Name"
                    },
                    {
                        "name": "Title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "Company",
                        "type": "text",
                        "label": "Company"
                    },
                    {
                        "name": "Street",
                        "type": "text",
                        "label": "Street"
                    },
                    {
                        "name": "City",
                        "type": "text",
                        "label": "City"
                    },
                    {
                        "name": "State",
                        "type": "text",
                        "label": "State/Province"
                    },
                    {
                        "name": "PostalCode",
                        "type": "text",
                        "label": "Zip/Postal Code"
                    },
                    {
                        "name": "Country",
                        "type": "text",
                        "label": "Country"
                    },
                    {
                        "name": "Latitude",
                        "type": "number",
                        "label": "Latitude"
                    },
                    {
                        "name": "Longitude",
                        "type": "number",
                        "label": "Longitude"
                    },
                    {
                        "name": "GeocodeAccuracy",
                        "type": "text",
                        "label": "Geocode Accuracy"
                    },
                    {
                        "name": "Address",
                        "spec": [
                            {
                                "name": "street",
                                "type": "text",
                                "label": "Street"
                            },
                            {
                                "name": "country",
                                "type": "text",
                                "label": "Country"
                            },
                            {
                                "name": "countryCode",
                                "type": "text",
                                "label": "Country code"
                            },
                            {
                                "name": "latitude",
                                "type": "number",
                                "label": "Latitude"
                            },
                            {
                                "name": "longitude",
                                "type": "number",
                                "label": "Longitude"
                            },
                            {
                                "name": "postalCode",
                                "type": "text",
                                "label": "Postal code"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "stateCode",
                                "type": "text",
                                "label": "State code"
                            }
                        ],
                        "type": "collection",
                        "label": "Address"
                    },
                    {
                        "name": "Phone",
                        "type": "text",
                        "label": "Phone"
                    },
                    {
                        "name": "MobilePhone",
                        "type": "text",
                        "label": "Mobile Phone"
                    },
                    {
                        "name": "Fax",
                        "type": "text",
                        "label": "Fax"
                    },
                    {
                        "name": "Email",
                        "type": "email",
                        "label": "Email"
                    },
                    {
                        "name": "Website",
                        "type": "url",
                        "label": "Website"
                    },
                    {
                        "name": "PhotoUrl",
                        "type": "url",
                        "label": "Photo URL"
                    },
                    {
                        "name": "Description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "LeadSource",
                        "type": "text",
                        "label": "Lead Source"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Industry",
                        "type": "text",
                        "label": "Industry"
                    },
                    {
                        "name": "Rating",
                        "type": "text",
                        "label": "Rating"
                    },
                    {
                        "name": "AnnualRevenue",
                        "type": "number",
                        "label": "Annual Revenue"
                    },
                    {
                        "name": "NumberOfEmployees",
                        "type": "number",
                        "label": "Employees"
                    },
                    {
                        "name": "OwnerId",
                        "type": "text",
                        "label": "Owner ID"
                    },
                    {
                        "name": "IsConverted",
                        "type": "boolean",
                        "label": "Converted"
                    },
                    {
                        "name": "ConvertedDate",
                        "type": "date",
                        "label": "Converted Date"
                    },
                    {
                        "name": "ConvertedAccountId",
                        "type": "text",
                        "label": "Converted Account ID"
                    },
                    {
                        "name": "ConvertedContactId",
                        "type": "text",
                        "label": "Converted Contact ID"
                    },
                    {
                        "name": "ConvertedOpportunityId",
                        "type": "text",
                        "label": "Converted Opportunity ID"
                    },
                    {
                        "name": "IsUnreadByOwner",
                        "type": "boolean",
                        "label": "Unread By Owner"
                    },
                    {
                        "name": "CreatedDate",
                        "type": "date",
                        "label": "Created Date"
                    },
                    {
                        "name": "CreatedById",
                        "type": "text",
                        "label": "Created By ID"
                    },
                    {
                        "name": "LastModifiedDate",
                        "type": "date",
                        "label": "Last Modified Date"
                    },
                    {
                        "name": "LastModifiedById",
                        "type": "text",
                        "label": "Last Modified By ID"
                    },
                    {
                        "name": "SystemModstamp",
                        "type": "date",
                        "label": "System Modstamp"
                    },
                    {
                        "name": "LastActivityDate",
                        "type": "date",
                        "label": "Last Activity"
                    },
                    {
                        "name": "LastViewedDate",
                        "type": "date",
                        "label": "Last Viewed Date"
                    },
                    {
                        "name": "LastReferencedDate",
                        "type": "date",
                        "label": "Last Referenced Date"
                    },
                    {
                        "name": "Jigsaw",
                        "type": "text",
                        "label": "Data.com Key"
                    },
                    {
                        "name": "JigsawContactId",
                        "type": "text",
                        "label": "Jigsaw Contact ID"
                    },
                    {
                        "name": "CleanStatus",
                        "type": "text",
                        "label": "Clean Status"
                    },
                    {
                        "name": "CompanyDunsNumber",
                        "type": "text",
                        "label": "Company D-U-N-S Number"
                    },
                    {
                        "name": "DandbCompanyId",
                        "type": "text",
                        "label": "D&B Company ID"
                    },
                    {
                        "name": "EmailBouncedReason",
                        "type": "text",
                        "label": "Email Bounced Reason"
                    },
                    {
                        "name": "EmailBouncedDate",
                        "type": "date",
                        "label": "Email Bounced Date"
                    },
                    {
                        "name": "IndividualId",
                        "type": "text",
                        "label": "Individual ID"
                    },
                    {
                        "name": "devintegromat__SICCode__c",
                        "type": "text",
                        "label": "SIC Code"
                    },
                    {
                        "name": "devintegromat__ProductInterest__c",
                        "type": "text",
                        "label": "Product Interest"
                    },
                    {
                        "name": "devintegromat__Primary__c",
                        "type": "text",
                        "label": "Primary"
                    },
                    {
                        "name": "devintegromat__CurrentGenerators__c",
                        "type": "text",
                        "label": "Current Generator(s)"
                    },
                    {
                        "name": "devintegromat__NumberofLocations__c",
                        "type": "number",
                        "label": "Number of Locations"
                    },
                    {
                        "name": "devintegromat__Monday_Item__c",
                        "type": "text",
                        "label": "Monday Item"
                    },
                    {
                        "name": "devintegromat__Lead_Source__c",
                        "type": "text",
                        "label": "Lead Source"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {},
            "mapper": {
                "model": "gpt-4-0613",
                "select": "chat",
                "messages": [
                    {
                        "role": "user",
                        "content": "You are the Sales manager at the company {Your company name here}.\n\nCompose a personlized message for the new lead '{{1.FirstName}} {{1.LastName}}' from the company '{{1.Company}}' with the title '{{1.Title}}' from '{{1.Country}}' inviting them to a call and also explain the ways our company will benefit him in his role and his company as a whole."
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "echo": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4-0613"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT Models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "Make Ent GPT4"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection"
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "echo",
                        "type": "boolean",
                        "label": "Echo"
                    },
                    {
                        "name": "additionalParameters",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Parameter Name",
                                "required": true
                            },
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Input Type",
                                "options": [
                                    {
                                        "label": "Text",
                                        "value": "text",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Parameter Value"
                                            }
                                        ],
                                        "default": true
                                    },
                                    {
                                        "label": "Number",
                                        "value": "number",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "number",
                                                "label": "Parameter Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Boolean",
                                        "value": "boolean",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "boolean",
                                                "label": "Parameter Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Date",
                                        "value": "date",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "date",
                                                "label": "Parameter Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Any",
                                        "value": "any",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Parameter Value"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "System",
                                        "value": "system"
                                    },
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Assistant",
                                        "value": "assistant"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Message Content"
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {},
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {},
                "sheetId": "Sheet1",
                "spreadsheetId": "/1iNA6JnQ_mMldxg9U9jMajQKiRGRNj5BvO-bUszE_fJg",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Select by path"
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Webinar test"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "2024.184 (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "(B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "(C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "(D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "(E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "(F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "(G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "(H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "(I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "(J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "(K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "(L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "(M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "(N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (l.govender@make.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection"
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Choose a Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "2024.184 (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "(B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "(C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "(D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "(E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "(F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "(G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "(H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "(I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "(J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}