Make example Blueprints/Make example flows/Retrieve social media records from Airtable, add it to Buffer and send Slack notifications.blueprint.json
{
    "name": "Retrieve social media records from Airtable, add it to Buffer and send Slack notifications",
    "flow": [
        {
            "id": 1,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "view": "",
                "table": "Table 1",
                "config": {
                    "labelField": "Title",
                    "triggerField": "Last Modified Time"
                },
                "formula": "",
                "maxRecords": 10
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "view": {
                        "label": ""
                    },
                    "table": {
                        "label": "Table 1"
                    },
                    "config": {
                        "nested": {
                            "labelField": {
                                "label": "Title"
                            },
                            "triggerField": {
                                "label": "Last Modified Time"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Trigger configuration",
                        "required": false
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "Description",
                        "type": "text",
                        "label": "Description",
                        "multiline": true
                    },
                    {
                        "name": "Link",
                        "type": "url",
                        "label": "Link"
                    },
                    {
                        "name": "Attachments",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "Added to Buffer Queue",
                        "type": "boolean",
                        "label": "Added to Buffer Queue"
                    },
                    {
                        "name": "Service",
                        "type": "text",
                        "label": "Service"
                    },
                    {
                        "name": "Created Time",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Last Modified Time",
                        "type": "date",
                        "label": "Last Modified Time"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "buffer:ActionCreateStatus",
            "version": 2,
            "parameters": {},
            "filter": {
                "name": "Link post exists",
                "conditions": [
                    [
                        {
                            "a": "{{1.Link}}",
                            "b": "",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "text": "{{1.Title}}\n{{1.Description}} \n{{1.Link}}",
                "type": "scheduled",
                "media": {
                    "link": "",
                    "title": "",
                    "picture": "{{1.Attachments[].url}}",
                    "thumbnail": "{{1.Attachments[].thumbnails.small.url}}",
                    "description": ""
                },
                "shorten": true,
                "useMedia": true,
                "attachment": false,
                "dateScheduled": "{{addDays(now; 1)}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "type": {
                        "label": "Post an update at scheduled date and time"
                    },
                    "shorten": {
                        "mode": "chose"
                    },
                    "attachment": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true,
                        "multiline": true
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Publication",
                        "required": true,
                        "validate": {
                            "enum": [
                                "now",
                                "top",
                                "queue",
                                "scheduled"
                            ]
                        }
                    },
                    {
                        "name": "useMedia",
                        "type": "boolean",
                        "label": "Attach media to the update",
                        "required": true
                    },
                    {
                        "name": "shorten",
                        "type": "boolean",
                        "label": "Shorten links within text",
                        "required": true
                    },
                    {
                        "name": "attachment",
                        "type": "boolean",
                        "label": "Attach links in the text as media",
                        "required": true
                    },
                    {
                        "name": "profileIds",
                        "type": "select",
                        "label": "Profiles",
                        "multiple": true,
                        "required": true
                    },
                    {
                        "name": "dateScheduled",
                        "type": "date",
                        "label": "Date scheduled",
                        "required": true
                    },
                    {
                        "name": "media",
                        "spec": [
                            {
                                "name": "link",
                                "type": "url",
                                "label": "Link"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Description",
                                "multiline": true
                            },
                            {
                                "name": "picture",
                                "type": "url",
                                "label": "Link to an image"
                            },
                            {
                                "name": "thumbnail",
                                "type": "url",
                                "label": "Thumbnail"
                            }
                        ],
                        "type": "collection",
                        "label": "Media",
                        "required": false
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 11,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "array": "{{2.statuses}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "array": {
                                        "mode": "edit"
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "util:TextAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 11,
                                "rowSeparator": "other",
                                "otherRowSeparator": ","
                            },
                            "mapper": {
                                "value": "{{11.service}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "feeder": {
                                        "label": "Iterator"
                                    },
                                    "rowSeparator": {
                                        "label": "Other"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "rowSeparator",
                                        "type": "select",
                                        "label": "Row separator",
                                        "validate": {
                                            "enum": [
                                                "\n",
                                                "\t",
                                                "other"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "otherRowSeparator",
                                        "type": "text",
                                        "label": "Separator"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Text",
                                        "multiline": true
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 5,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {},
                            "mapper": {
                                "id": "{{1.id}}",
                                "base": "appv6g5SOvYWLt5E2",
                                "record": {
                                    "fldMnZp0gKnMGHPAO": true,
                                    "fldivEk8YFcBcBrVm": "{{10.text}}"
                                },
                                "typecast": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "base": {
                                        "label": "Buffer"
                                    },
                                    "record": {
                                        "nested": {
                                            "fldMnZp0gKnMGHPAO": {
                                                "mode": "chose"
                                            },
                                            "fldb6K2WOAtk0cbrH": {
                                                "mode": "chose",
                                                "items": []
                                            }
                                        }
                                    },
                                    "typecast": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fld4mr7TQjOIFb7BD",
                                                "type": "text",
                                                "label": "Title"
                                            },
                                            {
                                                "name": "fld99SzKxXHHaB4DW",
                                                "type": "text",
                                                "label": "Description",
                                                "multiline": true
                                            },
                                            {
                                                "name": "fldgJzqyOgbXZj76y",
                                                "type": "url",
                                                "label": "Link"
                                            },
                                            {
                                                "name": "fldMnZp0gKnMGHPAO",
                                                "type": "boolean",
                                                "label": "Added to Buffer Queue"
                                            },
                                            {
                                                "name": "fldivEk8YFcBcBrVm",
                                                "type": "text",
                                                "label": "Service"
                                            },
                                            {
                                                "name": "fldb6K2WOAtk0cbrH",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "File URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "filename",
                                                        "type": "filename",
                                                        "label": "File name"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Attachments"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "Description",
                                        "type": "text",
                                        "label": "Description",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Link",
                                        "type": "url",
                                        "label": "Link"
                                    },
                                    {
                                        "name": "Added to Buffer Queue",
                                        "type": "boolean",
                                        "label": "Added to Buffer Queue"
                                    },
                                    {
                                        "name": "Service",
                                        "type": "text",
                                        "label": "Service"
                                    },
                                    {
                                        "name": "Attachments",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File name"
                                            },
                                            {
                                                "name": "size",
                                                "type": "uinteger",
                                                "label": "Size"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "MIME type"
                                            },
                                            {
                                                "name": "thumbnails",
                                                "spec": [
                                                    {
                                                        "name": "small",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Small"
                                                    },
                                                    {
                                                        "name": "large",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Large"
                                                    },
                                                    {
                                                        "name": "full",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Full"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Thumbnails"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "Created Time",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Last Modified Time",
                                        "type": "date",
                                        "label": "Last Modified Time"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 15,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {},
                            "mapper": {
                                "text": "The following post was added to Buffer: {{1.Title}}\n{{1.Description}}\n{{1.Link}}",
                                "parse": false,
                                "mrkdwn": true,
                                "channelWType": "list"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "parse": {
                                        "mode": "chose"
                                    },
                                    "mrkdwn": {
                                        "mode": "chose"
                                    },
                                    "link_names": {
                                        "mode": "chose"
                                    },
                                    "channelWType": {
                                        "label": "Select from the list"
                                    },
                                    "unfurl_links": {
                                        "mode": "chose"
                                    },
                                    "unfurl_media": {
                                        "mode": "chose"
                                    },
                                    "reply_broadcast": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks",
                                        "multiline": true
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channelType",
                                        "type": "select",
                                        "label": "Channel type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "public",
                                                "private",
                                                "im",
                                                "mpim"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "channel",
                                        "type": "select",
                                        "label": "User",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}