Make example Blueprints/Make example flows/Send Slack notification to assignees in a Notion database.blueprint.json
{
    "name": "Send Slack notification to assignees in a Notion database",
    "flow": [
        {
            "id": 1,
            "module": "notion:searchObjects1",
            "version": 1,
            "parameters": {},
            "mapper": {
                "limit": "100",
                "filter": [
                    [
                        {
                            "a": "Ready |&*^%$#@| checkbox",
                            "b": "true",
                            "o": "checkbox:equals"
                        },
                        {
                            "a": "Sent |&*^%$#@| checkbox",
                            "b": "true",
                            "o": "checkbox:does_not_equal"
                        },
                        {
                            "a": "Lead |&*^%$#@| people",
                            "b": "true",
                            "o": "people:is_not_empty"
                        }
                    ]
                ],
                "select": "item"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "sorts": {
                        "mode": "chose",
                        "items": []
                    },
                    "select": {
                        "label": "Database Items"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Search Objects",
                        "required": true,
                        "validate": {
                            "enum": [
                                "item",
                                "database",
                                "page"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "database",
                        "type": "select",
                        "label": "Database ID",
                        "required": true
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": "rpc://notion@1/listDatabasePropertiesFieldsForFilter",
                            "operators": [
                                {
                                    "label": "Text",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "text:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "text:does_not_equal"
                                        },
                                        {
                                            "label": "Contains",
                                            "value": "text:contains"
                                        },
                                        {
                                            "label": "Does not contain",
                                            "value": "text:does_not_contain"
                                        },
                                        {
                                            "label": "Starts with",
                                            "value": "text:starts_with"
                                        },
                                        {
                                            "label": "Ends with",
                                            "value": "text:ends_with"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "text:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "text:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Number",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "number:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "number:does_not_equal"
                                        },
                                        {
                                            "label": "Greater than",
                                            "value": "number:greater_than"
                                        },
                                        {
                                            "label": "Less than",
                                            "value": "number:less_than"
                                        },
                                        {
                                            "label": "Greater than or equal to",
                                            "value": "number:greater_than_or_equal_to"
                                        },
                                        {
                                            "label": "Less than or equal to",
                                            "value": "number:less_than_or_equal_to"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "number:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "number:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Date",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "date:equals"
                                        },
                                        {
                                            "label": "Before",
                                            "value": "date:before"
                                        },
                                        {
                                            "label": "After",
                                            "value": "date:after"
                                        },
                                        {
                                            "label": "On or before",
                                            "value": "date:on_or_before"
                                        },
                                        {
                                            "label": "On or after",
                                            "value": "date:on_or_after"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "date:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "date:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Checkbox",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "checkbox:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "checkbox:does_not_equal"
                                        }
                                    ]
                                },
                                {
                                    "label": "File",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "file:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "file:does_not_equal"
                                        }
                                    ]
                                },
                                {
                                    "label": "Select",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "select:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "select:does_not_equal"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "select:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "select:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Multi-select",
                                    "options": [
                                        {
                                            "label": "Contains",
                                            "value": "multiselect:contains"
                                        },
                                        {
                                            "label": "Does not contain",
                                            "value": "multiselect:does_not_contain"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "multiselect:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "multiselect:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "People",
                                    "options": [
                                        {
                                            "label": "Contains",
                                            "value": "people:contains"
                                        },
                                        {
                                            "label": "Does not contain",
                                            "value": "people:does_not_contain"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "people:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "people:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Relation",
                                    "options": [
                                        {
                                            "label": "Contains",
                                            "value": "relation:contains"
                                        },
                                        {
                                            "label": "Does not contain",
                                            "value": "relation:does_not_contain"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "relation:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "relation:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Formula",
                                    "options": [
                                        {
                                            "label": "Text - Equals",
                                            "value": "formula:text-equals"
                                        },
                                        {
                                            "label": "Text - Does not equal",
                                            "value": "formula:text-does_not_equal"
                                        },
                                        {
                                            "label": "Text - Contains",
                                            "value": "formula:text-contains"
                                        },
                                        {
                                            "label": "Text - Does not contain",
                                            "value": "formula:text-does_not_contain"
                                        },
                                        {
                                            "label": "Text - Starts with",
                                            "value": "formula:text-starts_with"
                                        },
                                        {
                                            "label": "Text - Ends with",
                                            "value": "formula:text-ends_with"
                                        },
                                        {
                                            "label": "Text - Is empty (Boolean)",
                                            "value": "formula:text-is_empty"
                                        },
                                        {
                                            "label": "Text - Is not empty (boolean)",
                                            "value": "formula:text-is_not_empty"
                                        },
                                        {
                                            "label": "Checkbox - Equals",
                                            "value": "formula:checkbox-equals"
                                        },
                                        {
                                            "label": "Checkbox - Does not equal",
                                            "value": "formula:checkbox-does_not_equal"
                                        },
                                        {
                                            "label": "Number - Equals",
                                            "value": "formula:number-equals"
                                        },
                                        {
                                            "label": "Number - Does not equal",
                                            "value": "formula:number-does_not_equal"
                                        },
                                        {
                                            "label": "Number - Greater than",
                                            "value": "formula:number-greater_than"
                                        },
                                        {
                                            "label": "Number - Less than",
                                            "value": "formula:number-less_than"
                                        },
                                        {
                                            "label": "Number - Greater than or equal to",
                                            "value": "formula:number-greater_than_or_equal_to"
                                        },
                                        {
                                            "label": "Number - Less than or equal to",
                                            "value": "formula:number-less_than_or_equal_to"
                                        },
                                        {
                                            "label": "Number - Is empty (Boolean)",
                                            "value": "formula:number-is_empty"
                                        },
                                        {
                                            "label": "Number - Is not empty (boolean)",
                                            "value": "formula:number-is_not_empty"
                                        },
                                        {
                                            "label": "Date - Equals",
                                            "value": "formula:date-equals"
                                        },
                                        {
                                            "label": "Date - before",
                                            "value": "formula:date-ebefore"
                                        },
                                        {
                                            "label": "Date - after",
                                            "value": "formula:date-eafter"
                                        },
                                        {
                                            "label": "Date - On or before",
                                            "value": "formula:date-eon_or_before"
                                        },
                                        {
                                            "label": "Date - On or after",
                                            "value": "formula:date-eon_or_after"
                                        },
                                        {
                                            "label": "Date - Is empty (Boolean)",
                                            "value": "formula:date-eis_empty"
                                        },
                                        {
                                            "label": "Date - Is not empty (boolean)",
                                            "value": "formula:date-eis_not_empty"
                                        }
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        "name": "sorts",
                        "spec": [
                            {
                                "name": "select",
                                "type": "select",
                                "label": "Select a Field to Sort",
                                "options": [
                                    {
                                        "label": "Property Field",
                                        "value": "property",
                                        "nested": [
                                            {
                                                "name": "property",
                                                "type": "select",
                                                "label": "Property Field",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Timestamp",
                                        "value": "timestamp",
                                        "nested": [
                                            {
                                                "name": "timestamp",
                                                "type": "select",
                                                "label": "Timestamp",
                                                "options": [
                                                    {
                                                        "label": "Created time",
                                                        "value": "created_time"
                                                    },
                                                    {
                                                        "label": "Last edited time",
                                                        "value": "last_edited_time"
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Ascending",
                                        "value": "ascending"
                                    },
                                    {
                                        "label": "Descending",
                                        "value": "descending"
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Sorts"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Page ID"
                    },
                    {
                        "name": "created_time",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "last_edited_time",
                        "type": "date",
                        "label": "Last Edited Time"
                    },
                    {
                        "name": "parent",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "workspace",
                                "type": "boolean",
                                "label": "Workspace"
                            },
                            {
                                "name": "page_id",
                                "type": "text",
                                "label": "Page ID"
                            },
                            {
                                "name": "database_id",
                                "type": "text",
                                "label": "Database ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent"
                    },
                    {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                    },
                    {
                        "name": "properties",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "people",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "avatar_url",
                                                "type": "text",
                                                "label": "Avatar Url"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "person",
                                                "spec": [
                                                    {
                                                        "name": "email",
                                                        "type": "text",
                                                        "label": "Email"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Person"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "People"
                                },
                                {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL"
                                },
                                {
                                    "name": "text",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Text"
                                },
                                {
                                    "name": "select",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "color",
                                            "type": "text",
                                            "label": "Color"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Select"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                },
                                {
                                    "name": "phone_number",
                                    "type": "text",
                                    "label": "Phone Number"
                                },
                                {
                                    "name": "multi_select",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Multi Select"
                                },
                                {
                                    "name": "date",
                                    "spec": [
                                        {
                                            "name": "start",
                                            "type": "text",
                                            "label": "Start"
                                        },
                                        {
                                            "name": "end",
                                            "type": "text",
                                            "label": "End"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Date"
                                },
                                {
                                    "name": "checkbox",
                                    "type": "boolean",
                                    "label": "Checkbox"
                                },
                                {
                                    "name": "number",
                                    "type": "number",
                                    "label": "Number"
                                },
                                {
                                    "name": "files",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Files"
                                },
                                {
                                    "name": "title",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Title"
                                },
                                {
                                    "name": "last_edited_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Last Edited Time"
                                },
                                {
                                    "name": "created_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Created Time"
                                },
                                {
                                    "name": "last_edited_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Last Edited By"
                                },
                                {
                                    "name": "created_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Created By"
                                },
                                {
                                    "name": "formula",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "string",
                                            "type": "text",
                                            "label": "String"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Formula"
                                },
                                {
                                    "name": "relation",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Relation"
                                },
                                {
                                    "name": "label",
                                    "type": "text",
                                    "label": "Label"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Properties"
                    },
                    {
                        "name": "properties_value",
                        "spec": [
                            {
                                "name": "Resources",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "Resources"
                            },
                            {
                                "name": "Ready",
                                "type": "boolean",
                                "label": "Ready"
                            },
                            {
                                "name": "Ideas",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "Ideas"
                            },
                            {
                                "name": "Sent",
                                "type": "boolean",
                                "label": "Sent"
                            },
                            {
                                "name": "Budget",
                                "type": "number",
                                "label": "Budget"
                            },
                            {
                                "name": "Lead",
                                "spec": [
                                    {
                                        "name": "object",
                                        "type": "text",
                                        "label": "Object"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "avatar_url",
                                        "type": "text",
                                        "label": "Avatar Url"
                                    },
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "person",
                                        "spec": [
                                            {
                                                "name": "email",
                                                "type": "text",
                                                "label": "Email"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Person"
                                    }
                                ],
                                "type": "array",
                                "label": "Lead"
                            },
                            {
                                "name": "Timeline",
                                "spec": [
                                    {
                                        "name": "start",
                                        "type": "date",
                                        "label": "Start"
                                    },
                                    {
                                        "name": "end",
                                        "type": "date",
                                        "label": "End"
                                    }
                                ],
                                "type": "collection",
                                "label": "Timeline"
                            },
                            {
                                "name": "Priority",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "color",
                                        "type": "text",
                                        "label": "Color"
                                    }
                                ],
                                "type": "collection",
                                "label": "Priority"
                            },
                            {
                                "name": "Project",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "Project"
                            }
                        ],
                        "type": "collection",
                        "label": "Properties Value"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{1.`__IMTLENGTH__`}}",
                            "b": "0",
                            "o": "number:notequal"
                        }
                    ]
                ]
            },
            "mapper": {
                "array": "{{1.properties_value.Lead}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "array": {
                        "mode": "edit"
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "slack:SearchUser",
            "version": 4,
            "parameters": {},
            "mapper": {
                "email": "{{2.person.email}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "slack:CreateMessage",
            "version": 4,
            "parameters": {},
            "mapper": {
                "text": "Hey, the following information has been assigned to you\n\nProject: {{1.properties_value.Project[].plain_text}}\nPriority: {{1.properties_value.Priority.name}}\nTimeline: {{1.properties_value.Timeline.start}} - {{1.properties_value.Timeline.end}}\nBudget: {{1.properties_value.Budget}} USD\n\nSee more here: {{1.url}}",
                "parse": false,
                "mrkdwn": true,
                "channel": "{{6.id}}",
                "channelWType": "manualy"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parse": {
                        "mode": "chose"
                    },
                    "mrkdwn": {
                        "mode": "chose"
                    },
                    "link_names": {
                        "mode": "chose"
                    },
                    "channelWType": {
                        "label": "Enter manually"
                    },
                    "unfurl_links": {
                        "mode": "chose"
                    },
                    "unfurl_media": {
                        "mode": "chose"
                    },
                    "reply_broadcast": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "channelWType",
                        "type": "select",
                        "label": "Enter a channel ID or name",
                        "required": true,
                        "validate": {
                            "enum": [
                                "manualy",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "multiline": true
                    },
                    {
                        "name": "blocks",
                        "type": "text",
                        "label": "Blocks",
                        "multiline": true
                    },
                    {
                        "name": "thread_ts",
                        "type": "text",
                        "label": "Thread message ID (time stamp)"
                    },
                    {
                        "name": "reply_broadcast",
                        "type": "boolean",
                        "label": "Reply broadcast"
                    },
                    {
                        "name": "link_names",
                        "type": "boolean",
                        "label": "Link names"
                    },
                    {
                        "name": "parse",
                        "type": "boolean",
                        "label": "Parse message text"
                    },
                    {
                        "name": "mrkdwn",
                        "type": "boolean",
                        "label": "Use markdown"
                    },
                    {
                        "name": "unfurl_links",
                        "type": "boolean",
                        "label": "Unfurl primarily text-based content"
                    },
                    {
                        "name": "unfurl_media",
                        "type": "boolean",
                        "label": "Unfurl media content"
                    },
                    {
                        "name": "channel",
                        "type": "text",
                        "label": "Channel ID or name",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "notion:updateADatabaseItem",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{2.`__IMTINDEX__`}}",
                            "b": "1",
                            "o": "number:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "page": "{{1.id}}",
                "fields": [
                    {
                        "key": "Sent",
                        "type": "checkbox",
                        "value": true
                    }
                ],
                "select": "map",
                "database": "{{1.parent.database_id}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "fields": {
                        "mode": "chose",
                        "items": [
                            {
                                "type": {
                                    "mode": "chose",
                                    "label": "Checkbox"
                                },
                                "value": {
                                    "mode": "chose"
                                }
                            }
                        ]
                    },
                    "select": {
                        "label": "Enter manually"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Database ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "database",
                        "type": "text",
                        "label": "Database ID",
                        "required": true
                    },
                    {
                        "name": "page",
                        "type": "text",
                        "label": "Page ID",
                        "required": true
                    },
                    {
                        "name": "fields",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Value Type",
                                "options": [
                                    {
                                        "label": "Title",
                                        "value": "title",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Text",
                                        "value": "text",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Rich text",
                                        "value": "rich_text",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Email",
                                        "value": "email",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "email",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Select",
                                        "value": "select",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Multi select",
                                        "value": "multi_select",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "array",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Phone number",
                                        "value": "phone_number",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Checkbox",
                                        "value": "checkbox",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "boolean",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "URL",
                                        "value": "url",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "url",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Number",
                                        "value": "number",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "number",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "People",
                                        "value": "people",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "array",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Date",
                                        "value": "date",
                                        "nested": [
                                            {
                                                "name": "date",
                                                "spec": [
                                                    {
                                                        "name": "start",
                                                        "time": true,
                                                        "type": "date",
                                                        "label": "Start Time"
                                                    },
                                                    {
                                                        "help": "Optional. Use only when entering a date range.",
                                                        "name": "end",
                                                        "time": true,
                                                        "type": "date",
                                                        "label": "End Time"
                                                    },
                                                    {
                                                        "name": "includeTime",
                                                        "type": "select",
                                                        "label": "Include Time",
                                                        "options": [
                                                            {
                                                                "label": "Yes",
                                                                "value": true
                                                            },
                                                            {
                                                                "label": "No",
                                                                "value": false
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Date"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Relation",
                                        "value": "relation",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "array",
                                                "label": "Value"
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Fields"
                    }
                ],
                "interface": [
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Database Item ID"
                    },
                    {
                        "name": "created_time",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "last_edited_time",
                        "type": "date",
                        "label": "Last Edited Time"
                    },
                    {
                        "name": "parent",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "workspace",
                                "type": "boolean",
                                "label": "Workspace"
                            },
                            {
                                "name": "page_id",
                                "type": "text",
                                "label": "Page ID"
                            },
                            {
                                "name": "database_id",
                                "type": "text",
                                "label": "Database ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent"
                    },
                    {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                    },
                    {
                        "name": "properties",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "people",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "avatar_url",
                                                "type": "text",
                                                "label": "Avatar Url"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "person",
                                                "spec": [
                                                    {
                                                        "name": "email",
                                                        "type": "text",
                                                        "label": "Email"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Person"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "People"
                                },
                                {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL"
                                },
                                {
                                    "name": "text",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Text"
                                },
                                {
                                    "name": "select",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "color",
                                            "type": "text",
                                            "label": "Color"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Select"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                },
                                {
                                    "name": "phone_number",
                                    "type": "text",
                                    "label": "Phone Number"
                                },
                                {
                                    "name": "multi_select",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Multi Select"
                                },
                                {
                                    "name": "date",
                                    "spec": [
                                        {
                                            "name": "start",
                                            "type": "text",
                                            "label": "Start"
                                        },
                                        {
                                            "name": "end",
                                            "type": "text",
                                            "label": "End"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Date"
                                },
                                {
                                    "name": "checkbox",
                                    "type": "boolean",
                                    "label": "Checkbox"
                                },
                                {
                                    "name": "number",
                                    "type": "number",
                                    "label": "Number"
                                },
                                {
                                    "name": "files",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Files"
                                },
                                {
                                    "name": "title",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Title"
                                },
                                {
                                    "name": "last_edited_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Last Edited Time"
                                },
                                {
                                    "name": "created_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Created Time"
                                },
                                {
                                    "name": "last_edited_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Last Edited By"
                                },
                                {
                                    "name": "created_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Created By"
                                },
                                {
                                    "name": "formula",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "string",
                                            "type": "text",
                                            "label": "String"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Formula"
                                },
                                {
                                    "name": "relation",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Relation"
                                },
                                {
                                    "name": "label",
                                    "type": "text",
                                    "label": "Label"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Properties"
                    },
                    {
                        "name": "properties_value",
                        "spec": [],
                        "type": "collection",
                        "label": "Properties Value"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}