Make example flows 2/Add new Shopify orders to Salesforce as contacts and send Slack notifications.blueprint.json
{
    "name": "Add new Shopify orders to Salesforce as contacts and send Slack notifications",
    "flow": [
        {
            "id": 1,
            "module": "shopify:WatchOrders",
            "version": 2,
            "parameters": {
                "limit": 2,
                "fields": [],
                "financial_status": "paid"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "financial_status": {
                        "label": "paid"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "status",
                        "type": "select",
                        "label": "Status",
                        "validate": {
                            "enum": [
                                "open",
                                "closed",
                                "cancelled",
                                "any"
                            ]
                        }
                    },
                    {
                        "name": "financial_status",
                        "type": "select",
                        "label": "Financial status",
                        "validate": {
                            "enum": [
                                "authorized",
                                "pending",
                                "paid",
                                "partially_paid",
                                "refunded",
                                "partially_refunded",
                                "voided",
                                "unpaid",
                                "any"
                            ]
                        }
                    },
                    {
                        "name": "fulfillment_status",
                        "type": "select",
                        "label": "Fulfillment status",
                        "validate": {
                            "enum": [
                                "shipped",
                                "partial",
                                "unshipped",
                                "unfulfilled",
                                "any"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Fields",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "app_id",
                                "billing_address",
                                "browser_ip",
                                "buyer_accepts_marketing",
                                "cancel_reason",
                                "cancelled_at",
                                "cart_token",
                                "checkout_id",
                                "checkout_token",
                                "closed_at",
                                "confirmed",
                                "contact_email",
                                "created_at",
                                "currency",
                                "current_total_duties_set",
                                "customer",
                                "customer_locale",
                                "device_id",
                                "discount_applications",
                                "discount_codes",
                                "email",
                                "financial_status",
                                "fulfillment_status",
                                "fulfillments",
                                "gateway",
                                "id",
                                "landing_site",
                                "landing_site_ref",
                                "line_items",
                                "location_id",
                                "name",
                                "note",
                                "note_attributes",
                                "number",
                                "order_number",
                                "order_status_url",
                                "original_total_duties_set",
                                "payment_gateway_names",
                                "phone",
                                "presentment_currency",
                                "processed_at",
                                "processing_method",
                                "reference",
                                "referring_site",
                                "refunds",
                                "shipping_address",
                                "shipping_lines",
                                "source_identifier",
                                "source_name",
                                "source_url",
                                "subtotal_price",
                                "subtotal_price_set",
                                "tags",
                                "tax_lines",
                                "taxes_included",
                                "test",
                                "token",
                                "total_discounts",
                                "total_discounts_set",
                                "total_line_items_price",
                                "total_line_items_price_set",
                                "total_price",
                                "total_price_set",
                                "total_price_usd",
                                "total_shipping_price_set",
                                "total_tax",
                                "total_tax_set",
                                "total_tip_received",
                                "total_weight",
                                "updated_at",
                                "user_id"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "salesforce:ActionSearchObject",
            "version": 2,
            "parameters": {
                "continueWhenNoRes": true
            },
            "mapper": {
                "query": "{{1.email}}",
                "sObject": "Contact",
                "maxResults": "1",
                "searchType": "simple"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "sObject": {
                        "label": "Contact"
                    },
                    "searchType": {
                        "label": "Simple"
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module returns no results",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "searchType",
                        "type": "select",
                        "label": "Search type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "simple",
                                "sosl"
                            ]
                        }
                    },
                    {
                        "name": "maxResults",
                        "type": "uinteger",
                        "label": "Maximal count of records",
                        "required": true
                    },
                    {
                        "name": "sObject",
                        "type": "select",
                        "label": "Type",
                        "required": true
                    },
                    {
                        "name": "query",
                        "type": "text",
                        "label": "Query",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "accountId",
                        "type": "text",
                        "label": "Account ID"
                    },
                    {
                        "name": "assistantName",
                        "type": "text",
                        "label": "Assistant's Name"
                    },
                    {
                        "name": "assistantPhone",
                        "type": "text",
                        "label": "Asst. Phone"
                    },
                    {
                        "name": "birthdate",
                        "type": "date",
                        "label": "Birthdate"
                    },
                    {
                        "name": "fax",
                        "type": "text",
                        "label": "Business Fax"
                    },
                    {
                        "name": "phone",
                        "type": "text",
                        "label": "Business Phone"
                    },
                    {
                        "name": "cleanStatus",
                        "type": "text",
                        "label": "Clean Status"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Contact Description"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Contact ID"
                    },
                    {
                        "name": "createdById",
                        "type": "text",
                        "label": "Created By ID"
                    },
                    {
                        "name": "createdDate",
                        "type": "date",
                        "label": "Created Date"
                    },
                    {
                        "name": "jigsaw",
                        "type": "text",
                        "label": "Data.com Key"
                    },
                    {
                        "name": "isDeleted",
                        "type": "boolean",
                        "label": "Deleted"
                    },
                    {
                        "name": "department",
                        "type": "text",
                        "label": "Department"
                    },
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email"
                    },
                    {
                        "name": "emailBouncedDate",
                        "type": "date",
                        "label": "Email Bounced Date"
                    },
                    {
                        "name": "emailBouncedReason",
                        "type": "text",
                        "label": "Email Bounced Reason"
                    },
                    {
                        "name": "firstName",
                        "type": "text",
                        "label": "First Name"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Full Name"
                    },
                    {
                        "name": "homePhone",
                        "type": "text",
                        "label": "Home Phone"
                    },
                    {
                        "name": "devintegromat__Interests__c",
                        "type": "text",
                        "label": "Interests"
                    },
                    {
                        "name": "isEmailBounced",
                        "type": "boolean",
                        "label": "Is Email Bounced"
                    },
                    {
                        "name": "jigsawContactId",
                        "type": "text",
                        "label": "Jigsaw Contact ID"
                    },
                    {
                        "name": "devintegromat__Languages__c",
                        "type": "text",
                        "label": "Languages"
                    },
                    {
                        "name": "lastActivityDate",
                        "type": "date",
                        "label": "Last Activity"
                    },
                    {
                        "name": "lastModifiedById",
                        "type": "text",
                        "label": "Last Modified By ID"
                    },
                    {
                        "name": "lastModifiedDate",
                        "type": "date",
                        "label": "Last Modified Date"
                    },
                    {
                        "name": "lastName",
                        "type": "text",
                        "label": "Last Name"
                    },
                    {
                        "name": "lastReferencedDate",
                        "type": "date",
                        "label": "Last Referenced Date"
                    },
                    {
                        "name": "lastCURequestDate",
                        "type": "date",
                        "label": "Last Stay-in-Touch Request Date"
                    },
                    {
                        "name": "lastCUUpdateDate",
                        "type": "date",
                        "label": "Last Stay-in-Touch Save Date"
                    },
                    {
                        "name": "lastViewedDate",
                        "type": "date",
                        "label": "Last Viewed Date"
                    },
                    {
                        "name": "leadSource",
                        "type": "text",
                        "label": "Lead Source"
                    },
                    {
                        "name": "devintegromat__Level__c",
                        "type": "text",
                        "label": "Level"
                    },
                    {
                        "name": "mailingAddress",
                        "spec": [
                            {
                                "name": "street",
                                "type": "text",
                                "label": "Street"
                            },
                            {
                                "name": "country",
                                "type": "text",
                                "label": "Country"
                            },
                            {
                                "name": "countryCode",
                                "type": "text",
                                "label": "Country code"
                            },
                            {
                                "name": "latitude",
                                "type": "number",
                                "label": "Latitude"
                            },
                            {
                                "name": "longitude",
                                "type": "number",
                                "label": "Longitude"
                            },
                            {
                                "name": "postalCode",
                                "type": "text",
                                "label": "Postal code"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "stateCode",
                                "type": "text",
                                "label": "State code"
                            }
                        ],
                        "type": "collection",
                        "label": "Mailing Address"
                    },
                    {
                        "name": "mailingCity",
                        "type": "text",
                        "label": "Mailing City"
                    },
                    {
                        "name": "mailingCountry",
                        "type": "text",
                        "label": "Mailing Country"
                    },
                    {
                        "name": "mailingLatitude",
                        "type": "number",
                        "label": "Mailing Latitude"
                    },
                    {
                        "name": "mailingLongitude",
                        "type": "number",
                        "label": "Mailing Longitude"
                    },
                    {
                        "name": "mailingState",
                        "type": "text",
                        "label": "Mailing State/Province"
                    },
                    {
                        "name": "mailingStreet",
                        "type": "text",
                        "label": "Mailing Street"
                    },
                    {
                        "name": "mailingPostalCode",
                        "type": "text",
                        "label": "Mailing Zip/Postal Code"
                    },
                    {
                        "name": "masterRecordId",
                        "type": "text",
                        "label": "Master Record ID"
                    },
                    {
                        "name": "mobilePhone",
                        "type": "text",
                        "label": "Mobile Phone"
                    },
                    {
                        "name": "otherAddress",
                        "spec": [
                            {
                                "name": "street",
                                "type": "text",
                                "label": "Street"
                            },
                            {
                                "name": "country",
                                "type": "text",
                                "label": "Country"
                            },
                            {
                                "name": "countryCode",
                                "type": "text",
                                "label": "Country code"
                            },
                            {
                                "name": "latitude",
                                "type": "number",
                                "label": "Latitude"
                            },
                            {
                                "name": "longitude",
                                "type": "number",
                                "label": "Longitude"
                            },
                            {
                                "name": "postalCode",
                                "type": "text",
                                "label": "Postal code"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "stateCode",
                                "type": "text",
                                "label": "State code"
                            }
                        ],
                        "type": "collection",
                        "label": "Other Address"
                    },
                    {
                        "name": "otherCity",
                        "type": "text",
                        "label": "Other City"
                    },
                    {
                        "name": "otherCountry",
                        "type": "text",
                        "label": "Other Country"
                    },
                    {
                        "name": "otherLatitude",
                        "type": "number",
                        "label": "Other Latitude"
                    },
                    {
                        "name": "otherLongitude",
                        "type": "number",
                        "label": "Other Longitude"
                    },
                    {
                        "name": "otherPhone",
                        "type": "text",
                        "label": "Other Phone"
                    },
                    {
                        "name": "otherState",
                        "type": "text",
                        "label": "Other State/Province"
                    },
                    {
                        "name": "otherStreet",
                        "type": "text",
                        "label": "Other Street"
                    },
                    {
                        "name": "otherPostalCode",
                        "type": "text",
                        "label": "Other Zip/Postal Code"
                    },
                    {
                        "name": "ownerId",
                        "type": "text",
                        "label": "Owner ID"
                    },
                    {
                        "name": "photoUrl",
                        "type": "url",
                        "label": "Photo URL"
                    },
                    {
                        "name": "reportsToId",
                        "type": "text",
                        "label": "Reports To ID"
                    },
                    {
                        "name": "salutation",
                        "type": "text",
                        "label": "Salutation"
                    },
                    {
                        "name": "systemModstamp",
                        "type": "date",
                        "label": "System Modstamp"
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "salesforce:ActionCreateObject",
            "version": 2,
            "parameters": {
                "sObject": "Contact"
            },
            "filter": {
                "name": "Contact does not exist",
                "conditions": [
                    [
                        {
                            "a": "{{2.id}}",
                            "b": "",
                            "o": "notexist"
                        }
                    ]
                ]
            },
            "mapper": {
                "fax": "",
                "email": "{{1.email}}",
                "phone": "",
                "title": "",
                "jigsaw": "",
                "ownerId": "",
                "lastName": "{{1.customer.last_name}}",
                "accountId": "",
                "birthdate": "",
                "firstName": "{{1.customer.first_name}}",
                "homePhone": "{{1.phone}}",
                "otherCity": "{{1.customer.default_address.city}}",
                "department": "",
                "leadSource": "",
                "otherPhone": "",
                "otherState": "",
                "salutation": "",
                "cleanStatus": "",
                "description": "",
                "mailingCity": "{{1.customer.default_address.city}}",
                "mobilePhone": "{{1.customer.default_address.phone}}",
                "otherStreet": "",
                "reportsToId": "",
                "mailingState": "{{1.customer.default_address.address1}}",
                "otherCountry": "{{1.customer.default_address.country_name}}",
                "assistantName": "",
                "mailingStreet": "{{1.customer.default_address.address1}}\n{{1.customer.default_address.address2}}",
                "otherLatitude": "",
                "assistantPhone": "",
                "mailingCountry": "{{1.customer.default_address.country}}",
                "otherLongitude": "",
                "mailingLatitude": "",
                "otherPostalCode": "",
                "emailBouncedDate": "",
                "mailingLongitude": "",
                "mailingPostalCode": "{{1.customer.default_address.zip}}",
                "emailBouncedReason": "",
                "devintegromat__Level__c": "",
                "devintegromat__Interests__c": [],
                "devintegromat__Languages__c": ""
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "ownerId": {
                        "mode": "edit"
                    },
                    "sObject": {
                        "mode": "chose",
                        "label": "Contact"
                    },
                    "accountId": {
                        "mode": "edit"
                    },
                    "leadSource": {
                        "mode": "edit"
                    },
                    "salutation": {
                        "mode": "edit"
                    },
                    "cleanStatus": {
                        "mode": "edit"
                    },
                    "reportsToId": {
                        "mode": "edit"
                    },
                    "devintegromat__Level__c": {
                        "mode": "edit"
                    },
                    "devintegromat__Interests__c": {
                        "mode": "edit"
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "sObject",
                        "type": "select",
                        "label": "Type",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "accountId",
                        "type": "select",
                        "label": "Account (AccountId)",
                        "metadata": {
                            "type": "reference"
                        }
                    },
                    {
                        "name": "assistantName",
                        "type": "text",
                        "label": "Assistant's Name (AssistantName)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "assistantPhone",
                        "type": "text",
                        "label": "Asst. Phone (AssistantPhone)",
                        "metadata": {
                            "type": "phone"
                        }
                    },
                    {
                        "name": "birthdate",
                        "type": "date",
                        "label": "Birthdate (Birthdate)",
                        "metadata": {
                            "type": "date"
                        }
                    },
                    {
                        "name": "fax",
                        "type": "text",
                        "label": "Business Fax (Fax)",
                        "metadata": {
                            "type": "phone"
                        }
                    },
                    {
                        "name": "phone",
                        "type": "text",
                        "label": "Business Phone (Phone)",
                        "metadata": {
                            "type": "phone"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "cleanStatus",
                        "type": "select",
                        "label": "Clean Status (CleanStatus)",
                        "metadata": {
                            "type": "picklist"
                        }
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Contact Description (Description)",
                        "metadata": {
                            "type": "textarea"
                        },
                        "multiline": true
                    },
                    {
                        "name": "jigsaw",
                        "type": "text",
                        "label": "Data.com Key (Jigsaw)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "department",
                        "type": "text",
                        "label": "Department (Department)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email (Email)",
                        "metadata": {
                            "type": "email"
                        }
                    },
                    {
                        "name": "emailBouncedDate",
                        "type": "date",
                        "label": "Email Bounced Date (EmailBouncedDate)",
                        "metadata": {
                            "type": "datetime"
                        }
                    },
                    {
                        "name": "emailBouncedReason",
                        "type": "text",
                        "label": "Email Bounced Reason (EmailBouncedReason)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "firstName",
                        "type": "text",
                        "label": "First Name (FirstName)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "homePhone",
                        "type": "text",
                        "label": "Home Phone (HomePhone)",
                        "metadata": {
                            "type": "phone"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "devintegromat__Interests__c",
                        "type": "select",
                        "label": "Interests (devintegromat__Interests__c)",
                        "metadata": {
                            "type": "multipicklist"
                        },
                        "multiple": true
                    },
                    {
                        "name": "devintegromat__Languages__c",
                        "type": "text",
                        "label": "Languages (devintegromat__Languages__c)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lastName",
                        "type": "text",
                        "label": "Last Name (LastName)",
                        "metadata": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "mode": "edit",
                        "name": "leadSource",
                        "type": "select",
                        "label": "Lead Source (LeadSource)",
                        "metadata": {
                            "type": "picklist"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "devintegromat__Level__c",
                        "type": "select",
                        "label": "Level (devintegromat__Level__c)",
                        "metadata": {
                            "type": "picklist"
                        }
                    },
                    {
                        "name": "mailingCity",
                        "type": "text",
                        "label": "Mailing City (MailingCity)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mailingCountry",
                        "type": "text",
                        "label": "Mailing Country (MailingCountry)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mailingLatitude",
                        "type": "number",
                        "label": "Mailing Latitude (MailingLatitude)",
                        "metadata": {
                            "type": "double"
                        }
                    },
                    {
                        "name": "mailingLongitude",
                        "type": "number",
                        "label": "Mailing Longitude (MailingLongitude)",
                        "metadata": {
                            "type": "double"
                        }
                    },
                    {
                        "name": "mailingState",
                        "type": "text",
                        "label": "Mailing State/Province (MailingState)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mailingStreet",
                        "type": "text",
                        "label": "Mailing Street (MailingStreet)",
                        "metadata": {
                            "type": "textarea"
                        },
                        "multiline": true
                    },
                    {
                        "name": "mailingPostalCode",
                        "type": "text",
                        "label": "Mailing Zip/Postal Code (MailingPostalCode)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mobilePhone",
                        "type": "text",
                        "label": "Mobile Phone (MobilePhone)",
                        "metadata": {
                            "type": "phone"
                        }
                    },
                    {
                        "name": "otherCity",
                        "type": "text",
                        "label": "Other City (OtherCity)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "otherCountry",
                        "type": "text",
                        "label": "Other Country (OtherCountry)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "otherLatitude",
                        "type": "number",
                        "label": "Other Latitude (OtherLatitude)",
                        "metadata": {
                            "type": "double"
                        }
                    },
                    {
                        "name": "otherLongitude",
                        "type": "number",
                        "label": "Other Longitude (OtherLongitude)",
                        "metadata": {
                            "type": "double"
                        }
                    },
                    {
                        "name": "otherPhone",
                        "type": "text",
                        "label": "Other Phone (OtherPhone)",
                        "metadata": {
                            "type": "phone"
                        }
                    },
                    {
                        "name": "otherState",
                        "type": "text",
                        "label": "Other State/Province (OtherState)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "otherStreet",
                        "type": "text",
                        "label": "Other Street (OtherStreet)",
                        "metadata": {
                            "type": "textarea"
                        },
                        "multiline": true
                    },
                    {
                        "name": "otherPostalCode",
                        "type": "text",
                        "label": "Other Zip/Postal Code (OtherPostalCode)",
                        "metadata": {
                            "type": "string"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "ownerId",
                        "type": "select",
                        "label": "Owner (OwnerId)",
                        "metadata": {
                            "type": "reference"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "reportsToId",
                        "type": "select",
                        "label": "Reports To (ReportsToId)",
                        "metadata": {
                            "type": "reference"
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "salutation",
                        "type": "select",
                        "label": "Salutation (Salutation)",
                        "metadata": {
                            "type": "picklist"
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title (Title)",
                        "metadata": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "slack:CreateMessage",
            "version": 4,
            "parameters": {},
            "mapper": {
                "text": "New contact in Salesforce:\n{{1.customer.first_name}} {{1.customer.last_name}}\n{{4.id}}",
                "parse": false,
                "mrkdwn": true,
                "channelWType": "list"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parse": {
                        "mode": "chose"
                    },
                    "mrkdwn": {
                        "mode": "chose"
                    },
                    "link_names": {
                        "mode": "chose"
                    },
                    "channelWType": {
                        "label": "Select from the list"
                    },
                    "unfurl_links": {
                        "mode": "chose"
                    },
                    "unfurl_media": {
                        "mode": "chose"
                    },
                    "reply_broadcast": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "channelWType",
                        "type": "select",
                        "label": "Enter a channel ID or name",
                        "required": true,
                        "validate": {
                            "enum": [
                                "manualy",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "multiline": true
                    },
                    {
                        "name": "blocks",
                        "type": "text",
                        "label": "Blocks",
                        "multiline": true
                    },
                    {
                        "name": "thread_ts",
                        "type": "text",
                        "label": "Thread message ID (time stamp)"
                    },
                    {
                        "name": "reply_broadcast",
                        "type": "boolean",
                        "label": "Reply broadcast"
                    },
                    {
                        "name": "link_names",
                        "type": "boolean",
                        "label": "Link names"
                    },
                    {
                        "name": "parse",
                        "type": "boolean",
                        "label": "Parse message text"
                    },
                    {
                        "name": "mrkdwn",
                        "type": "boolean",
                        "label": "Use markdown"
                    },
                    {
                        "name": "unfurl_links",
                        "type": "boolean",
                        "label": "Unfurl primarily text-based content"
                    },
                    {
                        "name": "unfurl_media",
                        "type": "boolean",
                        "label": "Unfurl media content"
                    },
                    {
                        "name": "icon_emoji",
                        "type": "text",
                        "label": "Icon emoji"
                    },
                    {
                        "name": "icon_url",
                        "type": "url",
                        "label": "Icon url"
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "channelType",
                        "type": "select",
                        "label": "Channel type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "public",
                                "private",
                                "im",
                                "mpim"
                            ]
                        }
                    },
                    {
                        "name": "channel",
                        "type": "select",
                        "label": "User",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}