Make example flows 2/Add new Simvoly orders to Shopify.blueprint.json
{
    "name": "Add new Simvoly orders to Shopify",
    "flow": [
        {
            "id": 6,
            "module": "simvoly2:watchOrderCreated",
            "version": 1,
            "parameters": {},
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "shopify:SearchForCustomers",
            "version": 2,
            "parameters": {},
            "mapper": {
                "limit": "1",
                "query": "email:{{6.customerEmail}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "query",
                        "type": "text",
                        "label": "Query"
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Limit",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "shopify:CreateCustomer",
                            "version": 2,
                            "parameters": {},
                            "filter": {
                                "name": "Customer does not exist",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.id}}",
                                            "b": "",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "email": "{{6.customerEmail}}",
                                "phone": "{{6.billingAddress.phone}}",
                                "addresses": [
                                    {
                                        "zip": "{{6.billingAddress.zipCode}}",
                                        "city": "{{6.billingAddress.city}}",
                                        "phone": "{{6.billingAddress.phone}}",
                                        "company": "{{6.billingAddress.companyName}}",
                                        "country": "{{6.billingAddress.country}}",
                                        "default": false,
                                        "address1": "{{6.billingAddress.address}}",
                                        "address2": "{{6.billingAddress.address2}}",
                                        "province": "{{6.billingAddress.state}}",
                                        "first_name": "{{6.billingAddress.name}}"
                                    },
                                    {
                                        "zip": "{{6.shippingAddress.zipCode}}",
                                        "city": "{{6.shippingAddress.city}}",
                                        "phone": "{{6.shippingAddress.phone}}",
                                        "company": "{{6.shippingAddress.companyName}}",
                                        "country": "{{6.shippingAddress.country}}",
                                        "default": false,
                                        "address1": "{{6.shippingAddress.address}}",
                                        "address2": "{{6.shippingAddress.address2}}",
                                        "province": "{{6.shippingAddress.state}}",
                                        "first_name": "{{6.shippingAddress.name}}"
                                    }
                                ],
                                "first_name": "{{6.customerName}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "tags": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "addresses": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "default": {
                                                    "mode": "chose"
                                                }
                                            },
                                            {
                                                "default": {
                                                    "mode": "chose"
                                                }
                                            }
                                        ]
                                    },
                                    "tax_exempt": {
                                        "mode": "chose"
                                    },
                                    "verified_email": {
                                        "mode": "chose"
                                    },
                                    "accepts_marketing": {
                                        "mode": "chose"
                                    },
                                    "send_email_welcome": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "first_name",
                                        "type": "text",
                                        "label": "First name",
                                        "required": true
                                    },
                                    {
                                        "name": "last_name",
                                        "type": "text",
                                        "label": "Last name",
                                        "required": true
                                    },
                                    {
                                        "name": "email",
                                        "type": "email",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "phone",
                                        "type": "text",
                                        "label": "Phone"
                                    },
                                    {
                                        "name": "password",
                                        "type": "text",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "addresses",
                                        "spec": [
                                            {
                                                "name": "first_name",
                                                "type": "text",
                                                "label": "First name"
                                            },
                                            {
                                                "name": "last_name",
                                                "type": "text",
                                                "label": "Last name"
                                            },
                                            {
                                                "name": "address1",
                                                "type": "text",
                                                "label": "Address line 1"
                                            },
                                            {
                                                "name": "address2",
                                                "type": "text",
                                                "label": "Address line 2"
                                            },
                                            {
                                                "name": "city",
                                                "type": "text",
                                                "label": "City"
                                            },
                                            {
                                                "name": "zip",
                                                "type": "text",
                                                "label": "Zip"
                                            },
                                            {
                                                "name": "province",
                                                "type": "text",
                                                "label": "Province"
                                            },
                                            {
                                                "name": "country",
                                                "type": "text",
                                                "label": "Country"
                                            },
                                            {
                                                "name": "company",
                                                "type": "text",
                                                "label": "Company"
                                            },
                                            {
                                                "name": "phone",
                                                "type": "text",
                                                "label": "Phone"
                                            },
                                            {
                                                "name": "default",
                                                "type": "boolean",
                                                "label": "Is default",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Addresses"
                                    },
                                    {
                                        "name": "verified_email",
                                        "type": "boolean",
                                        "label": "Verified email"
                                    },
                                    {
                                        "name": "tax_exempt",
                                        "type": "boolean",
                                        "label": "Tax exempt"
                                    },
                                    {
                                        "name": "accepts_marketing",
                                        "type": "boolean",
                                        "label": "Accepts marketing"
                                    },
                                    {
                                        "name": "note",
                                        "type": "text",
                                        "label": "Note"
                                    },
                                    {
                                        "name": "tags",
                                        "type": "array",
                                        "label": "Tags"
                                    },
                                    {
                                        "name": "send_email_welcome",
                                        "type": "boolean",
                                        "label": "Send email welcome"
                                    },
                                    {
                                        "name": "currency",
                                        "type": "text",
                                        "label": "Currency"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "Customer_ID",
                                "scope": "roundtrip",
                                "value": "{{5.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "Customer_ID",
                                        "type": "any",
                                        "label": "Customer_ID"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "simvoly2:getOrder",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "id": "{{6.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "id": {
                                        "mode": "edit"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "id",
                                        "type": "select",
                                        "label": "Order ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 13,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "array": "{{8.items}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "array": {
                                        "mode": "edit"
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 14,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 13,
                                "target": "12.line_items"
                            },
                            "mapper": {
                                "sku": "{{13.sku}}",
                                "grams": "",
                                "price": "{{13.total}}",
                                "title": "{{13.name}}",
                                "vendor": "",
                                "quantity": "{{13.quantity}}",
                                "tax_lines": [],
                                "product_id": "{{13.productId}}",
                                "variant_id": "{{13.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {
                                    "feeder": {
                                        "label": "Iterator [13]"
                                    },
                                    "target": {
                                        "label": "Line items"
                                    },
                                    "__IMTTARGET__": {
                                        "nested": {
                                            "gift_card": {
                                                "mode": "chose"
                                            },
                                            "tax_lines": {
                                                "mode": "chose",
                                                "items": []
                                            },
                                            "requires_shipping": {
                                                "mode": "chose"
                                            }
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "product_id",
                                        "type": "number",
                                        "label": "Product ID"
                                    },
                                    {
                                        "name": "variant_id",
                                        "type": "number",
                                        "label": "Variant ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "quantity",
                                        "type": "number",
                                        "label": "Quantity"
                                    },
                                    {
                                        "name": "price",
                                        "type": "text",
                                        "label": "Price"
                                    },
                                    {
                                        "name": "sku",
                                        "type": "text",
                                        "label": "Sku"
                                    },
                                    {
                                        "name": "tax_lines",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Title",
                                                "required": true
                                            },
                                            {
                                                "name": "price",
                                                "type": "text",
                                                "label": "Price",
                                                "required": true
                                            },
                                            {
                                                "name": "rate",
                                                "type": "number",
                                                "label": "Rate",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Tax lines"
                                    },
                                    {
                                        "name": "gift_card",
                                        "type": "boolean",
                                        "label": "Gift card"
                                    },
                                    {
                                        "name": "grams",
                                        "type": "text",
                                        "label": "Grams"
                                    },
                                    {
                                        "name": "requires_shipping",
                                        "type": "boolean",
                                        "label": "Requires shipping"
                                    },
                                    {
                                        "name": "vendor",
                                        "type": "text",
                                        "label": "Vendor"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "util:GetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "Customer_ID"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 300
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "Customer_ID",
                                        "type": "any",
                                        "label": "Customer_ID"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "shopify:CreateOrder",
                            "version": 2,
                            "parameters": {},
                            "mapper": {
                                "email": "{{6.customerEmail}}",
                                "customer": {
                                    "id": "{{ifempty(3.id; 11.Customer_ID)}}"
                                },
                                "line_items": "{{14.array}}",
                                "billing_address": {
                                    "zip": "{{6.billingAddress.zipCode}}",
                                    "city": "{{6.billingAddress.city}}",
                                    "phone": "{{6.billingAddress.phone}}",
                                    "company": "{{6.billingAddress.companyName}}",
                                    "country": "{{6.billingAddress.country}}",
                                    "address1": "{{6.billingAddress.address}}",
                                    "address2": "{{6.billingAddress.address2}}",
                                    "province": "{{6.billingAddress.state}}",
                                    "first_name": "{{6.billingAddress.name}}"
                                },
                                "shipping_address": {
                                    "zip": "{{6.shippingAddress.zipCode}}",
                                    "city": "{{6.shippingAddress.city}}",
                                    "phone": "{{6.shippingAddress.phone}}",
                                    "company": "{{6.shippingAddress.companyName}}",
                                    "country": "{{6.shippingAddress.country}}",
                                    "address1": "{{6.shippingAddress.address}}",
                                    "address2": "{{6.shippingAddress.address2}}",
                                    "province": "{{6.shippingAddress.state}}",
                                    "first_name": "{{6.shippingAddress.name}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 300
                                },
                                "restore": {
                                    "tags": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "line_items": {
                                        "mode": "edit"
                                    },
                                    "location_id": {
                                        "mode": "chose",
                                        "label": ""
                                    },
                                    "send_receipt": {
                                        "mode": "chose"
                                    },
                                    "transactions": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "discount_codes": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "shipping_lines": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "taxes_included": {
                                        "mode": "chose"
                                    },
                                    "note_attributes": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "financial_status": {
                                        "mode": "chose",
                                        "label": ""
                                    },
                                    "fulfillment_status": {
                                        "mode": "chose",
                                        "label": ""
                                    },
                                    "inventory_behaviour": {
                                        "mode": "chose",
                                        "label": ""
                                    },
                                    "buyer_accepts_marketing": {
                                        "mode": "chose"
                                    },
                                    "send_fulfillment_receipt": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "line_items",
                                        "spec": [
                                            {
                                                "name": "product_id",
                                                "type": "number",
                                                "label": "Product ID"
                                            },
                                            {
                                                "name": "variant_id",
                                                "type": "number",
                                                "label": "Variant ID"
                                            },
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Title"
                                            },
                                            {
                                                "name": "quantity",
                                                "type": "number",
                                                "label": "Quantity"
                                            },
                                            {
                                                "name": "price",
                                                "type": "text",
                                                "label": "Price"
                                            },
                                            {
                                                "name": "sku",
                                                "type": "text",
                                                "label": "Sku"
                                            },
                                            {
                                                "name": "tax_lines",
                                                "spec": [
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "price",
                                                        "type": "text",
                                                        "label": "Price",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "rate",
                                                        "type": "number",
                                                        "label": "Rate",
                                                        "required": true
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Tax lines"
                                            },
                                            {
                                                "name": "gift_card",
                                                "type": "boolean",
                                                "label": "Gift card"
                                            },
                                            {
                                                "name": "grams",
                                                "type": "text",
                                                "label": "Grams"
                                            },
                                            {
                                                "name": "requires_shipping",
                                                "type": "boolean",
                                                "label": "Requires shipping"
                                            },
                                            {
                                                "name": "vendor",
                                                "type": "text",
                                                "label": "Vendor"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Line items",
                                        "required": true,
                                        "validate": {
                                            "minItems": 1
                                        }
                                    },
                                    {
                                        "name": "customer",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "Customer ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Customer",
                                        "required": false
                                    },
                                    {
                                        "name": "email",
                                        "type": "email",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "location_id",
                                        "type": "select",
                                        "label": "Location"
                                    },
                                    {
                                        "name": "billing_address",
                                        "spec": [
                                            {
                                                "name": "first_name",
                                                "type": "text",
                                                "label": "First name"
                                            },
                                            {
                                                "name": "last_name",
                                                "type": "text",
                                                "label": "Last name"
                                            },
                                            {
                                                "name": "address1",
                                                "type": "text",
                                                "label": "Address 1"
                                            },
                                            {
                                                "name": "address2",
                                                "type": "text",
                                                "label": "Address 2"
                                            },
                                            {
                                                "name": "city",
                                                "type": "text",
                                                "label": "City"
                                            },
                                            {
                                                "name": "zip",
                                                "type": "text",
                                                "label": "Zip"
                                            },
                                            {
                                                "name": "company",
                                                "type": "text",
                                                "label": "Company"
                                            },
                                            {
                                                "name": "phone",
                                                "type": "text",
                                                "label": "Phone"
                                            },
                                            {
                                                "name": "province",
                                                "type": "text",
                                                "label": "Province"
                                            },
                                            {
                                                "name": "country",
                                                "type": "text",
                                                "label": "Country"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Billing address",
                                        "required": false
                                    },
                                    {
                                        "name": "shipping_address",
                                        "spec": [
                                            {
                                                "name": "first_name",
                                                "type": "text",
                                                "label": "First name"
                                            },
                                            {
                                                "name": "last_name",
                                                "type": "text",
                                                "label": "Last name"
                                            },
                                            {
                                                "name": "address1",
                                                "type": "text",
                                                "label": "Address 1"
                                            },
                                            {
                                                "name": "address2",
                                                "type": "text",
                                                "label": "Address 2"
                                            },
                                            {
                                                "name": "city",
                                                "type": "text",
                                                "label": "City"
                                            },
                                            {
                                                "name": "zip",
                                                "type": "text",
                                                "label": "ZIP"
                                            },
                                            {
                                                "name": "company",
                                                "type": "text",
                                                "label": "Company"
                                            },
                                            {
                                                "name": "phone",
                                                "type": "text",
                                                "label": "Phone"
                                            },
                                            {
                                                "name": "province",
                                                "type": "text",
                                                "label": "Province"
                                            },
                                            {
                                                "name": "country",
                                                "type": "text",
                                                "label": "Country"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Shipping address",
                                        "required": false
                                    },
                                    {
                                        "name": "shipping_lines",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Title",
                                                "required": true
                                            },
                                            {
                                                "name": "price",
                                                "type": "text",
                                                "label": "Price",
                                                "required": true
                                            },
                                            {
                                                "name": "code",
                                                "type": "text",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "carrier_identifier",
                                                "type": "text",
                                                "label": "Carrier identifier"
                                            },
                                            {
                                                "name": "requested_fulfillment_service_id",
                                                "type": "text",
                                                "label": "Requested fulfillment service ID"
                                            },
                                            {
                                                "name": "tax_lines",
                                                "spec": [
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "price",
                                                        "type": "text",
                                                        "label": "Price",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "rate",
                                                        "type": "number",
                                                        "label": "Rate",
                                                        "required": true
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Tax lines"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Shipping lines"
                                    },
                                    {
                                        "name": "financial_status",
                                        "type": "select",
                                        "label": "Financial status",
                                        "validate": {
                                            "enum": [
                                                "pending",
                                                "authorized",
                                                "partially_paid",
                                                "paid",
                                                "partially_refunded",
                                                "refunded",
                                                "voided"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "fulfillment_status",
                                        "type": "select",
                                        "label": "Fulfillment status",
                                        "validate": {
                                            "enum": [
                                                "fulfilled",
                                                "partial",
                                                "restocked",
                                                "null"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "discount_codes",
                                        "spec": [
                                            {
                                                "name": "amount",
                                                "type": "text",
                                                "label": "Amount",
                                                "required": true
                                            },
                                            {
                                                "name": "code",
                                                "type": "text",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Type",
                                                "options": [
                                                    {
                                                        "label": "Percentage",
                                                        "value": "percentage"
                                                    },
                                                    {
                                                        "label": "Shipping",
                                                        "value": "shipping"
                                                    },
                                                    {
                                                        "label": "Fixed amount",
                                                        "value": "fixed_amount"
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Discount codes"
                                    },
                                    {
                                        "name": "tags",
                                        "type": "array",
                                        "label": "Tags"
                                    },
                                    {
                                        "name": "note",
                                        "type": "text",
                                        "label": "Note"
                                    },
                                    {
                                        "name": "note_attributes",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Note attributes"
                                    },
                                    {
                                        "name": "buyer_accepts_marketing",
                                        "type": "boolean",
                                        "label": "Buyer accepts marketing"
                                    },
                                    {
                                        "name": "currency",
                                        "type": "text",
                                        "label": "Currency"
                                    },
                                    {
                                        "name": "inventory_behaviour",
                                        "type": "select",
                                        "label": "Inventory behaviour",
                                        "validate": {
                                            "enum": [
                                                "bypass",
                                                "decrement_ignoring_policy",
                                                "decrement_obeying_policy"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "send_receipt",
                                        "type": "boolean",
                                        "label": "Send receipt"
                                    },
                                    {
                                        "name": "taxes_included",
                                        "type": "boolean",
                                        "label": "Taxes included"
                                    },
                                    {
                                        "name": "total_tax",
                                        "type": "text",
                                        "label": "Total tax"
                                    },
                                    {
                                        "name": "send_fulfillment_receipt",
                                        "type": "boolean",
                                        "label": "Send fulfillment receipt"
                                    },
                                    {
                                        "name": "transactions",
                                        "spec": [
                                            {
                                                "name": "amount",
                                                "type": "number",
                                                "label": "Amount",
                                                "required": true
                                            },
                                            {
                                                "name": "status",
                                                "type": "select",
                                                "label": "Status",
                                                "options": [
                                                    {
                                                        "label": "Pending",
                                                        "value": "pending"
                                                    },
                                                    {
                                                        "label": "Success",
                                                        "value": "success"
                                                    },
                                                    {
                                                        "label": "Failure",
                                                        "value": "failure"
                                                    }
                                                ],
                                                "required": true
                                            },
                                            {
                                                "name": "kind",
                                                "type": "select",
                                                "label": "Kind",
                                                "options": [
                                                    {
                                                        "label": "Authorization",
                                                        "value": "authorization"
                                                    },
                                                    {
                                                        "label": "Capture",
                                                        "value": "capture"
                                                    },
                                                    {
                                                        "label": "Sale",
                                                        "value": "sale"
                                                    },
                                                    {
                                                        "label": "Void",
                                                        "value": "void"
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Transactions"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}