Make example flows 2/Add new GetResponse contacts to Zoho CRM (if the contact already exists in Zoho CRM, send a message .blueprint.json
{
    "name": "Add new GetResponse contacts to Zoho CRM (if the contact already exists in Zoho CRM, send a message in Slack instead of adding the contact to Zoho CRM)",
    "flow": [
        {
            "id": 1,
            "module": "getresponse:TriggerNewContact",
            "version": 1,
            "parameters": {
                "maxResults": 2
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of contacts",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "zohocrm:SearchObjects",
            "version": 2,
            "parameters": {},
            "mapper": {
                "email": "",
                "limit": "2",
                "filter": [
                    [
                        {
                            "a": "Email",
                            "b": "{{1.email}}",
                            "o": "text:equals"
                        }
                    ]
                ],
                "module": "Contacts",
                "approved": "true"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "module": {
                        "mode": "chose",
                        "label": "Kontakty"
                    },
                    "approved": {
                        "label": "only approved records"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "module",
                        "type": "select",
                        "label": "Module"
                    },
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email"
                    },
                    {
                        "name": "approved",
                        "type": "select",
                        "label": "Approved records",
                        "validate": {
                            "enum": [
                                "true",
                                "false",
                                "both"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "logic": "and",
                            "store": "rpc://zohocrm@2/FieldsModules",
                            "operators": [
                                {
                                    "label": "Zoho CRM text operators",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "short": "=",
                                            "value": "text:equals"
                                        },
                                        {
                                            "label": "Starts with",
                                            "short": "text:startwith",
                                            "value": "text:startwith"
                                        }
                                    ]
                                }
                            ]
                        },
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Object ID",
                        "required": true
                    },
                    {
                        "name": "Owner",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Vlastník Kontakt"
                    },
                    {
                        "name": "First_Name",
                        "type": "text",
                        "label": "Jméno"
                    },
                    {
                        "name": "Last_Name",
                        "type": "text",
                        "label": "Příjmení"
                    },
                    {
                        "name": "Lead_Source",
                        "type": "text",
                        "label": "Příležitost Zdroj"
                    },
                    {
                        "name": "Account_Name",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Název Zákazník"
                    },
                    {
                        "name": "Email",
                        "type": "email",
                        "label": "E-mail"
                    },
                    {
                        "name": "Full_Name",
                        "type": "text",
                        "label": "Celé jméno"
                    },
                    {
                        "name": "Phone",
                        "type": "text",
                        "label": "Telefon"
                    },
                    {
                        "name": "Mobile",
                        "type": "text",
                        "label": "Mobil"
                    },
                    {
                        "name": "Department",
                        "type": "text",
                        "label": "Oddělení"
                    },
                    {
                        "name": "Title",
                        "type": "text",
                        "label": "Název"
                    },
                    {
                        "name": "Home_Phone",
                        "type": "text",
                        "label": "Telefon domů"
                    },
                    {
                        "name": "Other_Phone",
                        "type": "text",
                        "label": "Ostatní telefony"
                    },
                    {
                        "name": "Fax",
                        "type": "text",
                        "label": "Fax"
                    },
                    {
                        "name": "Date_of_Birth",
                        "type": "date",
                        "label": "Datum narození"
                    },
                    {
                        "name": "Assistant",
                        "type": "text",
                        "label": "Asistent/ka"
                    },
                    {
                        "name": "Asst_Phone",
                        "type": "text",
                        "label": "Telefon asistenta/ky"
                    },
                    {
                        "name": "Reports_To",
                        "type": "text",
                        "label": "Nadřízený pracovník"
                    },
                    {
                        "name": "Email_Opt_Out",
                        "type": "boolean",
                        "label": "Odhlášení e-mailů"
                    },
                    {
                        "name": "Created_By",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Vytvořil/a"
                    },
                    {
                        "name": "Skype_ID",
                        "type": "text",
                        "label": "Skype ID"
                    },
                    {
                        "name": "Modified_By",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Upravil/a"
                    },
                    {
                        "name": "Created_Time",
                        "type": "date",
                        "label": "Čas vytvoření"
                    },
                    {
                        "name": "Modified_Time",
                        "type": "date",
                        "label": "Čas úpravy"
                    },
                    {
                        "name": "Salutation",
                        "type": "text",
                        "label": "Oslovení"
                    },
                    {
                        "name": "Secondary_Email",
                        "type": "email",
                        "label": "Sekundární e-mail"
                    },
                    {
                        "name": "Last_Activity_Time",
                        "type": "date",
                        "label": "Čas poslední aktivity"
                    },
                    {
                        "name": "Twitter",
                        "type": "text",
                        "label": "Twitter"
                    },
                    {
                        "name": "Reporting_To",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Reportováno"
                    },
                    {
                        "name": "Is_Record_Duplicate",
                        "type": "boolean",
                        "label": "Is Record Duplicate"
                    },
                    {
                        "name": "Mailing_Street",
                        "type": "text",
                        "label": "Ulice pro poštu"
                    },
                    {
                        "name": "Other_Street",
                        "type": "text",
                        "label": "Jiná ulice"
                    },
                    {
                        "name": "Mailing_City",
                        "type": "text",
                        "label": "Město pro poštu"
                    },
                    {
                        "name": "Other_City",
                        "type": "text",
                        "label": "Jiné město"
                    },
                    {
                        "name": "Mailing_State",
                        "type": "text",
                        "label": "Stát pro poštu"
                    },
                    {
                        "name": "Other_State",
                        "type": "text",
                        "label": "Jiný stát"
                    },
                    {
                        "name": "Mailing_Zip",
                        "type": "text",
                        "label": "Poštovní adresa – PSČ"
                    },
                    {
                        "name": "Other_Zip",
                        "type": "text",
                        "label": "Jiné PSČ"
                    },
                    {
                        "name": "Mailing_Country",
                        "type": "text",
                        "label": "Země pro poštu"
                    },
                    {
                        "name": "Other_Country",
                        "type": "text",
                        "label": "Jiná země"
                    },
                    {
                        "name": "Description",
                        "type": "text",
                        "label": "Popis"
                    },
                    {
                        "name": "Record_Image",
                        "type": "text",
                        "label": "Kontakt obrázek"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "slack:CreateMessage",
                            "version": 3,
                            "parameters": {},
                            "filter": {
                                "name": "Exists",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{6.id}}",
                                            "b": "",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "New contact in GetResponse: {{1.name}} already exists in Zoho CRM: {{6.Full_Name}} ",
                                "parse": false,
                                "mrkdwn": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "parse": {
                                        "mode": "chose"
                                    },
                                    "mrkdwn": {
                                        "mode": "chose"
                                    },
                                    "as_user": {
                                        "mode": "chose"
                                    },
                                    "link_names": {
                                        "mode": "chose"
                                    },
                                    "attachments": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "unfurl_links": {
                                        "mode": "chose"
                                    },
                                    "unfurl_media": {
                                        "mode": "chose"
                                    },
                                    "reply_broadcast": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channel",
                                        "type": "select",
                                        "label": "Channel",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true,
                                        "multiline": true
                                    },
                                    {
                                        "name": "as_user",
                                        "type": "boolean",
                                        "label": "As user"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fallback",
                                                "type": "text",
                                                "label": "Fallback",
                                                "required": true
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "pretext",
                                                "type": "text",
                                                "label": "Pretext"
                                            },
                                            {
                                                "name": "author_name",
                                                "type": "text",
                                                "label": "Author name"
                                            },
                                            {
                                                "name": "author_link",
                                                "type": "url",
                                                "label": "Author link"
                                            },
                                            {
                                                "name": "author_icon",
                                                "type": "url",
                                                "label": "Author icon (URL)"
                                            },
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Title"
                                            },
                                            {
                                                "name": "title_link",
                                                "type": "url",
                                                "label": "Title link"
                                            },
                                            {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "image_url",
                                                "type": "text",
                                                "label": "Image (URL)"
                                            },
                                            {
                                                "name": "thumb_url",
                                                "type": "url",
                                                "label": "Thumbnail (URL)"
                                            },
                                            {
                                                "name": "footer",
                                                "type": "text",
                                                "label": "Footer"
                                            },
                                            {
                                                "name": "footer_icon",
                                                "type": "url",
                                                "label": "Footer icon (URL)"
                                            },
                                            {
                                                "name": "ts",
                                                "type": "number",
                                                "label": "Time stamp"
                                            },
                                            {
                                                "name": "fields",
                                                "spec": [
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "short",
                                                        "type": "boolean",
                                                        "label": "Display side-by-side with other values",
                                                        "required": true
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Fields inside message attachments"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "zohocrm:CreateObject",
                            "version": 2,
                            "parameters": {},
                            "filter": {
                                "name": "Non exists",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{6.id}}",
                                            "b": "",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "Fax": "",
                                "Email": "{{1.email}}",
                                "Owner": "",
                                "Phone": "",
                                "Title": "",
                                "Mobile": "",
                                "module": "Contacts",
                                "Twitter": "",
                                "trigger": [],
                                "Skype_ID": "",
                                "Assistant": "",
                                "Last_Name": "{{1.name}}",
                                "Other_Zip": "",
                                "Asst_Phone": "",
                                "Department": "",
                                "First_Name": "",
                                "Home_Phone": "",
                                "Other_City": "",
                                "Reports_To": "",
                                "Salutation": "",
                                "Description": "",
                                "Lead_Source": "",
                                "Mailing_Zip": "",
                                "Other_Phone": "",
                                "Other_State": "",
                                "Account_Name": "",
                                "Mailing_City": "",
                                "Other_Street": "",
                                "Reporting_To": "",
                                "Date_of_Birth": "",
                                "Mailing_State": "",
                                "Other_Country": "",
                                "Mailing_Street": "",
                                "Mailing_Country": "",
                                "Secondary_Email": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "module": {
                                        "mode": "chose",
                                        "label": "Kontakty"
                                    },
                                    "trigger": {
                                        "mode": "chose"
                                    },
                                    "Salutation": {
                                        "mode": "chose",
                                        "label": ""
                                    },
                                    "Lead_Source": {
                                        "mode": "chose",
                                        "label": ""
                                    },
                                    "Email_Opt_Out": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "module",
                                        "type": "select",
                                        "label": "Module",
                                        "required": true
                                    },
                                    {
                                        "name": "trigger",
                                        "type": "select",
                                        "label": "Trigger",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "workflow",
                                                "approval",
                                                "blueprint"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "Owner",
                                        "type": "text",
                                        "label": "Vlastník Kontakt",
                                        "validate": {
                                            "max": 120
                                        }
                                    },
                                    {
                                        "name": "First_Name",
                                        "type": "text",
                                        "label": "Jméno",
                                        "validate": {
                                            "max": 40
                                        }
                                    },
                                    {
                                        "name": "Last_Name",
                                        "type": "text",
                                        "label": "Příjmení",
                                        "required": true,
                                        "validate": {
                                            "max": 80
                                        }
                                    },
                                    {
                                        "name": "Lead_Source",
                                        "type": "select",
                                        "label": "Příležitost Zdroj",
                                        "validate": false
                                    },
                                    {
                                        "name": "Account_Name",
                                        "type": "text",
                                        "label": "Název Zákazník",
                                        "validate": {
                                            "max": 120
                                        }
                                    },
                                    {
                                        "name": "Email",
                                        "type": "email",
                                        "label": "E-mail",
                                        "validate": {
                                            "max": 100
                                        }
                                    },
                                    {
                                        "name": "Phone",
                                        "type": "text",
                                        "label": "Telefon",
                                        "validate": {
                                            "max": 50
                                        }
                                    },
                                    {
                                        "name": "Mobile",
                                        "type": "text",
                                        "label": "Mobil",
                                        "validate": {
                                            "max": 30
                                        }
                                    },
                                    {
                                        "name": "Department",
                                        "type": "text",
                                        "label": "Oddělení",
                                        "validate": {
                                            "max": 50
                                        }
                                    },
                                    {
                                        "name": "Title",
                                        "type": "text",
                                        "label": "Název",
                                        "validate": {
                                            "max": 100
                                        }
                                    },
                                    {
                                        "name": "Home_Phone",
                                        "type": "text",
                                        "label": "Telefon domů",
                                        "validate": {
                                            "max": 30
                                        }
                                    },
                                    {
                                        "name": "Other_Phone",
                                        "type": "text",
                                        "label": "Ostatní telefony",
                                        "validate": {
                                            "max": 30
                                        }
                                    },
                                    {
                                        "name": "Fax",
                                        "type": "text",
                                        "validate": {
                                            "max": 30
                                        }
                                    },
                                    {
                                        "name": "Date_of_Birth",
                                        "time": false,
                                        "type": "date",
                                        "label": "Datum narození",
                                        "validate": {
                                            "max": 20
                                        }
                                    },
                                    {
                                        "name": "Assistant",
                                        "type": "text",
                                        "label": "Asistent/ka",
                                        "validate": {
                                            "max": 50
                                        }
                                    },
                                    {
                                        "name": "Asst_Phone",
                                        "type": "text",
                                        "label": "Telefon asistenta/ky",
                                        "validate": {
                                            "max": 30
                                        }
                                    },
                                    {
                                        "name": "Reports_To",
                                        "type": "text",
                                        "label": "Nadřízený pracovník",
                                        "validate": {
                                            "max": 50
                                        }
                                    },
                                    {
                                        "name": "Email_Opt_Out",
                                        "type": "boolean",
                                        "label": "Odhlášení e-mailů",
                                        "validate": {
                                            "max": 5
                                        }
                                    },
                                    {
                                        "name": "Skype_ID",
                                        "type": "text",
                                        "label": "Skype ID",
                                        "validate": {
                                            "max": 50
                                        }
                                    },
                                    {
                                        "name": "Salutation",
                                        "type": "select",
                                        "label": "Oslovení",
                                        "validate": false
                                    },
                                    {
                                        "name": "Secondary_Email",
                                        "type": "email",
                                        "label": "Sekundární e-mail",
                                        "validate": {
                                            "max": 100
                                        }
                                    },
                                    {
                                        "name": "Twitter",
                                        "type": "text",
                                        "validate": {
                                            "max": 50
                                        }
                                    },
                                    {
                                        "name": "Reporting_To",
                                        "type": "text",
                                        "label": "Reportováno",
                                        "validate": {
                                            "max": 120
                                        }
                                    },
                                    {
                                        "name": "Mailing_Street",
                                        "type": "text",
                                        "label": "Ulice pro poštu",
                                        "validate": {
                                            "max": 250
                                        }
                                    },
                                    {
                                        "name": "Other_Street",
                                        "type": "text",
                                        "label": "Jiná ulice",
                                        "validate": {
                                            "max": 250
                                        }
                                    },
                                    {
                                        "name": "Mailing_City",
                                        "type": "text",
                                        "label": "Město pro poštu",
                                        "validate": {
                                            "max": 100
                                        }
                                    },
                                    {
                                        "name": "Other_City",
                                        "type": "text",
                                        "label": "Jiné město",
                                        "validate": {
                                            "max": 100
                                        }
                                    },
                                    {
                                        "name": "Mailing_State",
                                        "type": "text",
                                        "label": "Stát pro poštu",
                                        "validate": {
                                            "max": 100
                                        }
                                    },
                                    {
                                        "name": "Other_State",
                                        "type": "text",
                                        "label": "Jiný stát",
                                        "validate": {
                                            "max": 100
                                        }
                                    },
                                    {
                                        "name": "Mailing_Zip",
                                        "type": "text",
                                        "label": "Poštovní adresa – PSČ",
                                        "validate": {
                                            "max": 30
                                        }
                                    },
                                    {
                                        "name": "Other_Zip",
                                        "type": "text",
                                        "label": "Jiné PSČ",
                                        "validate": {
                                            "max": 30
                                        }
                                    },
                                    {
                                        "name": "Mailing_Country",
                                        "type": "text",
                                        "label": "Země pro poštu",
                                        "validate": {
                                            "max": 100
                                        }
                                    },
                                    {
                                        "name": "Other_Country",
                                        "type": "text",
                                        "label": "Jiná země",
                                        "validate": {
                                            "max": 100
                                        }
                                    },
                                    {
                                        "name": "Description",
                                        "type": "text",
                                        "label": "Popis",
                                        "validate": {
                                            "max": 32000
                                        },
                                        "multiline": true
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}