Make example flows 2/AI Crawling for ChatGPT, DeepSeek, and Claude.blueprint.json
{
    "name": "AI Crawling for ChatGPT, DeepSeek, and Claude",
    "flow": [
        {
            "id": 1,
            "module": "apify-ai-website-crawler:extractUsingActor",
            "version": 1,
            "parameters": {},
            "mapper": {
                "startUrls": [
                    "https://docs.apify.com/academy/web-scraping-for-beginners"
                ]
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "startUrls": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "crawlerType": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:apify2,apify",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "startUrls",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "URL"
                        },
                        "type": "array",
                        "label": "Start URLs",
                        "required": true
                    },
                    {
                        "name": "crawlerType",
                        "type": "select",
                        "label": "Crawler type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "playwright:adaptive",
                                "playwright:firefox",
                                "cheerio"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "openai-gpt-3:messageAssistantAdvanced",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "role": "assistant",
                                "message": "Please summarize {{1.text}}",
                                "assistantId": "asst_YVTodIpCHOyBR22xQjNxxCFk",
                                "tool_choice": "auto"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": -300
                                },
                                "restore": {
                                    "expect": {
                                        "role": {
                                            "label": "Assistant"
                                        },
                                        "model": {
                                            "mode": "chose"
                                        },
                                        "tools": {
                                            "mode": "chose"
                                        },
                                        "assistantId": {
                                            "mode": "chose",
                                            "label": "Apify Advisor [Test] (gpt-4o)",
                                            "nested": []
                                        },
                                        "tool_choice": {
                                            "mode": "chose",
                                            "label": "Auto"
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "truncation_strategy": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "file_search_resources": {
                                            "mode": "chose"
                                        },
                                        "code_interpreter_resources": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            },
                                            "label": "My OpenAI connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "assistantId",
                                        "type": "select",
                                        "label": "Assistant",
                                        "required": true
                                    },
                                    {
                                        "name": "role",
                                        "type": "select",
                                        "label": "Role",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "user",
                                                "assistant"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "threadId",
                                        "type": "text",
                                        "label": "Thread ID"
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model"
                                    },
                                    {
                                        "name": "tools",
                                        "type": "select",
                                        "label": "Tools",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "file_search",
                                                "code_interpreter"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "file_search_resources",
                                        "type": "select",
                                        "label": "File Search Resources"
                                    },
                                    {
                                        "name": "code_interpreter_resources",
                                        "type": "select",
                                        "label": "Code Interpreter Resources",
                                        "multiple": true,
                                        "validate": {
                                            "maxItems": 20
                                        }
                                    },
                                    {
                                        "name": "tool_choice",
                                        "type": "select",
                                        "label": "Tool Choice",
                                        "validate": {
                                            "enum": [
                                                "none",
                                                "auto",
                                                "required",
                                                "file_search",
                                                "code_interpreter",
                                                "function"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "instructions",
                                        "type": "text",
                                        "label": "Instructions"
                                    },
                                    {
                                        "name": "max_prompt_tokens",
                                        "type": "uinteger",
                                        "label": "Max Prompt Tokens"
                                    },
                                    {
                                        "name": "max_completion_tokens",
                                        "type": "uinteger",
                                        "label": "Max Completion Tokens"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 2,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "auto",
                                                "json_object",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "truncation_strategy",
                                        "type": "select",
                                        "label": "Truncation Strategy",
                                        "validate": {
                                            "enum": [
                                                "auto",
                                                "last_messages"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Message",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "deepseek-ai:makeAnApiCall",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "url": "/chat/completions",
                                "body": "{\n  \"model\": \"deepseek-reasoner\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"You are a helpful assistant that is an expert in summarizing web content\"},\n    {\"role\": \"user\", \"content\": \"Please summarize this content {{1.text}}\"}\n  ],\n  \"stream\": false\n}",
                                "method": "POST",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "deepseek-ai"
                                            },
                                            "label": "Sameh DeepSeek"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:deepseek-ai",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key"
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Header"
                                        },
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key"
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Parameter"
                                        },
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "anthropic-claude:createAMessage",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "model": "claude-opus-4-20250514",
                                "messages": [
                                    {
                                        "role": "user",
                                        "content": "Please analyse this and summarize it {{1.markdown}}"
                                    }
                                ],
                                "metadata": {},
                                "max_tokens": "10000",
                                "temperature": "1"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "Claude Opus 4"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    },
                                                    "content": {
                                                        "mode": "edit"
                                                    }
                                                }
                                            ]
                                        },
                                        "stop_sequences": {
                                            "mode": "chose"
                                        },
                                        "additionalParameters": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "anthropic-claude"
                                            },
                                            "label": "Sameh Key"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:anthropic-claude",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "uinteger",
                                        "label": "Max Tokens",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "select",
                                                    "label": "Role",
                                                    "options": [
                                                        {
                                                            "label": "User",
                                                            "value": "user",
                                                            "nested": [
                                                                {
                                                                    "name": "content",
                                                                    "spec": {
                                                                        "spec": [
                                                                            {
                                                                                "help": "For models that support image content blocks (vision), see the [Anthropic model comparison table](https://docs.anthropic.com/en/docs/about-claude/models#model-comparison-table).",
                                                                                "name": "type",
                                                                                "type": "select",
                                                                                "label": "Type",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "Text",
                                                                                        "value": "text",
                                                                                        "nested": [
                                                                                            {
                                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                                "name": "text",
                                                                                                "type": "text",
                                                                                                "label": "Text",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "Image",
                                                                                        "value": "image",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "source",
                                                                                                "spec": [
                                                                                                    {
                                                                                                        "help": "File name, including the extension, for example, `image.jpg`.",
                                                                                                        "name": "filename",
                                                                                                        "type": "filename",
                                                                                                        "label": "Filename",
                                                                                                        "required": true,
                                                                                                        "semantic": "file:name",
                                                                                                        "extension": [
                                                                                                            "jpeg",
                                                                                                            "jpg",
                                                                                                            "png",
                                                                                                            "gif",
                                                                                                            "webp"
                                                                                                        ]
                                                                                                    },
                                                                                                    {
                                                                                                        "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the **HTTP: Get a file** module.",
                                                                                                        "name": "data",
                                                                                                        "type": "buffer",
                                                                                                        "label": "Data",
                                                                                                        "required": true,
                                                                                                        "semantic": "file:data"
                                                                                                    }
                                                                                                ],
                                                                                                "type": "collection",
                                                                                                "label": "Source",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "PDF document",
                                                                                        "value": "document",
                                                                                        "nested": [
                                                                                            "rpc://anthropic-claude/1/notePdfDocument",
                                                                                            {
                                                                                                "name": "pdfFileName",
                                                                                                "type": "filename",
                                                                                                "label": "Filename",
                                                                                                "required": true,
                                                                                                "semantic": "file:name",
                                                                                                "extension": [
                                                                                                    "pdf"
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "name": "pdfFileData",
                                                                                                "type": "buffer",
                                                                                                "label": "Data",
                                                                                                "required": true,
                                                                                                "semantic": "file:data"
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "Tool result",
                                                                                        "value": "tool_result",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "tool_use_id",
                                                                                                "type": "text",
                                                                                                "label": "Tool Use ID",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "name": "content",
                                                                                                "type": "text",
                                                                                                "label": "Content",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ],
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Content"
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Content",
                                                                    "labels": {
                                                                        "add": "Add content"
                                                                    },
                                                                    "required": true
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Assistant",
                                                            "value": "assistant",
                                                            "nested": [
                                                                {
                                                                    "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Content",
                                                                    "required": true
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Tool Assistant",
                                                            "value": "tool_assistant",
                                                            "nested": [
                                                                {
                                                                    "name": "content",
                                                                    "spec": {
                                                                        "spec": [
                                                                            {
                                                                                "help": "You can send image content blocks starting with Claude 3 models.",
                                                                                "name": "type",
                                                                                "type": "select",
                                                                                "label": "Type",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "Text",
                                                                                        "value": "text",
                                                                                        "nested": [
                                                                                            {
                                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                                "name": "text",
                                                                                                "type": "text",
                                                                                                "label": "Text",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "Tool Use",
                                                                                        "value": "tool_use",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "id",
                                                                                                "type": "text",
                                                                                                "label": "Tool Use ID",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "name": "name",
                                                                                                "type": "text",
                                                                                                "label": "Tool Name",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "name": "input",
                                                                                                "type": "any",
                                                                                                "label": "Input",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ],
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Content"
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Content",
                                                                    "labels": {
                                                                        "add": "Add content"
                                                                    },
                                                                    "required": true
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "required": true
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Message"
                                        },
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "system",
                                        "type": "text",
                                        "label": "System Prompt"
                                    },
                                    {
                                        "name": "metadata",
                                        "spec": [
                                            {
                                                "name": "user_id",
                                                "type": "text",
                                                "label": "User ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Metadata"
                                    },
                                    {
                                        "name": "stop_sequences",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Stop Sequence"
                                        },
                                        "type": "array",
                                        "label": "Stop Sequences"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1
                                        }
                                    },
                                    {
                                        "name": "top_k",
                                        "type": "uinteger",
                                        "label": "Top K"
                                    },
                                    {
                                        "name": "additionalParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Parameter Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "select",
                                                    "label": "Input Type",
                                                    "options": [
                                                        {
                                                            "label": "Text",
                                                            "value": "text",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ],
                                                            "default": true
                                                        },
                                                        {
                                                            "label": "Number",
                                                            "value": "number",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "number",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Boolean",
                                                            "value": "boolean",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "boolean",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Date",
                                                            "value": "date",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "date",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Tools",
                                                            "value": "tools",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "spec": {
                                                                        "type": "text",
                                                                        "label": "Parameter Value"
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Parameter Values",
                                                                    "labels": {
                                                                        "add": "Add parameter value"
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Any",
                                                            "value": "any",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "any",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Input Parameter"
                                        },
                                        "type": "array",
                                        "label": "Other Input Parameters"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    },
    "io": {
        "input_spec": [
            {
                "help": "The urls of the websites you want to create ",
                "name": "URLs",
                "type": "text",
                "label": "",
                "default": "",
                "required": false,
                "multiline": false
            }
        ],
        "output_spec": [
            {
                "help": "The structured response from your LLM tool",
                "name": "LLMresponse",
                "type": "text",
                "label": "",
                "default": "",
                "required": false,
                "multiline": false
            }
        ]
    }
}