Make example flows 2/Automated supplier draft payments for new orders in an online store.blueprint.json
{
    "name": "Automated supplier draft payments for new orders in an online store",
    "flow": [
        {
            "id": 1,
            "module": "shopify:WatchOrders",
            "version": 2,
            "parameters": {
                "fields": [],
                "status": "open",
                "financial_status": "any",
                "fulfillment_status": "any"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "status": {
                        "label": "open"
                    },
                    "financial_status": {
                        "label": "any"
                    },
                    "fulfillment_status": {
                        "label": "any"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "status",
                        "type": "select",
                        "label": "Status",
                        "validate": {
                            "enum": [
                                "open",
                                "closed",
                                "cancelled",
                                "any"
                            ]
                        }
                    },
                    {
                        "name": "financial_status",
                        "type": "select",
                        "label": "Financial status",
                        "validate": {
                            "enum": [
                                "authorized",
                                "pending",
                                "paid",
                                "partially_paid",
                                "refunded",
                                "partially_refunded",
                                "voided",
                                "unpaid",
                                "any"
                            ]
                        }
                    },
                    {
                        "name": "fulfillment_status",
                        "type": "select",
                        "label": "Fulfillment status",
                        "validate": {
                            "enum": [
                                "shipped",
                                "partial",
                                "unshipped",
                                "unfulfilled",
                                "any"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Fields",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "app_id",
                                "billing_address",
                                "browser_ip",
                                "buyer_accepts_marketing",
                                "cancel_reason",
                                "cancelled_at",
                                "cart_token",
                                "checkout_id",
                                "checkout_token",
                                "closed_at",
                                "confirmed",
                                "contact_email",
                                "created_at",
                                "currency",
                                "current_total_duties_set",
                                "customer",
                                "customer_locale",
                                "device_id",
                                "discount_applications",
                                "discount_codes",
                                "email",
                                "financial_status",
                                "fulfillment_status",
                                "fulfillments",
                                "gateway",
                                "id",
                                "landing_site",
                                "landing_site_ref",
                                "line_items",
                                "location_id",
                                "name",
                                "note",
                                "note_attributes",
                                "number",
                                "order_number",
                                "order_status_url",
                                "original_total_duties_set",
                                "payment_gateway_names",
                                "phone",
                                "presentment_currency",
                                "processed_at",
                                "processing_method",
                                "reference",
                                "referring_site",
                                "refunds",
                                "shipping_address",
                                "shipping_lines",
                                "source_identifier",
                                "source_name",
                                "source_url",
                                "subtotal_price",
                                "subtotal_price_set",
                                "tags",
                                "tax_lines",
                                "taxes_included",
                                "test",
                                "token",
                                "total_discounts",
                                "total_discounts_set",
                                "total_line_items_price",
                                "total_line_items_price_set",
                                "total_price",
                                "total_price_set",
                                "total_price_usd",
                                "total_shipping_price_set",
                                "total_tax",
                                "total_tax_set",
                                "total_tip_received",
                                "total_weight",
                                "updated_at",
                                "user_id"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{1.line_items}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "array": {
                        "mode": "edit"
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {},
            "mapper": {
                "filter": [
                    [
                        {
                            "a": "A",
                            "b": "{{2.id}}",
                            "o": "text:equal"
                        }
                    ]
                ],
                "sortOrder": "asc",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "orderBy": {
                        "mode": "chose",
                        "label": ""
                    },
                    "sortOrder": {
                        "mode": "chose",
                        "label": "Ascending"
                    },
                    "tableFirstRow": {
                        "label": "A-CZ"
                    },
                    "includesHeaders": {
                        "mode": "chose",
                        "label": "Yes"
                    },
                    "valueRenderOption": {
                        "mode": "chose",
                        "label": "Formatted value"
                    },
                    "dateTimeRenderOption": {
                        "mode": "chose",
                        "label": "Formatted string"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": "rpc://google-sheets@2/rpcGetFilterKeys?includesHeaders=true"
                        }
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Product ID (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Supplier Name (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Supplier Cost (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "(D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "(E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "(F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {},
            "mapper": {
                "filter": [
                    [
                        {
                            "a": "A",
                            "b": "{{3.`1`}}",
                            "o": "text:equal"
                        }
                    ]
                ],
                "sortOrder": "asc",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "orderBy": {
                        "mode": "chose",
                        "label": ""
                    },
                    "sortOrder": {
                        "mode": "chose",
                        "label": "Ascending"
                    },
                    "tableFirstRow": {
                        "label": "A-CZ"
                    },
                    "includesHeaders": {
                        "mode": "chose",
                        "label": "Yes"
                    },
                    "valueRenderOption": {
                        "mode": "chose",
                        "label": "Formatted value"
                    },
                    "dateTimeRenderOption": {
                        "mode": "chose",
                        "label": "Formatted string"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": "rpc://google-sheets@2/rpcGetFilterKeys?includesHeaders=true"
                        }
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Supplier Name (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Bank Country (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Currency (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Type (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Account Number (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Sort Code (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "revolut:createDraftPayment",
            "version": 3,
            "parameters": {},
            "mapper": {
                "title": "Payment for {{2.title}} order!",
                "transfers": [
                    {
                        "name": "{{4.`0`}}",
                        "amount": "{{2.quantity * 3.`2`}}",
                        "accountNumber": "{{4.`4`}}",
                        "recipientType": "{{4.`3`}}",
                        "paymentReference": "{{2.id}}",
                        "sortCodeOrRoutingNumber": "{{4.`5`}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "transfers": {
                        "mode": "chose",
                        "items": [
                            {
                                "recipientType": {
                                    "mode": "edit"
                                }
                            }
                        ]
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "recipientBankCountry",
                        "type": "select",
                        "label": "Recipient Bank Country",
                        "required": true
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Draft Payment Title"
                    },
                    {
                        "name": "scheduledDate",
                        "time": false,
                        "type": "date",
                        "label": "Execution Date"
                    },
                    {
                        "name": "currency",
                        "type": "select",
                        "label": "Currency",
                        "required": true
                    },
                    {
                        "name": "transfers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true,
                                "validate": {
                                    "max": 80
                                }
                            },
                            {
                                "name": "recipientType",
                                "type": "select",
                                "label": "Recipient Type",
                                "options": [
                                    {
                                        "label": "Individual",
                                        "value": "INDIVIDUAL"
                                    },
                                    {
                                        "label": "Company",
                                        "value": "COMPANY"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "accountNumber",
                                "type": "text",
                                "label": "Account Number",
                                "required": true
                            },
                            {
                                "name": "sortCodeOrRoutingNumber",
                                "type": "text",
                                "label": "Sort Code or Routing Number",
                                "required": true
                            },
                            {
                                "name": "amount",
                                "type": "number",
                                "label": "Amount",
                                "required": true
                            },
                            {
                                "name": "paymentReference",
                                "type": "text",
                                "label": "Payment Reference",
                                "required": true,
                                "validate": {
                                    "max": 100
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Transfers",
                        "required": true,
                        "validate": {
                            "maxItems": 50
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}