Make example flows 2/BrowserAct Enables AI Science Scout’s Automated Research & Article Writer.blueprint.json
{
    "name": "BrowserAct Enables AI Science Scout’s Automated Research & Article Writer",
    "flow": [
        {
            "id": 1,
            "module": "telegram:WatchUpdates",
            "version": 1,
            "parameters": {},
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:telegramapi",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "ai-tools:Ask",
            "version": 2,
            "parameters": {
                "model": "gpt-5"
            },
            "mapper": {
                "input": "if the {{1.message.text}} contains keyword or is aiming for searching bout somthing send \"Start\" to Answer \n\nif the {{1.message.text}} is regular chat or not contains ant requet for search send \"DontStart\" to Answer "
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                },
                "restore": {
                    "parameters": {
                        "model": {
                            "mode": "chose",
                            "label": "gpt-5"
                        },
                        "makeConnectionId": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection",
                            "nested": [
                                {
                                    "name": "model",
                                    "type": "select",
                                    "label": "Model",
                                    "options": {
                                        "store": "rpc://ai-tools/2/RpcGetModels?connectionId={{makeConnectionId}}&teamId=1169971"
                                    },
                                    "mappable": true,
                                    "required": true
                                }
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "makeConnectionId",
                        "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "input",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 13,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.answer}}",
                                            "b": "Start",
                                            "o": "text:equal:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "Understood. Please allow me a moment.",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "My Telegram Bot connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "ai-tools:Ask",
                            "version": 2,
                            "parameters": {
                                "model": "gpt-5"
                            },
                            "mapper": {
                                "input": "Using {{1.message.text}}, create a single, perfectly related keyword and send the Answer"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 150
                                },
                                "restore": {
                                    "parameters": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "gpt-5"
                                        },
                                        "makeConnectionId": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            },
                                            "label": "My OpenAI connection",
                                            "nested": [
                                                {
                                                    "name": "model",
                                                    "type": "select",
                                                    "label": "Model",
                                                    "options": {
                                                        "store": "rpc://ai-tools/2/RpcGetModels?connectionId={{makeConnectionId}}&teamId=1169971"
                                                    },
                                                    "mappable": true,
                                                    "required": true
                                                }
                                            ]
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "makeConnectionId",
                                        "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "input",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 5,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 150
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 6,
                                            "module": "browser-act:test",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "type": "template",
                                                "timeout": "3600",
                                                "templateId": "60056157655600528",
                                                "inputParameters": {
                                                    "Keyword": "{{7.answer}}"
                                                }
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 0,
                                                    "name": "BrowserAcT_SemanticScholar"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "type": {
                                                            "mode": "chose",
                                                            "label": "Template Marketplace"
                                                        },
                                                        "templateId": {
                                                            "mode": "chose",
                                                            "label": "AI Science Scout: Automated Research & Write Article Assistant (arxiv.org)",
                                                            "nested": [
                                                                {
                                                                    "name": "inputParameters",
                                                                    "spec": [
                                                                        {
                                                                            "help": "If left blank, the default value defined in BrowserAct will be used.",
                                                                            "name": "arXiv_Link",
                                                                            "type": "text",
                                                                            "label": "arXiv_Link",
                                                                            "required": false,
                                                                            "validate": {}
                                                                        },
                                                                        {
                                                                            "help": "If left blank, the default value defined in BrowserAct will be used.",
                                                                            "name": "Keyword",
                                                                            "type": "text",
                                                                            "label": "Keyword",
                                                                            "required": false,
                                                                            "validate": {}
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Input Parameters",
                                                                    "required": false
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "browser-act"
                                                            },
                                                            "label": "My BrowserAct connection (lada.huang2017@gmail.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:browser-act",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Search Workflows From",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "template",
                                                                "workflow"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "timeout",
                                                        "type": "uinteger",
                                                        "label": "Timeout"
                                                    },
                                                    {
                                                        "name": "templateId",
                                                        "type": "select",
                                                        "label": "Workflow",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "inputParameters",
                                                        "spec": [
                                                            {
                                                                "name": "arXiv_Link",
                                                                "type": "text",
                                                                "validate": {}
                                                            },
                                                            {
                                                                "name": "Keyword",
                                                                "type": "text",
                                                                "validate": {}
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Input Parameters"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 10,
                                            "module": "util:SetVariables",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "scope": "roundtrip",
                                                "variables": [
                                                    {
                                                        "name": "SemanticScholarOutput",
                                                        "value": "{{6.output.string}}"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "scope": {
                                                            "label": "One cycle"
                                                        },
                                                        "variables": {
                                                            "items": [
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "variables",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Variable name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "any",
                                                                "label": "Variable value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Variables"
                                                    },
                                                    {
                                                        "name": "scope",
                                                        "type": "select",
                                                        "label": "Variable lifetime",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "roundtrip",
                                                                "execution"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "SemanticScholarOutput",
                                                        "type": "any",
                                                        "label": "SemanticScholarOutput"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 8,
                                            "module": "browser-act:test",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "type": "template",
                                                "timeout": "3600",
                                                "templateId": "60059198484058000",
                                                "inputParameters": {
                                                    "Keyword": "{{7.answer}}"
                                                }
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 300,
                                                    "name": "BrowserAcT_arXiv"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "type": {
                                                            "mode": "chose",
                                                            "label": "Template Marketplace"
                                                        },
                                                        "templateId": {
                                                            "mode": "chose",
                                                            "label": "AI Science Scout: Automated Research & Write Article Assistant (semanticscholar.org)",
                                                            "nested": [
                                                                {
                                                                    "name": "inputParameters",
                                                                    "spec": [
                                                                        {
                                                                            "help": "If left blank, the default value defined in BrowserAct will be used.",
                                                                            "name": "SemanticScholar_Link",
                                                                            "type": "text",
                                                                            "label": "SemanticScholar_Link",
                                                                            "required": false,
                                                                            "validate": {}
                                                                        },
                                                                        {
                                                                            "help": "If left blank, the default value defined in BrowserAct will be used.",
                                                                            "name": "Keyword",
                                                                            "type": "text",
                                                                            "label": "Keyword",
                                                                            "required": false,
                                                                            "validate": {}
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Input Parameters",
                                                                    "required": false
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "browser-act"
                                                            },
                                                            "label": "My BrowserAct connection (lada.huang2017@gmail.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:browser-act",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Search Workflows From",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "template",
                                                                "workflow"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "timeout",
                                                        "type": "uinteger",
                                                        "label": "Timeout"
                                                    },
                                                    {
                                                        "name": "templateId",
                                                        "type": "select",
                                                        "label": "Workflow",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "inputParameters",
                                                        "spec": [
                                                            {
                                                                "name": "SemanticScholar_Link",
                                                                "type": "text",
                                                                "validate": {}
                                                            },
                                                            {
                                                                "name": "Keyword",
                                                                "type": "text",
                                                                "validate": {}
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Input Parameters"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 11,
                                            "module": "util:GetVariables",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "variables": [
                                                    "SemanticScholarOutput"
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "variables": {
                                                            "items": [
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "variables",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "text",
                                                            "label": "Variable name",
                                                            "required": true
                                                        },
                                                        "type": "array",
                                                        "label": "Variables"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "SemanticScholarOutput",
                                                        "type": "any",
                                                        "label": "SemanticScholarOutput"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 9,
                                            "module": "ai-tools:Ask",
                                            "version": 2,
                                            "parameters": {
                                                "model": "gpt-5",
                                                "makeConnectionId": 5412689
                                            },
                                            "mapper": {
                                                "input": "Analyze the `{{8.output.string}}` & `{{11.SemanticScholarOutput}}` JSON arrays, which contain scientific article records.\r\n\r\n**Core Task:**\r\nFor each article, extract the `Name`, `Authors`, `Abstract`, and `URL`. Your goal is to generate a summary for each article, formatted using Telegram-compatible HTML.\r\n\r\n**Formatting Rules:**\r\n\r\n1.  **Valid Tags Only:** You *must* only use `<b>`, `<i>`, and `<a href=\"...\">`.\r\n2.  **No Invalid Tags:** DO NOT use `<h1>`, `<h2>`, `<p>`, `<hr>`, or any other tag.\r\n3.  **Structure:**\r\n      * Use `<b>...</b>` for the main title (e.g., `<b>Scientific Article Summaries</b>`) at the beginning of the *first* message only.\r\n      * Use `<b>...</b>` for each article's `Name` and for all labels (e.g., `<b>Authors:</b>`).\r\n      * Use `<i>...</i>` for any `Opinion` you add.\r\n      * Use newlines (`\\n`) for spacing.\r\n      * Use two newlines (`\\n\\n`) to separate each article.\r\n4.  **Content:**\r\n      * Summarize the `Abstract` concisely.\r\n      * You may add a brief `<i>Opinion: ...</i>` if you have relevant context.\r\n\r\n**Critical Output Format:**\r\nYour *entire* response must be a single **JSON array**.\r\n\r\n  * Each element in the array must be an **object**.\r\n  * Each object must contain a single key named **`\"Text\"`**.\r\n  * The value of this `\"Text\"` key must be the **string** payload for a single Telegram message.\r\n  * Each `\"Text\"` string payload must be **under the 4096-character limit**.\r\n  * **Splitting Logic:** You must only split messages *between* articles (at the `\\n\\n` separator). Do not cut a single article's content in half.\r\n  * Do not include *any* other text, backticks, or explanations outside of the final JSON array.\r\n\r\n**Example of expected final output structure:**\r\n\r\n```json\r\n[\r\n  {\r\n    \"Text\": \"<b>Scientific Article Summaries</b>\\n\\n<b>Article 1 Title</b>\\n<b>Authors:</b> ...\\n<b>Abstract (concise):</b> ...\\n<b>URL:</b> <a href=\\\"...\\\">...</a>\\n<i>Opinion: ...</i>\\n\\n<b>Article 2 Title</b>\\n...\"\r\n  },\r\n  {\r\n    \"Text\": \"<b>Article 3 Title</b>\\n<b>Authors:</b> ...\\n<b>Abstract (concise):</b> ...\\n<b>URL:</b> <a href=\\\"...\\\">...</a>\\n<i>Opinion: ...</i>\\n\\n<b>Article 4 Title</b>\\n...\"\r\n  }\r\n]\r\n```"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "model": {
                                                            "mode": "chose",
                                                            "label": "gpt-5"
                                                        },
                                                        "makeConnectionId": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "openai-gpt-3"
                                                            },
                                                            "label": "My OpenAI connection",
                                                            "nested": [
                                                                {
                                                                    "name": "model",
                                                                    "type": "select",
                                                                    "label": "Model",
                                                                    "options": {
                                                                        "store": "rpc://ai-tools/2/RpcGetModels?connectionId={{makeConnectionId}}&teamId=1169971"
                                                                    },
                                                                    "mappable": true,
                                                                    "required": true
                                                                }
                                                            ]
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "makeConnectionId",
                                                        "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
                                                        "label": "Connection",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "model",
                                                        "type": "select",
                                                        "label": "Model",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "input",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 17,
                                            "module": "json:ParseJSON",
                                            "version": 1,
                                            "parameters": {
                                                "type": 217657
                                            },
                                            "mapper": {
                                                "json": "{{9.answer}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "type": {
                                                            "label": "My data structure"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "type",
                                                        "type": "udt",
                                                        "label": "Data structure"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "json",
                                                        "type": "text",
                                                        "label": "JSON string",
                                                        "required": true
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "help": "",
                                                        "name": "Text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "default": null,
                                                        "required": false,
                                                        "multiline": false
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 12,
                                            "module": "telegram:SendReplyMessage",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "text": "{{17.Text}}",
                                                "chatId": "{{1.message.chat.id}}",
                                                "parseMode": "HTML",
                                                "replyMarkup": "",
                                                "messageThreadId": "",
                                                "replyToMessageId": "",
                                                "disableNotification": true,
                                                "disableWebPagePreview": false,
                                                "replyMarkupAssembleType": "reply_markup_enter"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3000,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "parseMode": {
                                                            "label": "HTML"
                                                        },
                                                        "disableNotification": {
                                                            "mode": "chose"
                                                        },
                                                        "replyMarkupAssembleType": {
                                                            "label": "Enter the Reply Markup"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "telegram"
                                                            },
                                                            "label": "My Telegram Bot connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:telegram",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "chatId",
                                                        "type": "text",
                                                        "label": "Chat ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "messageThreadId",
                                                        "type": "number",
                                                        "label": "Message Thread ID"
                                                    },
                                                    {
                                                        "name": "parseMode",
                                                        "type": "select",
                                                        "label": "Parse Mode",
                                                        "validate": {
                                                            "enum": [
                                                                "Markdown",
                                                                "HTML"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "disableNotification",
                                                        "type": "boolean",
                                                        "label": "Disable Notifications"
                                                    },
                                                    {
                                                        "name": "disableWebPagePreview",
                                                        "type": "boolean",
                                                        "label": "Disable Link Previews"
                                                    },
                                                    {
                                                        "name": "replyToMessageId",
                                                        "type": "number",
                                                        "label": "Original Message ID"
                                                    },
                                                    {
                                                        "name": "replyMarkupAssembleType",
                                                        "type": "select",
                                                        "label": "Enter/Assemble the Reply Markup Field",
                                                        "validate": {
                                                            "enum": [
                                                                "reply_markup_enter",
                                                                "reply_markup_assemble"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "replyMarkup",
                                                        "type": "text",
                                                        "label": "Reply Markup"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.answer}}",
                                            "b": "DontStart",
                                            "o": "text:equal:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "Could you please provide a search topic?",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "My Telegram Bot connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}