Make example flows 2/BrowserAct Product Advisor Workflow.blueprint.json
{
    "name": "BrowserAct Product Advisor Workflow",
    "flow": [
        {
            "id": 2,
            "module": "telegram:WatchUpdates",
            "version": 1,
            "parameters": {},
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:telegramapi",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "ai-tools:Ask",
            "version": 2,
            "parameters": {
                "model": "large"
            },
            "mapper": {
                "input": "Analyze the following message:\n\n\"{{2.message.text}}\"\n\n**Instructions:**\n1.  **Output TRUE if:** The user is asking to search for product **reviews, quality, recommendations, comparisons, or asking for an opinion on a specific product or product type.**\n\n2.  **Output FALSE if:** The user is having a general conversation, asking about service policies (e.g., shipping, returns), asking for store information, or asking a question unrelated to product evaluation/search.\n\n**Response Format:**\nOutput a single word, case-sensitive.\n\n**Output:** Only send True or False To output"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "model": {
                            "mode": "chose",
                            "label": "Large (GPT-5 Mini)"
                        },
                        "makeConnectionId": {
                            "data": {
                                "scoped": "true",
                                "connection": "ai-provider"
                            },
                            "label": "My Make's AI Provider connection",
                            "nested": [
                                {
                                    "name": "model",
                                    "type": "select",
                                    "label": "Model",
                                    "options": {
                                        "store": "rpc://ai-tools/2/RpcGetModels?connectionId={{makeConnectionId}}&teamId=1169971"
                                    },
                                    "mappable": true,
                                    "required": true,
                                    "forceReload": true
                                }
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "makeConnectionId",
                        "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "input",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.answer}}",
                                            "b": "False",
                                            "o": "text:equal:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "Please Provide More Data about Product You Want to invest on.",
                                "chatId": "{{2.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "Smart Telegram Bot connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "ai-tools:Ask",
                            "version": 2,
                            "parameters": {
                                "model": "large"
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.answer}}",
                                            "b": "True",
                                            "o": "text:equal:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "input": "Analyze the following user message:\n\n\"{{2.message.text}}\"\n\n**Instructions:**\n1.  Generate a **single, relevant keyword phrase** (not necessarily a single word) that captures the main product or topic of the message.\n2.  **Strict Exclusion:** The generated keyword must **NOT** contain any words or phrases related to evaluation, opinion, purchasing intent, or specific platforms. Examples of words to exclude are: 'review', 'reddit', 'how to', 'should I buy', 'best', 'vs', 'price', 'cheap', 'discount', 'for sale', 'opinion', 'quality', or similar evaluative terms.\n3.  Focus only on the **Product Name** or **Core Topic** being discussed.\n\n**Example Input:** \"What are the latest reviews for the new Sony 4K OLED TV A95L model?\"\n**Example Output:** Sony 4K OLED TV A95L\n\n**Response Format:**\nOutput only the generated keyword phrase.\n\n**Output:** [Generated Keyword]"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "Large (GPT-5 Mini)"
                                        },
                                        "makeConnectionId": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "ai-provider"
                                            },
                                            "label": "My Make's AI Provider connection",
                                            "nested": [
                                                {
                                                    "name": "model",
                                                    "type": "select",
                                                    "label": "Model",
                                                    "options": {
                                                        "store": "rpc://ai-tools/2/RpcGetModels?connectionId={{makeConnectionId}}&teamId=1169971"
                                                    },
                                                    "mappable": true,
                                                    "required": true,
                                                    "forceReload": true
                                                }
                                            ]
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "makeConnectionId",
                                        "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "input",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "text": "Ok, Gimme a moment. iwill now check web for {{7.answer}}",
                                "chatId": "{{2.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "Smart Telegram Bot connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "browser-act:test",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "type": "template",
                                "timeout": "3600",
                                "templateId": "64892387563954358",
                                "inputParameters": {
                                    "Keyword": "{{7.answer}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "mode": "chose",
                                            "label": "Template Marketplace"
                                        },
                                        "templateId": {
                                            "mode": "chose",
                                            "label": "Intelligent Commerce Assistant: Google & Reddit Product Research Bot",
                                            "nested": [
                                                {
                                                    "name": "inputParameters",
                                                    "spec": [
                                                        {
                                                            "help": "If left blank, the default value defined in BrowserAct will be used.",
                                                            "name": "Target_link_Google",
                                                            "type": "text",
                                                            "label": "Target_link_Google",
                                                            "required": false,
                                                            "validate": {}
                                                        },
                                                        {
                                                            "help": "If left blank, the default value defined in BrowserAct will be used.",
                                                            "name": "Keyword",
                                                            "type": "text",
                                                            "label": "Keyword",
                                                            "required": false,
                                                            "validate": {}
                                                        },
                                                        {
                                                            "help": "If left blank, the default value defined in BrowserAct will be used.",
                                                            "name": "Target_link_Reddit",
                                                            "type": "text",
                                                            "label": "Target_link_Reddit",
                                                            "required": false,
                                                            "validate": {}
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Input Parameters",
                                                    "required": false
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "browser-act"
                                            },
                                            "label": "Jett  BrowserAct  connection (yaoziheng231@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:browser-act",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Search Workflows From",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "template",
                                                "workflow"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout"
                                    },
                                    {
                                        "name": "templateId",
                                        "type": "select",
                                        "label": "Workflow",
                                        "required": true
                                    },
                                    {
                                        "name": "inputParameters",
                                        "spec": [
                                            {
                                                "name": "Target_link_Google",
                                                "type": "text",
                                                "validate": {}
                                            },
                                            {
                                                "name": "Keyword",
                                                "type": "text",
                                                "validate": {}
                                            },
                                            {
                                                "name": "Target_link_Reddit",
                                                "type": "text",
                                                "validate": {}
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Input Parameters"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 9,
                            "module": "ai-tools:Ask",
                            "version": 2,
                            "parameters": {
                                "model": "large"
                            },
                            "mapper": {
                                "input": "Analyze the provided review data, contained in the variable {{8.output.string}}.\n\nTask: Generate a single, comprehensive text message formatted for the Telegram Bot API.\n\nMessage Requirements:\n\nTone: Engaging, objective, and user-friendly (using Telegram formatting like bold or bullet points where appropriate).\n\nCompleteness: Must summarize everything about the product based only on the provided review data.\n\nStructure:\n\nProduct Summary: A brief, eye-catching summary of the product's overall reception.\n\nUpsides (Pros): A clear, bulleted list of the product's top strengths as mentioned in the reviews.\n\nDownsides (Cons): A clear, bulleted list of the most frequent or critical pain points/complaints in the reviews.\n\nFinal Recommendation: A final, definitive recommendation for a prospective user or buyer, justified by the analysis of the Pros and Cons\n\nSend Final Text only to Answer Nothing Else"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "Large (GPT-5 Mini)"
                                        },
                                        "makeConnectionId": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "ai-provider"
                                            },
                                            "label": "My Make's AI Provider connection",
                                            "nested": [
                                                {
                                                    "name": "model",
                                                    "type": "select",
                                                    "label": "Model",
                                                    "options": {
                                                        "store": "rpc://ai-tools/2/RpcGetModels?connectionId={{makeConnectionId}}&teamId=1169971"
                                                    },
                                                    "mappable": true,
                                                    "required": true,
                                                    "forceReload": true
                                                }
                                            ]
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "makeConnectionId",
                                        "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "input",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "text": "{{9.answer}}",
                                "chatId": "{{2.message.chat.id}}",
                                "parseMode": "Markdown",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Markdown"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "Smart Telegram Bot connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}