Make example flows 2/Bulk Create Images from OpenAI text using Layerre.blueprint.json
{
    "name": "Bulk Create Images from OpenAI text using Layerre",
    "flow": [
        {
            "id": 2,
            "module": "openai-gpt-3:askAnything",
            "version": 1,
            "parameters": {},
            "mapper": {
                "model": "gpt-5.2",
                "textPrompt": "Generate exactly 2 inspirational quotes.\n\nReturn only valid JSON in this format:\n\n{\n  \"quotes\": [\n    \"Quote 1\",\n    \"Quote 2\"\n  ]\n}\n\nRequirements:\n- Exactly 2 items.\n- Each item must be a string.\n- No extra text outside the JSON.\n- No numbering, no IDs, no metadata."
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "model": {
                            "label": "GPT-5.2The most advanced model with superior reasoning, speed, and instruction-following for complex, real-world tasks"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true,
                        "validate": {
                            "enum": [
                                "gpt-5.2",
                                "gpt-5.1",
                                "gpt-5",
                                "gpt-5-nano",
                                "gpt-5-mini"
                            ]
                        }
                    },
                    {
                        "name": "textPrompt",
                        "type": "text",
                        "label": "Text prompt",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 286741
            },
            "mapper": {
                "json": "{{2.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Quotes Array"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "quotes",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Value",
                            "default": null,
                            "required": false,
                            "multiline": false
                        },
                        "type": "array",
                        "label": "Quotes",
                        "required": false
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{10.quotes}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "layerre:CreateVariant",
            "version": 1,
            "parameters": {},
            "mapper": {
                "overrides": [
                    {
                        "layer_id": "2139cfa0-f1cb-4ea5-8bf2-8cb84571810d",
                        "properties": {
                            "text": "{{8.value}}"
                        }
                    }
                ],
                "export_type": "png",
                "template_id": "e5ad37f1-53a0-47fd-ba3a-df438fe2d14d"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "overrides": {
                            "mode": "chose",
                            "items": [
                                {
                                    "properties": {
                                        "nested": {
                                            "text_align": {
                                                "mode": "chose",
                                                "label": "Empty"
                                            },
                                            "flip_vertical": {
                                                "mode": "chose"
                                            },
                                            "flip_horizontal": {
                                                "mode": "chose"
                                            }
                                        }
                                    }
                                }
                            ]
                        },
                        "export_type": {
                            "mode": "chose",
                            "label": "PNG"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "layerre"
                            },
                            "label": "My Layerre connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:layerre",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "template_id",
                        "type": "uuid",
                        "label": "Template ID",
                        "required": true
                    },
                    {
                        "name": "width",
                        "type": "number",
                        "label": "Width"
                    },
                    {
                        "name": "height",
                        "type": "number",
                        "label": "Height"
                    },
                    {
                        "name": "export_type",
                        "type": "select",
                        "label": "Export Type",
                        "validate": {
                            "enum": [
                                "png",
                                "pdf",
                                "jpeg",
                                "webp"
                            ]
                        }
                    },
                    {
                        "name": "overrides",
                        "spec": [
                            {
                                "name": "layer_id",
                                "type": "text",
                                "label": "Layer ID",
                                "required": true
                            },
                            {
                                "name": "x",
                                "type": "number",
                                "label": "X Position"
                            },
                            {
                                "name": "y",
                                "type": "number",
                                "label": "Y Position"
                            },
                            {
                                "name": "properties",
                                "spec": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "color",
                                        "type": "text",
                                        "label": "Color"
                                    },
                                    {
                                        "name": "font_size",
                                        "type": "number",
                                        "label": "Font Size"
                                    },
                                    {
                                        "name": "font_name",
                                        "type": "text",
                                        "label": "Font Name"
                                    },
                                    {
                                        "name": "text_align",
                                        "type": "select",
                                        "label": "Text Align",
                                        "options": [
                                            {
                                                "label": "Left",
                                                "value": "left"
                                            },
                                            {
                                                "label": "Center",
                                                "value": "center"
                                            },
                                            {
                                                "label": "Right",
                                                "value": "right"
                                            },
                                            {
                                                "label": "Justify",
                                                "value": "justify"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "letter_spacing",
                                        "type": "number",
                                        "label": "Letter Spacing"
                                    },
                                    {
                                        "name": "line_spacing",
                                        "type": "number",
                                        "label": "Line Spacing"
                                    },
                                    {
                                        "name": "img_url",
                                        "type": "text",
                                        "label": "Image URL"
                                    },
                                    {
                                        "name": "opacity",
                                        "type": "number",
                                        "label": "Opacity"
                                    },
                                    {
                                        "name": "flip_horizontal",
                                        "type": "boolean",
                                        "label": "Flip Horizontal"
                                    },
                                    {
                                        "name": "flip_vertical",
                                        "type": "boolean",
                                        "label": "Flip Vertical"
                                    },
                                    {
                                        "name": "rotation",
                                        "type": "number",
                                        "label": "Rotation"
                                    },
                                    {
                                        "name": "width",
                                        "type": "number",
                                        "label": "Width"
                                    },
                                    {
                                        "name": "height",
                                        "type": "number",
                                        "label": "Height"
                                    }
                                ],
                                "type": "collection",
                                "label": "Properties"
                            }
                        ],
                        "type": "array",
                        "label": "Layer Overrides"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}