Make example flows 2/Capture your employee's special requests on Airtable and send Slack notifications.blueprint.json
{
    "name": "Capture your employee's special requests on Airtable and send Slack notifications",
    "flow": [
        {
            "id": 1,
            "module": "typeform:WatchEventsWithResponses",
            "version": 2,
            "parameters": {},
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "form_id",
                        "type": "text",
                        "label": "Form ID"
                    },
                    {
                        "name": "event",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            }
                        ],
                        "type": "collection",
                        "label": "Event"
                    },
                    {
                        "name": "token",
                        "type": "text",
                        "label": "Token"
                    },
                    {
                        "name": "submitted_at",
                        "type": "date",
                        "label": "Submitted at"
                    },
                    {
                        "name": "landed_at",
                        "type": "date",
                        "label": "Landed at"
                    },
                    {
                        "name": "calculated",
                        "spec": [
                            {
                                "name": "score",
                                "type": "number",
                                "label": "Score"
                            }
                        ],
                        "type": "collection",
                        "label": "Calculated"
                    },
                    {
                        "name": "definition",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "fields",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "title",
                                            "type": "text",
                                            "label": "Title"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "ref",
                                            "type": "text",
                                            "label": "Internal Name"
                                        },
                                        {
                                            "name": "allow_multiple_selections",
                                            "type": "boolean",
                                            "label": "Allow Multiple Selections"
                                        },
                                        {
                                            "name": "allow_other_choice",
                                            "type": "boolean",
                                            "label": "Allow Other Choice"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Fields"
                            }
                        ],
                        "type": "collection",
                        "label": "Definition"
                    },
                    {
                        "name": "answers",
                        "spec": [
                            {
                                "name": "field",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "ref",
                                        "type": "text",
                                        "label": "Internal Name"
                                    }
                                ],
                                "type": "collection",
                                "label": "Field"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "boolean",
                                "type": "boolean",
                                "label": "Boolean"
                            },
                            {
                                "name": "number",
                                "type": "number",
                                "label": "Number"
                            },
                            {
                                "name": "date",
                                "type": "date",
                                "label": "Date"
                            },
                            {
                                "name": "long_text",
                                "type": "text",
                                "label": "Long Text"
                            },
                            {
                                "name": "short_text",
                                "type": "text",
                                "label": "Short Text"
                            },
                            {
                                "name": "file_url",
                                "type": "url",
                                "label": "File URL"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "phone_number",
                                "type": "text",
                                "label": "Phone Number"
                            },
                            {
                                "name": "choice",
                                "spec": [
                                    {
                                        "name": "label",
                                        "type": "text",
                                        "label": "Label"
                                    },
                                    {
                                        "name": "other",
                                        "type": "text",
                                        "label": "Other"
                                    }
                                ],
                                "type": "collection",
                                "label": "Choice"
                            },
                            {
                                "name": "choices",
                                "spec": [
                                    {
                                        "name": "labels",
                                        "spec": {
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Labels"
                                    }
                                ],
                                "type": "collection",
                                "label": "Choices"
                            }
                        ],
                        "type": "array",
                        "label": "Answers"
                    },
                    {
                        "name": "mappable_answers",
                        "spec": [
                            {
                                "name": "01FJTYDP9PXTHACM37FQ9KQS5B",
                                "type": "text",
                                "label": "Hello, what's your name?"
                            },
                            {
                                "name": "faf140a6-09a2-4849-84d9-95b5dea03bc1",
                                "type": "email",
                                "label": "Your email address"
                            },
                            {
                                "name": "2afab967-851c-4934-81d3-4778359331a5",
                                "type": "number",
                                "label": "Your phone number"
                            },
                            {
                                "name": "d7566cab-e640-4bdb-9042-59d3e14d5d6c",
                                "type": "text",
                                "label": "Please select your business type"
                            }
                        ],
                        "type": "collection",
                        "label": "Mappable Answers"
                    },
                    {
                        "name": "hidden",
                        "spec": [],
                        "type": "collection",
                        "label": "Hidden"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {},
            "mapper": {
                "table": "Table 1",
                "record": {
                    "fld3RAi4l4bn1eguE": "{{1.mappable_answers.`faf140a6-09a2-4849-84d9-95b5dea03bc1`}}",
                    "fld6T4yyKDChBRuSs": "{{1.mappable_answers.`01FJTYDP9PXTHACM37FQ9KQS5B`}}",
                    "fldFmor7VwcpD6o53": "{{1.mappable_answers.`2afab967-851c-4934-81d3-4778359331a5`}}",
                    "fldazZFfwmSNseeRv": "{{1.mappable_answers.`d7566cab-e640-4bdb-9042-59d3e14d5d6c`}}"
                },
                "typecast": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "table": {
                        "label": "Table 1"
                    },
                    "typecast": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fld6T4yyKDChBRuSs",
                                "type": "text",
                                "label": "Full Name"
                            },
                            {
                                "name": "fld3RAi4l4bn1eguE",
                                "type": "text",
                                "label": "Request"
                            },
                            {
                                "name": "fldjuu79O2NsHClfw",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "fldFmor7VwcpD6o53",
                                "time": false,
                                "type": "date",
                                "label": "Start date"
                            },
                            {
                                "name": "fldazZFfwmSNseeRv",
                                "type": "number",
                                "label": "Employee no"
                            },
                            {
                                "name": "fld5vsqj34lccU8WB",
                                "type": "text",
                                "label": "Send request?"
                            },
                            {
                                "name": "fldgS7OcEDlmssZBq",
                                "type": "text",
                                "label": "Recipient"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Full Name",
                        "type": "text",
                        "label": "Full Name"
                    },
                    {
                        "name": "Request",
                        "type": "text",
                        "label": "Request"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Start date",
                        "time": false,
                        "type": "date",
                        "label": "Start date"
                    },
                    {
                        "name": "Employee no",
                        "type": "number",
                        "label": "Employee no"
                    },
                    {
                        "name": "Send request?",
                        "type": "text",
                        "label": "Send request?"
                    },
                    {
                        "name": "Recipient",
                        "type": "text",
                        "label": "Recipient"
                    },
                    {
                        "name": "Created at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "Last Modified Time",
                        "type": "date",
                        "label": "Last Modified Time"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "slack:CreateMessage",
            "version": 4,
            "parameters": {},
            "mapper": {
                "text": "Hey! you have a new {{3.Request}} request.\nAirtable link {link}",
                "parse": false,
                "mrkdwn": true,
                "channelWType": "list"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parse": {
                        "mode": "chose"
                    },
                    "mrkdwn": {
                        "mode": "chose"
                    },
                    "link_names": {
                        "mode": "chose"
                    },
                    "channelWType": {
                        "label": "Select from the list"
                    },
                    "unfurl_links": {
                        "mode": "chose"
                    },
                    "unfurl_media": {
                        "mode": "chose"
                    },
                    "reply_broadcast": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "channelWType",
                        "type": "select",
                        "label": "Enter a channel ID or name",
                        "required": true,
                        "validate": {
                            "enum": [
                                "manualy",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "multiline": true
                    },
                    {
                        "name": "blocks",
                        "type": "text",
                        "label": "Blocks",
                        "multiline": true
                    },
                    {
                        "name": "thread_ts",
                        "type": "text",
                        "label": "Thread message ID (time stamp)"
                    },
                    {
                        "name": "reply_broadcast",
                        "type": "boolean",
                        "label": "Reply broadcast"
                    },
                    {
                        "name": "link_names",
                        "type": "boolean",
                        "label": "Link names"
                    },
                    {
                        "name": "parse",
                        "type": "boolean",
                        "label": "Parse message text"
                    },
                    {
                        "name": "mrkdwn",
                        "type": "boolean",
                        "label": "Use markdown"
                    },
                    {
                        "name": "unfurl_links",
                        "type": "boolean",
                        "label": "Unfurl primarily text-based content"
                    },
                    {
                        "name": "unfurl_media",
                        "type": "boolean",
                        "label": "Unfurl media content"
                    },
                    {
                        "name": "icon_emoji",
                        "type": "text",
                        "label": "Icon emoji"
                    },
                    {
                        "name": "icon_url",
                        "type": "url",
                        "label": "Icon url"
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "channelType",
                        "type": "select",
                        "label": "Channel type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "public",
                                "private",
                                "im",
                                "mpim"
                            ]
                        }
                    },
                    {
                        "name": "channel",
                        "type": "select",
                        "label": "User",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}