Make example flows 2/Capture Facebook leads and add them to Google Sheets and Salesforce.blueprint.json
{
    "name": "Capture Facebook leads and add them to Google Sheets and Salesforce",
    "flow": [
        {
            "id": 1,
            "module": "facebook-lead-ads:WatchLeads",
            "version": 2,
            "parameters": {
                "limit": 2
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:facebook",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "pageId",
                        "type": "select",
                        "label": "Page",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "formId",
                        "type": "select",
                        "label": "Form",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "leadgenId",
                        "type": "text",
                        "label": "Lead ID"
                    },
                    {
                        "name": "formId",
                        "type": "text",
                        "label": "Form ID"
                    },
                    {
                        "name": "dateCreated",
                        "type": "date",
                        "label": "Date created"
                    },
                    {
                        "name": "adId",
                        "type": "text",
                        "label": "Ad ID"
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "FULL_NAME",
                                "type": "text",
                                "label": "Full name"
                            },
                            {
                                "name": "EMAIL",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "0",
                                "type": "text",
                                "label": "What service/s do you require?"
                            }
                        ],
                        "type": "collection",
                        "label": "Field data"
                    },
                    {
                        "name": "isOrganic",
                        "type": "boolean",
                        "label": "Is organic"
                    },
                    {
                        "name": "adName",
                        "type": "text",
                        "label": "Ad name"
                    },
                    {
                        "name": "adsetId",
                        "type": "text",
                        "label": "Ad set ID"
                    },
                    {
                        "name": "adsetName",
                        "type": "text",
                        "label": "Adset name"
                    },
                    {
                        "name": "campaignId",
                        "type": "text",
                        "label": "Campaign ID"
                    },
                    {
                        "name": "campaignName",
                        "type": "text",
                        "label": "Campaign name"
                    },
                    {
                        "name": "customDisclaimerResponses",
                        "type": "collection",
                        "label": "Custom disclaimer responses"
                    },
                    {
                        "name": "homeListing",
                        "type": "collection",
                        "label": "Home listing"
                    },
                    {
                        "name": "partnerName",
                        "type": "text",
                        "label": "Partner name"
                    },
                    {
                        "name": "platform",
                        "type": "text",
                        "label": "Platform"
                    },
                    {
                        "name": "retailerItemId",
                        "type": "text",
                        "label": "Retailer item ID"
                    },
                    {
                        "name": "vehicle",
                        "type": "collection",
                        "label": "Vehicle"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {},
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {},
                "sheetId": "Home",
                "spreadsheetId": "/1bl6jS9mdStzPy8FYGM8cKb-IVvoynE7TL6Xq_oz_dvw",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Home"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Copy of 10 Competitive Analysis Templates – HubSpot "
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "A"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "B"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "C"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "D"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "E"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "F"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "G"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "H"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "I"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "J"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "K"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "L"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "M"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "N"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "O"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "P"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "Q"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "R"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "S"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "T"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "U"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "V"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "W"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "X"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "Y"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "Z"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (l.govender@make.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "A"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "B"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "C"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "D"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "E"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "F"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "G"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "H"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "I"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "J"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "K"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "L"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "M"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "N"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "O"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "P"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "Q"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "R"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "S"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "T"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "U"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "V"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "W"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "X"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "Y"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "Z"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "salesforce:createAResponsibleRecord",
            "version": 3,
            "parameters": {},
            "mapper": {
                "fields": {
                    "alias": "a",
                    "email": "{{1.data.email}}",
                    "phone": "{{1.data.phone_number}}",
                    "lastName": "name",
                    "username": "name",
                    "profileId": "00e2400000137xmAAA",
                    "localeSidKey": "af_ZA",
                    "custom_fields": {},
                    "timeZoneSidKey": "Pacific/Apia",
                    "emailEncodingKey": "UTF-8",
                    "communityNickname": "d",
                    "languageLocaleKey": "eng",
                    "emailPreferencesAutoBcc": false,
                    "userPermissionsOfflineUser": false,
                    "userPermissionsSupportUser": false,
                    "userPermissionsKnowledgeUser": false,
                    "userPermissionsMarketingUser": false,
                    "userPermissionsSFContentUser": false,
                    "userPreferencesContentNoEmail": false,
                    "userPreferencesJigsawListUser": false,
                    "userPermissionsInteractionUser": false,
                    "userPreferencesHideS1BrowserUI": false,
                    "userPreferencesCacheDiagnostics": false,
                    "userPreferencesDisableLikeEmail": false,
                    "userPreferencesFavoritesWTShown": false,
                    "userPreferencesPreviewLightning": false,
                    "userPreferencesReminderSoundOff": false,
                    "userPreferencesHideSfxWelcomeMat": false,
                    "userPreferencesNativeEmailClient": false,
                    "userPreferencesSortFeedByComment": false,
                    "userPreferencesUserDebugModePref": false,
                    "userPermissionsChatterAnswersUser": false,
                    "userPreferencesHideCSNDesktopTask": false,
                    "userPreferencesPreviewCustomTheme": false,
                    "emailPreferencesAutoBccStayInTouch": false,
                    "userPermissionsCallCenterAutoLogin": false,
                    "userPreferencesDisableMessageEmail": false,
                    "userPreferencesGlobalNavBarWTShown": false,
                    "userPreferencesHasCelebrationBadge": false,
                    "userPreferencesHasSentWarningEmail": false,
                    "userPreferencesShowFaxToGuestUsers": false,
                    "emailPreferencesStayInTouchReminder": false,
                    "userPreferencesCreateLEXAppsWTShown": false,
                    "userPreferencesDisableAllFeedsEmail": false,
                    "userPreferencesDisableBookmarkEmail": false,
                    "userPreferencesShowCityToGuestUsers": false,
                    "userPermissionsJigsawProspectingUser": false,
                    "userPermissionsWorkDotComUserFeature": false,
                    "userPreferencesContentEmailAsAndWhen": false,
                    "userPreferencesDisableFollowersEmail": false,
                    "userPreferencesDisableSharePostEmail": false,
                    "userPreferencesEnableAutoSubForFeeds": false,
                    "userPreferencesSRHOverrideActivities": false,
                    "userPreferencesShowEmailToGuestUsers": false,
                    "userPreferencesShowStateToGuestUsers": false,
                    "userPreferencesShowTitleToGuestUsers": false,
                    "userPermissionsSiteforcePublisherUser": false,
                    "userPreferencesActivityRemindersPopup": false,
                    "userPreferencesApexPagesDeveloperMode": false,
                    "userPreferencesHideBiggerPhotoCallout": false,
                    "userPreferencesPathAssistantCollapsed": false,
                    "userPreferencesShowFaxToExternalUsers": false,
                    "userPreferencesDisMentionsCommentEmail": false,
                    "userPreferencesDisProfPostCommentEmail": false,
                    "userPreferencesDisableEndorsementEmail": false,
                    "userPreferencesDisableProfilePostEmail": false,
                    "userPreferencesShowCityToExternalUsers": false,
                    "userPreferencesShowCountryToGuestUsers": false,
                    "userPreferencesShowManagerToGuestUsers": false,
                    "userPermissionsSiteforceContributorUser": false,
                    "userPreferencesDisCommentAfterLikeEmail": false,
                    "userPreferencesDisableLaterCommentEmail": false,
                    "userPreferencesDisableMentionsPostEmail": false,
                    "userPreferencesGlobalNavGridMenuWTShown": false,
                    "userPreferencesShowEmailToExternalUsers": false,
                    "userPreferencesShowStateToExternalUsers": false,
                    "userPreferencesShowTitleToExternalUsers": false,
                    "userPreferencesSuppressTaskSFXReminders": false,
                    "userPreferencesDisableChangeCommentEmail": false,
                    "userPreferencesExcludeMailAppAttachments": false,
                    "userPreferencesFavoritesShowTopFavorites": false,
                    "userPreferencesHideLegacyRetirementModal": false,
                    "userPreferencesRecordHomeReservedWTShown": false,
                    "userPreferencesReverseOpenActivitiesView": false,
                    "userPreferencesShowWorkPhoneToGuestUsers": false,
                    "userPreferencesSuppressEventSFXReminders": false,
                    "userPreferencesShowCountryToExternalUsers": false,
                    "userPreferencesShowManagerToExternalUsers": false,
                    "userPreferencesShowPostalCodeToGuestUsers": false,
                    "userPreferencesShowProfilePicToGuestUsers": false,
                    "userPreferencesHideCSNGetChatterMobileTask": false,
                    "userPreferencesHideChatterOnboardingSplash": false,
                    "userPreferencesHideLightningMigrationModal": false,
                    "userPreferencesShowMobilePhoneToGuestUsers": false,
                    "userPreferencesLightningExperiencePreferred": false,
                    "userPreferencesShowForecastingChangeSignals": false,
                    "userPreferencesShowWorkPhoneToExternalUsers": false,
                    "userPreferencesTaskRemindersCheckboxDefault": false,
                    "userPreferencesEventRemindersCheckboxDefault": false,
                    "userPreferencesShowPostalCodeToExternalUsers": false,
                    "userPreferencesShowStreetAddressToGuestUsers": false,
                    "userPreferencesShowMobilePhoneToExternalUsers": false,
                    "userPreferencesNewLightningReportRunPageEnabled": false,
                    "userPreferencesReceiveNoNotificationsAsApprover": false,
                    "userPreferencesRecordHomeSectionCollapseWTShown": false,
                    "userPreferencesShowStreetAddressToExternalUsers": false,
                    "userPreferencesHideSecondChatterOnboardingSplash": false,
                    "userPreferencesDisableFileShareNotificationsForApi": false,
                    "userPreferencesHideEndUserOnboardingAssistantModal": false,
                    "userPreferencesReceiveNotificationsAsDelegatedApprover": false
                },
                "sObject": "User"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "fields": {
                            "nested": {
                                "isActive": {
                                    "mode": "chose"
                                },
                                "contactId": {
                                    "mode": "edit"
                                },
                                "managerId": {
                                    "mode": "edit"
                                },
                                "profileId": {
                                    "mode": "chose",
                                    "label": "System Administrator"
                                },
                                "userRoleId": {
                                    "mode": "edit"
                                },
                                "callCenterId": {
                                    "mode": "edit"
                                },
                                "individualId": {
                                    "mode": "edit"
                                },
                                "localeSidKey": {
                                    "mode": "chose",
                                    "label": "Afrikaans (South Africa)"
                                },
                                "custom_fields": {
                                    "nested": {
                                        "devintegromat__Interests__c": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "timeZoneSidKey": {
                                    "mode": "chose",
                                    "label": "(GMT+13:00) Apia Standard Time (Pacific/Apia)"
                                },
                                "digestFrequency": {
                                    "mode": "edit"
                                },
                                "forecastEnabled": {
                                    "mode": "chose"
                                },
                                "geocodeAccuracy": {
                                    "mode": "edit"
                                },
                                "emailEncodingKey": {
                                    "mode": "chose",
                                    "label": "Unicode (UTF-8)"
                                },
                                "languageLocaleKey": {
                                    "mode": "edit"
                                },
                                "receivesInfoEmails": {
                                    "mode": "chose"
                                },
                                "emailPreferencesAutoBcc": {
                                    "mode": "chose"
                                },
                                "receivesAdminInfoEmails": {
                                    "mode": "chose"
                                },
                                "userPermissionsOfflineUser": {
                                    "mode": "chose"
                                },
                                "userPermissionsSupportUser": {
                                    "mode": "chose"
                                },
                                "userPermissionsKnowledgeUser": {
                                    "mode": "chose"
                                },
                                "userPermissionsMarketingUser": {
                                    "mode": "chose"
                                },
                                "userPermissionsSFContentUser": {
                                    "mode": "chose"
                                },
                                "userPreferencesContentNoEmail": {
                                    "mode": "chose"
                                },
                                "userPreferencesJigsawListUser": {
                                    "mode": "chose"
                                },
                                "userPermissionsInteractionUser": {
                                    "mode": "chose"
                                },
                                "userPreferencesHideS1BrowserUI": {
                                    "mode": "chose"
                                },
                                "userPreferencesCacheDiagnostics": {
                                    "mode": "chose"
                                },
                                "userPreferencesDisableLikeEmail": {
                                    "mode": "chose"
                                },
                                "userPreferencesFavoritesWTShown": {
                                    "mode": "chose"
                                },
                                "userPreferencesPreviewLightning": {
                                    "mode": "chose"
                                },
                                "userPreferencesReminderSoundOff": {
                                    "mode": "chose"
                                },
                                "userPreferencesHideSfxWelcomeMat": {
                                    "mode": "chose"
                                },
                                "userPreferencesNativeEmailClient": {
                                    "mode": "chose"
                                },
                                "userPreferencesSortFeedByComment": {
                                    "mode": "chose"
                                },
                                "userPreferencesUserDebugModePref": {
                                    "mode": "chose"
                                },
                                "defaultGroupNotificationFrequency": {
                                    "mode": "edit"
                                },
                                "userPermissionsChatterAnswersUser": {
                                    "mode": "chose"
                                },
                                "userPreferencesHideCSNDesktopTask": {
                                    "mode": "chose"
                                },
                                "userPreferencesPreviewCustomTheme": {
                                    "mode": "chose"
                                },
                                "emailPreferencesAutoBccStayInTouch": {
                                    "mode": "chose"
                                },
                                "userPermissionsCallCenterAutoLogin": {
                                    "mode": "chose"
                                },
                                "userPreferencesDisableMessageEmail": {
                                    "mode": "chose"
                                },
                                "userPreferencesGlobalNavBarWTShown": {
                                    "mode": "chose"
                                },
                                "userPreferencesHasCelebrationBadge": {
                                    "mode": "chose"
                                },
                                "userPreferencesHasSentWarningEmail": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowFaxToGuestUsers": {
                                    "mode": "chose"
                                },
                                "emailPreferencesStayInTouchReminder": {
                                    "mode": "chose"
                                },
                                "userPreferencesCreateLEXAppsWTShown": {
                                    "mode": "chose"
                                },
                                "userPreferencesDisableAllFeedsEmail": {
                                    "mode": "chose"
                                },
                                "userPreferencesDisableBookmarkEmail": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowCityToGuestUsers": {
                                    "mode": "chose"
                                },
                                "userPermissionsJigsawProspectingUser": {
                                    "mode": "chose"
                                },
                                "userPermissionsWorkDotComUserFeature": {
                                    "mode": "chose"
                                },
                                "userPreferencesContentEmailAsAndWhen": {
                                    "mode": "chose"
                                },
                                "userPreferencesDisableFollowersEmail": {
                                    "mode": "chose"
                                },
                                "userPreferencesDisableSharePostEmail": {
                                    "mode": "chose"
                                },
                                "userPreferencesEnableAutoSubForFeeds": {
                                    "mode": "chose"
                                },
                                "userPreferencesSRHOverrideActivities": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowEmailToGuestUsers": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowStateToGuestUsers": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowTitleToGuestUsers": {
                                    "mode": "chose"
                                },
                                "userPermissionsSiteforcePublisherUser": {
                                    "mode": "chose"
                                },
                                "userPreferencesActivityRemindersPopup": {
                                    "mode": "chose"
                                },
                                "userPreferencesApexPagesDeveloperMode": {
                                    "mode": "chose"
                                },
                                "userPreferencesHideBiggerPhotoCallout": {
                                    "mode": "chose"
                                },
                                "userPreferencesPathAssistantCollapsed": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowFaxToExternalUsers": {
                                    "mode": "chose"
                                },
                                "userPreferencesDisMentionsCommentEmail": {
                                    "mode": "chose"
                                },
                                "userPreferencesDisProfPostCommentEmail": {
                                    "mode": "chose"
                                },
                                "userPreferencesDisableEndorsementEmail": {
                                    "mode": "chose"
                                },
                                "userPreferencesDisableProfilePostEmail": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowCityToExternalUsers": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowCountryToGuestUsers": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowManagerToGuestUsers": {
                                    "mode": "chose"
                                },
                                "userPermissionsSiteforceContributorUser": {
                                    "mode": "chose"
                                },
                                "userPreferencesDisCommentAfterLikeEmail": {
                                    "mode": "chose"
                                },
                                "userPreferencesDisableLaterCommentEmail": {
                                    "mode": "chose"
                                },
                                "userPreferencesDisableMentionsPostEmail": {
                                    "mode": "chose"
                                },
                                "userPreferencesGlobalNavGridMenuWTShown": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowEmailToExternalUsers": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowStateToExternalUsers": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowTitleToExternalUsers": {
                                    "mode": "chose"
                                },
                                "userPreferencesSuppressTaskSFXReminders": {
                                    "mode": "chose"
                                },
                                "userPreferencesDisableChangeCommentEmail": {
                                    "mode": "chose"
                                },
                                "userPreferencesExcludeMailAppAttachments": {
                                    "mode": "chose"
                                },
                                "userPreferencesFavoritesShowTopFavorites": {
                                    "mode": "chose"
                                },
                                "userPreferencesHideLegacyRetirementModal": {
                                    "mode": "chose"
                                },
                                "userPreferencesRecordHomeReservedWTShown": {
                                    "mode": "chose"
                                },
                                "userPreferencesReverseOpenActivitiesView": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowWorkPhoneToGuestUsers": {
                                    "mode": "chose"
                                },
                                "userPreferencesSuppressEventSFXReminders": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowCountryToExternalUsers": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowManagerToExternalUsers": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowPostalCodeToGuestUsers": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowProfilePicToGuestUsers": {
                                    "mode": "chose"
                                },
                                "userPreferencesHideCSNGetChatterMobileTask": {
                                    "mode": "chose"
                                },
                                "userPreferencesHideChatterOnboardingSplash": {
                                    "mode": "chose"
                                },
                                "userPreferencesHideLightningMigrationModal": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowMobilePhoneToGuestUsers": {
                                    "mode": "chose"
                                },
                                "userPreferencesLightningExperiencePreferred": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowForecastingChangeSignals": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowWorkPhoneToExternalUsers": {
                                    "mode": "chose"
                                },
                                "userPreferencesTaskRemindersCheckboxDefault": {
                                    "mode": "chose"
                                },
                                "userPreferencesEventRemindersCheckboxDefault": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowPostalCodeToExternalUsers": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowStreetAddressToGuestUsers": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowMobilePhoneToExternalUsers": {
                                    "mode": "chose"
                                },
                                "userPreferencesNewLightningReportRunPageEnabled": {
                                    "mode": "chose"
                                },
                                "userPreferencesReceiveNoNotificationsAsApprover": {
                                    "mode": "chose"
                                },
                                "userPreferencesRecordHomeSectionCollapseWTShown": {
                                    "mode": "chose"
                                },
                                "userPreferencesShowStreetAddressToExternalUsers": {
                                    "mode": "chose"
                                },
                                "userPreferencesHideSecondChatterOnboardingSplash": {
                                    "mode": "chose"
                                },
                                "userPreferencesDisableFileShareNotificationsForApi": {
                                    "mode": "chose"
                                },
                                "userPreferencesHideEndUserOnboardingAssistantModal": {
                                    "mode": "chose"
                                },
                                "userPreferencesReceiveNotificationsAsDelegatedApprover": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "sObject": {
                            "label": "User"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "salesforce"
                            },
                            "label": "My Salesforce connection (development@integromat.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:salesforce,salesforce2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "sObject",
                        "type": "select",
                        "label": "Type",
                        "required": true
                    },
                    {
                        "name": "fields",
                        "spec": [
                            {
                                "name": "username",
                                "type": "text",
                                "label": "Username (Username)",
                                "metadata": {
                                    "type": "string"
                                },
                                "required": true
                            },
                            {
                                "name": "lastName",
                                "type": "text",
                                "label": "Last Name (LastName)",
                                "metadata": {
                                    "type": "string"
                                },
                                "required": true
                            },
                            {
                                "name": "firstName",
                                "type": "text",
                                "label": "First Name (FirstName)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "companyName",
                                "type": "text",
                                "label": "Company Name (CompanyName)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "division",
                                "type": "text",
                                "label": "Division (Division)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "department",
                                "type": "text",
                                "label": "Department (Department)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title (Title)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "street",
                                "type": "text",
                                "label": "Street (Street)",
                                "metadata": {
                                    "type": "textarea"
                                }
                            },
                            {
                                "name": "city",
                                "type": "text",
                                "label": "City (City)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State/Province (State)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "postalCode",
                                "type": "text",
                                "label": "Zip/Postal Code (PostalCode)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "country",
                                "type": "text",
                                "label": "Country (Country)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "latitude",
                                "type": "number",
                                "label": "Latitude (Latitude)",
                                "metadata": {
                                    "type": "double"
                                }
                            },
                            {
                                "name": "longitude",
                                "type": "number",
                                "label": "Longitude (Longitude)",
                                "metadata": {
                                    "type": "double"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "geocodeAccuracy",
                                "type": "select",
                                "label": "Geocode Accuracy (GeocodeAccuracy)",
                                "metadata": {
                                    "type": "picklist"
                                }
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email (Email)",
                                "metadata": {
                                    "type": "email"
                                },
                                "required": true
                            },
                            {
                                "name": "emailPreferencesAutoBcc",
                                "type": "boolean",
                                "label": "AutoBcc (EmailPreferencesAutoBcc)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "emailPreferencesAutoBccStayInTouch",
                                "type": "boolean",
                                "label": "AutoBccStayInTouch (EmailPreferencesAutoBccStayInTouch)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "emailPreferencesStayInTouchReminder",
                                "type": "boolean",
                                "label": "StayInTouchReminder (EmailPreferencesStayInTouchReminder)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "senderEmail",
                                "type": "email",
                                "label": "Email Sender Address (SenderEmail)",
                                "metadata": {
                                    "type": "email"
                                }
                            },
                            {
                                "name": "senderName",
                                "type": "text",
                                "label": "Email Sender Name (SenderName)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "signature",
                                "type": "text",
                                "label": "Email Signature (Signature)",
                                "metadata": {
                                    "type": "textarea"
                                }
                            },
                            {
                                "name": "stayInTouchSubject",
                                "type": "text",
                                "label": "Stay-in-Touch Email Subject (StayInTouchSubject)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "stayInTouchSignature",
                                "type": "text",
                                "label": "Stay-in-Touch Email Signature (StayInTouchSignature)",
                                "metadata": {
                                    "type": "textarea"
                                }
                            },
                            {
                                "name": "stayInTouchNote",
                                "type": "text",
                                "label": "Stay-in-Touch Email Note (StayInTouchNote)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "phone",
                                "type": "text",
                                "label": "Phone (Phone)",
                                "metadata": {
                                    "type": "phone"
                                }
                            },
                            {
                                "name": "fax",
                                "type": "text",
                                "label": "Fax (Fax)",
                                "metadata": {
                                    "type": "phone"
                                }
                            },
                            {
                                "name": "mobilePhone",
                                "type": "text",
                                "label": "Mobile (MobilePhone)",
                                "metadata": {
                                    "type": "phone"
                                }
                            },
                            {
                                "name": "alias",
                                "type": "text",
                                "label": "Alias (Alias)",
                                "metadata": {
                                    "type": "string"
                                },
                                "required": true
                            },
                            {
                                "name": "communityNickname",
                                "type": "text",
                                "label": "Nickname (CommunityNickname)",
                                "metadata": {
                                    "type": "string"
                                },
                                "required": true
                            },
                            {
                                "name": "isActive",
                                "type": "boolean",
                                "label": "Active (IsActive)",
                                "metadata": {
                                    "type": "boolean"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "timeZoneSidKey",
                                "type": "select",
                                "label": "Time Zone (TimeZoneSidKey)",
                                "metadata": {
                                    "type": "picklist"
                                },
                                "required": true
                            },
                            {
                                "mode": "edit",
                                "name": "userRoleId",
                                "type": "select",
                                "label": "Role ID (UserRoleId)",
                                "metadata": {
                                    "type": "reference"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "localeSidKey",
                                "type": "select",
                                "label": "Locale (LocaleSidKey)",
                                "metadata": {
                                    "type": "picklist"
                                },
                                "required": true
                            },
                            {
                                "name": "receivesInfoEmails",
                                "type": "boolean",
                                "label": "Info Emails (ReceivesInfoEmails)",
                                "metadata": {
                                    "type": "boolean"
                                }
                            },
                            {
                                "name": "receivesAdminInfoEmails",
                                "type": "boolean",
                                "label": "Admin Info Emails (ReceivesAdminInfoEmails)",
                                "metadata": {
                                    "type": "boolean"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "emailEncodingKey",
                                "type": "select",
                                "label": "Email Encoding (EmailEncodingKey)",
                                "metadata": {
                                    "type": "picklist"
                                },
                                "required": true
                            },
                            {
                                "mode": "edit",
                                "name": "profileId",
                                "type": "select",
                                "label": "Profile ID (ProfileId)",
                                "metadata": {
                                    "type": "reference"
                                },
                                "required": true
                            },
                            {
                                "mode": "edit",
                                "name": "languageLocaleKey",
                                "type": "select",
                                "label": "Language (LanguageLocaleKey)",
                                "metadata": {
                                    "type": "picklist"
                                },
                                "required": true
                            },
                            {
                                "name": "employeeNumber",
                                "type": "text",
                                "label": "Employee Number (EmployeeNumber)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "delegatedApproverId",
                                "type": "text",
                                "label": "Delegated Approver ID (DelegatedApproverId)",
                                "metadata": {
                                    "type": "reference"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "managerId",
                                "type": "select",
                                "label": "Manager ID (ManagerId)",
                                "metadata": {
                                    "type": "reference"
                                }
                            },
                            {
                                "name": "userPermissionsMarketingUser",
                                "type": "boolean",
                                "label": "Marketing User (UserPermissionsMarketingUser)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPermissionsOfflineUser",
                                "type": "boolean",
                                "label": "Offline User (UserPermissionsOfflineUser)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPermissionsCallCenterAutoLogin",
                                "type": "boolean",
                                "label": "Auto-login To Call Center (UserPermissionsCallCenterAutoLogin)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPermissionsSFContentUser",
                                "type": "boolean",
                                "label": "Salesforce CRM Content User (UserPermissionsSFContentUser)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPermissionsKnowledgeUser",
                                "type": "boolean",
                                "label": "Knowledge User (UserPermissionsKnowledgeUser)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPermissionsInteractionUser",
                                "type": "boolean",
                                "label": "Flow User (UserPermissionsInteractionUser)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPermissionsSupportUser",
                                "type": "boolean",
                                "label": "Service Cloud User (UserPermissionsSupportUser)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPermissionsJigsawProspectingUser",
                                "type": "boolean",
                                "label": "Data.com User (UserPermissionsJigsawProspectingUser)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPermissionsSiteforceContributorUser",
                                "type": "boolean",
                                "label": "Site.com Contributor User (UserPermissionsSiteforceContributorUser)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPermissionsSiteforcePublisherUser",
                                "type": "boolean",
                                "label": "Site.com Publisher User (UserPermissionsSiteforcePublisherUser)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPermissionsChatterAnswersUser",
                                "type": "boolean",
                                "label": "Chatter Answers User (UserPermissionsChatterAnswersUser)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPermissionsWorkDotComUserFeature",
                                "type": "boolean",
                                "label": "WDC User (UserPermissionsWorkDotComUserFeature)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "forecastEnabled",
                                "type": "boolean",
                                "label": "Allow Forecasting (ForecastEnabled)",
                                "metadata": {
                                    "type": "boolean"
                                }
                            },
                            {
                                "name": "userPreferencesActivityRemindersPopup",
                                "type": "boolean",
                                "label": "ActivityRemindersPopup (UserPreferencesActivityRemindersPopup)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesEventRemindersCheckboxDefault",
                                "type": "boolean",
                                "label": "EventRemindersCheckboxDefault (UserPreferencesEventRemindersCheckboxDefault)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesTaskRemindersCheckboxDefault",
                                "type": "boolean",
                                "label": "TaskRemindersCheckboxDefault (UserPreferencesTaskRemindersCheckboxDefault)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesReminderSoundOff",
                                "type": "boolean",
                                "label": "ReminderSoundOff (UserPreferencesReminderSoundOff)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesDisableAllFeedsEmail",
                                "type": "boolean",
                                "label": "DisableAllFeedsEmail (UserPreferencesDisableAllFeedsEmail)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesDisableFollowersEmail",
                                "type": "boolean",
                                "label": "DisableFollowersEmail (UserPreferencesDisableFollowersEmail)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesDisableProfilePostEmail",
                                "type": "boolean",
                                "label": "DisableProfilePostEmail (UserPreferencesDisableProfilePostEmail)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesDisableChangeCommentEmail",
                                "type": "boolean",
                                "label": "DisableChangeCommentEmail (UserPreferencesDisableChangeCommentEmail)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesDisableLaterCommentEmail",
                                "type": "boolean",
                                "label": "DisableLaterCommentEmail (UserPreferencesDisableLaterCommentEmail)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesDisProfPostCommentEmail",
                                "type": "boolean",
                                "label": "DisProfPostCommentEmail (UserPreferencesDisProfPostCommentEmail)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesContentNoEmail",
                                "type": "boolean",
                                "label": "ContentNoEmail (UserPreferencesContentNoEmail)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesContentEmailAsAndWhen",
                                "type": "boolean",
                                "label": "ContentEmailAsAndWhen (UserPreferencesContentEmailAsAndWhen)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesApexPagesDeveloperMode",
                                "type": "boolean",
                                "label": "ApexPagesDeveloperMode (UserPreferencesApexPagesDeveloperMode)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesReceiveNoNotificationsAsApprover",
                                "type": "boolean",
                                "label": "ReceiveNoNotificationsAsApprover (UserPreferencesReceiveNoNotificationsAsApprover)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesReceiveNotificationsAsDelegatedApprover",
                                "type": "boolean",
                                "label": "ReceiveNotificationsAsDelegatedApprover (UserPreferencesReceiveNotificationsAsDelegatedApprover)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesHideCSNGetChatterMobileTask",
                                "type": "boolean",
                                "label": "HideCSNGetChatterMobileTask (UserPreferencesHideCSNGetChatterMobileTask)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesDisableMentionsPostEmail",
                                "type": "boolean",
                                "label": "DisableMentionsPostEmail (UserPreferencesDisableMentionsPostEmail)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesDisMentionsCommentEmail",
                                "type": "boolean",
                                "label": "DisMentionsCommentEmail (UserPreferencesDisMentionsCommentEmail)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesHideCSNDesktopTask",
                                "type": "boolean",
                                "label": "HideCSNDesktopTask (UserPreferencesHideCSNDesktopTask)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesHideChatterOnboardingSplash",
                                "type": "boolean",
                                "label": "HideChatterOnboardingSplash (UserPreferencesHideChatterOnboardingSplash)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesHideSecondChatterOnboardingSplash",
                                "type": "boolean",
                                "label": "HideSecondChatterOnboardingSplash (UserPreferencesHideSecondChatterOnboardingSplash)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesDisCommentAfterLikeEmail",
                                "type": "boolean",
                                "label": "DisCommentAfterLikeEmail (UserPreferencesDisCommentAfterLikeEmail)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesDisableLikeEmail",
                                "type": "boolean",
                                "label": "DisableLikeEmail (UserPreferencesDisableLikeEmail)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesSortFeedByComment",
                                "type": "boolean",
                                "label": "SortFeedByComment (UserPreferencesSortFeedByComment)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesDisableMessageEmail",
                                "type": "boolean",
                                "label": "DisableMessageEmail (UserPreferencesDisableMessageEmail)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesHideLegacyRetirementModal",
                                "type": "boolean",
                                "label": "HideLegacyRetirementModal (UserPreferencesHideLegacyRetirementModal)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesJigsawListUser",
                                "type": "boolean",
                                "label": "JigsawListUser (UserPreferencesJigsawListUser)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesDisableBookmarkEmail",
                                "type": "boolean",
                                "label": "DisableBookmarkEmail (UserPreferencesDisableBookmarkEmail)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesDisableSharePostEmail",
                                "type": "boolean",
                                "label": "DisableSharePostEmail (UserPreferencesDisableSharePostEmail)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesEnableAutoSubForFeeds",
                                "type": "boolean",
                                "label": "EnableAutoSubForFeeds (UserPreferencesEnableAutoSubForFeeds)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesDisableFileShareNotificationsForApi",
                                "type": "boolean",
                                "label": "DisableFileShareNotificationsForApi (UserPreferencesDisableFileShareNotificationsForApi)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowTitleToExternalUsers",
                                "type": "boolean",
                                "label": "ShowTitleToExternalUsers (UserPreferencesShowTitleToExternalUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowManagerToExternalUsers",
                                "type": "boolean",
                                "label": "ShowManagerToExternalUsers (UserPreferencesShowManagerToExternalUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowEmailToExternalUsers",
                                "type": "boolean",
                                "label": "ShowEmailToExternalUsers (UserPreferencesShowEmailToExternalUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowWorkPhoneToExternalUsers",
                                "type": "boolean",
                                "label": "ShowWorkPhoneToExternalUsers (UserPreferencesShowWorkPhoneToExternalUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowMobilePhoneToExternalUsers",
                                "type": "boolean",
                                "label": "ShowMobilePhoneToExternalUsers (UserPreferencesShowMobilePhoneToExternalUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowFaxToExternalUsers",
                                "type": "boolean",
                                "label": "ShowFaxToExternalUsers (UserPreferencesShowFaxToExternalUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowStreetAddressToExternalUsers",
                                "type": "boolean",
                                "label": "ShowStreetAddressToExternalUsers (UserPreferencesShowStreetAddressToExternalUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowCityToExternalUsers",
                                "type": "boolean",
                                "label": "ShowCityToExternalUsers (UserPreferencesShowCityToExternalUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowStateToExternalUsers",
                                "type": "boolean",
                                "label": "ShowStateToExternalUsers (UserPreferencesShowStateToExternalUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowPostalCodeToExternalUsers",
                                "type": "boolean",
                                "label": "ShowPostalCodeToExternalUsers (UserPreferencesShowPostalCodeToExternalUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowCountryToExternalUsers",
                                "type": "boolean",
                                "label": "ShowCountryToExternalUsers (UserPreferencesShowCountryToExternalUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowProfilePicToGuestUsers",
                                "type": "boolean",
                                "label": "ShowProfilePicToGuestUsers (UserPreferencesShowProfilePicToGuestUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowTitleToGuestUsers",
                                "type": "boolean",
                                "label": "ShowTitleToGuestUsers (UserPreferencesShowTitleToGuestUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowCityToGuestUsers",
                                "type": "boolean",
                                "label": "ShowCityToGuestUsers (UserPreferencesShowCityToGuestUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowStateToGuestUsers",
                                "type": "boolean",
                                "label": "ShowStateToGuestUsers (UserPreferencesShowStateToGuestUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowPostalCodeToGuestUsers",
                                "type": "boolean",
                                "label": "ShowPostalCodeToGuestUsers (UserPreferencesShowPostalCodeToGuestUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowCountryToGuestUsers",
                                "type": "boolean",
                                "label": "ShowCountryToGuestUsers (UserPreferencesShowCountryToGuestUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowForecastingChangeSignals",
                                "type": "boolean",
                                "label": "ShowForecastingChangeSignals (UserPreferencesShowForecastingChangeSignals)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesHideS1BrowserUI",
                                "type": "boolean",
                                "label": "HideS1BrowserUI (UserPreferencesHideS1BrowserUI)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesDisableEndorsementEmail",
                                "type": "boolean",
                                "label": "DisableEndorsementEmail (UserPreferencesDisableEndorsementEmail)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesPathAssistantCollapsed",
                                "type": "boolean",
                                "label": "PathAssistantCollapsed (UserPreferencesPathAssistantCollapsed)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesCacheDiagnostics",
                                "type": "boolean",
                                "label": "CacheDiagnostics (UserPreferencesCacheDiagnostics)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowEmailToGuestUsers",
                                "type": "boolean",
                                "label": "ShowEmailToGuestUsers (UserPreferencesShowEmailToGuestUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowManagerToGuestUsers",
                                "type": "boolean",
                                "label": "ShowManagerToGuestUsers (UserPreferencesShowManagerToGuestUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowWorkPhoneToGuestUsers",
                                "type": "boolean",
                                "label": "ShowWorkPhoneToGuestUsers (UserPreferencesShowWorkPhoneToGuestUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowMobilePhoneToGuestUsers",
                                "type": "boolean",
                                "label": "ShowMobilePhoneToGuestUsers (UserPreferencesShowMobilePhoneToGuestUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowFaxToGuestUsers",
                                "type": "boolean",
                                "label": "ShowFaxToGuestUsers (UserPreferencesShowFaxToGuestUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesShowStreetAddressToGuestUsers",
                                "type": "boolean",
                                "label": "ShowStreetAddressToGuestUsers (UserPreferencesShowStreetAddressToGuestUsers)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesLightningExperiencePreferred",
                                "type": "boolean",
                                "label": "LightningExperiencePreferred (UserPreferencesLightningExperiencePreferred)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesPreviewLightning",
                                "type": "boolean",
                                "label": "PreviewLightning (UserPreferencesPreviewLightning)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesHideEndUserOnboardingAssistantModal",
                                "type": "boolean",
                                "label": "HideEndUserOnboardingAssistantModal (UserPreferencesHideEndUserOnboardingAssistantModal)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesHideLightningMigrationModal",
                                "type": "boolean",
                                "label": "HideLightningMigrationModal (UserPreferencesHideLightningMigrationModal)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesHideSfxWelcomeMat",
                                "type": "boolean",
                                "label": "HideSfxWelcomeMat (UserPreferencesHideSfxWelcomeMat)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesHideBiggerPhotoCallout",
                                "type": "boolean",
                                "label": "HideBiggerPhotoCallout (UserPreferencesHideBiggerPhotoCallout)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesGlobalNavBarWTShown",
                                "type": "boolean",
                                "label": "GlobalNavBarWTShown (UserPreferencesGlobalNavBarWTShown)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesGlobalNavGridMenuWTShown",
                                "type": "boolean",
                                "label": "GlobalNavGridMenuWTShown (UserPreferencesGlobalNavGridMenuWTShown)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesCreateLEXAppsWTShown",
                                "type": "boolean",
                                "label": "CreateLEXAppsWTShown (UserPreferencesCreateLEXAppsWTShown)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesFavoritesWTShown",
                                "type": "boolean",
                                "label": "FavoritesWTShown (UserPreferencesFavoritesWTShown)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesRecordHomeSectionCollapseWTShown",
                                "type": "boolean",
                                "label": "RecordHomeSectionCollapseWTShown (UserPreferencesRecordHomeSectionCollapseWTShown)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesRecordHomeReservedWTShown",
                                "type": "boolean",
                                "label": "RecordHomeReservedWTShown (UserPreferencesRecordHomeReservedWTShown)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesFavoritesShowTopFavorites",
                                "type": "boolean",
                                "label": "FavoritesShowTopFavorites (UserPreferencesFavoritesShowTopFavorites)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesExcludeMailAppAttachments",
                                "type": "boolean",
                                "label": "ExcludeMailAppAttachments (UserPreferencesExcludeMailAppAttachments)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesSuppressTaskSFXReminders",
                                "type": "boolean",
                                "label": "SuppressTaskSFXReminders (UserPreferencesSuppressTaskSFXReminders)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesSuppressEventSFXReminders",
                                "type": "boolean",
                                "label": "SuppressEventSFXReminders (UserPreferencesSuppressEventSFXReminders)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesPreviewCustomTheme",
                                "type": "boolean",
                                "label": "PreviewCustomTheme (UserPreferencesPreviewCustomTheme)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesHasCelebrationBadge",
                                "type": "boolean",
                                "label": "HasCelebrationBadge (UserPreferencesHasCelebrationBadge)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesUserDebugModePref",
                                "type": "boolean",
                                "label": "UserDebugModePref (UserPreferencesUserDebugModePref)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesSRHOverrideActivities",
                                "type": "boolean",
                                "label": "SRHOverrideActivities (UserPreferencesSRHOverrideActivities)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesNewLightningReportRunPageEnabled",
                                "type": "boolean",
                                "label": "NewLightningReportRunPageEnabled (UserPreferencesNewLightningReportRunPageEnabled)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesReverseOpenActivitiesView",
                                "type": "boolean",
                                "label": "ReverseOpenActivitiesView (UserPreferencesReverseOpenActivitiesView)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesHasSentWarningEmail",
                                "type": "boolean",
                                "label": "HasSentWarningEmail (UserPreferencesHasSentWarningEmail)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "name": "userPreferencesNativeEmailClient",
                                "type": "boolean",
                                "label": "NativeEmailClient (UserPreferencesNativeEmailClient)",
                                "metadata": {
                                    "type": "boolean"
                                },
                                "required": true
                            },
                            {
                                "mode": "edit",
                                "name": "contactId",
                                "type": "select",
                                "label": "Contact ID (ContactId)",
                                "metadata": {
                                    "type": "reference"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "callCenterId",
                                "type": "select",
                                "label": "Call Center ID (CallCenterId)",
                                "metadata": {
                                    "type": "reference"
                                }
                            },
                            {
                                "name": "extension",
                                "type": "text",
                                "label": "Extension (Extension)",
                                "metadata": {
                                    "type": "phone"
                                }
                            },
                            {
                                "name": "federationIdentifier",
                                "type": "text",
                                "label": "SAML Federation ID (FederationIdentifier)",
                                "metadata": {
                                    "type": "string"
                                }
                            },
                            {
                                "name": "aboutMe",
                                "type": "text",
                                "label": "About Me (AboutMe)",
                                "metadata": {
                                    "type": "textarea"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "digestFrequency",
                                "type": "select",
                                "label": "Chatter Email Highlights Frequency (DigestFrequency)",
                                "metadata": {
                                    "type": "picklist"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "defaultGroupNotificationFrequency",
                                "type": "select",
                                "label": "Default Notification Frequency when Joining Groups (DefaultGroupNotificationFrequency)",
                                "metadata": {
                                    "type": "picklist"
                                }
                            },
                            {
                                "name": "jigsawImportLimitOverride",
                                "type": "number",
                                "label": "Data.com Monthly Addition Limit (JigsawImportLimitOverride)",
                                "metadata": {
                                    "type": "int"
                                }
                            },
                            {
                                "mode": "edit",
                                "name": "individualId",
                                "type": "select",
                                "label": "Individual ID (IndividualId)",
                                "metadata": {
                                    "type": "reference"
                                }
                            },
                            {
                                "name": "custom_fields",
                                "spec": [
                                    {
                                        "mode": "edit",
                                        "name": "devintegromat__Interests__c",
                                        "type": "select",
                                        "label": "Interests (devintegromat__Interests__c)",
                                        "metadata": {
                                            "type": "multipicklist"
                                        },
                                        "multiple": true
                                    },
                                    {
                                        "name": "devintegromat__continent__c",
                                        "type": "text",
                                        "label": "continent (devintegromat__continent__c)",
                                        "metadata": {
                                            "type": "string"
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Custom Fields"
                            }
                        ],
                        "type": "collection",
                        "label": "Fields"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}