Make example flows 2/Create a Softr user from a new WooCommerce customer and send an email invitation.blueprint.json
{
    "name": "Create a Softr user from a new WooCommerce customer and send an email invitation",
    "flow": [
        {
            "id": 1,
            "module": "woocommerce:WatchCustomers",
            "version": 2,
            "parameters": {
                "role": "customer",
                "limit": 10,
                "watch": "onlyNew"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:woocommerce2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "role",
                        "type": "select",
                        "label": "Role",
                        "validate": {
                            "enum": [
                                "all",
                                "customer",
                                "administrator",
                                "editor",
                                "author",
                                "contributor",
                                "subscriber",
                                "shop_manager"
                            ]
                        }
                    },
                    {
                        "name": "watch",
                        "type": "select",
                        "label": "I want to watch",
                        "validate": {
                            "enum": [
                                "onlyNew",
                                "newAndUpdated"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Limit",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "password",
                "scope": "roundtrip",
                "value": "{{substring(join(shuffle(add(emptyarray; \"a\"; \"b\"; \"c\"; \"d\"; \"e\"; \"f\"; \"g\"; \"h\"; \"i\"; \"j\"; \"k\"; \"l\"; \"m\"; \"n\"; \"o\"; \"p\"; \"q\"; \"r\"; \"s\"; \"t\"; \"u\"; \"v\"; \"w\"; \"x\"; \"y\"; \"z\"; \"A\"; \"B\"; \"C\"; \"D\"; \"E\"; \"F\"; \"G\"; \"H\"; \"I\"; \"J\"; \"K\"; \"L\"; \"M\"; \"N\"; \"O\"; \"P\"; \"Q\"; \"R\"; \"S\"; \"T\"; \"U\"; \"V\"; \"W\"; \"X\"; \"Y\"; \"Z\"; 0; 1; 2; 3; 4; 5; 6; 7; 8; 9; \"~\"; \"`\"; \"!\"; \"@\"; \"#\"; \"$\"; \"%\"; \"^\"; \"&\"; \"*\"; \"(\"; \")\"; \"-\"; \"_\"; \"=\"; \"+\"; \"[\"; \"{\"; \"]\"; \"}\"; \"\\\"; \"|\"; \";\"; \":\"; \"'\"; \"\"\"\"; \",\"; \"<\"; \".\"; \">\"; \"/\"; \"?\")); emptystring); 0; 10)}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "password",
                        "type": "any",
                        "label": "password"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "softr:createNewUser",
            "version": 1,
            "parameters": {},
            "mapper": {
                "link": true,
                "name": "{{1.firstName}}{{space}}{{1.lastName}}",
                "email": "{{1.email}}",
                "password": "{{3.password}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "link": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "softr"
                            },
                            "label": "My Softr connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:softr",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email",
                        "required": true
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true
                    },
                    {
                        "name": "password",
                        "type": "password",
                        "label": "Password",
                        "required": true
                    },
                    {
                        "name": "link",
                        "type": "boolean",
                        "label": "Magiclink",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "email:ActionSendEmail",
            "version": 7,
            "parameters": {},
            "mapper": {
                "cc": [],
                "to": [
                    "{{1.email}}"
                ],
                "bcc": [],
                "from": "",
                "text": "Hi {{1.firstName}},\n\nyou can log in to the app <app.url> using your email address and this password:\n\n{{3.password}}\n\nWe recommend changing the password after the first login.\n\nWelcome and thanks!",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "App invitation",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [],
                "contentType": "text"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "priority": {
                            "label": "Normal"
                        },
                        "references": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "Plaintext"
                        }
                    },
                    "parameters": {
                        "folder": {
                            "label": "Sent Mail"
                        },
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (danielbx200@gmail.com)"
                        },
                        "accountImap": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (danielbx200@gmail.com)"
                        },
                        "saveAfterSent": {
                            "label": "Yes"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:smtp,google-restricted",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "accountImap",
                        "type": "account:imap,google-restricted",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "folder",
                        "type": "select",
                        "label": "Folder",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient"
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Reference",
                            "required": true
                        },
                        "type": "array",
                        "label": "References"
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}