Make example flows 2/Create QuickBooks contacts and sales receipts from 1CRM sales orders.blueprint.json
{
    "name": "Create QuickBooks contacts and sales receipts from 1CRM sales orders",
    "flow": [
        {
            "id": 1,
            "module": "onecrm:NewEvent",
            "version": 1,
            "parameters": {
                "mode": "formatted"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {
                    "mode": {
                        "label": "formatted"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Returned data",
                        "validate": {
                            "enum": [
                                "formatted",
                                "raw"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "date_entered",
                        "type": "text",
                        "label": "Date Created"
                    },
                    {
                        "name": "date_modified",
                        "type": "text",
                        "label": "Last Modified"
                    },
                    {
                        "name": "modified_user",
                        "type": "text",
                        "label": "Modified by"
                    },
                    {
                        "name": "modified_user_id",
                        "type": "text",
                        "label": "ID (modified_user)"
                    },
                    {
                        "name": "assigned_user",
                        "type": "text",
                        "label": "Assigned to"
                    },
                    {
                        "name": "assigned_user_id",
                        "type": "text",
                        "label": "ID (assigned_user)"
                    },
                    {
                        "name": "created_by_user",
                        "type": "text",
                        "label": "Created by"
                    },
                    {
                        "name": "created_by",
                        "type": "text",
                        "label": "ID (created_by_user)"
                    },
                    {
                        "name": "deleted",
                        "type": "text",
                        "label": "Deleted"
                    },
                    {
                        "name": "currency",
                        "type": "text",
                        "label": "Currency"
                    },
                    {
                        "name": "currency_id",
                        "type": "text",
                        "label": "ID (currency)"
                    },
                    {
                        "name": "exchange_rate",
                        "type": "text",
                        "label": "Exchange Rate"
                    },
                    {
                        "name": "prefix",
                        "type": "text",
                        "label": "SO Number Prefix"
                    },
                    {
                        "name": "so_number",
                        "type": "text",
                        "label": "SO Number Suffix"
                    },
                    {
                        "name": "full_number",
                        "type": "text",
                        "label": "Sales Order Number"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "SO Subject"
                    },
                    {
                        "name": "opportunity",
                        "type": "text",
                        "label": "Opportunity"
                    },
                    {
                        "name": "opportunity_id",
                        "type": "text",
                        "label": "ID (opportunity)"
                    },
                    {
                        "name": "so_stage",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "purchase_order_num",
                        "type": "text",
                        "label": "Purchase Order No."
                    },
                    {
                        "name": "due_date",
                        "type": "text",
                        "label": "Due Date"
                    },
                    {
                        "name": "delivery_date",
                        "type": "text",
                        "label": "Delivery Date"
                    },
                    {
                        "name": "show_list_prices",
                        "type": "text",
                        "label": "Show List Prices"
                    },
                    {
                        "name": "show_components",
                        "type": "text",
                        "label": "Show Assembly Components"
                    },
                    {
                        "name": "partner",
                        "type": "text",
                        "label": "Partner"
                    },
                    {
                        "name": "partner_id",
                        "type": "text",
                        "label": "ID (partner)"
                    },
                    {
                        "name": "billing_account",
                        "type": "text",
                        "label": "Billing Account"
                    },
                    {
                        "name": "billing_account_id",
                        "type": "text",
                        "label": "ID (billing_account)"
                    },
                    {
                        "name": "billing_contact",
                        "type": "text",
                        "label": "Billing Contact"
                    },
                    {
                        "name": "billing_contact_id",
                        "type": "text",
                        "label": "ID (billing_contact)"
                    },
                    {
                        "name": "billing_address_street",
                        "type": "text",
                        "label": "Billing Address Street"
                    },
                    {
                        "name": "billing_address_city",
                        "type": "text",
                        "label": "Billing Address City"
                    },
                    {
                        "name": "billing_address_state",
                        "type": "text",
                        "label": "Billing Address State"
                    },
                    {
                        "name": "billing_address_postalcode",
                        "type": "text",
                        "label": "Billing Address Postal Code"
                    },
                    {
                        "name": "billing_address_country",
                        "type": "text",
                        "label": "Billing Address Country"
                    },
                    {
                        "name": "billing_address_statecode",
                        "type": "text",
                        "label": "Billing Address State Code"
                    },
                    {
                        "name": "billing_address_countrycode",
                        "type": "text",
                        "label": "Billing Address Country Code"
                    },
                    {
                        "name": "shipping_account",
                        "type": "text",
                        "label": "Shipping Account"
                    },
                    {
                        "name": "shipping_account_id",
                        "type": "text",
                        "label": "ID (shipping_account)"
                    },
                    {
                        "name": "shipping_contact",
                        "type": "text",
                        "label": "Shipping Contact"
                    },
                    {
                        "name": "shipping_contact_id",
                        "type": "text",
                        "label": "ID (shipping_contact)"
                    },
                    {
                        "name": "shipping_address_street",
                        "type": "text",
                        "label": "Shipping Address Street"
                    },
                    {
                        "name": "shipping_address_city",
                        "type": "text",
                        "label": "Shipping Address City"
                    },
                    {
                        "name": "shipping_address_state",
                        "type": "text",
                        "label": "Shipping Address State"
                    },
                    {
                        "name": "shipping_address_postalcode",
                        "type": "text",
                        "label": "Shipping Address Postal Code"
                    },
                    {
                        "name": "shipping_address_country",
                        "type": "text",
                        "label": "Shipping Address Country"
                    },
                    {
                        "name": "shipping_address_statecode",
                        "type": "text",
                        "label": "Shipping Address State Code"
                    },
                    {
                        "name": "shipping_address_countrycode",
                        "type": "text",
                        "label": "Shipping Address Country Code"
                    },
                    {
                        "name": "shipping_provider",
                        "type": "text",
                        "label": "Shipping Provider"
                    },
                    {
                        "name": "shipping_provider_id",
                        "type": "text",
                        "label": "ID (shipping_provider)"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Notes"
                    },
                    {
                        "name": "related_quote",
                        "type": "text",
                        "label": "Related Quote"
                    },
                    {
                        "name": "related_quote_id",
                        "type": "text",
                        "label": "ID (related_quote)"
                    },
                    {
                        "name": "amount",
                        "type": "text",
                        "label": "Amount"
                    },
                    {
                        "name": "amount_usdollar",
                        "type": "text",
                        "label": "Amount"
                    },
                    {
                        "name": "subtotal",
                        "type": "text",
                        "label": "Subtotal"
                    },
                    {
                        "name": "subtotal_usd",
                        "type": "text",
                        "label": "Subtotal"
                    },
                    {
                        "name": "pretax",
                        "type": "text",
                        "label": "Pre-Tax Amount"
                    },
                    {
                        "name": "pretax_usd",
                        "type": "text",
                        "label": "Pre-Tax Amount"
                    },
                    {
                        "name": "terms",
                        "type": "text",
                        "label": "Terms"
                    },
                    {
                        "name": "tax_information",
                        "type": "text",
                        "label": "Tax Information"
                    },
                    {
                        "name": "discount_before_taxes",
                        "type": "text",
                        "label": "Apply Taxes Before Discounts (QB)"
                    },
                    {
                        "name": "tax_exempt",
                        "type": "text",
                        "label": "Tax Exempt"
                    },
                    {
                        "name": "pricebook",
                        "type": "text",
                        "label": "Use Price Book"
                    },
                    {
                        "name": "pricebook_id",
                        "type": "text",
                        "label": "ID (pricebook)"
                    },
                    {
                        "name": "gross_profit_so",
                        "type": "text",
                        "label": "Gross Profit"
                    },
                    {
                        "name": "gross_profit_so_usd",
                        "type": "text",
                        "label": "Gross Profit"
                    },
                    {
                        "name": "woo_id",
                        "type": "text",
                        "label": "WooCommerce ID"
                    },
                    {
                        "name": "woo_locked",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "onecrm:SearchObjects",
            "version": 1,
            "parameters": {},
            "mapper": {
                "mode": "formatted",
                "limit": "10",
                "model": "Contact",
                "last_name": "{{1.`shipping_contact.last_name`}}",
                "first_name": "{{1.`shipping_contact.first_name`}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                },
                "restore": {
                    "mode": {
                        "mode": "chose",
                        "label": "formatted"
                    },
                    "model": {
                        "label": "Contact"
                    },
                    "order": {
                        "mode": "chose",
                        "label": ""
                    },
                    "fields": {
                        "mode": "chose"
                    },
                    "do_not_call": {
                        "mode": "chose"
                    },
                    "lead_source": {
                        "mode": "chose",
                        "label": ""
                    },
                    "business_role": {
                        "mode": "chose",
                        "label": ""
                    },
                    "email_opt_out": {
                        "mode": "chose"
                    },
                    "favorites.deleted": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Module",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Returned data",
                        "validate": {
                            "enum": [
                                "formatted",
                                "raw"
                            ]
                        }
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Fields",
                        "multiple": true
                    },
                    {
                        "name": "filter_text",
                        "type": "text",
                        "label": "Filter text"
                    },
                    {
                        "name": "order",
                        "type": "select",
                        "label": "Sort order"
                    },
                    {
                        "name": "favorites.deleted",
                        "type": "boolean",
                        "label": "Only Favorites"
                    },
                    {
                        "name": "primary_account",
                        "type": "text",
                        "label": "Primary Account"
                    },
                    {
                        "name": "first_name",
                        "type": "text",
                        "label": "First Name"
                    },
                    {
                        "name": "last_name",
                        "type": "text",
                        "label": "Last Name"
                    },
                    {
                        "name": "categories",
                        "type": "text",
                        "label": "Category"
                    },
                    {
                        "name": "lead_source",
                        "type": "select",
                        "label": "Lead Source",
                        "validate": {
                            "enum": [
                                "Cold Call",
                                "Existing Customer",
                                "Self Generated",
                                "Employee",
                                "Partner",
                                "Public Relations",
                                "Direct Mail",
                                "Conference",
                                "Trade Show",
                                "Web Site",
                                "Customer Portal",
                                "Word of mouth",
                                "Email",
                                "Other",
                                "Subscription"
                            ]
                        }
                    },
                    {
                        "name": "do_not_call",
                        "type": "boolean",
                        "label": "Do Not Call"
                    },
                    {
                        "name": "assistant",
                        "type": "text",
                        "label": "Assistant"
                    },
                    {
                        "name": "email_opt_out",
                        "type": "boolean",
                        "label": "Email Opt Out"
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "business_role",
                        "type": "select",
                        "label": "Business Role",
                        "validate": {
                            "enum": [
                                "CEO",
                                "MIS",
                                "CFO",
                                "Sales",
                                "Admin"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "_display",
                        "type": "text",
                        "label": "Display name"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "deleted",
                        "type": "text",
                        "label": "Deleted"
                    },
                    {
                        "name": "date_entered",
                        "type": "text",
                        "label": "Date Created"
                    },
                    {
                        "name": "date_modified",
                        "type": "text",
                        "label": "Last Modified"
                    },
                    {
                        "name": "modified_user",
                        "type": "text",
                        "label": "Modified by"
                    },
                    {
                        "name": "modified_user_id",
                        "type": "text",
                        "label": "ID (modified_user)"
                    },
                    {
                        "name": "assigned_user",
                        "type": "text",
                        "label": "Assigned to"
                    },
                    {
                        "name": "assigned_user_id",
                        "type": "text",
                        "label": "ID (assigned_user)"
                    },
                    {
                        "name": "created_by_user",
                        "type": "text",
                        "label": "Created by"
                    },
                    {
                        "name": "created_by",
                        "type": "text",
                        "label": "ID (created_by_user)"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "primary_account",
                        "type": "text",
                        "label": "Primary Account"
                    },
                    {
                        "name": "primary_account_id",
                        "type": "text",
                        "label": "ID (primary_account)"
                    },
                    {
                        "name": "b2c_account",
                        "type": "text",
                        "label": "B2C Account"
                    },
                    {
                        "name": "primary_contact_for",
                        "type": "text",
                        "label": "ID (b2c_account)"
                    },
                    {
                        "name": "categories",
                        "type": "text",
                        "label": "Category (categories)"
                    },
                    {
                        "name": "category",
                        "type": "text",
                        "label": "Category (category)"
                    },
                    {
                        "name": "category2",
                        "type": "text",
                        "label": "Category (category2)"
                    },
                    {
                        "name": "category3",
                        "type": "text",
                        "label": "Category (category3)"
                    },
                    {
                        "name": "category4",
                        "type": "text",
                        "label": "Category (category4)"
                    },
                    {
                        "name": "category5",
                        "type": "text",
                        "label": "Category (category5)"
                    },
                    {
                        "name": "category6",
                        "type": "text",
                        "label": "Category (category6)"
                    },
                    {
                        "name": "category7",
                        "type": "text",
                        "label": "Category (category7)"
                    },
                    {
                        "name": "category8",
                        "type": "text",
                        "label": "Category (category8)"
                    },
                    {
                        "name": "category9",
                        "type": "text",
                        "label": "Category (category9)"
                    },
                    {
                        "name": "category10",
                        "type": "text",
                        "label": "Category (category10)"
                    },
                    {
                        "name": "business_role",
                        "type": "text",
                        "label": "Business Role"
                    },
                    {
                        "name": "last_activity_date",
                        "type": "text",
                        "label": "Last Activity Date"
                    },
                    {
                        "name": "salutation",
                        "type": "text",
                        "label": "Salutation"
                    },
                    {
                        "name": "first_name",
                        "type": "text",
                        "label": "First Name"
                    },
                    {
                        "name": "last_name",
                        "type": "text",
                        "label": "Last Name"
                    },
                    {
                        "name": "lead_source",
                        "type": "text",
                        "label": "Lead Source"
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "department",
                        "type": "text",
                        "label": "Department"
                    },
                    {
                        "name": "reports_to",
                        "type": "text",
                        "label": "Reports To"
                    },
                    {
                        "name": "reports_to_id",
                        "type": "text",
                        "label": "ID (reports_to)"
                    },
                    {
                        "name": "birthdate",
                        "type": "text",
                        "label": "Birthdate"
                    },
                    {
                        "name": "do_not_call",
                        "type": "text",
                        "label": "Do Not Call"
                    },
                    {
                        "name": "email_accounts",
                        "type": "text",
                        "label": "Accounting Contact"
                    },
                    {
                        "name": "phone_home",
                        "type": "text",
                        "label": "Home Phone"
                    },
                    {
                        "name": "phone_home__raw",
                        "type": "text"
                    },
                    {
                        "name": "phone_mobile",
                        "type": "text",
                        "label": "Mobile Phone"
                    },
                    {
                        "name": "phone_mobile__raw",
                        "type": "text"
                    },
                    {
                        "name": "phone_work",
                        "type": "text",
                        "label": "Office Phone"
                    },
                    {
                        "name": "phone_work__raw",
                        "type": "text"
                    },
                    {
                        "name": "phone_other",
                        "type": "text",
                        "label": "Other Phone"
                    },
                    {
                        "name": "phone_other__raw",
                        "type": "text"
                    },
                    {
                        "name": "phone_fax",
                        "type": "text",
                        "label": "Fax Number"
                    },
                    {
                        "name": "phone_fax__raw",
                        "type": "text"
                    },
                    {
                        "name": "skype_id",
                        "type": "text",
                        "label": "Skype ID"
                    },
                    {
                        "name": "email1",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "email2",
                        "type": "text",
                        "label": "Other Email"
                    },
                    {
                        "name": "assistant",
                        "type": "text",
                        "label": "Assistant"
                    },
                    {
                        "name": "assistant_phone",
                        "type": "text",
                        "label": "Assistant Phone"
                    },
                    {
                        "name": "assistant_phone__raw",
                        "type": "text"
                    },
                    {
                        "name": "email_opt_out",
                        "type": "text",
                        "label": "Email Opt Out"
                    },
                    {
                        "name": "email_opt_in",
                        "type": "text",
                        "label": "Email Opt In"
                    },
                    {
                        "name": "email_opt_in_date",
                        "type": "text",
                        "label": "Email Opt-In Date"
                    },
                    {
                        "name": "website",
                        "type": "text",
                        "label": "Website"
                    },
                    {
                        "name": "primary_address_street",
                        "type": "text",
                        "label": "Primary Address Street"
                    },
                    {
                        "name": "primary_address_city",
                        "type": "text",
                        "label": "Primary Address City"
                    },
                    {
                        "name": "primary_address_state",
                        "type": "text",
                        "label": "Primary Address State"
                    },
                    {
                        "name": "primary_address_postalcode",
                        "type": "text",
                        "label": "Primary Address Postal Code"
                    },
                    {
                        "name": "primary_address_country",
                        "type": "text",
                        "label": "Primary Address Country"
                    },
                    {
                        "name": "primary_address_statecode",
                        "type": "text",
                        "label": "Primary Address State Code"
                    },
                    {
                        "name": "primary_address_countrycode",
                        "type": "text",
                        "label": "Primary Address Country Code"
                    },
                    {
                        "name": "alt_address_street",
                        "type": "text",
                        "label": "Alternate Address Street"
                    },
                    {
                        "name": "alt_address_city",
                        "type": "text",
                        "label": "Alternate Address City"
                    },
                    {
                        "name": "alt_address_state",
                        "type": "text",
                        "label": "Alternate Address State"
                    },
                    {
                        "name": "alt_address_postalcode",
                        "type": "text",
                        "label": "Alternate Address Postal Code"
                    },
                    {
                        "name": "alt_address_country",
                        "type": "text",
                        "label": "Alternate Address Country"
                    },
                    {
                        "name": "alt_address_statecode",
                        "type": "text",
                        "label": "Alternate Address State Code"
                    },
                    {
                        "name": "alt_address_countrycode",
                        "type": "text",
                        "label": "Alternate Address Country Code"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "portal_name",
                        "type": "text",
                        "label": "Portal Name"
                    },
                    {
                        "name": "portal_active",
                        "type": "text",
                        "label": "Portal Active"
                    },
                    {
                        "name": "portal_app",
                        "type": "text",
                        "label": "Portal Application"
                    },
                    {
                        "name": "invalid_email",
                        "type": "text",
                        "label": "Invalid Email"
                    },
                    {
                        "name": "partner",
                        "type": "text",
                        "label": "Partner"
                    },
                    {
                        "name": "partner_id",
                        "type": "text",
                        "label": "ID (partner)"
                    },
                    {
                        "name": "campaign",
                        "type": "text",
                        "label": "Campaign"
                    },
                    {
                        "name": "campaign_id",
                        "type": "text",
                        "label": "ID (campaign)"
                    },
                    {
                        "name": "vcard_size",
                        "type": "text"
                    },
                    {
                        "name": "vcard",
                        "type": "text"
                    },
                    {
                        "name": "vcard_uri",
                        "type": "text"
                    },
                    {
                        "name": "photo",
                        "type": "text",
                        "label": "Photo"
                    },
                    {
                        "name": "photo_filename",
                        "type": "text",
                        "label": "Photo Filename"
                    },
                    {
                        "name": "photo_thumb",
                        "type": "text",
                        "label": "Thumbnail Filename"
                    },
                    {
                        "name": "consent_to_process",
                        "type": "text",
                        "label": "Consent To Process"
                    },
                    {
                        "name": "livechat_activity",
                        "type": "text",
                        "label": "Live Chat Activity"
                    },
                    {
                        "name": "mautic_id",
                        "type": "text",
                        "label": "Lead Guerrilla Contact ID"
                    },
                    {
                        "name": "woo_id",
                        "type": "text",
                        "label": "WooCommerce ID"
                    },
                    {
                        "name": "woo_locked",
                        "type": "text"
                    },
                    {
                        "name": "chat_activity",
                        "type": "text",
                        "label": "Chat Activity"
                    },
                    {
                        "name": "personal_info_source",
                        "type": "text",
                        "label": "Personal Information Source"
                    },
                    {
                        "name": "favorite",
                        "type": "boolean",
                        "label": "Favorite"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "onecrm:GetObject",
            "version": 1,
            "parameters": {},
            "mapper": {
                "id": "{{2.id}}",
                "mode": "formatted",
                "model": "Contact"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 300
                },
                "restore": {
                    "mode": {
                        "mode": "chose",
                        "label": "formatted"
                    },
                    "model": {
                        "mode": "chose",
                        "label": "Contact"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Module",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "uuid",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Returned data",
                        "validate": {
                            "enum": [
                                "formatted",
                                "raw"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "deleted",
                        "type": "text",
                        "label": "Deleted"
                    },
                    {
                        "name": "date_entered",
                        "type": "text",
                        "label": "Date Created"
                    },
                    {
                        "name": "date_modified",
                        "type": "text",
                        "label": "Last Modified"
                    },
                    {
                        "name": "modified_user",
                        "type": "text",
                        "label": "Modified by"
                    },
                    {
                        "name": "modified_user_id",
                        "type": "text",
                        "label": "ID (modified_user)"
                    },
                    {
                        "name": "assigned_user",
                        "type": "text",
                        "label": "Assigned to"
                    },
                    {
                        "name": "assigned_user_id",
                        "type": "text",
                        "label": "ID (assigned_user)"
                    },
                    {
                        "name": "created_by_user",
                        "type": "text",
                        "label": "Created by"
                    },
                    {
                        "name": "created_by",
                        "type": "text",
                        "label": "ID (created_by_user)"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "primary_account",
                        "type": "text",
                        "label": "Primary Account"
                    },
                    {
                        "name": "primary_account_id",
                        "type": "text",
                        "label": "ID (primary_account)"
                    },
                    {
                        "name": "b2c_account",
                        "type": "text",
                        "label": "B2C Account"
                    },
                    {
                        "name": "primary_contact_for",
                        "type": "text",
                        "label": "ID (b2c_account)"
                    },
                    {
                        "name": "categories",
                        "type": "text",
                        "label": "Category (categories)"
                    },
                    {
                        "name": "category",
                        "type": "text",
                        "label": "Category (category)"
                    },
                    {
                        "name": "category2",
                        "type": "text",
                        "label": "Category (category2)"
                    },
                    {
                        "name": "category3",
                        "type": "text",
                        "label": "Category (category3)"
                    },
                    {
                        "name": "category4",
                        "type": "text",
                        "label": "Category (category4)"
                    },
                    {
                        "name": "category5",
                        "type": "text",
                        "label": "Category (category5)"
                    },
                    {
                        "name": "category6",
                        "type": "text",
                        "label": "Category (category6)"
                    },
                    {
                        "name": "category7",
                        "type": "text",
                        "label": "Category (category7)"
                    },
                    {
                        "name": "category8",
                        "type": "text",
                        "label": "Category (category8)"
                    },
                    {
                        "name": "category9",
                        "type": "text",
                        "label": "Category (category9)"
                    },
                    {
                        "name": "category10",
                        "type": "text",
                        "label": "Category (category10)"
                    },
                    {
                        "name": "business_role",
                        "type": "text",
                        "label": "Business Role"
                    },
                    {
                        "name": "last_activity_date",
                        "type": "text",
                        "label": "Last Activity Date"
                    },
                    {
                        "name": "salutation",
                        "type": "text",
                        "label": "Salutation"
                    },
                    {
                        "name": "first_name",
                        "type": "text",
                        "label": "First Name"
                    },
                    {
                        "name": "last_name",
                        "type": "text",
                        "label": "Last Name"
                    },
                    {
                        "name": "lead_source",
                        "type": "text",
                        "label": "Lead Source"
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "department",
                        "type": "text",
                        "label": "Department"
                    },
                    {
                        "name": "reports_to",
                        "type": "text",
                        "label": "Reports To"
                    },
                    {
                        "name": "reports_to_id",
                        "type": "text",
                        "label": "ID (reports_to)"
                    },
                    {
                        "name": "birthdate",
                        "type": "text",
                        "label": "Birthdate"
                    },
                    {
                        "name": "do_not_call",
                        "type": "text",
                        "label": "Do Not Call"
                    },
                    {
                        "name": "email_accounts",
                        "type": "text",
                        "label": "Accounting Contact"
                    },
                    {
                        "name": "phone_home",
                        "type": "text",
                        "label": "Home Phone"
                    },
                    {
                        "name": "phone_home__raw",
                        "type": "text"
                    },
                    {
                        "name": "phone_mobile",
                        "type": "text",
                        "label": "Mobile Phone"
                    },
                    {
                        "name": "phone_mobile__raw",
                        "type": "text"
                    },
                    {
                        "name": "phone_work",
                        "type": "text",
                        "label": "Office Phone"
                    },
                    {
                        "name": "phone_work__raw",
                        "type": "text"
                    },
                    {
                        "name": "phone_other",
                        "type": "text",
                        "label": "Other Phone"
                    },
                    {
                        "name": "phone_other__raw",
                        "type": "text"
                    },
                    {
                        "name": "phone_fax",
                        "type": "text",
                        "label": "Fax Number"
                    },
                    {
                        "name": "phone_fax__raw",
                        "type": "text"
                    },
                    {
                        "name": "skype_id",
                        "type": "text",
                        "label": "Skype ID"
                    },
                    {
                        "name": "email1",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "email2",
                        "type": "text",
                        "label": "Other Email"
                    },
                    {
                        "name": "assistant",
                        "type": "text",
                        "label": "Assistant"
                    },
                    {
                        "name": "assistant_phone",
                        "type": "text",
                        "label": "Assistant Phone"
                    },
                    {
                        "name": "assistant_phone__raw",
                        "type": "text"
                    },
                    {
                        "name": "email_opt_out",
                        "type": "text",
                        "label": "Email Opt Out"
                    },
                    {
                        "name": "email_opt_in",
                        "type": "text",
                        "label": "Email Opt In"
                    },
                    {
                        "name": "email_opt_in_date",
                        "type": "text",
                        "label": "Email Opt-In Date"
                    },
                    {
                        "name": "website",
                        "type": "text",
                        "label": "Website"
                    },
                    {
                        "name": "primary_address_street",
                        "type": "text",
                        "label": "Primary Address Street"
                    },
                    {
                        "name": "primary_address_city",
                        "type": "text",
                        "label": "Primary Address City"
                    },
                    {
                        "name": "primary_address_state",
                        "type": "text",
                        "label": "Primary Address State"
                    },
                    {
                        "name": "primary_address_postalcode",
                        "type": "text",
                        "label": "Primary Address Postal Code"
                    },
                    {
                        "name": "primary_address_country",
                        "type": "text",
                        "label": "Primary Address Country"
                    },
                    {
                        "name": "primary_address_statecode",
                        "type": "text",
                        "label": "Primary Address State Code"
                    },
                    {
                        "name": "primary_address_countrycode",
                        "type": "text",
                        "label": "Primary Address Country Code"
                    },
                    {
                        "name": "alt_address_street",
                        "type": "text",
                        "label": "Alternate Address Street"
                    },
                    {
                        "name": "alt_address_city",
                        "type": "text",
                        "label": "Alternate Address City"
                    },
                    {
                        "name": "alt_address_state",
                        "type": "text",
                        "label": "Alternate Address State"
                    },
                    {
                        "name": "alt_address_postalcode",
                        "type": "text",
                        "label": "Alternate Address Postal Code"
                    },
                    {
                        "name": "alt_address_country",
                        "type": "text",
                        "label": "Alternate Address Country"
                    },
                    {
                        "name": "alt_address_statecode",
                        "type": "text",
                        "label": "Alternate Address State Code"
                    },
                    {
                        "name": "alt_address_countrycode",
                        "type": "text",
                        "label": "Alternate Address Country Code"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "portal_name",
                        "type": "text",
                        "label": "Portal Name"
                    },
                    {
                        "name": "portal_active",
                        "type": "text",
                        "label": "Portal Active"
                    },
                    {
                        "name": "portal_app",
                        "type": "text",
                        "label": "Portal Application"
                    },
                    {
                        "name": "invalid_email",
                        "type": "text",
                        "label": "Invalid Email"
                    },
                    {
                        "name": "partner",
                        "type": "text",
                        "label": "Partner"
                    },
                    {
                        "name": "partner_id",
                        "type": "text",
                        "label": "ID (partner)"
                    },
                    {
                        "name": "campaign",
                        "type": "text",
                        "label": "Campaign"
                    },
                    {
                        "name": "campaign_id",
                        "type": "text",
                        "label": "ID (campaign)"
                    },
                    {
                        "name": "vcard_size",
                        "type": "text"
                    },
                    {
                        "name": "vcard",
                        "type": "text"
                    },
                    {
                        "name": "vcard_uri",
                        "type": "text"
                    },
                    {
                        "name": "photo",
                        "type": "text",
                        "label": "Photo"
                    },
                    {
                        "name": "photo_filename",
                        "type": "text",
                        "label": "Photo Filename"
                    },
                    {
                        "name": "photo_thumb",
                        "type": "text",
                        "label": "Thumbnail Filename"
                    },
                    {
                        "name": "consent_to_process",
                        "type": "text",
                        "label": "Consent To Process"
                    },
                    {
                        "name": "livechat_activity",
                        "type": "text",
                        "label": "Live Chat Activity"
                    },
                    {
                        "name": "mautic_id",
                        "type": "text",
                        "label": "Lead Guerrilla Contact ID"
                    },
                    {
                        "name": "woo_id",
                        "type": "text",
                        "label": "WooCommerce ID"
                    },
                    {
                        "name": "woo_locked",
                        "type": "text"
                    },
                    {
                        "name": "chat_activity",
                        "type": "text",
                        "label": "Chat Activity"
                    },
                    {
                        "name": "personal_info_source",
                        "type": "text",
                        "label": "Personal Information Source"
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "quickbooks:SearchForCustomers",
            "version": 2,
            "parameters": {},
            "mapper": {
                "type": "field",
                "limit": "10",
                "filter": [
                    [
                        {
                            "a": "PrimaryEmailAddr",
                            "b": "{{3.email1}}",
                            "o": "text:equals"
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 300
                },
                "restore": {
                    "type": {
                        "mode": "chose",
                        "label": "field"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Search by",
                        "required": true,
                        "validate": {
                            "enum": [
                                "field",
                                "query"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "grouped": true,
                        "options": {
                            "logic": "and",
                            "store": [
                                {
                                    "label": "Family name",
                                    "value": "FamilyName"
                                },
                                {
                                    "label": "Display name",
                                    "value": "DisplayName"
                                },
                                {
                                    "label": "Company name",
                                    "value": "CompanyName"
                                },
                                {
                                    "label": "Fully qualified name",
                                    "value": "FullyQualifiedName"
                                },
                                {
                                    "label": "Email address",
                                    "value": "PrimaryEmailAddr"
                                },
                                {
                                    "label": "Create time",
                                    "value": "MetaData.CreateTime"
                                },
                                {
                                    "label": "Last updated time",
                                    "value": "MetaData.LastUpdatedTime"
                                }
                            ],
                            "operators": [
                                {
                                    "label": "Text",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "short": "=",
                                            "value": "text:equals"
                                        },
                                        {
                                            "label": "Not equals",
                                            "short": "!=",
                                            "value": "text:notEquals"
                                        },
                                        {
                                            "label": "Starts with",
                                            "short": "text:startsWith",
                                            "value": "text:startsWith"
                                        },
                                        {
                                            "label": "Ends with",
                                            "short": "text:endsWith",
                                            "value": "text:endsWith"
                                        },
                                        {
                                            "label": "Contains",
                                            "short": "text:contains",
                                            "value": "text:contains"
                                        }
                                    ]
                                },
                                {
                                    "label": "Number",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "short": "=",
                                            "value": "number:eq"
                                        },
                                        {
                                            "label": "Less then",
                                            "short": "<",
                                            "value": "number:lt"
                                        },
                                        {
                                            "label": "Greater then",
                                            "short": ">",
                                            "value": "number:gt"
                                        },
                                        {
                                            "label": "Greater then or equal",
                                            "short": ">=",
                                            "value": "number:gte"
                                        },
                                        {
                                            "label": "Less then or equal",
                                            "short": "<=",
                                            "value": "number:lte"
                                        },
                                        {
                                            "label": "Not equal",
                                            "short": "!=",
                                            "value": "number:ne"
                                        }
                                    ]
                                },
                                {
                                    "label": "Only date",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "short": "=",
                                            "value": "date:eq"
                                        },
                                        {
                                            "label": "Older then",
                                            "short": "<",
                                            "value": "date:lt"
                                        },
                                        {
                                            "label": "Newer then",
                                            "short": ">",
                                            "value": "date:gt"
                                        },
                                        {
                                            "label": "Not equal",
                                            "short": "!=",
                                            "value": "date:ne"
                                        }
                                    ]
                                },
                                {
                                    "label": "Date and time",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "short": "=",
                                            "value": "datetime:eq"
                                        },
                                        {
                                            "label": "Older then",
                                            "short": "<",
                                            "value": "datetime:lt"
                                        },
                                        {
                                            "label": "Newer then",
                                            "short": ">",
                                            "value": "datetime:gt"
                                        },
                                        {
                                            "label": "Not equal",
                                            "short": "!=",
                                            "value": "datetime:ne"
                                        }
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "Id",
                        "type": "number",
                        "label": "Customer  ID"
                    },
                    {
                        "name": "PrimaryEmailAddr",
                        "spec": [
                            {
                                "name": "Address",
                                "type": "text",
                                "label": "Address"
                            }
                        ],
                        "type": "collection",
                        "label": "Primary email"
                    },
                    {
                        "name": "DisplayName",
                        "type": "text",
                        "label": "Display name"
                    },
                    {
                        "name": "CurrencyRef",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "collection",
                        "label": "Currency"
                    },
                    {
                        "name": "DefaultTaxCodeRef",
                        "spec": [
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "collection",
                        "label": "Default tax code"
                    },
                    {
                        "name": "PreferredDeliveryMethod",
                        "type": "text",
                        "label": "Preferred delivery method"
                    },
                    {
                        "name": "GivenName",
                        "type": "text",
                        "label": "Given name"
                    },
                    {
                        "name": "FullyQualifiedName",
                        "type": "text",
                        "label": "Fully qualified name"
                    },
                    {
                        "name": "BillWithParent",
                        "type": "boolean",
                        "label": "Bill with parent"
                    },
                    {
                        "name": "Title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "Job",
                        "type": "boolean",
                        "label": "Job"
                    },
                    {
                        "name": "BalanceWithJobs",
                        "type": "number",
                        "label": "Balance with jobs"
                    },
                    {
                        "name": "PrimaryPhone",
                        "spec": [
                            {
                                "name": "FreeFormNumber",
                                "type": "text",
                                "label": "Free form number"
                            }
                        ],
                        "type": "collection",
                        "label": "Primary phone"
                    },
                    {
                        "name": "Taxable",
                        "type": "boolean",
                        "label": "Taxable"
                    },
                    {
                        "name": "MetaData",
                        "spec": [
                            {
                                "name": "CreateTime",
                                "type": "text",
                                "label": "Create time"
                            },
                            {
                                "name": "LastUpdatedTime",
                                "type": "text",
                                "label": "Last updated time"
                            }
                        ],
                        "type": "collection",
                        "label": "Meta data"
                    },
                    {
                        "name": "BillAddr",
                        "spec": [
                            {
                                "name": "City",
                                "type": "text",
                                "label": "City"
                            },
                            {
                                "name": "Country",
                                "type": "text",
                                "label": "Country"
                            },
                            {
                                "name": "Line1",
                                "type": "text",
                                "label": "Line1"
                            },
                            {
                                "name": "Line2",
                                "type": "text",
                                "label": "Line2"
                            },
                            {
                                "name": "PostalCode",
                                "type": "text",
                                "label": "Postal code"
                            },
                            {
                                "name": "CountrySubDivisionCode",
                                "type": "text",
                                "label": "Country sub division code"
                            },
                            {
                                "name": "Id",
                                "type": "text",
                                "label": "Id"
                            }
                        ],
                        "type": "collection",
                        "label": "Bill addr"
                    },
                    {
                        "name": "MiddleName",
                        "type": "text",
                        "label": "Middle name"
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes"
                    },
                    {
                        "name": "Active",
                        "type": "boolean",
                        "label": "Active"
                    },
                    {
                        "name": "Balance",
                        "type": "number",
                        "label": "Balance"
                    },
                    {
                        "name": "SyncToken",
                        "type": "text",
                        "label": "Sync token"
                    },
                    {
                        "name": "Suffix",
                        "type": "text",
                        "label": "Suffix"
                    },
                    {
                        "name": "CompanyName",
                        "type": "text",
                        "label": "Company name"
                    },
                    {
                        "name": "FamilyName",
                        "type": "text",
                        "label": "Family name"
                    },
                    {
                        "name": "PrintOnCheckName",
                        "type": "text",
                        "label": "Print on check name"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 17,
                            "module": "quickbooks:CreateCustomer",
                            "version": 2,
                            "parameters": {},
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{16.`__IMTLENGTH__`}}",
                                            "b": "0",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "BillAddr": {
                                    "City": "{{3.primary_address_city}}",
                                    "Line1": "{{3.primary_address_street}}",
                                    "Country": "{{3.primary_address_country}}"
                                },
                                "ShipAddr": {},
                                "GivenName": "{{3.first_name}}",
                                "FamilyName": "{{3.last_name}}",
                                "PrimaryEmailAddr": "{{3.email1}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "Job": {
                                        "mode": "chose"
                                    },
                                    "ParentRef": {
                                        "mode": "chose",
                                        "label": ""
                                    },
                                    "SalesTermRef": {
                                        "mode": "chose",
                                        "label": ""
                                    },
                                    "BillWithParent": {
                                        "mode": "chose"
                                    },
                                    "PaymentMethodRef": {
                                        "mode": "chose",
                                        "label": ""
                                    },
                                    "DefaultTaxCodeRef": {
                                        "mode": "chose",
                                        "label": ""
                                    },
                                    "PreferredDeliveryMethod": {
                                        "mode": "chose",
                                        "label": ""
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "DisplayName",
                                        "type": "text",
                                        "label": "Display name"
                                    },
                                    {
                                        "name": "GivenName",
                                        "type": "text",
                                        "label": "Given name"
                                    },
                                    {
                                        "name": "MiddleName",
                                        "type": "text",
                                        "label": "Middle name"
                                    },
                                    {
                                        "name": "FamilyName",
                                        "type": "text",
                                        "label": "Family name"
                                    },
                                    {
                                        "name": "Title",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Suffix",
                                        "type": "text"
                                    },
                                    {
                                        "name": "CompanyName",
                                        "type": "text",
                                        "label": "Company name"
                                    },
                                    {
                                        "name": "PrimaryEmailAddr",
                                        "type": "email",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "BillAddr",
                                        "spec": [
                                            {
                                                "name": "Line1",
                                                "type": "text",
                                                "label": "Line 1"
                                            },
                                            {
                                                "name": "Line2",
                                                "type": "text",
                                                "label": "Line 2"
                                            },
                                            {
                                                "name": "City",
                                                "type": "text"
                                            },
                                            {
                                                "name": "PostalCode",
                                                "type": "text",
                                                "label": "Postal code"
                                            },
                                            {
                                                "name": "CountrySubDivisionCode",
                                                "type": "text",
                                                "label": "Country sub division code"
                                            },
                                            {
                                                "name": "Country",
                                                "type": "text"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Billing address",
                                        "required": false
                                    },
                                    {
                                        "name": "ShipAddr",
                                        "spec": [
                                            {
                                                "name": "Line1",
                                                "type": "text",
                                                "label": "Line 1"
                                            },
                                            {
                                                "name": "Line2",
                                                "type": "text",
                                                "label": "Line 2"
                                            },
                                            {
                                                "name": "City",
                                                "type": "text"
                                            },
                                            {
                                                "name": "PostalCode",
                                                "type": "text",
                                                "label": "Postal code"
                                            },
                                            {
                                                "name": "CountrySubDivisionCode",
                                                "type": "text",
                                                "label": "Country sub division code"
                                            },
                                            {
                                                "name": "Country",
                                                "type": "text"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Shipping address",
                                        "required": false
                                    },
                                    {
                                        "name": "WebAddr",
                                        "type": "url",
                                        "label": "Web"
                                    },
                                    {
                                        "name": "PrimaryPhone",
                                        "type": "text",
                                        "label": "Phone"
                                    },
                                    {
                                        "name": "AlternatePhone",
                                        "type": "text",
                                        "label": "Alternate phone"
                                    },
                                    {
                                        "name": "Mobile",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Fax",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Notes",
                                        "type": "text",
                                        "label": "Note"
                                    },
                                    {
                                        "name": "CurrencyRef",
                                        "type": "text",
                                        "label": "Currency"
                                    },
                                    {
                                        "name": "ParentRef",
                                        "type": "select",
                                        "label": "Parent"
                                    },
                                    {
                                        "name": "Job",
                                        "type": "boolean"
                                    },
                                    {
                                        "name": "BillWithParent",
                                        "type": "boolean",
                                        "label": "Bill with parent"
                                    },
                                    {
                                        "name": "ResaleNum",
                                        "type": "text",
                                        "label": "Resale number"
                                    },
                                    {
                                        "name": "PrintOnCheckName",
                                        "type": "text",
                                        "label": "Print on check name"
                                    },
                                    {
                                        "name": "Balance",
                                        "type": "number"
                                    },
                                    {
                                        "name": "BalanceWithJobs",
                                        "type": "number",
                                        "label": "Balance with jobs"
                                    },
                                    {
                                        "name": "PaymentMethodRef",
                                        "type": "select",
                                        "label": "Payment method"
                                    },
                                    {
                                        "name": "SalesTermRef",
                                        "type": "select",
                                        "label": "Sales terms"
                                    },
                                    {
                                        "name": "PreferredDeliveryMethod",
                                        "type": "select",
                                        "label": "Preferred delivery method",
                                        "validate": {
                                            "enum": [
                                                "Print",
                                                "Email"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "DefaultTaxCodeRef",
                                        "type": "select",
                                        "label": "Default tax code"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "Id",
                                        "type": "number",
                                        "label": "Customer  ID"
                                    },
                                    {
                                        "name": "PrimaryEmailAddr",
                                        "spec": [
                                            {
                                                "name": "Address",
                                                "type": "text",
                                                "label": "Address"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Primary email"
                                    },
                                    {
                                        "name": "DisplayName",
                                        "type": "text",
                                        "label": "Display name"
                                    },
                                    {
                                        "name": "CurrencyRef",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Currency"
                                    },
                                    {
                                        "name": "DefaultTaxCodeRef",
                                        "spec": [
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Default tax code"
                                    },
                                    {
                                        "name": "PreferredDeliveryMethod",
                                        "type": "text",
                                        "label": "Preferred delivery method"
                                    },
                                    {
                                        "name": "GivenName",
                                        "type": "text",
                                        "label": "Given name"
                                    },
                                    {
                                        "name": "FullyQualifiedName",
                                        "type": "text",
                                        "label": "Fully qualified name"
                                    },
                                    {
                                        "name": "BillWithParent",
                                        "type": "boolean",
                                        "label": "Bill with parent"
                                    },
                                    {
                                        "name": "Title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "Job",
                                        "type": "boolean",
                                        "label": "Job"
                                    },
                                    {
                                        "name": "BalanceWithJobs",
                                        "type": "number",
                                        "label": "Balance with jobs"
                                    },
                                    {
                                        "name": "PrimaryPhone",
                                        "spec": [
                                            {
                                                "name": "FreeFormNumber",
                                                "type": "text",
                                                "label": "Free form number"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Primary phone"
                                    },
                                    {
                                        "name": "Taxable",
                                        "type": "boolean",
                                        "label": "Taxable"
                                    },
                                    {
                                        "name": "MetaData",
                                        "spec": [
                                            {
                                                "name": "CreateTime",
                                                "type": "text",
                                                "label": "Create time"
                                            },
                                            {
                                                "name": "LastUpdatedTime",
                                                "type": "text",
                                                "label": "Last updated time"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Meta data"
                                    },
                                    {
                                        "name": "BillAddr",
                                        "spec": [
                                            {
                                                "name": "City",
                                                "type": "text",
                                                "label": "City"
                                            },
                                            {
                                                "name": "Country",
                                                "type": "text",
                                                "label": "Country"
                                            },
                                            {
                                                "name": "Line1",
                                                "type": "text",
                                                "label": "Line1"
                                            },
                                            {
                                                "name": "Line2",
                                                "type": "text",
                                                "label": "Line2"
                                            },
                                            {
                                                "name": "PostalCode",
                                                "type": "text",
                                                "label": "Postal code"
                                            },
                                            {
                                                "name": "CountrySubDivisionCode",
                                                "type": "text",
                                                "label": "Country sub division code"
                                            },
                                            {
                                                "name": "Id",
                                                "type": "text",
                                                "label": "Id"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Bill addr"
                                    },
                                    {
                                        "name": "MiddleName",
                                        "type": "text",
                                        "label": "Middle name"
                                    },
                                    {
                                        "name": "Notes",
                                        "type": "text",
                                        "label": "Notes"
                                    },
                                    {
                                        "name": "Active",
                                        "type": "boolean",
                                        "label": "Active"
                                    },
                                    {
                                        "name": "Balance",
                                        "type": "number",
                                        "label": "Balance"
                                    },
                                    {
                                        "name": "SyncToken",
                                        "type": "text",
                                        "label": "Sync token"
                                    },
                                    {
                                        "name": "Suffix",
                                        "type": "text",
                                        "label": "Suffix"
                                    },
                                    {
                                        "name": "CompanyName",
                                        "type": "text",
                                        "label": "Company name"
                                    },
                                    {
                                        "name": "FamilyName",
                                        "type": "text",
                                        "label": "Family name"
                                    },
                                    {
                                        "name": "PrintOnCheckName",
                                        "type": "text",
                                        "label": "Print on check name"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "util:SetVariable",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "customer id",
                                "scope": "roundtrip",
                                "value": "{{17.Id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0
                                },
                                "restore": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "customer id"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 11,
                            "module": "util:GetVariable",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "customer id"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 450
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 13,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 450
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 18,
                                            "module": "quickbooks:CreateSalesReceipt",
                                            "version": 2,
                                            "parameters": {},
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{11.value}}",
                                                            "b": "",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "discount": {},
                                                "CustomerRef": "{{11.value}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "discount": {
                                                        "nested": {
                                                            "type": {
                                                                "mode": "chose",
                                                                "label": ""
                                                            }
                                                        }
                                                    },
                                                    "CustomerRef": {
                                                        "mode": "edit"
                                                    },
                                                    "PaymentMethodRef": {
                                                        "mode": "chose",
                                                        "label": ""
                                                    },
                                                    "DepositToAccountRef": {
                                                        "mode": "chose",
                                                        "label": ""
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "CustomerRef",
                                                        "type": "select",
                                                        "label": "Customer",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "Line",
                                                        "spec": [
                                                            {
                                                                "name": "Amount",
                                                                "type": "number",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "Qty",
                                                                "type": "number",
                                                                "label": "Quantity"
                                                            },
                                                            {
                                                                "name": "UnitPrice",
                                                                "type": "number",
                                                                "label": "Unit price"
                                                            },
                                                            {
                                                                "name": "ItemRef",
                                                                "type": "select",
                                                                "label": "Item"
                                                            },
                                                            {
                                                                "name": "Description",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "TaxCodeRef",
                                                                "type": "select",
                                                                "label": "Tax code"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Lines",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 1
                                                        }
                                                    },
                                                    {
                                                        "name": "PaymentMethodRef",
                                                        "type": "select",
                                                        "label": "Payment method"
                                                    },
                                                    {
                                                        "name": "DepositToAccountRef",
                                                        "type": "select",
                                                        "label": "Account"
                                                    },
                                                    {
                                                        "name": "DocNumber",
                                                        "type": "text",
                                                        "label": "Doc number"
                                                    },
                                                    {
                                                        "name": "discount",
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "validate": {
                                                                    "enum": [
                                                                        "amount",
                                                                        "percent"
                                                                    ]
                                                                }
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Discount",
                                                        "required": false
                                                    },
                                                    {
                                                        "name": "PrivateNote",
                                                        "type": "text",
                                                        "label": "Private note",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "CustomerMemo",
                                                        "type": "text",
                                                        "label": "Customer memo",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "TxnDate",
                                                        "type": "date",
                                                        "label": "Transaction date"
                                                    },
                                                    {
                                                        "name": "PaymentRefNum",
                                                        "type": "text",
                                                        "label": "Payment reference num"
                                                    },
                                                    {
                                                        "name": "CurrencyRef",
                                                        "type": "text",
                                                        "label": "Currency"
                                                    },
                                                    {
                                                        "name": "ExchangeRate",
                                                        "type": "number",
                                                        "label": "Exchange rate"
                                                    },
                                                    {
                                                        "name": "CustomField1",
                                                        "type": "text",
                                                        "label": "Custom field 1"
                                                    },
                                                    {
                                                        "name": "CustomField2",
                                                        "type": "text",
                                                        "label": "Custom field 2"
                                                    },
                                                    {
                                                        "name": "CustomField3",
                                                        "type": "text",
                                                        "label": "Custom field 3"
                                                    },
                                                    {
                                                        "name": "ShipDate",
                                                        "type": "date",
                                                        "label": "Shipping date"
                                                    },
                                                    {
                                                        "name": "ShipMethodRef",
                                                        "type": "text",
                                                        "label": "Shipping method"
                                                    },
                                                    {
                                                        "name": "TrackingNum",
                                                        "type": "text",
                                                        "label": "Tracking number"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "Id",
                                                        "type": "text",
                                                        "label": "Sales receipt ID"
                                                    },
                                                    {
                                                        "name": "SyncToken",
                                                        "type": "text",
                                                        "label": "Sync token"
                                                    },
                                                    {
                                                        "name": "MetaData",
                                                        "spec": [
                                                            {
                                                                "name": "CreateTime",
                                                                "type": "date",
                                                                "label": "Create time"
                                                            },
                                                            {
                                                                "name": "LastUpdatedTime",
                                                                "type": "date",
                                                                "label": "Last updated time"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Meta data"
                                                    },
                                                    {
                                                        "name": "CustomField",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "DefinitionId",
                                                                    "type": "text",
                                                                    "label": "Definition Id"
                                                                },
                                                                {
                                                                    "name": "Type",
                                                                    "type": "text",
                                                                    "label": "Type"
                                                                },
                                                                {
                                                                    "name": "StringValue",
                                                                    "type": "text",
                                                                    "label": "String value"
                                                                }
                                                            ],
                                                            "type": "collection"
                                                        },
                                                        "type": "array",
                                                        "label": "Custom field"
                                                    },
                                                    {
                                                        "name": "DocNumber",
                                                        "type": "text",
                                                        "label": "Doc number"
                                                    },
                                                    {
                                                        "name": "TxnDate",
                                                        "type": "text",
                                                        "label": "Transaction date"
                                                    },
                                                    {
                                                        "name": "CurrencyRef",
                                                        "spec": [
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            },
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Currency"
                                                    },
                                                    {
                                                        "name": "Line",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "Id",
                                                                    "type": "text",
                                                                    "label": "Id"
                                                                },
                                                                {
                                                                    "name": "LineNum",
                                                                    "type": "number",
                                                                    "label": "Line num"
                                                                },
                                                                {
                                                                    "name": "Amount",
                                                                    "type": "number",
                                                                    "label": "Amount"
                                                                },
                                                                {
                                                                    "name": "DetailType",
                                                                    "type": "text",
                                                                    "label": "Detail type"
                                                                },
                                                                {
                                                                    "name": "SalesItemLineDetail",
                                                                    "spec": [
                                                                        {
                                                                            "name": "ItemRef",
                                                                            "spec": [
                                                                                {
                                                                                    "name": "value",
                                                                                    "type": "text",
                                                                                    "label": "Value"
                                                                                },
                                                                                {
                                                                                    "name": "name",
                                                                                    "type": "text",
                                                                                    "label": "Name"
                                                                                }
                                                                            ],
                                                                            "type": "collection",
                                                                            "label": "Item"
                                                                        },
                                                                        {
                                                                            "name": "TaxCodeRef",
                                                                            "spec": [
                                                                                {
                                                                                    "name": "value",
                                                                                    "type": "text",
                                                                                    "label": "Value"
                                                                                }
                                                                            ],
                                                                            "type": "collection",
                                                                            "label": "Tax code"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Sales item line detail"
                                                                }
                                                            ],
                                                            "type": "collection"
                                                        },
                                                        "type": "array",
                                                        "label": "Lines"
                                                    },
                                                    {
                                                        "name": "CustomerRef",
                                                        "spec": [
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            },
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Customer"
                                                    },
                                                    {
                                                        "name": "TotalAmt",
                                                        "type": "number",
                                                        "label": "Total amount"
                                                    },
                                                    {
                                                        "name": "PrintStatus",
                                                        "type": "text",
                                                        "label": "Print status"
                                                    },
                                                    {
                                                        "name": "EmailStatus",
                                                        "type": "text",
                                                        "label": "Email status"
                                                    },
                                                    {
                                                        "name": "Balance",
                                                        "type": "number",
                                                        "label": "Balance"
                                                    },
                                                    {
                                                        "name": "DepositToAccountRef",
                                                        "spec": [
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            },
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Deposit to account"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 19,
                                            "module": "quickbooks:CreateSalesReceipt",
                                            "version": 2,
                                            "parameters": {},
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{11.value}}",
                                                            "b": "",
                                                            "o": "notexist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "discount": {},
                                                "CustomerRef": "{{16.Id}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 600
                                                },
                                                "restore": {
                                                    "discount": {
                                                        "nested": {
                                                            "type": {
                                                                "mode": "chose",
                                                                "label": ""
                                                            }
                                                        }
                                                    },
                                                    "CustomerRef": {
                                                        "mode": "edit"
                                                    },
                                                    "PaymentMethodRef": {
                                                        "mode": "chose",
                                                        "label": ""
                                                    },
                                                    "DepositToAccountRef": {
                                                        "mode": "chose",
                                                        "label": ""
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "CustomerRef",
                                                        "type": "select",
                                                        "label": "Customer",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "Line",
                                                        "spec": [
                                                            {
                                                                "name": "Amount",
                                                                "type": "number",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "Qty",
                                                                "type": "number",
                                                                "label": "Quantity"
                                                            },
                                                            {
                                                                "name": "UnitPrice",
                                                                "type": "number",
                                                                "label": "Unit price"
                                                            },
                                                            {
                                                                "name": "ItemRef",
                                                                "type": "select",
                                                                "label": "Item"
                                                            },
                                                            {
                                                                "name": "Description",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "TaxCodeRef",
                                                                "type": "select",
                                                                "label": "Tax code"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Lines",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 1
                                                        }
                                                    },
                                                    {
                                                        "name": "PaymentMethodRef",
                                                        "type": "select",
                                                        "label": "Payment method"
                                                    },
                                                    {
                                                        "name": "DepositToAccountRef",
                                                        "type": "select",
                                                        "label": "Account"
                                                    },
                                                    {
                                                        "name": "DocNumber",
                                                        "type": "text",
                                                        "label": "Doc number"
                                                    },
                                                    {
                                                        "name": "discount",
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "validate": {
                                                                    "enum": [
                                                                        "amount",
                                                                        "percent"
                                                                    ]
                                                                }
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Discount",
                                                        "required": false
                                                    },
                                                    {
                                                        "name": "PrivateNote",
                                                        "type": "text",
                                                        "label": "Private note",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "CustomerMemo",
                                                        "type": "text",
                                                        "label": "Customer memo",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "TxnDate",
                                                        "type": "date",
                                                        "label": "Transaction date"
                                                    },
                                                    {
                                                        "name": "PaymentRefNum",
                                                        "type": "text",
                                                        "label": "Payment reference num"
                                                    },
                                                    {
                                                        "name": "CurrencyRef",
                                                        "type": "text",
                                                        "label": "Currency"
                                                    },
                                                    {
                                                        "name": "ExchangeRate",
                                                        "type": "number",
                                                        "label": "Exchange rate"
                                                    },
                                                    {
                                                        "name": "CustomField1",
                                                        "type": "text",
                                                        "label": "Custom field 1"
                                                    },
                                                    {
                                                        "name": "CustomField2",
                                                        "type": "text",
                                                        "label": "Custom field 2"
                                                    },
                                                    {
                                                        "name": "CustomField3",
                                                        "type": "text",
                                                        "label": "Custom field 3"
                                                    },
                                                    {
                                                        "name": "ShipDate",
                                                        "type": "date",
                                                        "label": "Shipping date"
                                                    },
                                                    {
                                                        "name": "ShipMethodRef",
                                                        "type": "text",
                                                        "label": "Shipping method"
                                                    },
                                                    {
                                                        "name": "TrackingNum",
                                                        "type": "text",
                                                        "label": "Tracking number"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "Id",
                                                        "type": "text",
                                                        "label": "Sales receipt ID"
                                                    },
                                                    {
                                                        "name": "SyncToken",
                                                        "type": "text",
                                                        "label": "Sync token"
                                                    },
                                                    {
                                                        "name": "MetaData",
                                                        "spec": [
                                                            {
                                                                "name": "CreateTime",
                                                                "type": "date",
                                                                "label": "Create time"
                                                            },
                                                            {
                                                                "name": "LastUpdatedTime",
                                                                "type": "date",
                                                                "label": "Last updated time"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Meta data"
                                                    },
                                                    {
                                                        "name": "CustomField",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "DefinitionId",
                                                                    "type": "text",
                                                                    "label": "Definition Id"
                                                                },
                                                                {
                                                                    "name": "Type",
                                                                    "type": "text",
                                                                    "label": "Type"
                                                                },
                                                                {
                                                                    "name": "StringValue",
                                                                    "type": "text",
                                                                    "label": "String value"
                                                                }
                                                            ],
                                                            "type": "collection"
                                                        },
                                                        "type": "array",
                                                        "label": "Custom field"
                                                    },
                                                    {
                                                        "name": "DocNumber",
                                                        "type": "text",
                                                        "label": "Doc number"
                                                    },
                                                    {
                                                        "name": "TxnDate",
                                                        "type": "text",
                                                        "label": "Transaction date"
                                                    },
                                                    {
                                                        "name": "CurrencyRef",
                                                        "spec": [
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            },
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Currency"
                                                    },
                                                    {
                                                        "name": "Line",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "Id",
                                                                    "type": "text",
                                                                    "label": "Id"
                                                                },
                                                                {
                                                                    "name": "LineNum",
                                                                    "type": "number",
                                                                    "label": "Line num"
                                                                },
                                                                {
                                                                    "name": "Amount",
                                                                    "type": "number",
                                                                    "label": "Amount"
                                                                },
                                                                {
                                                                    "name": "DetailType",
                                                                    "type": "text",
                                                                    "label": "Detail type"
                                                                },
                                                                {
                                                                    "name": "SalesItemLineDetail",
                                                                    "spec": [
                                                                        {
                                                                            "name": "ItemRef",
                                                                            "spec": [
                                                                                {
                                                                                    "name": "value",
                                                                                    "type": "text",
                                                                                    "label": "Value"
                                                                                },
                                                                                {
                                                                                    "name": "name",
                                                                                    "type": "text",
                                                                                    "label": "Name"
                                                                                }
                                                                            ],
                                                                            "type": "collection",
                                                                            "label": "Item"
                                                                        },
                                                                        {
                                                                            "name": "TaxCodeRef",
                                                                            "spec": [
                                                                                {
                                                                                    "name": "value",
                                                                                    "type": "text",
                                                                                    "label": "Value"
                                                                                }
                                                                            ],
                                                                            "type": "collection",
                                                                            "label": "Tax code"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Sales item line detail"
                                                                }
                                                            ],
                                                            "type": "collection"
                                                        },
                                                        "type": "array",
                                                        "label": "Lines"
                                                    },
                                                    {
                                                        "name": "CustomerRef",
                                                        "spec": [
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            },
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Customer"
                                                    },
                                                    {
                                                        "name": "TotalAmt",
                                                        "type": "number",
                                                        "label": "Total amount"
                                                    },
                                                    {
                                                        "name": "PrintStatus",
                                                        "type": "text",
                                                        "label": "Print status"
                                                    },
                                                    {
                                                        "name": "EmailStatus",
                                                        "type": "text",
                                                        "label": "Email status"
                                                    },
                                                    {
                                                        "name": "Balance",
                                                        "type": "number",
                                                        "label": "Balance"
                                                    },
                                                    {
                                                        "name": "DepositToAccountRef",
                                                        "spec": [
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            },
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Deposit to account"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}