Make example flows 2/Detect Broken Backlinks with DataForSEO and Auto-Create Asana Tasks.blueprint.json
{
    "name": "Detect Broken Backlinks with DataForSEO and Auto-Create Asana Tasks",
    "flow": [
        {
            "id": 2,
            "module": "dfs-backlinks-api:getBacklinks",
            "version": 1,
            "parameters": {},
            "mapper": {
                "mode": "as_is",
                "limit": "1000",
                "filters": [
                    [
                        {
                            "a": "is_broken",
                            "b": "{{true}}",
                            "o": "="
                        }
                    ]
                ],
                "rank_scale": "one_thousand",
                "include_subdomains": true,
                "backlinks_status_type": "live",
                "include_indirect_links": true,
                "exclude_internal_backlinks": true
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "mode": {
                            "mode": "chose",
                            "label": "As is"
                        },
                        "order_by": {
                            "mode": "chose"
                        },
                        "rank_scale": {
                            "mode": "chose",
                            "label": "One Thousand"
                        },
                        "include_subdomains": {
                            "mode": "chose"
                        },
                        "backlinks_status_type": {
                            "mode": "chose",
                            "label": "Live"
                        },
                        "include_indirect_links": {
                            "mode": "chose"
                        },
                        "exclude_internal_backlinks": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:app#dfs-backlinks-api",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "target",
                        "type": "text",
                        "label": "Target (Domain, Subdomain, URL)",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Backlink Status",
                        "validate": {
                            "enum": [
                                "as_is",
                                "one_per_domain",
                                "one_per_anchor"
                            ]
                        }
                    },
                    {
                        "name": "filters",
                        "type": "filter",
                        "label": "Filters",
                        "options": {
                            "operators": [
                                {
                                    "label": "All",
                                    "options": [
                                        {
                                            "label": "<",
                                            "value": "<"
                                        },
                                        {
                                            "label": "<=",
                                            "value": "<="
                                        },
                                        {
                                            "label": ">",
                                            "value": ">"
                                        },
                                        {
                                            "label": ">=",
                                            "value": ">="
                                        },
                                        {
                                            "label": "=",
                                            "value": "="
                                        },
                                        {
                                            "label": "<>",
                                            "value": "<>"
                                        },
                                        {
                                            "label": "In",
                                            "value": "in"
                                        },
                                        {
                                            "label": "Not in",
                                            "value": "not_in"
                                        },
                                        {
                                            "label": "Like",
                                            "value": "like"
                                        },
                                        {
                                            "label": "Not like",
                                            "value": "not_like"
                                        },
                                        {
                                            "label": "Match",
                                            "value": "match"
                                        },
                                        {
                                            "label": "Not Match",
                                            "value": "not_match"
                                        },
                                        {
                                            "label": "Ilike",
                                            "value": "ilike"
                                        },
                                        {
                                            "label": "Not Ilike",
                                            "value": "not_ilike"
                                        },
                                        {
                                            "label": "Regex",
                                            "value": "regex"
                                        },
                                        {
                                            "label": "Not Regex",
                                            "value": "not_regex"
                                        }
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        "name": "order_by",
                        "spec": {
                            "name": "value",
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Results Sorting Rules"
                    },
                    {
                        "name": "limit",
                        "type": "integer",
                        "label": "Limit (up to 1000)"
                    },
                    {
                        "name": "offset",
                        "type": "integer",
                        "label": "Offset"
                    },
                    {
                        "name": "backlinks_status_type",
                        "type": "select",
                        "label": "Backlink Status",
                        "validate": {
                            "enum": [
                                "live",
                                "lost",
                                "all"
                            ]
                        }
                    },
                    {
                        "name": "include_subdomains",
                        "type": "boolean",
                        "label": "Include Subdomains"
                    },
                    {
                        "name": "include_indirect_links",
                        "type": "boolean",
                        "label": "Include Indirect Links"
                    },
                    {
                        "name": "exclude_internal_backlinks",
                        "type": "boolean",
                        "label": "Exclude Internal Links"
                    },
                    {
                        "name": "rank_scale",
                        "type": "select",
                        "label": "Rank Scale",
                        "validate": {
                            "enum": [
                                "one_hundred",
                                "one_thousand"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRepeater",
            "version": 1,
            "parameters": {},
            "mapper": {
                "step": "1",
                "start": "1",
                "repeats": "{{ceil(2.tasks[].result[].total_count / 1000) - 1}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {},
                "expect": [
                    {
                        "name": "start",
                        "type": "number",
                        "label": "Initial value",
                        "required": true
                    },
                    {
                        "name": "repeats",
                        "type": "number",
                        "label": "Repeats",
                        "required": true,
                        "validate": {
                            "max": 10000,
                            "min": 0
                        }
                    },
                    {
                        "name": "step",
                        "type": "number",
                        "label": "Step",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "dfs-backlinks-api:getBacklinks",
            "version": 1,
            "parameters": {},
            "mapper": {
                "mode": "as_is",
                "limit": "1000",
                "offset": "{{4.i * 1000}}",
                "target": "{{2.tasks[].data.target}}",
                "filters": [
                    [
                        {
                            "a": "is_broken",
                            "b": "{{true}}",
                            "o": "="
                        }
                    ]
                ],
                "rank_scale": "one_thousand",
                "include_subdomains": true,
                "backlinks_status_type": "live",
                "include_indirect_links": true,
                "exclude_internal_backlinks": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "mode": {
                            "mode": "chose",
                            "label": "As is"
                        },
                        "order_by": {
                            "mode": "chose"
                        },
                        "rank_scale": {
                            "mode": "chose",
                            "label": "One Thousand"
                        },
                        "include_subdomains": {
                            "mode": "chose"
                        },
                        "backlinks_status_type": {
                            "mode": "chose",
                            "label": "Live"
                        },
                        "include_indirect_links": {
                            "mode": "chose"
                        },
                        "exclude_internal_backlinks": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "app#dfs-backlinks-api"
                            },
                            "label": "My DataForSEO connection (iryna.alyohina@dataforseo.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:app#dfs-backlinks-api",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "target",
                        "type": "text",
                        "label": "Target (Domain, Subdomain, URL)",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Backlink Status",
                        "validate": {
                            "enum": [
                                "as_is",
                                "one_per_domain",
                                "one_per_anchor"
                            ]
                        }
                    },
                    {
                        "name": "filters",
                        "type": "filter",
                        "label": "Filters",
                        "options": {
                            "operators": [
                                {
                                    "label": "All",
                                    "options": [
                                        {
                                            "label": "<",
                                            "value": "<"
                                        },
                                        {
                                            "label": "<=",
                                            "value": "<="
                                        },
                                        {
                                            "label": ">",
                                            "value": ">"
                                        },
                                        {
                                            "label": ">=",
                                            "value": ">="
                                        },
                                        {
                                            "label": "=",
                                            "value": "="
                                        },
                                        {
                                            "label": "<>",
                                            "value": "<>"
                                        },
                                        {
                                            "label": "In",
                                            "value": "in"
                                        },
                                        {
                                            "label": "Not in",
                                            "value": "not_in"
                                        },
                                        {
                                            "label": "Like",
                                            "value": "like"
                                        },
                                        {
                                            "label": "Not like",
                                            "value": "not_like"
                                        },
                                        {
                                            "label": "Match",
                                            "value": "match"
                                        },
                                        {
                                            "label": "Not Match",
                                            "value": "not_match"
                                        },
                                        {
                                            "label": "Ilike",
                                            "value": "ilike"
                                        },
                                        {
                                            "label": "Not Ilike",
                                            "value": "not_ilike"
                                        },
                                        {
                                            "label": "Regex",
                                            "value": "regex"
                                        },
                                        {
                                            "label": "Not Regex",
                                            "value": "not_regex"
                                        }
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        "name": "order_by",
                        "spec": {
                            "name": "value",
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Results Sorting Rules"
                    },
                    {
                        "name": "limit",
                        "type": "integer",
                        "label": "Limit (up to 1000)"
                    },
                    {
                        "name": "offset",
                        "type": "integer",
                        "label": "Offset"
                    },
                    {
                        "name": "backlinks_status_type",
                        "type": "select",
                        "label": "Backlink Status",
                        "validate": {
                            "enum": [
                                "live",
                                "lost",
                                "all"
                            ]
                        }
                    },
                    {
                        "name": "include_subdomains",
                        "type": "boolean",
                        "label": "Include Subdomains"
                    },
                    {
                        "name": "include_indirect_links",
                        "type": "boolean",
                        "label": "Include Indirect Links"
                    },
                    {
                        "name": "exclude_internal_backlinks",
                        "type": "boolean",
                        "label": "Exclude Internal Links"
                    },
                    {
                        "name": "rank_scale",
                        "type": "select",
                        "label": "Rank Scale",
                        "validate": {
                            "enum": [
                                "one_hundred",
                                "one_thousand"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 4
            },
            "mapper": {
                "tasks": "{{5.tasks}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Repeater [4]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 9,
            "module": "google-sheets:createSpreadsheet",
            "version": 2,
            "parameters": {},
            "mapper": {
                "sheets": [
                    {
                        "properties": {
                            "title": "Broken Backlinks"
                        }
                    }
                ],
                "properties": {
                    "title": "Broken Backlinks for {{2.tasks[].data.target}}",
                    "defaultFormat": {}
                }
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "sheets": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "properties": {
                            "nested": {
                                "timeZone": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "autoRecalc": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "defaultFormat": {
                                    "nested": {
                                        "numberFormat": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (iryna.alyohina@dataforseo.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "properties",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Spreadsheet name",
                                "required": true
                            },
                            {
                                "name": "locale",
                                "type": "text",
                                "label": "Locale"
                            },
                            {
                                "name": "autoRecalc",
                                "type": "select",
                                "label": "Recalculation interval",
                                "validate": {
                                    "enum": [
                                        "ON_CHANGE",
                                        "MINUTE",
                                        "HOUR"
                                    ]
                                }
                            },
                            {
                                "name": "timeZone",
                                "type": "select",
                                "label": "Time zone"
                            },
                            {
                                "name": "defaultFormat",
                                "spec": [
                                    {
                                        "name": "numberFormat",
                                        "type": "select",
                                        "label": "Number format",
                                        "validate": {
                                            "enum": [
                                                "TEXT",
                                                "NUMBER",
                                                "PERCENT",
                                                "CURRENCY",
                                                "DATE",
                                                "TIME",
                                                "DATE_TIME",
                                                "SCIENTIFIC"
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Default format"
                            }
                        ],
                        "type": "collection",
                        "label": "Properties"
                    },
                    {
                        "name": "sheets",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "properties",
                                    "spec": [
                                        {
                                            "name": "title",
                                            "type": "text",
                                            "label": "Sheet name"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Properties"
                                }
                            ],
                            "type": "collection",
                            "label": "Sheet"
                        },
                        "type": "array",
                        "label": "Sheets"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {},
            "mapper": {
                "mode": "map",
                "values": {
                    "0": "Date",
                    "1": "Target",
                    "2": "Backlink",
                    "3": "Spam Score",
                    "4": "Backlink Rank",
                    "5": "Domain from",
                    "6": "Domain from Rank",
                    "7": "URL from",
                    "8": "URL from Rank",
                    "9": "Backlink Is Broken",
                    "10": "Backlinks Is Dofollow"
                },
                "sheetId": "Broken Backlinks",
                "spreadsheetId": "{{9.spreadsheetId}}",
                "tableFirstRow": "A1:Z1",
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "mode": {
                            "label": "Enter manually"
                        },
                        "tableFirstRow": {
                            "label": "A-Z",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "A"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "B"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "C"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "D"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "E"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "F"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "G"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "H"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "I"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "J"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "K"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "L"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "M"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "N"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "O"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "P"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "Q"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "R"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "S"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "T"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "U"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "V"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "W"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "X"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "Y"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "Z"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values in columns"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (iryna.alyohina@dataforseo.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "text",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1"
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "A"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "B"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "C"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "D"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "E"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "F"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "G"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "H"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "I"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "J"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "K"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "L"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "M"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "N"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "O"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "P"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "Q"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "R"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "S"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "T"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "U"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "V"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "W"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "X"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "Y"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "Z"
                            }
                        ],
                        "type": "collection",
                        "label": "Values in columns"
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{merge(2.tasks[].result[].items; flatten(map(7.array; \"tasks.1.result.1.items\")))}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {},
            "mapper": {
                "mode": "map",
                "values": {
                    "0": "{{formatDate(now; \"YYYY-MM-DD\")}}",
                    "1": "{{2.tasks[].data.target}}",
                    "2": "{{13.url_to}}",
                    "3": "{{13.backlink_spam_score}}",
                    "4": "{{13.rank}}",
                    "5": "{{13.domain_from}}",
                    "6": "{{13.domain_from_rank}}",
                    "7": "{{13.url_from}}",
                    "8": "{{13.page_from_rank}}",
                    "9": "{{13.is_broken}}",
                    "10": "{{13.dofollow}}"
                },
                "sheetId": "Broken Backlinks",
                "spreadsheetId": "{{9.spreadsheetId}}",
                "tableFirstRow": "A1:Z1",
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "mode": {
                            "label": "Enter manually"
                        },
                        "tableFirstRow": {
                            "label": "A-Z",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "A"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "B"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "C"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "D"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "E"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "F"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "G"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "H"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "I"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "J"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "K"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "L"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "M"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "N"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "O"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "P"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "Q"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "R"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "S"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "T"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "U"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "V"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "W"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "X"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "Y"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "Z"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (iryna.alyohina@dataforseo.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "text",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1"
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "A"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "B"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "C"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "D"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "E"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "F"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "G"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "H"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "I"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "J"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "K"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "L"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "M"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "N"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "O"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "P"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "Q"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "R"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "S"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "T"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "U"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "V"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "W"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "X"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "Y"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "Z"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        },
        {
            "id": 17,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 13
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterator [13]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 19,
            "module": "asana:CreateTask",
            "version": 2,
            "parameters": {},
            "mapper": {
                "name": "Broken backlinks for {{2.tasks[].data.target}}",
                "notes": "Broken Backlinks for {{2.tasks[].data.target}}: {{9.spreadsheetUrl}}",
                "assignee": "1207548230460014",
                "external": {},
                "ignoreMe": "no",
                "projects": [
                    "1207548004351431"
                ],
                "workspace": "112670807337085",
                "destination": "projects",
                "ignoreMeTwo": "no",
                "workspaceAlt": "112670807337085"
            },
            "metadata": {
                "designer": {
                    "x": 2700,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "due": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "tags": {
                            "mode": "chose"
                        },
                        "liked": {
                            "mode": "chose"
                        },
                        "assignee": {
                            "mode": "chose",
                            "label": "Iryna Alyohina"
                        },
                        "ignoreMe": {
                            "mode": "chose",
                            "label": "No"
                        },
                        "projects": {
                            "mode": "chose",
                            "label": [
                                "No-code-Integrations"
                            ]
                        },
                        "completed": {
                            "mode": "chose"
                        },
                        "followers": {
                            "mode": "chose"
                        },
                        "workspace": {
                            "mode": "chose",
                            "label": "[Organization] Softoria"
                        },
                        "destination": {
                            "mode": "chose",
                            "label": "Projects"
                        },
                        "ignoreMeTwo": {
                            "mode": "chose",
                            "label": "No"
                        },
                        "workspaceAlt": {
                            "mode": "chose",
                            "label": "[Organization] Softoria"
                        },
                        "workspaceAlt2": {
                            "mode": "edit"
                        },
                        "workspaceAlt3": {
                            "mode": "edit"
                        },
                        "assignee_status": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "resource_subtype": {
                            "mode": "chose",
                            "label": "Empty"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "asana"
                            },
                            "label": "My Asana connection (iryna.alyohina@dataforseo.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:asana",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Task destination",
                        "required": true,
                        "validate": {
                            "enum": [
                                "workspace",
                                "projects",
                                "projAndSect",
                                "parentTaskSelect",
                                "parentTaskMap"
                            ]
                        }
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Task Name"
                    },
                    {
                        "name": "notes",
                        "type": "text",
                        "label": "Notes"
                    },
                    {
                        "name": "html_notes",
                        "type": "text",
                        "label": "HTML Notes"
                    },
                    {
                        "mode": "edit",
                        "name": "workspaceAlt",
                        "type": "select",
                        "label": "Workspace ID (for selecting assignees)"
                    },
                    {
                        "name": "due",
                        "type": "select",
                        "label": "Due",
                        "validate": {
                            "enum": [
                                "date",
                                "datetime"
                            ]
                        }
                    },
                    {
                        "name": "resource_subtype",
                        "type": "select",
                        "label": "Resource Subtype",
                        "validate": {
                            "enum": [
                                "approval",
                                "default_task",
                                "milestone"
                            ]
                        }
                    },
                    {
                        "name": "liked",
                        "type": "boolean",
                        "label": "Liked"
                    },
                    {
                        "name": "completed",
                        "type": "boolean",
                        "label": "Task Completed?"
                    },
                    {
                        "name": "external",
                        "spec": [
                            {
                                "name": "gid",
                                "type": "text",
                                "label": "External ID",
                                "validate": {
                                    "max": 1024
                                }
                            },
                            {
                                "name": "data",
                                "type": "text",
                                "label": "External Data"
                            }
                        ],
                        "type": "collection",
                        "label": "External"
                    },
                    {
                        "mode": "edit",
                        "name": "workspaceAlt2",
                        "type": "select",
                        "label": "Workspace ID (for selecting followers)"
                    },
                    {
                        "mode": "edit",
                        "name": "workspaceAlt3",
                        "type": "select",
                        "label": "Workspace ID (for selecting tags)"
                    },
                    {
                        "name": "workspace",
                        "type": "select",
                        "label": "Workspace ID",
                        "required": true
                    },
                    {
                        "name": "projects",
                        "type": "select",
                        "label": "Projects",
                        "multiple": true,
                        "required": true
                    },
                    {
                        "name": "ignoreMe",
                        "type": "select",
                        "label": "Generate Workspace Custom Fields",
                        "validate": {
                            "enum": [
                                "no",
                                "yes"
                            ]
                        }
                    },
                    {
                        "name": "ignoreMeTwo",
                        "type": "select",
                        "label": "Generate Workspace Projects Custom Fields",
                        "validate": {
                            "enum": [
                                "no",
                                "yes"
                            ]
                        }
                    },
                    {
                        "name": "assignee",
                        "type": "select",
                        "label": "Task Assignee ID"
                    },
                    {
                        "name": "assignee_status",
                        "type": "select",
                        "label": "Assignee Status",
                        "validate": {
                            "enum": [
                                "inbox",
                                "later",
                                "today",
                                "upcoming"
                            ]
                        }
                    },
                    {
                        "name": "followers",
                        "spec": {
                            "name": "value",
                            "type": "any"
                        },
                        "type": "array",
                        "label": "Followers"
                    },
                    {
                        "name": "tags",
                        "spec": {
                            "name": "value",
                            "type": "any"
                        },
                        "type": "array",
                        "label": "Tags"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}