Make example flows 2/Draft multilingual blog posts, a Facebook post and an email with Claude and Wordpress.blueprint (1).json
{
    "name": "Draft multilingual blog posts, a Facebook post and an email with Claude and Wordpress",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomMailHook",
            "version": 1,
            "parameters": {
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 450,
                    "name": "gmail Mailhook"
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-mailhook",
                        "label": "Mailhook"
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "anthropic-claude:createAMessage",
            "version": 1,
            "parameters": {},
            "mapper": {
                "model": "claude-3-sonnet-20240229",
                "system": "Introduce yourself as Claude, the helpful AI, and write one paragraph of interesting facts about each thing mentioned in the text. Do not include any preamble, and provide the answer in HTML using H2 for headings.",
                "messages": [
                    {
                        "role": "user",
                        "content": [
                            {
                                "text": "{{1.text}}",
                                "type": "text"
                            }
                        ]
                    }
                ],
                "metadata": {},
                "max_tokens": "1000",
                "temperature": "1"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 450
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "claude-3-sonnet-20240229"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "content": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "stop_sequences": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "anthropic-claude"
                            },
                            "label": "My Anthropic Claude connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:anthropic-claude",
                        "label": "Connection"
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "User",
                                            "value": "user",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "You can send image content blocks starting with Claude 3 models.",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Image",
                                                                        "value": "image",
                                                                        "nested": [
                                                                            {
                                                                                "name": "source",
                                                                                "spec": [
                                                                                    {
                                                                                        "help": "File name, including the extension, for example, `image.jpg`.",
                                                                                        "name": "filename",
                                                                                        "type": "filename",
                                                                                        "label": "Filename",
                                                                                        "required": true,
                                                                                        "semantic": "file:name",
                                                                                        "extension": [
                                                                                            "jpeg",
                                                                                            "jpg",
                                                                                            "png",
                                                                                            "gif",
                                                                                            "webp"
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the **HTTP: Get a file** module.",
                                                                                        "name": "data",
                                                                                        "type": "buffer",
                                                                                        "label": "Data",
                                                                                        "required": true,
                                                                                        "semantic": "file:data"
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Source",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool Result",
                                                                        "value": "tool_result",
                                                                        "nested": [
                                                                            {
                                                                                "name": "tool_use_id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "content",
                                                                                "type": "text",
                                                                                "label": "Content",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant",
                                            "nested": [
                                                {
                                                    "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Content",
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tool Assistant",
                                            "value": "tool_assistant",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "You can send image content blocks starting with Claude 3 models.",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool Use",
                                                                        "value": "tool_use",
                                                                        "nested": [
                                                                            {
                                                                                "name": "id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Tool Name",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "input",
                                                                                "type": "any",
                                                                                "label": "Input",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system",
                        "type": "text",
                        "label": "System Prompt"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "user_id",
                                "type": "text",
                                "label": "User ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "stop_sequences",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1
                        }
                    },
                    {
                        "name": "top_k",
                        "type": "uinteger",
                        "label": "Top K"
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tools",
                                            "value": "tools",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Parameter Value"
                                                    },
                                                    "type": "array",
                                                    "label": "Parameter Values",
                                                    "labels": {
                                                        "add": "Add parameter value"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 22,
            "module": "anthropic-claude:createAMessage",
            "version": 1,
            "parameters": {},
            "mapper": {
                "model": "claude-3-5-sonnet-20240620",
                "system": "Please use the text to provide a Title for a blog. Only provide the Title and no other text. Do not output the word 'Title'.",
                "messages": [
                    {
                        "role": "user",
                        "content": [
                            {
                                "text": "On June 25, 2009, the American singer Michael Jackson died of acute propofol intoxication in Los Angeles, California, at the age of 50. His physician, Conrad Murray, said that he found Jackson in his bedroom at his North Carolwood Drive home in the Holmby Hills area of the city, not breathing and with a weak pulse; he administered cardiopulmonary resuscitation (CPR) to no avail, and security called 9-1-1 at 12:21 p.m. Pacific Daylight Time (UTC–7). Paramedics treated Jackson at the scene, but he was pronounced dead at the Ronald Reagan UCLA Medical Center in Westwood at 2:26 p.m.[1]On August 28, 2009, the Los Angeles County Department of Medical Examiner-Coroner concluded that Jackson's death was a homicide.[2] His doctor had administered Jackson propofol and anti-anxiety benzodiazepines lorazepam and midazolam.[3] Murray was convicted of involuntary manslaughter in November 2011 and was released in 2013 after serving two years of his four-year prison sentence with time off for good behavior.[4][5]At the time of his death, Jackson had been preparing for a series of comeback concerts, This Is It, due to begin in July 2009 in London in the United Kingdom. His death triggered reactions worldwide, creating unprecedented surges of Internet traffic and a spike in sales of his music.[6] A televised memorial service held at the Staples Center in Los Angeles had an estimated 2.5 billion viewers.[7][8][9] In 2010, Sony Music Entertainment signed a US$250 million deal with Jackson's estate to retain distribution rights to his recordings until 2017 and to release seven posthumous albums of unreleased material over the following decade, but only two were ever released",
                                "type": "text"
                            }
                        ]
                    }
                ],
                "metadata": {},
                "max_tokens": "1000",
                "temperature": "1"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 450
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "claude-3-5-sonnet-20240620"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "content": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "stop_sequences": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "anthropic-claude"
                            },
                            "label": "My Anthropic Claude connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:anthropic-claude",
                        "label": "Connection"
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "User",
                                            "value": "user",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "You can send image content blocks starting with Claude 3 models.",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Image",
                                                                        "value": "image",
                                                                        "nested": [
                                                                            {
                                                                                "name": "source",
                                                                                "spec": [
                                                                                    {
                                                                                        "help": "File name, including the extension, for example, `image.jpg`.",
                                                                                        "name": "filename",
                                                                                        "type": "filename",
                                                                                        "label": "Filename",
                                                                                        "required": true,
                                                                                        "semantic": "file:name",
                                                                                        "extension": [
                                                                                            "jpeg",
                                                                                            "jpg",
                                                                                            "png",
                                                                                            "gif",
                                                                                            "webp"
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the **HTTP: Get a file** module.",
                                                                                        "name": "data",
                                                                                        "type": "buffer",
                                                                                        "label": "Data",
                                                                                        "required": true,
                                                                                        "semantic": "file:data"
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Source",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool Result",
                                                                        "value": "tool_result",
                                                                        "nested": [
                                                                            {
                                                                                "name": "tool_use_id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "content",
                                                                                "type": "text",
                                                                                "label": "Content",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant",
                                            "nested": [
                                                {
                                                    "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Content",
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tool Assistant",
                                            "value": "tool_assistant",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "You can send image content blocks starting with Claude 3 models.",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool Use",
                                                                        "value": "tool_use",
                                                                        "nested": [
                                                                            {
                                                                                "name": "id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Tool Name",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "input",
                                                                                "type": "any",
                                                                                "label": "Input",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system",
                        "type": "text",
                        "label": "System Prompt"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "user_id",
                                "type": "text",
                                "label": "User ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "stop_sequences",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1
                        }
                    },
                    {
                        "name": "top_k",
                        "type": "uinteger",
                        "label": "Top K"
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tools",
                                            "value": "tools",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Parameter Value"
                                                    },
                                                    "type": "array",
                                                    "label": "Parameter Values",
                                                    "labels": {
                                                        "add": "Add parameter value"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 29,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 450
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "wordpress:createPost",
                            "version": 3,
                            "parameters": {},
                            "mapper": {
                                "type": "posts",
                                "title": "{{22.textResponse}}",
                                "author": 1,
                                "format": "standard",
                                "status": "publish",
                                "content": "{{2.textResponse}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0,
                                    "name": "EN Post"
                                },
                                "restore": {
                                    "expect": {
                                        "meta": {
                                            "mode": "chose"
                                        },
                                        "tags": {
                                            "mode": "chose"
                                        },
                                        "type": {
                                            "mode": "chose",
                                            "label": "Posts"
                                        },
                                        "author": {
                                            "mode": "chose",
                                            "label": "magnus"
                                        },
                                        "format": {
                                            "mode": "chose",
                                            "label": "Standard"
                                        },
                                        "status": {
                                            "mode": "chose",
                                            "label": "Publish"
                                        },
                                        "sticky": {
                                            "mode": "chose"
                                        },
                                        "taxonomy": {
                                            "mode": "chose"
                                        },
                                        "categories": {
                                            "mode": "chose"
                                        },
                                        "pingStatus": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "commentStatus": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "wordpress4"
                                            },
                                            "label": "My WordPress connection (thanos)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:wordpress4",
                                        "label": "Connection"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title",
                                        "required": true
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Type",
                                        "required": true
                                    },
                                    {
                                        "name": "excerpt",
                                        "type": "text",
                                        "label": "Excerpt"
                                    },
                                    {
                                        "name": "date",
                                        "type": "date",
                                        "label": "Date"
                                    },
                                    {
                                        "name": "slug",
                                        "type": "text",
                                        "label": "Slug"
                                    },
                                    {
                                        "name": "status",
                                        "type": "select",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "format",
                                        "type": "select",
                                        "label": "Format"
                                    },
                                    {
                                        "name": "parent",
                                        "type": "number",
                                        "label": "Parent object ID"
                                    },
                                    {
                                        "name": "categories",
                                        "type": "select",
                                        "label": "Categories",
                                        "multiple": true
                                    },
                                    {
                                        "name": "tags",
                                        "type": "select",
                                        "label": "Tags",
                                        "multiple": true
                                    },
                                    {
                                        "name": "author",
                                        "type": "select",
                                        "label": "Author"
                                    },
                                    {
                                        "name": "featuredMedia",
                                        "type": "number",
                                        "label": "Featured media ID"
                                    },
                                    {
                                        "name": "template",
                                        "type": "text",
                                        "label": "Template"
                                    },
                                    {
                                        "name": "password",
                                        "type": "text",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "sticky",
                                        "type": "boolean",
                                        "label": "Sticky"
                                    },
                                    {
                                        "name": "commentStatus",
                                        "type": "select",
                                        "label": "Comment status",
                                        "validate": {
                                            "enum": [
                                                "open",
                                                "closed"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "pingStatus",
                                        "type": "select",
                                        "label": "Ping status",
                                        "validate": {
                                            "enum": [
                                                "open",
                                                "closed"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "taxonomy",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "values",
                                                "type": "array",
                                                "label": "Values",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Additional fields"
                                    },
                                    {
                                        "name": "meta",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Metadata (custom fields)"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "deepl:translateText",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "text": "{{2.content[].text}}",
                                "formality": "less",
                                "source_lang": "EN",
                                "target_lang": "FR"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300,
                                    "name": "Translate FR"
                                },
                                "restore": {
                                    "expect": {
                                        "formality": {
                                            "mode": "chose",
                                            "label": "Less Formal"
                                        },
                                        "glossary_id": {
                                            "mode": "chose"
                                        },
                                        "source_lang": {
                                            "mode": "chose",
                                            "label": "English"
                                        },
                                        "target_lang": {
                                            "mode": "chose",
                                            "label": "French",
                                            "nested": [
                                                {
                                                    "help": "Sets whether the translated text should lean towards formal or informal language. This feature currently only works for target languages DE (German), FR (French), IT (Italian), ES (Spanish), NL (Dutch), PL (Polish), PT-PT, PT-BR (Portuguese) and RU (Russian).",
                                                    "name": "formality",
                                                    "type": "select",
                                                    "label": "Formality",
                                                    "options": [
                                                        {
                                                            "label": "Default",
                                                            "value": "default"
                                                        },
                                                        {
                                                            "label": "More Formal",
                                                            "value": "more"
                                                        },
                                                        {
                                                            "label": "Less Formal",
                                                            "value": "less"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        "tag_handling": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "split_sentences": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "outline_detection": {
                                            "mode": "chose"
                                        },
                                        "preserve_formatting": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "deepl"
                                            },
                                            "label": "My DeepL connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:deepl",
                                        "label": "Connection"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "target_lang",
                                        "type": "select",
                                        "label": "Target Language",
                                        "required": true
                                    },
                                    {
                                        "name": "source_lang",
                                        "type": "select",
                                        "label": "Source Language"
                                    },
                                    {
                                        "name": "split_sentences",
                                        "type": "select",
                                        "label": "Split Sentences",
                                        "validate": {
                                            "enum": [
                                                "0",
                                                "1",
                                                "nonewlines"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "preserve_formatting",
                                        "type": "boolean",
                                        "label": "Preserve Formatting"
                                    },
                                    {
                                        "name": "glossary_id",
                                        "type": "select",
                                        "label": "Glossary ID"
                                    },
                                    {
                                        "name": "tag_handling",
                                        "type": "select",
                                        "label": "Tag Handling",
                                        "validate": {
                                            "enum": [
                                                "xml"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "non_splitting_tags",
                                        "type": "text",
                                        "label": "Non Splitting Tags"
                                    },
                                    {
                                        "name": "outline_detection",
                                        "type": "boolean",
                                        "label": "Outline Detection"
                                    },
                                    {
                                        "name": "splitting_tags",
                                        "type": "text",
                                        "label": "Splitting Tags"
                                    },
                                    {
                                        "name": "ignore_tags",
                                        "type": "text",
                                        "label": "Ignored Tags"
                                    },
                                    {
                                        "name": "formality",
                                        "type": "select",
                                        "label": "Formality",
                                        "validate": {
                                            "enum": [
                                                "default",
                                                "more",
                                                "less"
                                            ]
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 23,
                            "module": "deepl:translateText",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "text": "{{22.textResponse}}",
                                "formality": "less",
                                "source_lang": "EN",
                                "target_lang": "FR"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300,
                                    "name": "Translate FR"
                                },
                                "restore": {
                                    "expect": {
                                        "formality": {
                                            "mode": "chose",
                                            "label": "Less Formal"
                                        },
                                        "glossary_id": {
                                            "mode": "chose"
                                        },
                                        "source_lang": {
                                            "mode": "chose",
                                            "label": "English"
                                        },
                                        "target_lang": {
                                            "mode": "chose",
                                            "label": "French",
                                            "nested": [
                                                {
                                                    "help": "Sets whether the translated text should lean towards formal or informal language. This feature currently only works for target languages DE (German), FR (French), IT (Italian), ES (Spanish), NL (Dutch), PL (Polish), PT-PT, PT-BR (Portuguese) and RU (Russian).",
                                                    "name": "formality",
                                                    "type": "select",
                                                    "label": "Formality",
                                                    "options": [
                                                        {
                                                            "label": "Default",
                                                            "value": "default"
                                                        },
                                                        {
                                                            "label": "More Formal",
                                                            "value": "more"
                                                        },
                                                        {
                                                            "label": "Less Formal",
                                                            "value": "less"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        "tag_handling": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "split_sentences": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "outline_detection": {
                                            "mode": "chose"
                                        },
                                        "preserve_formatting": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "deepl"
                                            },
                                            "label": "My DeepL connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:deepl",
                                        "label": "Connection"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "target_lang",
                                        "type": "select",
                                        "label": "Target Language",
                                        "required": true
                                    },
                                    {
                                        "name": "source_lang",
                                        "type": "select",
                                        "label": "Source Language"
                                    },
                                    {
                                        "name": "split_sentences",
                                        "type": "select",
                                        "label": "Split Sentences",
                                        "validate": {
                                            "enum": [
                                                "0",
                                                "1",
                                                "nonewlines"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "preserve_formatting",
                                        "type": "boolean",
                                        "label": "Preserve Formatting"
                                    },
                                    {
                                        "name": "glossary_id",
                                        "type": "select",
                                        "label": "Glossary ID"
                                    },
                                    {
                                        "name": "tag_handling",
                                        "type": "select",
                                        "label": "Tag Handling",
                                        "validate": {
                                            "enum": [
                                                "xml"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "non_splitting_tags",
                                        "type": "text",
                                        "label": "Non Splitting Tags"
                                    },
                                    {
                                        "name": "outline_detection",
                                        "type": "boolean",
                                        "label": "Outline Detection"
                                    },
                                    {
                                        "name": "splitting_tags",
                                        "type": "text",
                                        "label": "Splitting Tags"
                                    },
                                    {
                                        "name": "ignore_tags",
                                        "type": "text",
                                        "label": "Ignored Tags"
                                    },
                                    {
                                        "name": "formality",
                                        "type": "select",
                                        "label": "Formality",
                                        "validate": {
                                            "enum": [
                                                "default",
                                                "more",
                                                "less"
                                            ]
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "wordpress:createPost",
                            "version": 3,
                            "parameters": {},
                            "mapper": {
                                "type": "posts",
                                "title": "{{23.translations[].text}}",
                                "author": 1,
                                "format": "standard",
                                "status": "publish",
                                "content": "{{4.translations[].text}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 300,
                                    "name": "FR Post"
                                },
                                "restore": {
                                    "expect": {
                                        "meta": {
                                            "mode": "chose"
                                        },
                                        "tags": {
                                            "mode": "chose"
                                        },
                                        "type": {
                                            "mode": "chose",
                                            "label": "Posts"
                                        },
                                        "author": {
                                            "mode": "chose",
                                            "label": "thanos"
                                        },
                                        "format": {
                                            "mode": "chose",
                                            "label": "Standard"
                                        },
                                        "status": {
                                            "mode": "chose",
                                            "label": "Publish"
                                        },
                                        "sticky": {
                                            "mode": "chose"
                                        },
                                        "taxonomy": {
                                            "mode": "chose"
                                        },
                                        "categories": {
                                            "mode": "chose"
                                        },
                                        "pingStatus": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "commentStatus": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "wordpress4"
                                            },
                                            "label": "My WordPress connection (thanos)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:wordpress4",
                                        "label": "Connection"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title",
                                        "required": true
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Type",
                                        "required": true
                                    },
                                    {
                                        "name": "excerpt",
                                        "type": "text",
                                        "label": "Excerpt"
                                    },
                                    {
                                        "name": "date",
                                        "type": "date",
                                        "label": "Date"
                                    },
                                    {
                                        "name": "slug",
                                        "type": "text",
                                        "label": "Slug"
                                    },
                                    {
                                        "name": "status",
                                        "type": "select",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "format",
                                        "type": "select",
                                        "label": "Format"
                                    },
                                    {
                                        "name": "parent",
                                        "type": "number",
                                        "label": "Parent object ID"
                                    },
                                    {
                                        "name": "categories",
                                        "type": "select",
                                        "label": "Categories",
                                        "multiple": true
                                    },
                                    {
                                        "name": "tags",
                                        "type": "select",
                                        "label": "Tags",
                                        "multiple": true
                                    },
                                    {
                                        "name": "author",
                                        "type": "select",
                                        "label": "Author"
                                    },
                                    {
                                        "name": "featuredMedia",
                                        "type": "number",
                                        "label": "Featured media ID"
                                    },
                                    {
                                        "name": "template",
                                        "type": "text",
                                        "label": "Template"
                                    },
                                    {
                                        "name": "password",
                                        "type": "text",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "sticky",
                                        "type": "boolean",
                                        "label": "Sticky"
                                    },
                                    {
                                        "name": "commentStatus",
                                        "type": "select",
                                        "label": "Comment status",
                                        "validate": {
                                            "enum": [
                                                "open",
                                                "closed"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "pingStatus",
                                        "type": "select",
                                        "label": "Ping status",
                                        "validate": {
                                            "enum": [
                                                "open",
                                                "closed"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "taxonomy",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "values",
                                                "type": "array",
                                                "label": "Values",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Additional fields"
                                    },
                                    {
                                        "name": "meta",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Metadata (custom fields)"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "deepl:translateText",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "text": "{{2.content[].text}}",
                                "source_lang": "EN",
                                "target_lang": "JA"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 600,
                                    "name": "Translate JA"
                                },
                                "restore": {
                                    "expect": {
                                        "glossary_id": {
                                            "mode": "chose"
                                        },
                                        "source_lang": {
                                            "mode": "chose",
                                            "label": "English"
                                        },
                                        "target_lang": {
                                            "mode": "chose",
                                            "label": "Japanese"
                                        },
                                        "tag_handling": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "split_sentences": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "outline_detection": {
                                            "mode": "chose"
                                        },
                                        "preserve_formatting": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "deepl"
                                            },
                                            "label": "My DeepL connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:deepl",
                                        "label": "Connection"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "target_lang",
                                        "type": "select",
                                        "label": "Target Language",
                                        "required": true
                                    },
                                    {
                                        "name": "source_lang",
                                        "type": "select",
                                        "label": "Source Language"
                                    },
                                    {
                                        "name": "split_sentences",
                                        "type": "select",
                                        "label": "Split Sentences",
                                        "validate": {
                                            "enum": [
                                                "0",
                                                "1",
                                                "nonewlines"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "preserve_formatting",
                                        "type": "boolean",
                                        "label": "Preserve Formatting"
                                    },
                                    {
                                        "name": "glossary_id",
                                        "type": "select",
                                        "label": "Glossary ID"
                                    },
                                    {
                                        "name": "tag_handling",
                                        "type": "select",
                                        "label": "Tag Handling",
                                        "validate": {
                                            "enum": [
                                                "xml"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "non_splitting_tags",
                                        "type": "text",
                                        "label": "Non Splitting Tags"
                                    },
                                    {
                                        "name": "outline_detection",
                                        "type": "boolean",
                                        "label": "Outline Detection"
                                    },
                                    {
                                        "name": "splitting_tags",
                                        "type": "text",
                                        "label": "Splitting Tags"
                                    },
                                    {
                                        "name": "ignore_tags",
                                        "type": "text",
                                        "label": "Ignored Tags"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 24,
                            "module": "deepl:translateText",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "text": "{{22.textResponse}}",
                                "formality": "less",
                                "source_lang": "EN",
                                "target_lang": "FR"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 600,
                                    "name": "Translate FR"
                                },
                                "restore": {
                                    "expect": {
                                        "formality": {
                                            "mode": "chose",
                                            "label": "Less Formal"
                                        },
                                        "glossary_id": {
                                            "mode": "chose"
                                        },
                                        "source_lang": {
                                            "mode": "chose",
                                            "label": "English"
                                        },
                                        "target_lang": {
                                            "mode": "chose",
                                            "label": "French",
                                            "nested": [
                                                {
                                                    "help": "Sets whether the translated text should lean towards formal or informal language. This feature currently only works for target languages DE (German), FR (French), IT (Italian), ES (Spanish), NL (Dutch), PL (Polish), PT-PT, PT-BR (Portuguese) and RU (Russian).",
                                                    "name": "formality",
                                                    "type": "select",
                                                    "label": "Formality",
                                                    "options": [
                                                        {
                                                            "label": "Default",
                                                            "value": "default"
                                                        },
                                                        {
                                                            "label": "More Formal",
                                                            "value": "more"
                                                        },
                                                        {
                                                            "label": "Less Formal",
                                                            "value": "less"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        "tag_handling": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "split_sentences": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "outline_detection": {
                                            "mode": "chose"
                                        },
                                        "preserve_formatting": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "deepl"
                                            },
                                            "label": "My DeepL connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:deepl",
                                        "label": "Connection"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "target_lang",
                                        "type": "select",
                                        "label": "Target Language",
                                        "required": true
                                    },
                                    {
                                        "name": "source_lang",
                                        "type": "select",
                                        "label": "Source Language"
                                    },
                                    {
                                        "name": "split_sentences",
                                        "type": "select",
                                        "label": "Split Sentences",
                                        "validate": {
                                            "enum": [
                                                "0",
                                                "1",
                                                "nonewlines"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "preserve_formatting",
                                        "type": "boolean",
                                        "label": "Preserve Formatting"
                                    },
                                    {
                                        "name": "glossary_id",
                                        "type": "select",
                                        "label": "Glossary ID"
                                    },
                                    {
                                        "name": "tag_handling",
                                        "type": "select",
                                        "label": "Tag Handling",
                                        "validate": {
                                            "enum": [
                                                "xml"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "non_splitting_tags",
                                        "type": "text",
                                        "label": "Non Splitting Tags"
                                    },
                                    {
                                        "name": "outline_detection",
                                        "type": "boolean",
                                        "label": "Outline Detection"
                                    },
                                    {
                                        "name": "splitting_tags",
                                        "type": "text",
                                        "label": "Splitting Tags"
                                    },
                                    {
                                        "name": "ignore_tags",
                                        "type": "text",
                                        "label": "Ignored Tags"
                                    },
                                    {
                                        "name": "formality",
                                        "type": "select",
                                        "label": "Formality",
                                        "validate": {
                                            "enum": [
                                                "default",
                                                "more",
                                                "less"
                                            ]
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "wordpress:createPost",
                            "version": 3,
                            "parameters": {},
                            "mapper": {
                                "type": "posts",
                                "title": "{{24.translations[].text}}",
                                "author": 1,
                                "format": "standard",
                                "status": "publish",
                                "content": "{{9.translations[].text}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 600,
                                    "name": "JA Post"
                                },
                                "restore": {
                                    "expect": {
                                        "meta": {
                                            "mode": "chose"
                                        },
                                        "tags": {
                                            "mode": "chose"
                                        },
                                        "type": {
                                            "mode": "chose",
                                            "label": "Posts"
                                        },
                                        "author": {
                                            "mode": "chose",
                                            "label": "magnus"
                                        },
                                        "format": {
                                            "mode": "chose",
                                            "label": "Standard"
                                        },
                                        "status": {
                                            "mode": "chose",
                                            "label": "Publish"
                                        },
                                        "sticky": {
                                            "mode": "chose"
                                        },
                                        "taxonomy": {
                                            "mode": "chose"
                                        },
                                        "categories": {
                                            "mode": "chose"
                                        },
                                        "pingStatus": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "commentStatus": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "wordpress4"
                                            },
                                            "label": "My WordPress connection (thanos)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:wordpress4",
                                        "label": "Connection"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title",
                                        "required": true
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Type",
                                        "required": true
                                    },
                                    {
                                        "name": "excerpt",
                                        "type": "text",
                                        "label": "Excerpt"
                                    },
                                    {
                                        "name": "date",
                                        "type": "date",
                                        "label": "Date"
                                    },
                                    {
                                        "name": "slug",
                                        "type": "text",
                                        "label": "Slug"
                                    },
                                    {
                                        "name": "status",
                                        "type": "select",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "format",
                                        "type": "select",
                                        "label": "Format"
                                    },
                                    {
                                        "name": "parent",
                                        "type": "number",
                                        "label": "Parent object ID"
                                    },
                                    {
                                        "name": "categories",
                                        "type": "select",
                                        "label": "Categories",
                                        "multiple": true
                                    },
                                    {
                                        "name": "tags",
                                        "type": "select",
                                        "label": "Tags",
                                        "multiple": true
                                    },
                                    {
                                        "name": "author",
                                        "type": "select",
                                        "label": "Author"
                                    },
                                    {
                                        "name": "featuredMedia",
                                        "type": "number",
                                        "label": "Featured media ID"
                                    },
                                    {
                                        "name": "template",
                                        "type": "text",
                                        "label": "Template"
                                    },
                                    {
                                        "name": "password",
                                        "type": "text",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "sticky",
                                        "type": "boolean",
                                        "label": "Sticky"
                                    },
                                    {
                                        "name": "commentStatus",
                                        "type": "select",
                                        "label": "Comment status",
                                        "validate": {
                                            "enum": [
                                                "open",
                                                "closed"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "pingStatus",
                                        "type": "select",
                                        "label": "Ping status",
                                        "validate": {
                                            "enum": [
                                                "open",
                                                "closed"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "taxonomy",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "values",
                                                "type": "array",
                                                "label": "Values",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Additional fields"
                                    },
                                    {
                                        "name": "meta",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Metadata (custom fields)"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "regexp:HTMLToText",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "html": "{{2.textResponse}}",
                                "newline": "lf",
                                "uppercaseHeadings": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 900,
                                    "name": "Strip tags"
                                },
                                "restore": {
                                    "expect": {
                                        "newline": {
                                            "label": "LF (\\n) - Unix/Mac OS X"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "HTML"
                                    },
                                    {
                                        "name": "newline",
                                        "type": "select",
                                        "label": "Line break",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "lf",
                                                "crlf",
                                                "cr"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "uppercaseHeadings",
                                        "type": "boolean",
                                        "label": "Uppercase headings",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 26,
                            "module": "openai-gpt-3:GenerateImage",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "size": "1024x1024",
                                "model": "dall-e-3",
                                "style": "vivid",
                                "prompt": "{{22.textResponse}}",
                                "quality": "standard",
                                "response_format": "url"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 900
                                },
                                "restore": {
                                    "expect": {
                                        "size": {
                                            "mode": "chose",
                                            "label": "1024x1024"
                                        },
                                        "model": {
                                            "mode": "chose",
                                            "label": "Dall-E 3"
                                        },
                                        "style": {
                                            "mode": "chose",
                                            "label": "Vivid"
                                        },
                                        "quality": {
                                            "mode": "chose",
                                            "label": "Standard"
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "URL"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            },
                                            "label": "Make Ent GPT4"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "dall-e-3",
                                                "dall-e-2"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "prompt",
                                        "type": "text",
                                        "label": "Prompt",
                                        "required": true,
                                        "validate": {
                                            "max": 4000,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "size",
                                        "type": "select",
                                        "label": "Size",
                                        "validate": {
                                            "enum": [
                                                "1024x1024",
                                                "1792x1024",
                                                "1024x1792"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "quality",
                                        "type": "select",
                                        "label": "Quality",
                                        "validate": {
                                            "enum": [
                                                "standard",
                                                "hd"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "style",
                                        "type": "select",
                                        "label": "Style",
                                        "validate": {
                                            "enum": [
                                                "vivid",
                                                "natural"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "url",
                                                "imageFile"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "created",
                                        "type": "date",
                                        "label": "Created"
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "revised_prompt",
                                                "type": "text",
                                                "label": "Revised Prompt"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Data"
                                    },
                                    {
                                        "name": "resImgName",
                                        "type": "text",
                                        "label": "Response Image Name",
                                        "semantic": "file:name"
                                    },
                                    {
                                        "name": "resImgData",
                                        "type": "buffer",
                                        "label": "Response Image Data",
                                        "semantic": "file:data"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "facebook-pages:CreatePost",
                            "version": 6,
                            "parameters": {},
                            "mapper": {
                                "link": "{{26.data[].url}}",
                                "message": "{{8.text}}",
                                "page_id": "220168271173896"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 900,
                                    "name": "Post to page"
                                },
                                "restore": {
                                    "expect": {
                                        "page_id": {
                                            "mode": "chose",
                                            "label": "Svenska Legender"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            },
                                            "label": "My Facebook connection (Development Make)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "page_id",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Message"
                                    },
                                    {
                                        "name": "link",
                                        "type": "url",
                                        "label": "Link"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Link name"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Link description"
                                    },
                                    {
                                        "name": "date",
                                        "type": "date",
                                        "label": "Date"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 15,
                            "module": "anthropic-claude:createAMessage",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "model": "claude-3-sonnet-20240229",
                                "system": "You are a children's book teacher. Rewrite this '{{2.textResponse}}' into an exciting weekly newsletter titled \"Did you know this?\" aimed at children 10 to 15 years of age. Answer in HTML with headings and smileys. Do not include any preamble or similar; your response will be sent directly to recipients.",
                                "messages": [
                                    {
                                        "role": "user",
                                        "content": [
                                            {
                                                "text": "{{8.text}}",
                                                "type": "text"
                                            }
                                        ]
                                    }
                                ],
                                "metadata": {},
                                "max_tokens": "1000",
                                "temperature": "1"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 900
                                },
                                "restore": {
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "claude-3-sonnet-20240229"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    },
                                                    "content": {
                                                        "mode": "chose",
                                                        "items": [
                                                            {
                                                                "type": {
                                                                    "mode": "chose",
                                                                    "label": "Text"
                                                                }
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        "stop_sequences": {
                                            "mode": "chose"
                                        },
                                        "additionalParameters": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "anthropic-claude"
                                            },
                                            "label": "My Anthropic Claude connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:anthropic-claude",
                                        "label": "Connection"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "uinteger",
                                        "label": "Max Tokens",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "select",
                                                    "label": "Role",
                                                    "options": [
                                                        {
                                                            "label": "User",
                                                            "value": "user",
                                                            "nested": [
                                                                {
                                                                    "name": "content",
                                                                    "spec": {
                                                                        "spec": [
                                                                            {
                                                                                "help": "You can send image content blocks starting with Claude 3 models.",
                                                                                "name": "type",
                                                                                "type": "select",
                                                                                "label": "Type",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "Text",
                                                                                        "value": "text",
                                                                                        "nested": [
                                                                                            {
                                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                                "name": "text",
                                                                                                "type": "text",
                                                                                                "label": "Text",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "Image",
                                                                                        "value": "image",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "source",
                                                                                                "spec": [
                                                                                                    {
                                                                                                        "help": "File name, including the extension, for example, `image.jpg`.",
                                                                                                        "name": "filename",
                                                                                                        "type": "filename",
                                                                                                        "label": "Filename",
                                                                                                        "required": true,
                                                                                                        "semantic": "file:name",
                                                                                                        "extension": [
                                                                                                            "jpeg",
                                                                                                            "jpg",
                                                                                                            "png",
                                                                                                            "gif",
                                                                                                            "webp"
                                                                                                        ]
                                                                                                    },
                                                                                                    {
                                                                                                        "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the **HTTP: Get a file** module.",
                                                                                                        "name": "data",
                                                                                                        "type": "buffer",
                                                                                                        "label": "Data",
                                                                                                        "required": true,
                                                                                                        "semantic": "file:data"
                                                                                                    }
                                                                                                ],
                                                                                                "type": "collection",
                                                                                                "label": "Source",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "Tool Result",
                                                                                        "value": "tool_result",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "tool_use_id",
                                                                                                "type": "text",
                                                                                                "label": "Tool Use ID",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "name": "content",
                                                                                                "type": "text",
                                                                                                "label": "Content",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ],
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Content"
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Content",
                                                                    "labels": {
                                                                        "add": "Add content"
                                                                    },
                                                                    "required": true
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Assistant",
                                                            "value": "assistant",
                                                            "nested": [
                                                                {
                                                                    "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Content",
                                                                    "required": true
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Tool Assistant",
                                                            "value": "tool_assistant",
                                                            "nested": [
                                                                {
                                                                    "name": "content",
                                                                    "spec": {
                                                                        "spec": [
                                                                            {
                                                                                "help": "You can send image content blocks starting with Claude 3 models.",
                                                                                "name": "type",
                                                                                "type": "select",
                                                                                "label": "Type",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "Text",
                                                                                        "value": "text",
                                                                                        "nested": [
                                                                                            {
                                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                                "name": "text",
                                                                                                "type": "text",
                                                                                                "label": "Text",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "Tool Use",
                                                                                        "value": "tool_use",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "id",
                                                                                                "type": "text",
                                                                                                "label": "Tool Use ID",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "name": "name",
                                                                                                "type": "text",
                                                                                                "label": "Tool Name",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "name": "input",
                                                                                                "type": "any",
                                                                                                "label": "Input",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ],
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Content"
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Content",
                                                                    "labels": {
                                                                        "add": "Add content"
                                                                    },
                                                                    "required": true
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "required": true
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Message"
                                        },
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "system",
                                        "type": "text",
                                        "label": "System Prompt"
                                    },
                                    {
                                        "name": "metadata",
                                        "spec": [
                                            {
                                                "name": "user_id",
                                                "type": "text",
                                                "label": "User ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Metadata"
                                    },
                                    {
                                        "name": "stop_sequences",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Stop Sequence"
                                        },
                                        "type": "array",
                                        "label": "Stop Sequences"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1
                                        }
                                    },
                                    {
                                        "name": "top_k",
                                        "type": "uinteger",
                                        "label": "Top K"
                                    },
                                    {
                                        "name": "additionalParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Parameter Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "select",
                                                    "label": "Input Type",
                                                    "options": [
                                                        {
                                                            "label": "Text",
                                                            "value": "text",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ],
                                                            "default": true
                                                        },
                                                        {
                                                            "label": "Number",
                                                            "value": "number",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "number",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Boolean",
                                                            "value": "boolean",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "boolean",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Date",
                                                            "value": "date",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "date",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Tools",
                                                            "value": "tools",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "spec": {
                                                                        "type": "text",
                                                                        "label": "Parameter Value"
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Parameter Values",
                                                                    "labels": {
                                                                        "add": "Add parameter value"
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Any",
                                                            "value": "any",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "any",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Input Parameter"
                                        },
                                        "type": "array",
                                        "label": "Other Input Parameters"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 19,
                            "module": "mailchimp:createACampaign",
                            "version": 2,
                            "parameters": {},
                            "mapper": {
                                "list": "8050289666",
                                "title": "title",
                                "select": "html",
                                "reply_to": "someone@email.com",
                                "from_name": "name",
                                "segment_text": "{{15.textResponse}}",
                                "subject_line": "{{22.textResponse}}",
                                "use_conversation": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 900
                                },
                                "restore": {
                                    "expect": {
                                        "list": {
                                            "mode": "chose",
                                            "label": "Alexey My Mailchimp Audience"
                                        },
                                        "folder": {
                                            "mode": "chose"
                                        },
                                        "select": {
                                            "label": "By HTML Format Text"
                                        },
                                        "segment": {
                                            "mode": "chose"
                                        },
                                        "use_conversation": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "mailchimp"
                                            },
                                            "label": "My MailChimp connection (development.peoly@integromat.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:mailchimp",
                                        "label": "Connection"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Campaign Title",
                                        "required": true
                                    },
                                    {
                                        "name": "list",
                                        "type": "select",
                                        "label": "List (Audience) ID",
                                        "required": true
                                    },
                                    {
                                        "name": "subject_line",
                                        "type": "text",
                                        "label": "Subject Line",
                                        "required": true
                                    },
                                    {
                                        "name": "preview_text",
                                        "type": "text",
                                        "label": "Preview Text"
                                    },
                                    {
                                        "name": "from_name",
                                        "type": "text",
                                        "label": "From Name",
                                        "required": true
                                    },
                                    {
                                        "name": "reply_to",
                                        "type": "email",
                                        "label": "From Email Address",
                                        "required": true
                                    },
                                    {
                                        "name": "to_name",
                                        "type": "text",
                                        "label": "To Name"
                                    },
                                    {
                                        "name": "use_conversation",
                                        "type": "boolean",
                                        "label": "Use Conversation",
                                        "required": true
                                    },
                                    {
                                        "name": "folder",
                                        "type": "select",
                                        "label": "Folder ID"
                                    },
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Fill the Body Content",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "template",
                                                "html"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "segment",
                                        "type": "select",
                                        "label": "Segment (Tag) ID"
                                    },
                                    {
                                        "name": "segment_text",
                                        "type": "text",
                                        "label": "HTML Content"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}