Make example flows 2/Enrich contact details from a custom webhook with FullContact using HTTP request module and creating.blueprint.json
{
    "name": "Enrich contact details from a custom webhook with FullContact using HTTP request module and creating a lead in 1CRM",
    "flow": [
        {
            "id": 14,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "maxResults": 10
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "email",
                        "type": "text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 8,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://api.fullcontact.com/v3/person.enrich",
                "data": "{\"email\":\"{{14.email}}\",\"fullName\":\"{{14.name}}\"}",
                "gzip": true,
                "method": "post",
                "timeout": "",
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": []
                    },
                    "method": {
                        "mode": "chose",
                        "label": "POST"
                    },
                    "bodyType": {
                        "label": "Raw"
                    },
                    "contentType": {
                        "label": "JSON (application/json)"
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers",
                        "labels": {
                            "add": "Add a header",
                            "edit": "Edit a header"
                        }
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String",
                        "labels": {
                            "add": "Add parameter",
                            "edit": "Edit parameter"
                        }
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate",
                        "multiline": true
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "onecrm:CreateObject",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{8.statusCode}}",
                            "b": "200",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "name": "{{8.data.fullName}}",
                "model": "Lead",
                "converted": false,
                "last_name": "{{8.data.details.name.family}}",
                "first_name": "{{8.data.details.name.given}}",
                "assigned_user_id": "1"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "model": {
                        "label": "Lead"
                    },
                    "category": {
                        "mode": "chose",
                        "label": ""
                    },
                    "category2": {
                        "mode": "chose",
                        "label": ""
                    },
                    "category3": {
                        "mode": "chose",
                        "label": ""
                    },
                    "category4": {
                        "mode": "chose",
                        "label": ""
                    },
                    "category5": {
                        "mode": "chose",
                        "label": ""
                    },
                    "category6": {
                        "mode": "chose",
                        "label": ""
                    },
                    "category7": {
                        "mode": "chose",
                        "label": ""
                    },
                    "category8": {
                        "mode": "chose",
                        "label": ""
                    },
                    "category9": {
                        "mode": "chose",
                        "label": ""
                    },
                    "converted": {
                        "mode": "chose"
                    },
                    "category10": {
                        "mode": "chose",
                        "label": ""
                    },
                    "salutation": {
                        "mode": "chose",
                        "label": ""
                    },
                    "do_not_call": {
                        "mode": "chose"
                    },
                    "lead_source": {
                        "mode": "chose",
                        "label": ""
                    },
                    "temperature": {
                        "mode": "chose",
                        "label": ""
                    },
                    "email_opt_in": {
                        "mode": "chose"
                    },
                    "chat_activity": {
                        "mode": "chose"
                    },
                    "email_opt_out": {
                        "mode": "chose"
                    },
                    "invalid_email": {
                        "mode": "chose"
                    },
                    "portal_active": {
                        "mode": "chose"
                    },
                    "livechat_activity": {
                        "mode": "chose"
                    },
                    "consent_to_process": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Module",
                        "required": true
                    },
                    {
                        "name": "assigned_user_id",
                        "type": "text",
                        "label": "Assigned to (assigned_user_id)",
                        "required": true
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "converted",
                        "type": "boolean",
                        "label": "Converted",
                        "required": true
                    },
                    {
                        "name": "categories",
                        "type": "text",
                        "label": "Category (categories)"
                    },
                    {
                        "name": "category",
                        "type": "select",
                        "label": "Category (category)",
                        "validate": {
                            "enum": [
                                "Business",
                                "Company Staff",
                                "Customers",
                                "Friends and Family",
                                "Partners",
                                "Personal Services",
                                "Press and Analysts",
                                "Professional Advisors",
                                "Restaurants",
                                "Suppliers"
                            ]
                        }
                    },
                    {
                        "name": "category2",
                        "type": "select",
                        "label": "Category (category2)",
                        "validate": {
                            "enum": [
                                "Business",
                                "Company Staff",
                                "Customers",
                                "Friends and Family",
                                "Partners",
                                "Personal Services",
                                "Press and Analysts",
                                "Professional Advisors",
                                "Restaurants",
                                "Suppliers"
                            ]
                        }
                    },
                    {
                        "name": "category3",
                        "type": "select",
                        "label": "Category (category3)",
                        "validate": {
                            "enum": [
                                "Business",
                                "Company Staff",
                                "Customers",
                                "Friends and Family",
                                "Partners",
                                "Personal Services",
                                "Press and Analysts",
                                "Professional Advisors",
                                "Restaurants",
                                "Suppliers"
                            ]
                        }
                    },
                    {
                        "name": "category4",
                        "type": "select",
                        "label": "Category (category4)",
                        "validate": {
                            "enum": [
                                "Business",
                                "Company Staff",
                                "Customers",
                                "Friends and Family",
                                "Partners",
                                "Personal Services",
                                "Press and Analysts",
                                "Professional Advisors",
                                "Restaurants",
                                "Suppliers"
                            ]
                        }
                    },
                    {
                        "name": "category5",
                        "type": "select",
                        "label": "Category (category5)",
                        "validate": {
                            "enum": [
                                "Business",
                                "Company Staff",
                                "Customers",
                                "Friends and Family",
                                "Partners",
                                "Personal Services",
                                "Press and Analysts",
                                "Professional Advisors",
                                "Restaurants",
                                "Suppliers"
                            ]
                        }
                    },
                    {
                        "name": "category6",
                        "type": "select",
                        "label": "Category (category6)",
                        "validate": {
                            "enum": [
                                "Business",
                                "Company Staff",
                                "Customers",
                                "Friends and Family",
                                "Partners",
                                "Personal Services",
                                "Press and Analysts",
                                "Professional Advisors",
                                "Restaurants",
                                "Suppliers"
                            ]
                        }
                    },
                    {
                        "name": "category7",
                        "type": "select",
                        "label": "Category (category7)",
                        "validate": {
                            "enum": [
                                "Business",
                                "Company Staff",
                                "Customers",
                                "Friends and Family",
                                "Partners",
                                "Personal Services",
                                "Press and Analysts",
                                "Professional Advisors",
                                "Restaurants",
                                "Suppliers"
                            ]
                        }
                    },
                    {
                        "name": "category8",
                        "type": "select",
                        "label": "Category (category8)",
                        "validate": {
                            "enum": [
                                "Business",
                                "Company Staff",
                                "Customers",
                                "Friends and Family",
                                "Partners",
                                "Personal Services",
                                "Press and Analysts",
                                "Professional Advisors",
                                "Restaurants",
                                "Suppliers"
                            ]
                        }
                    },
                    {
                        "name": "category9",
                        "type": "select",
                        "label": "Category (category9)",
                        "validate": {
                            "enum": [
                                "Business",
                                "Company Staff",
                                "Customers",
                                "Friends and Family",
                                "Partners",
                                "Personal Services",
                                "Press and Analysts",
                                "Professional Advisors",
                                "Restaurants",
                                "Suppliers"
                            ]
                        }
                    },
                    {
                        "name": "category10",
                        "type": "select",
                        "label": "Category (category10)",
                        "validate": {
                            "enum": [
                                "Business",
                                "Company Staff",
                                "Customers",
                                "Friends and Family",
                                "Partners",
                                "Personal Services",
                                "Press and Analysts",
                                "Professional Advisors",
                                "Restaurants",
                                "Suppliers"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "select",
                        "label": "Temperature",
                        "validate": {
                            "enum": [
                                "Smoking",
                                "Hot",
                                "Warm",
                                "Cold"
                            ]
                        }
                    },
                    {
                        "name": "salutation",
                        "type": "select",
                        "label": "Salutation",
                        "validate": {
                            "enum": [
                                "Mr.",
                                "Ms.",
                                "Mrs.",
                                "Dr.",
                                "Prof."
                            ]
                        }
                    },
                    {
                        "name": "first_name",
                        "type": "text",
                        "label": "First Name"
                    },
                    {
                        "name": "last_name",
                        "type": "text",
                        "label": "Last Name"
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "refered_by",
                        "type": "text",
                        "label": "Referred By"
                    },
                    {
                        "name": "lead_source",
                        "type": "select",
                        "label": "Lead Source",
                        "validate": {
                            "enum": [
                                "Cold Call",
                                "Existing Customer",
                                "Self Generated",
                                "Employee",
                                "Partner",
                                "Public Relations",
                                "Direct Mail",
                                "Conference",
                                "Trade Show",
                                "Web Site",
                                "Customer Portal",
                                "Word of mouth",
                                "Email",
                                "Other",
                                "Subscription"
                            ]
                        }
                    },
                    {
                        "name": "lead_source_description",
                        "type": "text",
                        "label": "Lead Source Description"
                    },
                    {
                        "name": "status",
                        "type": "select",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "enum": [
                                "New",
                                "Assigned",
                                "In Process",
                                "Converted",
                                "Recycled",
                                "Dead"
                            ]
                        }
                    },
                    {
                        "name": "status_description",
                        "type": "text",
                        "label": "Status Description"
                    },
                    {
                        "name": "department",
                        "type": "text",
                        "label": "Department"
                    },
                    {
                        "name": "reports_to_id",
                        "type": "text",
                        "label": "Reports To (reports_to_id)"
                    },
                    {
                        "name": "do_not_call",
                        "type": "boolean",
                        "label": "Do Not Call"
                    },
                    {
                        "name": "phone_home",
                        "type": "text",
                        "label": "Home Phone"
                    },
                    {
                        "name": "phone_mobile",
                        "type": "text",
                        "label": "Mobile"
                    },
                    {
                        "name": "phone_work",
                        "type": "text",
                        "label": "Office Phone"
                    },
                    {
                        "name": "phone_other",
                        "type": "text",
                        "label": "Other Phone"
                    },
                    {
                        "name": "phone_fax",
                        "type": "text",
                        "label": "Fax Number"
                    },
                    {
                        "name": "skype_id",
                        "type": "text",
                        "label": "Skype ID"
                    },
                    {
                        "name": "email1",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "email2",
                        "type": "text",
                        "label": "Other Email"
                    },
                    {
                        "name": "email_opt_out",
                        "type": "boolean",
                        "label": "Email Opt Out"
                    },
                    {
                        "name": "email_opt_in",
                        "type": "boolean",
                        "label": "Email Opt In"
                    },
                    {
                        "name": "website",
                        "type": "url",
                        "label": "Website"
                    },
                    {
                        "name": "primary_address_street",
                        "type": "text",
                        "label": "Primary Address Street"
                    },
                    {
                        "name": "primary_address_city",
                        "type": "text",
                        "label": "Primary Address City"
                    },
                    {
                        "name": "primary_address_state",
                        "type": "text",
                        "label": "Primary Address State"
                    },
                    {
                        "name": "primary_address_postalcode",
                        "type": "text",
                        "label": "Primary Address Postalcode"
                    },
                    {
                        "name": "primary_address_country",
                        "type": "text",
                        "label": "Primary Address Country"
                    },
                    {
                        "name": "primary_address_statecode",
                        "type": "text",
                        "label": "Primary Address State Code"
                    },
                    {
                        "name": "primary_address_countrycode",
                        "type": "text",
                        "label": "Primary Address Country Code"
                    },
                    {
                        "name": "alt_address_street",
                        "type": "text",
                        "label": "Alt Address Street"
                    },
                    {
                        "name": "alt_address_city",
                        "type": "text",
                        "label": "Alt Address City"
                    },
                    {
                        "name": "alt_address_state",
                        "type": "text",
                        "label": "Alt Address State"
                    },
                    {
                        "name": "alt_address_postalcode",
                        "type": "text",
                        "label": "Alt Address Postalcode"
                    },
                    {
                        "name": "alt_address_country",
                        "type": "text",
                        "label": "Alt Address Country"
                    },
                    {
                        "name": "alt_address_statecode",
                        "type": "text",
                        "label": "Alternate Address State Code"
                    },
                    {
                        "name": "alt_address_countrycode",
                        "type": "text",
                        "label": "Alternate Address Country Code"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "account_name",
                        "type": "text",
                        "label": "Account Name"
                    },
                    {
                        "name": "account_description",
                        "type": "text",
                        "label": "Account Description"
                    },
                    {
                        "name": "contact_id",
                        "type": "text",
                        "label": "Converted Contact (contact_id)"
                    },
                    {
                        "name": "campaign_id",
                        "type": "text",
                        "label": "Campaign (campaign_id)"
                    },
                    {
                        "name": "portal_active",
                        "type": "boolean",
                        "label": "Portal Active"
                    },
                    {
                        "name": "portal_name",
                        "type": "text",
                        "label": "Portal Name"
                    },
                    {
                        "name": "portal_app",
                        "type": "text",
                        "label": "Portal Application"
                    },
                    {
                        "name": "invalid_email",
                        "type": "boolean",
                        "label": "Invalid Email"
                    },
                    {
                        "name": "partner_id",
                        "type": "text",
                        "label": "Via Partner (partner_id)"
                    },
                    {
                        "name": "date_converted",
                        "type": "date",
                        "label": "Date Converted"
                    },
                    {
                        "name": "photo",
                        "type": "text",
                        "label": "Photo"
                    },
                    {
                        "name": "photo_filename",
                        "type": "text",
                        "label": "Photo Filename"
                    },
                    {
                        "name": "photo_thumb",
                        "type": "text",
                        "label": "Thumbnail Filename"
                    },
                    {
                        "name": "consent_to_process",
                        "type": "boolean",
                        "label": "Consent To Process"
                    },
                    {
                        "name": "livechat_activity",
                        "type": "boolean",
                        "label": "Live Chat Activity"
                    },
                    {
                        "name": "mautic_id",
                        "type": "number",
                        "label": "Lead Guerrilla Contact ID"
                    },
                    {
                        "name": "chat_activity",
                        "type": "boolean",
                        "label": "Chat Activity"
                    },
                    {
                        "name": "personal_info_source",
                        "type": "text",
                        "label": "Personal Information Source"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}