Make example flows 2/Export data from Facebook Insights (advanced) - PART 1 - receiving webhook.blueprint.json
{
    "name": "Export data from Facebook Insights (advanced) - PART 1 - receiving webhook",
    "flow": [
        {
            "id": 8,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "maxResults": 2
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "facebook-insights:CheckJobStatus",
            "version": 1,
            "parameters": {},
            "mapper": {
                "reportId": "{{8.ID}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "reportId",
                        "type": "text",
                        "label": "Report ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "else": 0
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 15,
                            "module": "facebook-insights:GetJobResults",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{14.async_status}}",
                                            "b": "Job Completed",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "reportId": "{{8.ID}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "reportId",
                                        "type": "text",
                                        "label": "Report ID",
                                        "required": true
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "account_currency",
                                        "type": "text",
                                        "label": "Account currency"
                                    },
                                    {
                                        "name": "account_id",
                                        "type": "text",
                                        "label": "Account ID"
                                    },
                                    {
                                        "name": "account_name",
                                        "type": "text",
                                        "label": "Account name"
                                    },
                                    {
                                        "name": "action_values",
                                        "type": "text",
                                        "label": "Action values"
                                    },
                                    {
                                        "name": "actions",
                                        "type": "text",
                                        "label": "Actions"
                                    },
                                    {
                                        "name": "ad_id",
                                        "type": "text",
                                        "label": "Ad ID"
                                    },
                                    {
                                        "name": "ad_name",
                                        "type": "text",
                                        "label": "Ad name"
                                    },
                                    {
                                        "name": "adset_id",
                                        "type": "text",
                                        "label": "Adset ID"
                                    },
                                    {
                                        "name": "adset_name",
                                        "type": "text",
                                        "label": "Adset name"
                                    },
                                    {
                                        "name": "buying_type",
                                        "type": "text",
                                        "label": "Buying type"
                                    },
                                    {
                                        "name": "campaign_id",
                                        "type": "text",
                                        "label": "Campaign ID"
                                    },
                                    {
                                        "name": "campaign_name",
                                        "type": "text",
                                        "label": "Campaign name"
                                    },
                                    {
                                        "name": "canvas_avg_view_percent",
                                        "type": "text",
                                        "label": "Canvas avg view percent"
                                    },
                                    {
                                        "name": "canvas_avg_view_time",
                                        "type": "text",
                                        "label": "Canvas avg view time"
                                    },
                                    {
                                        "name": "clicks",
                                        "type": "text",
                                        "label": "Clicks"
                                    },
                                    {
                                        "name": "conversion_rate_ranking",
                                        "type": "text",
                                        "label": "Conversion rate ranking"
                                    },
                                    {
                                        "name": "conversion_values",
                                        "type": "text",
                                        "label": "Conversion values"
                                    },
                                    {
                                        "name": "conversions",
                                        "type": "text",
                                        "label": "Conversions"
                                    },
                                    {
                                        "name": "cost_per_action_type",
                                        "type": "array",
                                        "label": "Cost per action type"
                                    },
                                    {
                                        "name": "cost_per_conversion",
                                        "type": "text",
                                        "label": "Cost per conversion"
                                    },
                                    {
                                        "name": "cost_per_estimated_ad_recallers",
                                        "type": "text",
                                        "label": "Cost per estimated ad recallers"
                                    },
                                    {
                                        "name": "cost_per_inline_link_click",
                                        "type": "text",
                                        "label": "Cost per inline link click"
                                    },
                                    {
                                        "name": "cost_per_inline_post_engagement",
                                        "type": "text",
                                        "label": "Cost per inline post engagement"
                                    },
                                    {
                                        "name": "cost_per_outbound_click",
                                        "type": "text",
                                        "label": "Cost per outbound click"
                                    },
                                    {
                                        "name": "cost_per_thruplay",
                                        "type": "text",
                                        "label": "Cost per thruplay"
                                    },
                                    {
                                        "name": "cost_per_unique_action_type",
                                        "type": "text",
                                        "label": "Cost per unique action type"
                                    },
                                    {
                                        "name": "cost_per_unique_click",
                                        "type": "text",
                                        "label": "Cost per unique click"
                                    },
                                    {
                                        "name": "cost_per_unique_inline_link_click",
                                        "type": "text",
                                        "label": "Cost per unique inline link click"
                                    },
                                    {
                                        "name": "cost_per_unique_outbound_click",
                                        "type": "text",
                                        "label": "Cost per unique outbound click"
                                    },
                                    {
                                        "name": "cpc",
                                        "type": "text",
                                        "label": "Cpc"
                                    },
                                    {
                                        "name": "cpm",
                                        "type": "text",
                                        "label": "Cpm"
                                    },
                                    {
                                        "name": "cpp",
                                        "type": "text",
                                        "label": "Cpp"
                                    },
                                    {
                                        "name": "ctr",
                                        "type": "text",
                                        "label": "Ctr"
                                    },
                                    {
                                        "name": "date_start",
                                        "type": "text",
                                        "label": "Date start"
                                    },
                                    {
                                        "name": "date_stop",
                                        "type": "text",
                                        "label": "Date stop"
                                    },
                                    {
                                        "name": "engagement_rate_ranking",
                                        "type": "text",
                                        "label": "Engagement rate ranking"
                                    },
                                    {
                                        "name": "estimated_ad_recall_rate",
                                        "type": "text",
                                        "label": "Estimated ad recall rate"
                                    },
                                    {
                                        "name": "estimated_ad_recallers",
                                        "type": "text",
                                        "label": "Estimated ad recallers"
                                    },
                                    {
                                        "name": "frequency",
                                        "type": "text",
                                        "label": "Frequency"
                                    },
                                    {
                                        "name": "full_view_impressions",
                                        "type": "text",
                                        "label": "Full view impressions"
                                    },
                                    {
                                        "name": "full_view_reach",
                                        "type": "text",
                                        "label": "Full view reach"
                                    },
                                    {
                                        "name": "impressions",
                                        "type": "text",
                                        "label": "Impressions"
                                    },
                                    {
                                        "name": "inline_link_click_ctr",
                                        "type": "text",
                                        "label": "Inline link click ctr"
                                    },
                                    {
                                        "name": "inline_link_clicks",
                                        "type": "text",
                                        "label": "Inline link clicks"
                                    },
                                    {
                                        "name": "inline_post_engagement",
                                        "type": "text",
                                        "label": "Inline post engagement"
                                    },
                                    {
                                        "name": "instant_experience_clicks_to_open",
                                        "type": "text",
                                        "label": "Instant experience clicks to open"
                                    },
                                    {
                                        "name": "instant_experience_clicks_to_start",
                                        "type": "text",
                                        "label": "Instant experience clicks to start"
                                    },
                                    {
                                        "name": "instant_experience_outbound_clicks",
                                        "type": "text",
                                        "label": "Instant experience outbound clicks"
                                    },
                                    {
                                        "name": "mobile_app_purchase_roas",
                                        "type": "text",
                                        "label": "Mobile app purchase roas"
                                    },
                                    {
                                        "name": "objective",
                                        "type": "text",
                                        "label": "Objective"
                                    },
                                    {
                                        "name": "outbound_clicks",
                                        "type": "text",
                                        "label": "Outbound clicks"
                                    },
                                    {
                                        "name": "outbound_clicks_ctr",
                                        "type": "text",
                                        "label": "Putbound clicks ctr"
                                    },
                                    {
                                        "name": "purchase_roas",
                                        "type": "text",
                                        "label": "Purchase roas"
                                    },
                                    {
                                        "name": "quality_ranking",
                                        "type": "text",
                                        "label": "Quality ranking"
                                    },
                                    {
                                        "name": "reach",
                                        "type": "text",
                                        "label": "Reach"
                                    },
                                    {
                                        "name": "social_spend",
                                        "type": "text",
                                        "label": "Social spend"
                                    },
                                    {
                                        "name": "spend",
                                        "type": "text",
                                        "label": "Spend"
                                    },
                                    {
                                        "name": "unique_actions",
                                        "type": "array",
                                        "label": "Unique actions"
                                    },
                                    {
                                        "name": "unique_clicks",
                                        "type": "text",
                                        "label": "Unique clicks"
                                    },
                                    {
                                        "name": "unique_ctr",
                                        "type": "text",
                                        "label": "Unique ctr"
                                    },
                                    {
                                        "name": "unique_inline_link_click_ctr",
                                        "type": "text",
                                        "label": "Unique inline link click ctr"
                                    },
                                    {
                                        "name": "unique_inline_link_clicks",
                                        "type": "text",
                                        "label": "Unique inline link clicks"
                                    },
                                    {
                                        "name": "unique_link_clicks_ctr",
                                        "type": "text",
                                        "label": "Unique link clicks ctr"
                                    },
                                    {
                                        "name": "unique_outbound_clicks",
                                        "type": "text",
                                        "label": "Unique outbound clicks"
                                    },
                                    {
                                        "name": "unique_outbound_clicks_ctr",
                                        "type": "text",
                                        "label": "Unique outbound clicks ctr"
                                    },
                                    {
                                        "name": "video_30_sec_watched_actions",
                                        "type": "text",
                                        "label": "Video 30 sec watched actions"
                                    },
                                    {
                                        "name": "video_avg_time_watched_actions",
                                        "type": "text",
                                        "label": "Video avg time watched actions"
                                    },
                                    {
                                        "name": "video_p100_watched_actions",
                                        "type": "text",
                                        "label": "Video p100 watched actions"
                                    },
                                    {
                                        "name": "video_p25_watched_actions",
                                        "type": "text",
                                        "label": "Video p25 watched actions"
                                    },
                                    {
                                        "name": "video_p50_watched_actions",
                                        "type": "text",
                                        "label": "Video p50 watched actions"
                                    },
                                    {
                                        "name": "video_p75_watched_actions",
                                        "type": "text",
                                        "label": "Video p75 watched actions"
                                    },
                                    {
                                        "name": "video_p95_watched_actions",
                                        "type": "text",
                                        "label": "Video p95 watched actions"
                                    },
                                    {
                                        "name": "video_play_actions",
                                        "type": "text",
                                        "label": "Video play actions"
                                    },
                                    {
                                        "name": "video_play_curve_actions",
                                        "type": "text",
                                        "label": "Video play curve actions"
                                    },
                                    {
                                        "name": "video_thruplay_watched_actions",
                                        "type": "text",
                                        "label": "Video thruplay watched actions"
                                    },
                                    {
                                        "name": "website_ctr",
                                        "type": "text",
                                        "label": "Website ctr"
                                    },
                                    {
                                        "name": "website_purchase_roas",
                                        "type": "text",
                                        "label": "Website purchase roas"
                                    },
                                    {
                                        "name": "ad_format_asset",
                                        "type": "text",
                                        "label": "Ad format asset"
                                    },
                                    {
                                        "name": "age",
                                        "type": "text",
                                        "label": "Age"
                                    },
                                    {
                                        "name": "body_asset",
                                        "type": "text",
                                        "label": "Body asset"
                                    },
                                    {
                                        "name": "call_to_action_asset",
                                        "type": "text",
                                        "label": "Call to action asset"
                                    },
                                    {
                                        "name": "country",
                                        "type": "text",
                                        "label": "Country"
                                    },
                                    {
                                        "name": "description_asset",
                                        "type": "text",
                                        "label": "Description asset"
                                    },
                                    {
                                        "name": "gender",
                                        "type": "text",
                                        "label": "Gender"
                                    },
                                    {
                                        "name": "image_asset",
                                        "type": "text",
                                        "label": "Image asset"
                                    },
                                    {
                                        "name": "impression_device",
                                        "type": "text",
                                        "label": "Impression device"
                                    },
                                    {
                                        "name": "link_url_asset",
                                        "type": "text",
                                        "label": "Link url asset"
                                    },
                                    {
                                        "name": "product_id",
                                        "type": "text",
                                        "label": "Product ID"
                                    },
                                    {
                                        "name": "region",
                                        "type": "text",
                                        "label": "Region"
                                    },
                                    {
                                        "name": "title_asset",
                                        "type": "text",
                                        "label": "Title asset"
                                    },
                                    {
                                        "name": "video_asset",
                                        "type": "text",
                                        "label": "Video asset"
                                    },
                                    {
                                        "name": "dma",
                                        "type": "text",
                                        "label": "Dma"
                                    },
                                    {
                                        "name": "frequency_value",
                                        "type": "text",
                                        "label": "Frequency value"
                                    },
                                    {
                                        "name": "hourly_stats_aggregated_by_advertiser_time_zone",
                                        "type": "text",
                                        "label": "Hourly stats aggregated by advertiser time zone"
                                    },
                                    {
                                        "name": "hourly_stats_aggregated_by_audience_time_zone",
                                        "type": "text",
                                        "label": "Hourly stats aggregated by audience time zone"
                                    },
                                    {
                                        "name": "place_page_id",
                                        "type": "text",
                                        "label": "Place page ID"
                                    },
                                    {
                                        "name": "publisher_platform",
                                        "type": "text",
                                        "label": "Publisher platform"
                                    },
                                    {
                                        "name": "platform_position",
                                        "type": "text",
                                        "label": "Platform position"
                                    },
                                    {
                                        "name": "device_platform",
                                        "type": "text",
                                        "label": "Device platform"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 13,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {},
                            "mapper": {
                                "mode": "select",
                                "values": {},
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "mode": {
                                        "label": "Select spreadsheet and sheet"
                                    },
                                    "includesHeaders": {
                                        "label": "Yes"
                                    },
                                    "insertDataOption": {
                                        "mode": "chose",
                                        "label": "Insert rows"
                                    },
                                    "valueInputOption": {
                                        "mode": "chose",
                                        "label": "User entered"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Mode",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "URL (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "(B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "(C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "(D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "(E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "(F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "util:FunctionSleep",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{14.async_status}}",
                                            "b": "Job Failed",
                                            "o": "text:notequal"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{14.async_status}}",
                                            "b": "Job Completed",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "duration": "300"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "expect": [
                                    {
                                        "name": "duration",
                                        "type": "uinteger",
                                        "label": "Delay",
                                        "required": true,
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [],
                                "data": "{\n\"ID\": {{8.ID}}\n}",
                                "gzip": true,
                                "method": "post",
                                "headers": [],
                                "timeout": "",
                                "authPass": "",
                                "authUser": "",
                                "bodyType": "raw",
                                "contentType": "application/json",
                                "shareCookies": false,
                                "parseResponse": false,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "qs": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "method": {
                                        "mode": "chose",
                                        "label": "POST"
                                    },
                                    "headers": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "bodyType": {
                                        "label": "Raw"
                                    },
                                    "contentType": {
                                        "label": "JSON (application/json)"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers",
                                        "labels": {
                                            "add": "Add a header",
                                            "edit": "Edit a header"
                                        }
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String",
                                        "labels": {
                                            "add": "Add parameter",
                                            "edit": "Edit parameter"
                                        }
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate",
                                        "multiline": true
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content type",
                                        "validate": {
                                            "enum": [
                                                "text/plain",
                                                "application/json",
                                                "application/xml",
                                                "text/xml",
                                                "text/html",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Request content"
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}