Make example flows 2/Get Daily Lost Backlink Reports to Your Inbox with DataForSEO .blueprint.json
{
    "name": "Get Daily Lost Backlink Reports to Your Inbox with DataForSEO ",
    "flow": [
        {
            "id": 2,
            "module": "dfs-backlinks-api:getBacklinks",
            "version": 1,
            "parameters": {},
            "mapper": {
                "mode": "as_is",
                "limit": "1000",
                "filters": [
                    [
                        {
                            "a": "last_seen",
                            "b": "{{formatDate(addDays(now; -10); \"YYYY-MM-DD\")}}",
                            "o": ">"
                        }
                    ]
                ],
                "rank_scale": "one_thousand",
                "include_subdomains": true,
                "backlinks_status_type": "lost",
                "include_indirect_links": true,
                "exclude_internal_backlinks": true
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "mode": {
                            "mode": "chose",
                            "label": "As is"
                        },
                        "order_by": {
                            "mode": "chose"
                        },
                        "rank_scale": {
                            "mode": "chose",
                            "label": "One Thousand"
                        },
                        "include_subdomains": {
                            "mode": "chose"
                        },
                        "backlinks_status_type": {
                            "mode": "chose",
                            "label": "Lost"
                        },
                        "include_indirect_links": {
                            "mode": "chose"
                        },
                        "exclude_internal_backlinks": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:app#dfs-backlinks-api",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "target",
                        "type": "text",
                        "label": "Target (Domain, Subdomain, URL)",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Backlink Status",
                        "validate": {
                            "enum": [
                                "as_is",
                                "one_per_domain",
                                "one_per_anchor"
                            ]
                        }
                    },
                    {
                        "name": "filters",
                        "type": "filter",
                        "label": "Filters",
                        "options": {
                            "operators": [
                                {
                                    "label": "All",
                                    "options": [
                                        {
                                            "label": "<",
                                            "value": "<"
                                        },
                                        {
                                            "label": "<=",
                                            "value": "<="
                                        },
                                        {
                                            "label": ">",
                                            "value": ">"
                                        },
                                        {
                                            "label": ">=",
                                            "value": ">="
                                        },
                                        {
                                            "label": "=",
                                            "value": "="
                                        },
                                        {
                                            "label": "<>",
                                            "value": "<>"
                                        },
                                        {
                                            "label": "In",
                                            "value": "in"
                                        },
                                        {
                                            "label": "Not in",
                                            "value": "not_in"
                                        },
                                        {
                                            "label": "Like",
                                            "value": "like"
                                        },
                                        {
                                            "label": "Not like",
                                            "value": "not_like"
                                        },
                                        {
                                            "label": "Match",
                                            "value": "match"
                                        },
                                        {
                                            "label": "Not Match",
                                            "value": "not_match"
                                        },
                                        {
                                            "label": "Ilike",
                                            "value": "ilike"
                                        },
                                        {
                                            "label": "Not Ilike",
                                            "value": "not_ilike"
                                        },
                                        {
                                            "label": "Regex",
                                            "value": "regex"
                                        },
                                        {
                                            "label": "Not Regex",
                                            "value": "not_regex"
                                        }
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        "name": "order_by",
                        "spec": {
                            "name": "value",
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Results Sorting Rules"
                    },
                    {
                        "name": "limit",
                        "type": "integer",
                        "label": "Limit (up to 1000)"
                    },
                    {
                        "name": "offset",
                        "type": "integer",
                        "label": "Offset"
                    },
                    {
                        "name": "backlinks_status_type",
                        "type": "select",
                        "label": "Backlink Status",
                        "validate": {
                            "enum": [
                                "live",
                                "lost",
                                "all"
                            ]
                        }
                    },
                    {
                        "name": "include_subdomains",
                        "type": "boolean",
                        "label": "Include Subdomains"
                    },
                    {
                        "name": "include_indirect_links",
                        "type": "boolean",
                        "label": "Include Indirect Links"
                    },
                    {
                        "name": "exclude_internal_backlinks",
                        "type": "boolean",
                        "label": "Exclude Internal Links"
                    },
                    {
                        "name": "rank_scale",
                        "type": "select",
                        "label": "Rank Scale",
                        "validate": {
                            "enum": [
                                "one_hundred",
                                "one_thousand"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRepeater",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{2.tasks[].result[].total_count}}",
                            "b": "0",
                            "o": "number:greater"
                        }
                    ]
                ]
            },
            "mapper": {
                "step": "1",
                "start": "1",
                "repeats": "{{if(2.tasks[].result[].total_count > 5000; 4; ceil(2.tasks[].result[].total_count / 1000) - 1)}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {},
                "expect": [
                    {
                        "name": "start",
                        "type": "number",
                        "label": "Initial value",
                        "required": true
                    },
                    {
                        "name": "repeats",
                        "type": "number",
                        "label": "Repeats",
                        "required": true,
                        "validate": {
                            "max": 10000,
                            "min": 0
                        }
                    },
                    {
                        "name": "step",
                        "type": "number",
                        "label": "Step",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "dfs-backlinks-api:getBacklinks",
            "version": 1,
            "parameters": {},
            "mapper": {
                "mode": "as_is",
                "limit": "1000",
                "offset": "{{4.i * 1000}}",
                "target": "{{2.tasks[].data.target}}",
                "filters": [
                    [
                        {
                            "a": "last_seen",
                            "b": "{{formatDate(addDays(now; -10); \"YYYY-MM-DD\")}}",
                            "o": ">"
                        }
                    ]
                ],
                "rank_scale": "one_thousand",
                "include_subdomains": true,
                "backlinks_status_type": "lost",
                "include_indirect_links": true,
                "exclude_internal_backlinks": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "mode": {
                            "mode": "chose",
                            "label": "As is"
                        },
                        "order_by": {
                            "mode": "chose"
                        },
                        "rank_scale": {
                            "mode": "chose",
                            "label": "One Thousand"
                        },
                        "include_subdomains": {
                            "mode": "chose"
                        },
                        "backlinks_status_type": {
                            "mode": "chose",
                            "label": "Lost"
                        },
                        "include_indirect_links": {
                            "mode": "chose"
                        },
                        "exclude_internal_backlinks": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "app#dfs-backlinks-api"
                            },
                            "label": "My DataForSEO connection (iryna.alyohina@dataforseo.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:app#dfs-backlinks-api",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "target",
                        "type": "text",
                        "label": "Target (Domain, Subdomain, URL)",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Backlink Status",
                        "validate": {
                            "enum": [
                                "as_is",
                                "one_per_domain",
                                "one_per_anchor"
                            ]
                        }
                    },
                    {
                        "name": "filters",
                        "type": "filter",
                        "label": "Filters",
                        "options": {
                            "operators": [
                                {
                                    "label": "All",
                                    "options": [
                                        {
                                            "label": "<",
                                            "value": "<"
                                        },
                                        {
                                            "label": "<=",
                                            "value": "<="
                                        },
                                        {
                                            "label": ">",
                                            "value": ">"
                                        },
                                        {
                                            "label": ">=",
                                            "value": ">="
                                        },
                                        {
                                            "label": "=",
                                            "value": "="
                                        },
                                        {
                                            "label": "<>",
                                            "value": "<>"
                                        },
                                        {
                                            "label": "In",
                                            "value": "in"
                                        },
                                        {
                                            "label": "Not in",
                                            "value": "not_in"
                                        },
                                        {
                                            "label": "Like",
                                            "value": "like"
                                        },
                                        {
                                            "label": "Not like",
                                            "value": "not_like"
                                        },
                                        {
                                            "label": "Match",
                                            "value": "match"
                                        },
                                        {
                                            "label": "Not Match",
                                            "value": "not_match"
                                        },
                                        {
                                            "label": "Ilike",
                                            "value": "ilike"
                                        },
                                        {
                                            "label": "Not Ilike",
                                            "value": "not_ilike"
                                        },
                                        {
                                            "label": "Regex",
                                            "value": "regex"
                                        },
                                        {
                                            "label": "Not Regex",
                                            "value": "not_regex"
                                        }
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        "name": "order_by",
                        "spec": {
                            "name": "value",
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Results Sorting Rules"
                    },
                    {
                        "name": "limit",
                        "type": "integer",
                        "label": "Limit (up to 1000)"
                    },
                    {
                        "name": "offset",
                        "type": "integer",
                        "label": "Offset"
                    },
                    {
                        "name": "backlinks_status_type",
                        "type": "select",
                        "label": "Backlink Status",
                        "validate": {
                            "enum": [
                                "live",
                                "lost",
                                "all"
                            ]
                        }
                    },
                    {
                        "name": "include_subdomains",
                        "type": "boolean",
                        "label": "Include Subdomains"
                    },
                    {
                        "name": "include_indirect_links",
                        "type": "boolean",
                        "label": "Include Indirect Links"
                    },
                    {
                        "name": "exclude_internal_backlinks",
                        "type": "boolean",
                        "label": "Exclude Internal Links"
                    },
                    {
                        "name": "rank_scale",
                        "type": "select",
                        "label": "Rank Scale",
                        "validate": {
                            "enum": [
                                "one_hundred",
                                "one_thousand"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 4
            },
            "mapper": {
                "tasks": "{{2.tasks}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Repeater [4]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 8,
            "module": "google-sheets:createSpreadsheet",
            "version": 2,
            "parameters": {},
            "mapper": {
                "sheets": [
                    {
                        "properties": {
                            "title": "Lost Backlinks"
                        }
                    }
                ],
                "properties": {
                    "title": "Lost Backlinks to {{2.tasks[].data.target}} - {{formatDate(now; \"YYYY-MM-DD\")}}",
                    "defaultFormat": {}
                }
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "sheets": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "properties": {
                            "nested": {
                                "timeZone": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "autoRecalc": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "defaultFormat": {
                                    "nested": {
                                        "numberFormat": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (iryna.alyohina@dataforseo.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "properties",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title",
                                "required": true
                            },
                            {
                                "name": "locale",
                                "type": "text",
                                "label": "Locale"
                            },
                            {
                                "name": "autoRecalc",
                                "type": "select",
                                "label": "Recalculation interval",
                                "validate": {
                                    "enum": [
                                        "ON_CHANGE",
                                        "MINUTE",
                                        "HOUR"
                                    ]
                                }
                            },
                            {
                                "name": "timeZone",
                                "type": "select",
                                "label": "Time zone"
                            },
                            {
                                "name": "defaultFormat",
                                "spec": [
                                    {
                                        "name": "numberFormat",
                                        "type": "select",
                                        "label": "Number format",
                                        "validate": {
                                            "enum": [
                                                "TEXT",
                                                "NUMBER",
                                                "PERCENT",
                                                "CURRENCY",
                                                "DATE",
                                                "TIME",
                                                "DATE_TIME",
                                                "SCIENTIFIC"
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Default format"
                            }
                        ],
                        "type": "collection",
                        "label": "Properties"
                    },
                    {
                        "name": "sheets",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "properties",
                                    "spec": [
                                        {
                                            "name": "title",
                                            "type": "text",
                                            "label": "Title"
                                        },
                                        {
                                            "name": "index",
                                            "type": "number",
                                            "label": "Index"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Properties"
                                }
                            ],
                            "type": "collection",
                            "label": "Sheet"
                        },
                        "type": "array",
                        "label": "Sheets"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {},
            "mapper": {
                "mode": "map",
                "values": {
                    "0": "Date",
                    "1": "Target",
                    "2": "Backlink",
                    "3": "Spam Score",
                    "4": "Backlink Rank",
                    "5": "Domain from",
                    "6": "Domain from Rank",
                    "7": "URL from",
                    "8": "URL from Rank",
                    "9": "Backlink Is Broken",
                    "10": "Backlinks Is Dofollow"
                },
                "sheetId": "Lost Backlinks",
                "spreadsheetId": "{{8.spreadsheetId}}",
                "tableFirstRow": "A1:Z1",
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 1487,
                    "y": 2
                },
                "restore": {
                    "expect": {
                        "mode": {
                            "label": "Enter manually"
                        },
                        "tableFirstRow": {
                            "label": "A-Z",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "A"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "B"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "C"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "D"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "E"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "F"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "G"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "H"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "I"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "J"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "K"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "L"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "M"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "N"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "O"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "P"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "Q"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "R"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "S"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "T"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "U"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "V"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "W"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "X"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "Y"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "Z"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (iryna.alyohina@dataforseo.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "text",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1"
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "A"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "B"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "C"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "D"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "E"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "F"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "G"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "H"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "I"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "J"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "K"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "L"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "M"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "N"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "O"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "P"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "Q"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "R"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "S"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "T"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "U"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "V"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "W"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "X"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "Y"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "Z"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{merge(2.tasks[].result[].items; flatten(map(7.array; \"tasks.1.result.1.items\")))}}"
            },
            "metadata": {
                "designer": {
                    "x": 1787,
                    "y": 2
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {},
            "mapper": {
                "mode": "map",
                "values": {
                    "0": "{{formatDate(now; \"YYYY-MM-DD\")}}",
                    "1": "{{2.tasks[].data.target}}",
                    "2": "{{11.url_to}}",
                    "3": "{{11.backlink_spam_score}}",
                    "4": "{{11.rank}}",
                    "5": "{{11.domain_from}}",
                    "6": "{{11.domain_from_rank}}",
                    "7": "{{11.url_from}}",
                    "8": "{{11.page_from_rank}}",
                    "9": "{{11.is_broken}}",
                    "10": "{{11.dofollow}}"
                },
                "sheetId": "Lost Backlinks",
                "spreadsheetId": "{{8.spreadsheetId}}",
                "tableFirstRow": "A1:Z1",
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 2081,
                    "y": 3
                },
                "restore": {
                    "expect": {
                        "mode": {
                            "label": "Enter manually"
                        },
                        "tableFirstRow": {
                            "label": "A-Z",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "A"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "B"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "C"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "D"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "E"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "F"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "G"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "H"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "I"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "J"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "K"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "L"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "M"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "N"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "O"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "P"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "Q"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "R"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "S"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "T"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "U"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "V"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "W"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "X"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "Y"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "Z"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (iryna.alyohina@dataforseo.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "text",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1"
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "A"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "B"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "C"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "D"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "E"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "F"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "G"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "H"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "I"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "J"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "K"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "L"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "M"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "N"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "O"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "P"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "Q"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "R"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "S"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "T"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "U"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "V"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "W"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "X"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "Y"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "Z"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 11
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 2381,
                    "y": 3
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterator [11]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 15,
            "module": "google-email:sendAnEmail",
            "version": 4,
            "parameters": {},
            "mapper": {
                "to": [
                    "test@test.com"
                ],
                "content": "<html>\n<body>\n<p>Here is your daily lost backlinks report for {{2.tasks[].data.target}}.</p>\n\n<p>During the past day, we identified {{2.tasks[].result[].total_count}} lost backlinks.</p>\n\nYou can review the full list here:\n<a href=\"{{8.spreadsheetUrl}}\">Lost Backlinks to {{2.tasks[].data.target}} - {{formatDate(now; \"YYYY-MM-DD\")}}</a>\n</body>\n</html>",
                "subject": "Lost Backlinks to {{2.tasks[].data.target}} - {{formatDate(now; \"YYYY-MM-DD\")}}",
                "bodyType": "rawHtml"
            },
            "metadata": {
                "designer": {
                    "x": 2676,
                    "y": 7
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "from": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Raw HTML"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "emailHeaders": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "My Gmail connection (iryna.alyohina@dataforseo.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "validate": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "rawHtml",
                                "collection"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File name",
                                    "required": true,
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true,
                                    "semantic": "file:data"
                                }
                            ],
                            "type": "collection",
                            "label": "Attachment"
                        },
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "CC recipients"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "BCC recipients"
                    },
                    {
                        "name": "emailHeaders",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Email header"
                        },
                        "type": "array",
                        "label": "Additional email headers"
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}