Make example flows 2/OpenAI write me based on my prompt.blueprint.json
{
    "name": "OpenAI write me based on my prompt.",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 533361,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -515,
                    "y": 88
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "openai write me"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "work",
                        "value": "You are a professional and friendly consultant"
                    },
                    {
                        "name": "default",
                        "value": "{{1.d}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": -215,
                    "y": 88
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "work",
                        "type": "any",
                        "label": "work"
                    },
                    {
                        "name": "default",
                        "type": "any",
                        "label": "default"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "global": false,
                "pattern": "w!(\\d+)",
                "multiline": false,
                "sensitive": true,
                "singleline": false,
                "continueWhenNoRes": true
            },
            "mapper": {
                "text": "{{1.d}}"
            },
            "metadata": {
                "designer": {
                    "x": 85,
                    "y": 88
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "$1",
                        "type": "text",
                        "label": "$1"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "regexp:Replace",
            "version": 1,
            "parameters": {},
            "mapper": {
                "text": "{{1.msg}}",
                "value": "{{emptystring}}",
                "global": false,
                "pattern": "w!(\\d+)",
                "multiline": false,
                "sensitive": true,
                "singleline": false
            },
            "metadata": {
                "designer": {
                    "x": 385,
                    "y": 88
                },
                "restore": {
                    "expect": {
                        "global": {
                            "mode": "chose"
                        },
                        "multiline": {
                            "mode": "chose"
                        },
                        "sensitive": {
                            "mode": "chose"
                        },
                        "singleline": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "value",
                        "type": "text",
                        "label": "New value"
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 928670
            },
            "mapper": {
                "model": "text-davinci-003",
                "top_p": "1",
                "prompt": "{{4.text}}",
                "max_tokens": "{{ifempty(3.`$1`; 500)}}",
                "temperature": "0.8"
            },
            "metadata": {
                "designer": {
                    "x": 685,
                    "y": 88
                },
                "restore": {
                    "expect": {
                        "echo": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "text-davinci-003"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt"
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature"
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top p"
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "N"
                    },
                    {
                        "name": "echo",
                        "type": "boolean",
                        "label": "Echo"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "regexp:Replace",
            "version": 1,
            "parameters": {},
            "mapper": {
                "text": "{{5.choices[].text}}",
                "value": "{{emptystring}}",
                "global": true,
                "pattern": "{{newline}}",
                "multiline": true,
                "sensitive": true,
                "singleline": false
            },
            "metadata": {
                "designer": {
                    "x": 985,
                    "y": 88
                },
                "restore": {
                    "expect": {
                        "global": {
                            "mode": "chose"
                        },
                        "multiline": {
                            "mode": "chose"
                        },
                        "sensitive": {
                            "mode": "chose"
                        },
                        "singleline": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "value",
                        "type": "text",
                        "label": "New value"
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{{5.choices[].text}}",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 1285,
                    "y": 88
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}