Make example flows 2/Save new ParseHub data as CSV files in OneDrive.blueprint.json
{
    "name": "Save new ParseHub data as CSV files in OneDrive",
    "flow": [
        {
            "id": 2,
            "module": "parsehub:getALastReadyData",
            "version": 1,
            "parameters": {},
            "mapper": {
                "format": "csv",
                "project": "tGUK8ZYwjJ8c"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "format": {
                        "mode": "chose",
                        "label": "CSV"
                    },
                    "project": {
                        "mode": "edit"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "project",
                        "type": "select",
                        "label": "Project Token",
                        "required": true
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "json",
                                "csv"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "cloudconvert:ConvertFile",
            "version": 2,
            "parameters": {},
            "mapper": {
                "export": {
                    "downloadFile": true
                },
                "import": {
                    "data": "{{2.data}}",
                    "filename": "filename.gz",
                    "importType": "upload"
                },
                "options": {
                    "filename": "ParseHubData.zip",
                    "input_format": "gz",
                    "useInputType": "yes",
                    "output_format": "zip"
                }
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "export": {
                        "nested": {
                            "downloadFile": {
                                "mode": "chose"
                            }
                        }
                    },
                    "import": {
                        "nested": {
                            "importType": {
                                "label": "upload a file"
                            }
                        }
                    },
                    "options": {
                        "nested": {
                            "opts": {
                                "mode": "chose",
                                "items": []
                            },
                            "input_format": {
                                "mode": "chose",
                                "label": "gz"
                            },
                            "useInputType": {
                                "mode": "chose",
                                "label": "I want to select the input format"
                            },
                            "output_format": {
                                "mode": "chose",
                                "label": "zip"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "import",
                        "spec": [
                            {
                                "name": "importType",
                                "type": "select",
                                "label": "Input file",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "upload",
                                        "url"
                                    ]
                                }
                            },
                            {
                                "mean": "data",
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true
                            },
                            {
                                "mean": "name",
                                "name": "filename",
                                "type": "filename",
                                "label": "File name",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Import options",
                        "required": true
                    },
                    {
                        "name": "options",
                        "spec": [
                            {
                                "name": "useInputType",
                                "type": "select",
                                "label": "Format",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "yes",
                                        "no"
                                    ]
                                }
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name",
                                "required": true
                            },
                            {
                                "name": "opts",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name",
                                        "required": true
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    }
                                ],
                                "type": "array",
                                "label": "Conversion and engine specific options",
                                "labels": {
                                    "add": "Add an option",
                                    "edit": "Update an option"
                                }
                            },
                            {
                                "name": "input_format",
                                "type": "select",
                                "label": "Input format",
                                "required": true
                            },
                            {
                                "name": "output_format",
                                "type": "select",
                                "label": "Output format",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Convert options",
                        "required": true
                    },
                    {
                        "name": "export",
                        "spec": [
                            {
                                "name": "downloadFile",
                                "type": "boolean",
                                "label": "Download a file",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Export options",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "archive:UnpackAction",
            "version": 1,
            "parameters": {},
            "mapper": {
                "data": "{{4.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "expect": [
                    {
                        "mean": "data",
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "onedrive:uploadAFile",
            "version": 2,
            "parameters": {},
            "mapper": {
                "data": "{{5.data}}",
                "enter": "id",
                "select1": "no",
                "filename": "{{5.name}}.csv",
                "conflictBehavior": "replace"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "enter": {
                        "label": "Folder Location ID"
                    },
                    "select1": {
                        "label": "No"
                    },
                    "conflictBehavior": {
                        "label": "Replace the existing file"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "enter",
                        "type": "select",
                        "label": "Enter (Folder Location ID & Path)",
                        "required": true,
                        "validate": {
                            "enum": [
                                "id",
                                "path"
                            ]
                        }
                    },
                    {
                        "mean": "name",
                        "name": "filename",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "mean": "data",
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "conflictBehavior",
                        "type": "select",
                        "label": "If the File with the Same Name Exists",
                        "required": true,
                        "validate": {
                            "enum": [
                                "replace",
                                "rename",
                                "fail"
                            ]
                        }
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Choose your OneDrive location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "my",
                                "site",
                                "group"
                            ]
                        }
                    },
                    {
                        "name": "select1",
                        "type": "select",
                        "label": "Enable to Enter a Drive ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "yes",
                                "no"
                            ]
                        }
                    },
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}