Make example flows 2/Send a new task with attachments from Asana into Focuster.blueprint.json
{
    "name": "Send a new task with attachments from Asana into Focuster",
    "flow": [
        {
            "id": 24,
            "module": "asana:WatchNewTasks",
            "version": 2,
            "parameters": {
                "page": 10,
                "filter": "project",
                "modified_since": null,
                "completed_since": null
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "filter": {
                        "label": "Project"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "filter",
                        "type": "select",
                        "label": "Filter",
                        "required": true,
                        "validate": {
                            "enum": [
                                "workspaceassignee",
                                "project",
                                "section",
                                "tag"
                            ]
                        }
                    },
                    {
                        "name": "completed_since",
                        "type": "date",
                        "label": "Completed Since"
                    },
                    {
                        "name": "modified_since",
                        "type": "date",
                        "label": "Modified Since "
                    },
                    {
                        "name": "page",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "project",
                        "type": "select",
                        "label": "Project",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 25,
            "module": "asana:ListTaskAttachments",
            "version": 2,
            "parameters": {},
            "mapper": {
                "page": "10",
                "task_gid": "{{24.gid}}",
                "selectOrMap": "map"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "selectOrMap": {
                        "label": "Enter manually"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "selectOrMap",
                        "type": "select",
                        "label": "Enter a Task ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "select"
                            ]
                        }
                    },
                    {
                        "name": "page",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "task_gid",
                        "type": "text",
                        "label": "Task ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "else": 1
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 21,
                            "module": "asana:GetAttachment",
                            "version": 2,
                            "parameters": {},
                            "filter": {
                                "name": "task with attachments",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{25.`__IMTLENGTH__`}}",
                                            "b": "0",
                                            "o": "number:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "selectOrMap": "map",
                                "attachment_gid": "{{25.gid}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "selectOrMap": {
                                        "label": "Enter manually"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "selectOrMap",
                                        "type": "select",
                                        "label": "Enter an Attachment ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "select"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachment_gid",
                                        "type": "text",
                                        "label": "Attachment ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 27,
                            "module": "bitly:shortenUrl",
                            "version": 2,
                            "parameters": {},
                            "mapper": {
                                "long_url": "{{21.download_url}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "organization_guid": {
                                        "label": ""
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "long_url",
                                        "type": "url",
                                        "label": "Long URL",
                                        "required": true
                                    },
                                    {
                                        "name": "organization_guid",
                                        "type": "select",
                                        "label": "Organization"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 9,
                            "module": "util:TextAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 25,
                                "rowSeparator": "\n"
                            },
                            "mapper": {
                                "value": "{{21.name}} - {{27.link}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "feeder": {
                                        "label": "Asana - List a Task's Attachments [25]"
                                    },
                                    "rowSeparator": {
                                        "label": "New row"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "rowSeparator",
                                        "type": "select",
                                        "label": "Row separator",
                                        "validate": {
                                            "enum": [
                                                "\n",
                                                "\t",
                                                "other"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Text",
                                        "multiline": true
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 3,
                            "module": "focuster:addAction",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "note": "{{24.notes}}{{newline}}{{newline}}{{9.text}}{{newline}}{{newline}}ID: {{24.gid}}",
                                "title": "{{24.name}}, #asana",
                                "dueDate": "{{24.due_on}}",
                                "position": "top"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0
                                },
                                "restore": {
                                    "position": {
                                        "mode": "chose",
                                        "label": "top"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title",
                                        "required": true
                                    },
                                    {
                                        "name": "note",
                                        "type": "text",
                                        "label": "Note"
                                    },
                                    {
                                        "name": "list",
                                        "type": "text",
                                        "label": "List"
                                    },
                                    {
                                        "name": "position",
                                        "type": "select",
                                        "label": "Position",
                                        "validate": {
                                            "enum": [
                                                "top",
                                                "bottom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dueDate",
                                        "type": "date",
                                        "label": "Due Date"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 12,
                            "module": "focuster:addAction",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "task without attachments",
                                "conditions": []
                            },
                            "mapper": {
                                "list": "Inbox",
                                "note": "{{24.notes}}{{newline}}{{newline}}ID: {{24.gid}}",
                                "title": "{{24.name}}, #asana",
                                "dueDate": "{{24.due_on}}",
                                "position": "top"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "position": {
                                        "mode": "chose",
                                        "label": "top"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title",
                                        "required": true
                                    },
                                    {
                                        "name": "note",
                                        "type": "text",
                                        "label": "Note"
                                    },
                                    {
                                        "name": "list",
                                        "type": "text",
                                        "label": "List"
                                    },
                                    {
                                        "name": "position",
                                        "type": "select",
                                        "label": "Position",
                                        "validate": {
                                            "enum": [
                                                "top",
                                                "bottom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dueDate",
                                        "type": "date",
                                        "label": "Due Date"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}