Make example flows 2/Send QuestionPro surveys when a Stripe subscription is cancelled.blueprint.json
{
    "name": "Send QuestionPro surveys when a Stripe subscription is cancelled",
    "flow": [
        {
            "id": 1,
            "module": "stripe:watchEvents",
            "version": 1,
            "parameters": {},
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "event_type",
                        "type": "text",
                        "label": "Event type"
                    },
                    {
                        "name": "event_id",
                        "type": "text",
                        "label": "Event ID"
                    },
                    {
                        "name": "object",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "application_fee_percent",
                                "type": "text",
                                "label": "Application fee percent"
                            },
                            {
                                "name": "billing",
                                "type": "text",
                                "label": "Billing"
                            },
                            {
                                "name": "billing_cycle_anchor",
                                "type": "number",
                                "label": "Billing cycle anchor"
                            },
                            {
                                "name": "cancel_at_period_end",
                                "type": "boolean",
                                "label": "Cancel at perion end"
                            },
                            {
                                "name": "canceled_at",
                                "type": "text",
                                "label": "Canceled at"
                            },
                            {
                                "name": "created",
                                "type": "number",
                                "label": "Created"
                            },
                            {
                                "name": "current_period_end",
                                "type": "number",
                                "label": "Current period end"
                            },
                            {
                                "name": "current_period_start",
                                "type": "number",
                                "label": "Current period start"
                            },
                            {
                                "name": "customer",
                                "type": "text",
                                "label": "Customer"
                            },
                            {
                                "name": "days_until_due",
                                "type": "text",
                                "label": "Days until due"
                            },
                            {
                                "name": "discount",
                                "type": "text",
                                "label": "Discount"
                            },
                            {
                                "name": "ended_at",
                                "type": "text",
                                "label": "Ended at"
                            },
                            {
                                "name": "items",
                                "spec": [
                                    {
                                        "name": "object",
                                        "type": "text",
                                        "label": "Object"
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "created",
                                                "type": "number",
                                                "label": "Created"
                                            },
                                            {
                                                "name": "metadata",
                                                "spec": [],
                                                "type": "collection",
                                                "label": "Metadata"
                                            },
                                            {
                                                "name": "plan",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "object",
                                                        "type": "text",
                                                        "label": "Object"
                                                    },
                                                    {
                                                        "name": "amount",
                                                        "type": "number",
                                                        "label": "Amount"
                                                    },
                                                    {
                                                        "name": "created",
                                                        "type": "number",
                                                        "label": "Created"
                                                    },
                                                    {
                                                        "name": "currency",
                                                        "type": "text",
                                                        "label": "Currency"
                                                    },
                                                    {
                                                        "name": "interval",
                                                        "type": "text",
                                                        "label": "Interval"
                                                    },
                                                    {
                                                        "name": "interval_count",
                                                        "type": "number",
                                                        "label": "Interval count"
                                                    },
                                                    {
                                                        "name": "livemode",
                                                        "type": "boolean",
                                                        "label": "Livemode"
                                                    },
                                                    {
                                                        "name": "metadata",
                                                        "spec": [],
                                                        "type": "collection",
                                                        "label": "Metadata"
                                                    },
                                                    {
                                                        "name": "nickname",
                                                        "type": "text",
                                                        "label": "Nickname"
                                                    },
                                                    {
                                                        "name": "product",
                                                        "type": "text",
                                                        "label": "Product"
                                                    },
                                                    {
                                                        "name": "trial_period_days",
                                                        "type": "text",
                                                        "label": "Trial period days"
                                                    },
                                                    {
                                                        "name": "statement_descriptor",
                                                        "type": "text",
                                                        "label": "Statement descriptor"
                                                    },
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Plan"
                                            },
                                            {
                                                "name": "quantity",
                                                "type": "number",
                                                "label": "Quantity"
                                            },
                                            {
                                                "name": "subscription",
                                                "type": "text",
                                                "label": "Subscription"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Data"
                                    },
                                    {
                                        "name": "has_more",
                                        "type": "boolean",
                                        "label": "Has more"
                                    },
                                    {
                                        "name": "total_count",
                                        "type": "number",
                                        "label": "Total count"
                                    },
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Items"
                            },
                            {
                                "name": "livemode",
                                "type": "boolean",
                                "label": "Livemode"
                            },
                            {
                                "name": "metadata",
                                "spec": [],
                                "type": "collection",
                                "label": "Metadata"
                            },
                            {
                                "name": "plan",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "object",
                                        "type": "text",
                                        "label": "Object"
                                    },
                                    {
                                        "name": "amount",
                                        "type": "number",
                                        "label": "Amount"
                                    },
                                    {
                                        "name": "created",
                                        "type": "number",
                                        "label": "Created"
                                    },
                                    {
                                        "name": "currency",
                                        "type": "text",
                                        "label": "Currency"
                                    },
                                    {
                                        "name": "interval",
                                        "type": "text",
                                        "label": "Interval"
                                    },
                                    {
                                        "name": "interval_count",
                                        "type": "number",
                                        "label": "Interval count"
                                    },
                                    {
                                        "name": "livemode",
                                        "type": "boolean",
                                        "label": "Livemode"
                                    },
                                    {
                                        "name": "metadata",
                                        "spec": [],
                                        "type": "collection",
                                        "label": "Metadata"
                                    },
                                    {
                                        "name": "nickname",
                                        "type": "text",
                                        "label": "Nickname"
                                    },
                                    {
                                        "name": "product",
                                        "type": "text",
                                        "label": "Product"
                                    },
                                    {
                                        "name": "trial_period_days",
                                        "type": "text",
                                        "label": "Trial period days"
                                    },
                                    {
                                        "name": "statement_descriptor",
                                        "type": "text",
                                        "label": "Statement descriptor"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    }
                                ],
                                "type": "collection",
                                "label": "Plan"
                            },
                            {
                                "name": "quantity",
                                "type": "number",
                                "label": "Quantity"
                            },
                            {
                                "name": "start",
                                "type": "number",
                                "label": "Start"
                            },
                            {
                                "name": "status",
                                "type": "text",
                                "label": "Status"
                            },
                            {
                                "name": "tax_percent",
                                "type": "text",
                                "label": "Tax percent"
                            },
                            {
                                "name": "trial_end",
                                "type": "text",
                                "label": "Trial end"
                            },
                            {
                                "name": "trial_start",
                                "type": "text",
                                "label": "Trial start"
                            }
                        ],
                        "type": "collection",
                        "label": "Object"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "stripe:retrieveCustomer",
            "version": 1,
            "parameters": {},
            "mapper": {
                "customer": "{{1.object.customer}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "customer",
                        "type": "text",
                        "label": "Customer",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "questionpro:SendBatch",
            "version": 1,
            "parameters": {},
            "mapper": {
                "mode": 4,
                "emailTemplate": {
                    "content": "Content",
                    "emailSubject": "Satisfaction Survey"
                }
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "mode": {
                        "mode": "chose",
                        "label": "Emails + Email Template"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "userID",
                        "type": "select",
                        "label": "User ID",
                        "required": true
                    },
                    {
                        "mode": "edit",
                        "name": "surveyID",
                        "type": "select",
                        "label": "Survey ID",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Mode",
                        "required": true,
                        "validate": {
                            "enum": [
                                1,
                                2,
                                3,
                                4
                            ]
                        }
                    },
                    {
                        "name": "emails",
                        "spec": {
                            "type": "email",
                            "label": "Email"
                        },
                        "type": "array",
                        "label": "Emails",
                        "required": true
                    },
                    {
                        "name": "emailTemplate",
                        "spec": [
                            {
                                "name": "emailSubject",
                                "type": "text",
                                "label": "Email Subject",
                                "required": true
                            },
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Content",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Email Template"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}