Make example flows 2/Send receipt from Loyverse by SMS with MessageBird.blueprint.json
{
    "name": "Send receipt from Loyverse by SMS with MessageBird",
    "flow": [
        {
            "id": 1,
            "module": "loyverse:watchReceipts",
            "version": 1,
            "parameters": {
                "event": "created_at"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "event": {
                        "label": "Create"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "event",
                        "type": "select",
                        "label": "Event type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "created_at",
                                "cancelled_at"
                            ]
                        }
                    },
                    {
                        "name": "store_id",
                        "type": "select",
                        "label": "Store ID"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "loyverse:getCustomer",
            "version": 1,
            "parameters": {},
            "mapper": {
                "id": "{{1.customer_id}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "id": {
                        "mode": "edit"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "id",
                        "spec": {
                            "type": "uuid"
                        },
                        "type": "select",
                        "label": "Customer ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "loyverse:getStore",
            "version": 1,
            "parameters": {},
            "mapper": {
                "store_id": "{{1.store_id}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "store_id": {
                        "mode": "edit"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "store_id",
                        "type": "select",
                        "label": "Store ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "loyverse:getEmployee",
            "version": 1,
            "parameters": {},
            "mapper": {
                "employee_id": "{{1.employee_id}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "employee_id": {
                        "mode": "edit"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "employee_id",
                        "type": "select",
                        "label": "Employee ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{1.total_discounts}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "Discounts"
                },
                "restore": {
                    "array": {
                        "mode": "edit"
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 5,
                "rowSeparator": "\n"
            },
            "mapper": {
                "value": "{{5.name}}{{space}}-{{5.money_amount}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "Disconts text block"
                },
                "restore": {
                    "feeder": {
                        "label": "Discounts [5]"
                    },
                    "rowSeparator": {
                        "label": "New row"
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text",
                        "multiline": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{1.payments}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0,
                    "name": "Payments"
                },
                "restore": {
                    "array": {
                        "mode": "edit"
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 7,
                "rowSeparator": "\n"
            },
            "mapper": {
                "value": "{{7.name}}{{space}}{{7.money_amount}}"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0,
                    "name": "Payments text block"
                },
                "restore": {
                    "feeder": {
                        "label": "Payments [7]"
                    },
                    "rowSeparator": {
                        "label": "New row"
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text",
                        "multiline": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 9,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{1.total_taxes}}"
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0,
                    "name": "Taxes"
                },
                "restore": {
                    "array": {
                        "mode": "edit"
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 9,
                "rowSeparator": "\n"
            },
            "mapper": {
                "value": "{{9.name}},{{space}}{{9.rate}}%{{space}}{{9.money_amount}}"
            },
            "metadata": {
                "designer": {
                    "x": 2700,
                    "y": 0,
                    "name": "Taxes text block"
                },
                "restore": {
                    "feeder": {
                        "label": "Taxes [9]"
                    },
                    "rowSeparator": {
                        "label": "New row"
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text",
                        "multiline": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 11,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{1.line_items}}"
            },
            "metadata": {
                "designer": {
                    "x": 3000,
                    "y": 0,
                    "name": "Items"
                },
                "restore": {
                    "array": {
                        "mode": "edit"
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{11.line_modifiers}}"
            },
            "metadata": {
                "designer": {
                    "x": 3300,
                    "y": 0,
                    "name": "Modifiers"
                },
                "restore": {
                    "array": {
                        "mode": "edit"
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 12,
                "rowSeparator": "\n"
            },
            "mapper": {
                "value": "+{{space}}{{12.option}}{{space}}({{12.money_amount}})"
            },
            "metadata": {
                "designer": {
                    "x": 3600,
                    "y": 0,
                    "name": "Modifiers text block"
                },
                "restore": {
                    "feeder": {
                        "label": "Modifiers [12]"
                    },
                    "rowSeparator": {
                        "label": "New row"
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text",
                        "multiline": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 14,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 11,
                "rowSeparator": "\n"
            },
            "mapper": {
                "value": "{{11.item_name}}{{if(11.variant_name; space + \"(\" + 11.variant_name + \")\")}}{{space}}{{space}}{{11.gross_total_money}}{{newline}}{{11.quantity}}{{space}}x{{space}}{{11.price}}{{if(13.text; newline + 13.text)}}{{if(11.line_note; newline + 11.line_note)}}"
            },
            "metadata": {
                "designer": {
                    "x": 3900,
                    "y": 0,
                    "name": "Items text block"
                },
                "restore": {
                    "feeder": {
                        "label": "Items [11]"
                    },
                    "rowSeparator": {
                        "label": "New row"
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text",
                        "multiline": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 15,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 14,
                "rowSeparator": ""
            },
            "mapper": {
                "value": "\"{{3.name}}\"{{if(3.address; newline + 3.address)}}{{newline}}---------------------{{newline}}Receipt #:{{space}}{{1.receipt_number}}{{newline}}Date:{{space}}{{formatDate(1.receipt_date; \"YYYY:MM:DD hh:mm A\")}}{{newline}}{{if(1.order; \"Order:\" + space + 1.order + newline)}}Cashier:{{space}}{{4.name}}{{newline}}{{if(2.id; \"Customer:\" + space + 2.name + newline)}}---------------------{{newline}}{{14.text}}{{newline}}---------------------{{newline}}{{if(6.text; 6.text + newline + \"---------------------\" + newline)}}{{if(1.points_earned; \"Points earned:\" + space + 1.points_earned + newline)}}{{if(1.points_deducted; \"Points deducted:\" + space + 1.points_deducted + newline)}}{{if(1.points_balance; \"Points balance:\" + space + 1.points_balance + newline + \"---------------------\" + newline)}}{{if(1.total_tax; \"Subtotal:\" + space + space + formatNumber(sum(1.total_money; \"-\" + 1.total_tax); 2) + newline + 10.text + newline + \"---------------------\" + newline)}}Total:{{space}}{{1.total_money}}{{newline}}{{8.text}}{{newline}}"
            },
            "metadata": {
                "designer": {
                    "x": 4200,
                    "y": 0,
                    "name": "Full information about receipt"
                },
                "restore": {
                    "feeder": {
                        "label": "Items text block - Text aggregator [14]"
                    },
                    "rowSeparator": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text",
                        "multiline": true
                    }
                ]
            }
        },
        {
            "id": 18,
            "module": "message-bird:SendSMS",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{{15.text}}",
                "reference": "",
                "reportUrl": "",
                "originator": "SMS info",
                "recipients": [
                    "{{2.phone_number}}"
                ]
            },
            "metadata": {
                "designer": {
                    "x": 4500,
                    "y": 4
                },
                "restore": {
                    "recipients": {
                        "items": [
                            "undefined"
                        ]
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "recipients",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Recipients",
                        "required": true
                    },
                    {
                        "name": "originator",
                        "type": "text",
                        "label": "Originator",
                        "required": true
                    },
                    {
                        "name": "body",
                        "type": "text",
                        "label": "Body",
                        "required": true
                    },
                    {
                        "name": "reference",
                        "type": "text",
                        "label": "Reference"
                    },
                    {
                        "name": "reportUrl",
                        "type": "url",
                        "label": "Report URL"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}