Make example flows 2/Two way file sync between Shufflrr and Google Drive.blueprint.json
{
    "name": "Two way file sync between Shufflrr and Google Drive",
    "flow": [
        {
            "id": 45,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "target_folder_id_in_google_drive",
                        "value": "enter_google_drive_folder_id_here"
                    },
                    {
                        "name": "target_folder_id_in_shufflrr",
                        "value": "enter_shufflrr_folder_id_here"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 750
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    },
                    "variables": {
                        "items": [
                            "undefined",
                            "undefined"
                        ]
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "target_folder_id_in_google_drive",
                        "type": "any",
                        "label": "target_folder_id_in_google_drive"
                    },
                    {
                        "name": "target_folder_id_in_shufflrr",
                        "type": "any",
                        "label": "target_folder_id_in_shufflrr"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 750
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "google-drive:searchForFilesFolders",
                            "version": 4,
                            "parameters": {},
                            "mapper": {
                                "limit": "10000",
                                "select": "list",
                                "folderId": "{{45.target_folder_id_in_google_drive}}",
                                "retrieve": "file",
                                "destination": "drive"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "select": {
                                        "label": "Select from the list"
                                    },
                                    "folderId": {
                                        "mode": "edit",
                                        "path": []
                                    },
                                    "retrieve": {
                                        "label": "Files"
                                    },
                                    "searchType": {
                                        "label": ""
                                    },
                                    "destination": {
                                        "label": "My Drive"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Select the Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "retrieve",
                                        "type": "select",
                                        "label": "Retrieve",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "file",
                                                "folder",
                                                "file_folder"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "searchType",
                                        "type": "select",
                                        "label": "Search",
                                        "validate": {
                                            "enum": [
                                                "title",
                                                "fulltext",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "destination",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "folderId",
                                        "type": "folder",
                                        "label": "Choose a Folder"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 22,
                            "module": "util:TextAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 10,
                                "rowSeparator": "\n"
                            },
                            "mapper": {
                                "value": "gd<|>{{10.name}}<|>{{10.id}}<|> {{10.modifiedTime}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "feeder": {
                                        "label": "Google Drive - Search for Files/Folders [10]"
                                    },
                                    "rowSeparator": {
                                        "label": "New row"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "rowSeparator",
                                        "type": "select",
                                        "label": "Row separator",
                                        "validate": {
                                            "enum": [
                                                "\n",
                                                "\t",
                                                "other"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Text",
                                        "multiline": true
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 24,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "files_gd",
                                "scope": "roundtrip",
                                "value": "{{22.text}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "files_gd",
                                        "type": "any",
                                        "label": "files_gd"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 12,
                            "module": "shufflrr:listFolderContents",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "limit": "10000",
                                "folderID": "/{{45.target_folder_id_in_shufflrr}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300
                                },
                                "restore": {
                                    "folderID": {
                                        "mode": "edit"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "folderID",
                                        "type": "folder",
                                        "label": "Folder ID",
                                        "required": true
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 23,
                            "module": "util:TextAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 12,
                                "rowSeparator": "\n"
                            },
                            "mapper": {
                                "value": "shf<|>{{12.name}}<|>{{12.id}}<|>{{12.modifiedDate}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "feeder": {
                                        "label": "Shufflrr - List Folder Contents [12]"
                                    },
                                    "rowSeparator": {
                                        "label": "New row"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "rowSeparator",
                                        "type": "select",
                                        "label": "Row separator",
                                        "validate": {
                                            "enum": [
                                                "\n",
                                                "\t",
                                                "other"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Text",
                                        "multiline": true
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 25,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "files_shf",
                                "scope": "roundtrip",
                                "value": "{{23.text}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "files_shf",
                                        "type": "any",
                                        "label": "files_shf"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 20,
                            "module": "util:GetVariables",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "variables": [
                                    "files_gd",
                                    "files_shf"
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 1050
                                },
                                "restore": {
                                    "variables": {
                                        "items": [
                                            "undefined",
                                            "undefined"
                                        ]
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Variable name",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "Variables"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "files_gd",
                                        "type": "any",
                                        "label": "files_gd"
                                    },
                                    {
                                        "name": "files_shf",
                                        "type": "any",
                                        "label": "files_shf"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 21,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "all_file_names",
                                        "value": "{{20.files_gd}}{{newline}}{{20.files_shf}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 1050
                                },
                                "restore": {
                                    "scope": {
                                        "label": "One cycle"
                                    },
                                    "variables": {
                                        "items": [
                                            "undefined"
                                        ]
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "all_file_names",
                                        "type": "any",
                                        "label": "all_file_names"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 29,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "array": "{{split(21.all_file_names; newline)}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 1050
                                },
                                "restore": {
                                    "array": {
                                        "mode": "edit"
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 28,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "source",
                                        "value": "{{get(split(29.value; \"<|>\"); 1)}}"
                                    },
                                    {
                                        "name": "file_name",
                                        "value": "{{get(split(29.value; \"<|>\"); 2)}}"
                                    },
                                    {
                                        "name": "file_id",
                                        "value": "{{get(split(29.value; \"<|>\"); 3)}}"
                                    },
                                    {
                                        "name": "modified",
                                        "value": "{{get(split(29.value; \"<|>\"); 4)}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 1050
                                },
                                "restore": {
                                    "scope": {
                                        "label": "One cycle"
                                    },
                                    "variables": {
                                        "items": [
                                            "undefined",
                                            "undefined",
                                            "undefined",
                                            "undefined"
                                        ]
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "source",
                                        "type": "any",
                                        "label": "source"
                                    },
                                    {
                                        "name": "file_name",
                                        "type": "any",
                                        "label": "file_name"
                                    },
                                    {
                                        "name": "file_id",
                                        "type": "any",
                                        "label": "file_id"
                                    },
                                    {
                                        "name": "modified",
                                        "type": "any",
                                        "label": "modified"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 30,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 29
                            },
                            "mapper": {
                                "source": "{{28.source}}",
                                "file_id": "{{28.file_id}}",
                                "modified": "{{28.modified}}",
                                "file_name": "{{28.file_name}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 1050
                                },
                                "restore": {
                                    "feeder": {
                                        "label": "Iterator [29]"
                                    },
                                    "mapper": {
                                        "label": [
                                            null,
                                            null,
                                            null,
                                            null
                                        ]
                                    },
                                    "target": {
                                        "label": "Custom"
                                    }
                                },
                                "advanced": true
                            },
                            "flags": {
                                "groupBy": "{{28.file_name}}"
                            }
                        },
                        {
                            "id": 32,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "file_name",
                                        "value": "{{30.`__IMTKEY__`}}"
                                    },
                                    {
                                        "name": "modified_time_gd",
                                        "value": "{{get(map(30.array; \"modified\"; \"source\"; \"gd\"); 1)}}"
                                    },
                                    {
                                        "name": "modified_time_shf",
                                        "value": "{{get(map(30.array; \"modified\"; \"source\"; \"shf\"); 1)}}"
                                    },
                                    {
                                        "name": "file_id_gd",
                                        "value": "{{get(map(30.array; \"file_id\"; \"source\"; \"gd\"); 1)}}"
                                    },
                                    {
                                        "name": "file_id_shf",
                                        "value": "{{get(map(30.array; \"file_id\"; \"source\"; \"shf\"); 1)}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 1050
                                },
                                "restore": {
                                    "scope": {
                                        "label": "One cycle"
                                    },
                                    "variables": {
                                        "items": [
                                            "undefined",
                                            "undefined",
                                            "undefined",
                                            "undefined",
                                            "undefined"
                                        ]
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "file_name",
                                        "type": "any",
                                        "label": "file_name"
                                    },
                                    {
                                        "name": "modified_time_gd",
                                        "type": "any",
                                        "label": "modified_time_gd"
                                    },
                                    {
                                        "name": "modified_time_shf",
                                        "type": "any",
                                        "label": "modified_time_shf"
                                    },
                                    {
                                        "name": "file_id_gd",
                                        "type": "any",
                                        "label": "file_id_gd"
                                    },
                                    {
                                        "name": "file_id_shf",
                                        "type": "any",
                                        "label": "file_id_shf"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 33,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 1050
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 34,
                                            "module": "google-drive:getAFile",
                                            "version": 4,
                                            "parameters": {},
                                            "filter": {
                                                "name": "modified_time_gd>modified_time_shf",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{32.modified_time_gd}}",
                                                            "b": "{{32.modified_time_shf}}",
                                                            "o": "date:greater"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "file": "{{32.file_id_gd}}",
                                                "select": "map",
                                                "formatDrawings": "image/jpeg",
                                                "formatDocuments": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                                "formatSpreadsheets": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                                "formatPresentations": "application/vnd.openxmlformats-officedocument.presentationml.presentation"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 600
                                                },
                                                "restore": {
                                                    "select": {
                                                        "label": "Enter manually"
                                                    },
                                                    "formatDrawings": {
                                                        "label": "JPEG"
                                                    },
                                                    "formatDocuments": {
                                                        "label": "MS Word Document"
                                                    },
                                                    "formatSpreadsheets": {
                                                        "label": "MS Excel"
                                                    },
                                                    "formatPresentations": {
                                                        "label": "MS PowerPoint"
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "select",
                                                        "type": "select",
                                                        "label": "Enter a File ID",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "map",
                                                                "value"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "formatDocuments",
                                                        "type": "select",
                                                        "label": "Convert Google Documents Files to Format",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                                                "application/pdf",
                                                                "application/vnd.oasis.opendocument.text",
                                                                "text/html",
                                                                "text/plain",
                                                                "application/rtf"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "formatSpreadsheets",
                                                        "type": "select",
                                                        "label": "Convert Google Spreadsheets Files to Format",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                                                "application/x-vnd.oasis.opendocument.spreadsheet",
                                                                "application/pdf"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "formatPresentations",
                                                        "type": "select",
                                                        "label": "Convert Google Slides Files to Format",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                                                                "application/pdf"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "formatDrawings",
                                                        "type": "select",
                                                        "label": "Convert Google Drawings Files to Format",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "image/jpeg",
                                                                "image/png",
                                                                "image/svg+xml",
                                                                "application/pdf"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "file",
                                                        "type": "text",
                                                        "label": "File ID",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 36,
                                            "module": "shufflrr:uploadAFile",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "fileData": "{{34.data}}",
                                                "fileName": "{{34.name}}",
                                                "folderID": "/{{45.target_folder_id_in_shufflrr}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3000,
                                                    "y": 600
                                                },
                                                "restore": {
                                                    "folderID": {
                                                        "mode": "edit"
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "folderID",
                                                        "type": "folder",
                                                        "label": "Folder ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "mean": "name",
                                                        "name": "fileName",
                                                        "type": "filename",
                                                        "label": "File Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "mean": "data",
                                                        "name": "fileData",
                                                        "type": "buffer",
                                                        "label": "File Data",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 37,
                                            "module": "shufflrr:downloadFile",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "modified_time_shf>modified_time_gd",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{32.modified_time_shf}}",
                                                            "b": "{{32.modified_time_gd}}",
                                                            "o": "date:greater"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "fileID": "{{32.file_id_shf}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 900
                                                },
                                                "restore": {
                                                    "fileID": {
                                                        "mode": "edit"
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "fileID",
                                                        "type": "select",
                                                        "label": "File ID",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 38,
                                            "module": "google-drive:updateAFile",
                                            "version": 4,
                                            "parameters": {},
                                            "mapper": {
                                                "data": "{{37.data}}",
                                                "file": "{{32.file_id_gd}}",
                                                "select": "map",
                                                "filename": "{{32.file_name}}",
                                                "changeContent": true
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3000,
                                                    "y": 900
                                                },
                                                "restore": {
                                                    "select": {
                                                        "label": "Enter manually"
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "select",
                                                        "type": "select",
                                                        "label": "Enter a File ID",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "map",
                                                                "value"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "New Updated File Name"
                                                    },
                                                    {
                                                        "name": "description",
                                                        "type": "text",
                                                        "label": "File Description"
                                                    },
                                                    {
                                                        "name": "changeContent",
                                                        "type": "boolean",
                                                        "label": "Change File Content\n(To change the file content, the new file must have`same mimeType`as the original file.)",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "file",
                                                        "type": "text",
                                                        "label": "File ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "mean": "name",
                                                        "name": "filename",
                                                        "type": "filename",
                                                        "label": "File Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "mean": "data",
                                                        "name": "data",
                                                        "type": "buffer",
                                                        "label": "Data",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 39,
                                            "module": "shufflrr:downloadFile",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "file not in gd",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{32.file_id_gd}}",
                                                            "b": "",
                                                            "o": "notexist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "fileID": "{{32.file_id_shf}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 1200
                                                },
                                                "restore": {
                                                    "fileID": {
                                                        "mode": "edit"
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "fileID",
                                                        "type": "select",
                                                        "label": "File ID",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 40,
                                            "module": "google-drive:uploadAFile",
                                            "version": 4,
                                            "parameters": {},
                                            "mapper": {
                                                "data": "{{39.data}}",
                                                "select": "map",
                                                "convert": false,
                                                "filename": "{{32.file_name}}",
                                                "folderId": "{{45.target_folder_id_in_google_drive}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3000,
                                                    "y": 1213
                                                },
                                                "restore": {
                                                    "select": {
                                                        "label": "Enter manually"
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "select",
                                                        "type": "select",
                                                        "label": "Enter a Folder ID",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "map",
                                                                "value"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "New File Name"
                                                    },
                                                    {
                                                        "mean": "name",
                                                        "name": "filename",
                                                        "type": "filename",
                                                        "label": "File Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "mean": "data",
                                                        "name": "data",
                                                        "type": "buffer",
                                                        "label": "Data",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "convert",
                                                        "type": "boolean",
                                                        "label": "Convert a File",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "folderId",
                                                        "type": "text",
                                                        "label": "Folder ID",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 43,
                                            "module": "google-drive:getAFile",
                                            "version": 4,
                                            "parameters": {},
                                            "filter": {
                                                "name": "file not in shf",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{32.file_id_shf}}",
                                                            "b": "",
                                                            "o": "notexist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "file": "{{32.file_id_gd}}",
                                                "select": "map",
                                                "formatDrawings": "image/jpeg",
                                                "formatDocuments": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                                "formatSpreadsheets": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                                "formatPresentations": "application/vnd.openxmlformats-officedocument.presentationml.presentation"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 1500
                                                },
                                                "restore": {
                                                    "select": {
                                                        "label": "Enter manually"
                                                    },
                                                    "formatDrawings": {
                                                        "label": "JPEG"
                                                    },
                                                    "formatDocuments": {
                                                        "label": "MS Word Document"
                                                    },
                                                    "formatSpreadsheets": {
                                                        "label": "MS Excel"
                                                    },
                                                    "formatPresentations": {
                                                        "label": "MS PowerPoint"
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "select",
                                                        "type": "select",
                                                        "label": "Enter a File ID",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "map",
                                                                "value"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "formatDocuments",
                                                        "type": "select",
                                                        "label": "Convert Google Documents Files to Format",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                                                "application/pdf",
                                                                "application/vnd.oasis.opendocument.text",
                                                                "text/html",
                                                                "text/plain",
                                                                "application/rtf"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "formatSpreadsheets",
                                                        "type": "select",
                                                        "label": "Convert Google Spreadsheets Files to Format",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                                                "application/x-vnd.oasis.opendocument.spreadsheet",
                                                                "application/pdf"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "formatPresentations",
                                                        "type": "select",
                                                        "label": "Convert Google Slides Files to Format",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                                                                "application/pdf"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "formatDrawings",
                                                        "type": "select",
                                                        "label": "Convert Google Drawings Files to Format",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "image/jpeg",
                                                                "image/png",
                                                                "image/svg+xml",
                                                                "application/pdf"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "file",
                                                        "type": "text",
                                                        "label": "File ID",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 44,
                                            "module": "shufflrr:uploadAFile",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "fileData": "{{43.data}}",
                                                "fileName": "{{43.name}}",
                                                "folderID": "/{{45.target_folder_id_in_shufflrr}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3000,
                                                    "y": 1500
                                                },
                                                "restore": {
                                                    "folderID": {
                                                        "mode": "edit"
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "folderID",
                                                        "type": "folder",
                                                        "label": "Folder ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "mean": "name",
                                                        "name": "fileName",
                                                        "type": "filename",
                                                        "label": "File Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "mean": "data",
                                                        "name": "fileData",
                                                        "type": "buffer",
                                                        "label": "File Data",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}